{% extends 'staff/members/base.html' %}
{% load app_filters %}

{% block content %}
<h5 style='margin-bottom: 3%;'>Confirm Membership Changes for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h5>
<form action='.' method='POST'>
  {% if new_subs %}
  <div class='ending-subs'>
    <h6>Subscriptions with End Dates</h6>
    <table class='sub-table'>
      <tr>
        <th class='sub-th'>Resource</th>
        <th class='allowance sub-th'>Allowance</th>
        <th class='sub-th'>Start Date</th>
        <th class='sub-th'>End Date</th>
        <th class='rate sub-th'>Monthly Rate</th>
        <th class='rate sub-th'>Overage rate</th>
        <th class='sub-th'>Paid By</th>
      </tr>
      {% for ns in new_subs %}
        {% if ns.end_date %}
          <tr class='{% cycle "row-even" "row-odd" %}'>
            <td class='sub-td'>
              <strong>{{ ns.resource|resource_filter }}</strong>
            </td>
            <td class='sub-td'>
              {{ ns.allowance }}
            </td>
            <td class='sub-td'>
              {{ ns.start_date }}
            </td>
            <td class='sub-td'>
              {{ ns.end_date }}
            </td>
            <td class='sub-td'>
              ${{ ns.monthly_rate }}
            </td>
            <td class='sub-td'>
              ${{ ns.overage_rate }}
            </td>
            <td class='sub-td'>
              {% if ns.paid_by %}
                {{ ns.paid_by }}
              {% endif %}
            </td>
          </tr>
        {% else %}{% endif %}
      {% endfor %}
      </table>
  </div>
  <div class='new-table'>
    <h6>New Subscriptions</h6>
    <table class='sub-table'>
      <tr>
        <th class='sub-th'>Resource</th>
        <th class='allowance sub-th'>Allowance</th>
        <th class='sub-th'>Start Date</th>
        <th class='sub-th'>End Date</th>
        <th class='rate sub-th'>Monthly Rate</th>
        <th class='rate sub-th'>Overage rate</th>
        <th class='sub-th'>Paid By</th>
      </tr>
      {% for ns in new_subs %}
        {% if ns.end_date == None and ns.s_id == None %}
          <tr class='{% cycle "row-even" "row-odd" %}'>
            <td class='sub-td'>
              <strong>{{ ns.resource|resource_filter }}</strong>
            </td>
            <td class='sub-td'>
              {{ ns.allowance }}
            </td>
            <td class='sub-td'>
              {{ ns.start_date }}
            </td>
            <td class='sub-td'>
              {{ ns.end_date }}
            </td>
            <td class='sub-td'>
              ${{ ns.monthly_rate }}
            </td>
            <td class='sub-td'>
              ${{ ns.overage_rate }}
            </td>
            <td class='sub-td'>
              {% if ns.paid_by %}
                {{ ns.paid_by }}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
  {% else %}
  <h6>Ending Package with These Subscriptions</h6>
  <table class='sub-table'>
    <tr>
      <th class='sub-th'>Resource</th>
      <th class='allowance sub-th'>Allowance</th>
      <th class='sub-th'>Start Date</th>
      <th class='rate sub-th'>Monthly Rate</th>
      <th class='rate sub-th'>Overage rate</th>
      <th class='sub-th'>Paid By</th>
    </tr>
    {% for c in user.membership.active_subscriptions %}
      <tr class='{% cycle "row-odd" "row-even" %}'>
        <td>{{ c.resource }}</td>
        <td>{{ c.allowance }}</td>
        <td>{{ c.start_date }}</td>
        <td>${{ c.monthly_rate }}/month</td>
        <td>${{ c.overage_rate }}</td>
        <td>{{ c.paid_by|default:"" }}</td>
      </tr>
  {% endfor %}
  </table>
  <div class='end_pkg_table'>
    <input name='end_pkg' type='hidden' value='end_pkg' />
    <p class='ending-p'><strong>Ending this package and all subscritions on:</strong> <input type='date' value="{{ end_target }}" readonly /></p>
  </div>
  {% endif %}
  {% csrf_token %}
  <input class='btn confirm-btn' type='submit' value='Confirm Changes' />
</form>
{% endblock %}

{% block extrajs %}
  <script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
		$('.collapsible').collapsible();
    var newSubs = 0;
    var endingSubs = 0;

    {% for ns in new_subs %}
      {% if ns.end_date == None and ns.s_id == None %}
      newSubs ++;
      {% endif %}
    {% endfor %}

    {% for ns in new_subs %}
      {% if ns.end_date %}
        endingSubs ++;
      {% endif %}
    {% endfor %}

    if (newSubs == 0) {
      $('.new-table').hide();
    } else if (endingSubs == 0) {
      $('.ending-subs').hide();
    }

    {% for message in messages %}
        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg');
    {% endfor %}
  });
  </script>
{% endblock %}
