{% extends 'staff/members/base.html' %}
{% load app_filters %}

{% block sub-title %}Confirm Changes {% endblock %}

{% block content %}
<div id='promptModal' class='modal'>
  <div class='modal-content'>
    <div class='modal-body'>
      <h5>What do you want to do?</h5>
      <p style='text-align: center; color: RGBA(46, 78, 107, 1.00); font-size: 1.1em;'><strong>
        It appears that the subscriptions you selected match that of a different package.
        <br />
        Would you rather change the membership package to {{ match }}?
      </strong></p>
      <div class='action-chips'>
        <a id='yes' class='chip'>Yes</a><a id='no' class='chip'>No</a>
      </div>
    </div>
  </div>
</div>
<h5 style='margin-bottom: 3%;'>Confirm Membership Changes for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h5>

{% if ending_pkg == True %}
<div class='old-pkg'>
  <h6>Ending "{{ user.membership.package_name }}" Membership Package on {{ end_target }} </h6>
  <table class='sub-table' style='margin-top: 2%;'>
    <tr>
      <th class='sub-th'>Resource</th>
      <th class='sub-th'>Allowance</th>
      <th class='sub-th'>Start Date</th>
      <th class='sub-th'>Monthly</th>
      <th class='sub-th'>Overage</th>
      <th class='sub-th'>Paid By</th>
    </tr>
    {% for s in user.membership.active_subscriptions %}
      <tr class='{% cycle "row-even" "row-odd" %}'>
        <td>{{ s.resource }}</td>
        <td>{{ s.allowance }}</td>
        <td>{{ s.start_date|date:'Y-m-d' }}</td>
        <td>${{ s.monthly_rate }}/month</td>
        <td>${{ s.overage_rate }}</td>
        <td>{{ s.paid_by|default:"" }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

<form action='.' method='POST'>
  {% if new_subs %}
  <div class='ending-subs-table'>
    <h6>Subscriptions with End Dates</h6>
    <table class='sub-table'>
      <tr>
        <th class='sub-th'>Resource</th>
        <th class='allowance sub-th'>Allowance</th>
        <th class='sub-th'>Start Date</th>
        <th class='sub-th'>End Date</th>
        <th class='rate sub-th'>Monthly Rate</th>
        <th class='rate sub-th'>Overage rate</th>
        <th class='sub-th'>Paid By</th>
      </tr>
      {% for ns in new_subs %}
        {% if ns.end_date %}
          <tr class='{% cycle "row-even" "row-odd" %}'>
            <td class='sub-td'>
              <strong>{{ ns.resource|resource_filter }}</strong>
            </td>
            <td class='sub-td'>
              {{ ns.allowance }}
            </td>
            <td class='sub-td'>
              {{ ns.start_date }}
            </td>
            <td class='sub-td'>
              {{ ns.end_date }}
            </td>
            <td class='sub-td'>
              ${{ ns.monthly_rate }}
            </td>
            <td class='sub-td'>
              ${{ ns.overage_rate }}
            </td>
            <td class='sub-td'>
              {% if ns.paid_by %}
                {{ ns.paid_by }}
              {% endif %}
            </td>
          </tr>
        {% else %}{% endif %}
      {% endfor %}
      </table>
  </div>

  <div class='new-subs-table'>
    <h6>Adding these new subscriptions on <span id='start'></span></h6>
    <table class='sub-table'>
      <tr>
        <th class='sub-th'>Resource</th>
        <th class='allowance sub-th'>Allowance</th>
        <th class='rate sub-th'>Monthly Rate</th>
        <th class='rate sub-th'>Overage rate</th>
        <th class='sub-th'>End Date</th>
        <th class='sub-th'>Paid By</th>
      </tr>
      {% for n in new_subs %}
        {% if n.s_id == None %}
          <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td class='sub-td'>
              {{ n.resource|resource_filter }}
            </td>
            <td class='sub-td'>
              {{ n.allowance }}
            </td>
            <td class='sub-td'>
              ${{ n.monthly_rate|floatformat:2 }}
            </td>
            <td class='sub-td'>
              ${{ n.overage_rate|floatformat:2 }}
            </td>
            <td class='sub-td'>
              {% if n.end_date %}
                {{ n.end_date }}
                {% else %}
                  None
              {% endif %}
            </td>
            <td class='sub-td'>
              {% if n.paid_by %}
                {{ n.paid_by }}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>

  <div class='new-table'>
    <h6>Membership Package For Bill Period Following {{ end_target }}:</h6>
    {% if package_name %}
      <h6 id='package-name' style='margin-top: 0; color: RGBA(76, 76, 76, 1.00);'>{{ package_name }}</h6>
    {% endif %}
    <table class='sub-table'>
      <tr>
        <th class='sub-th'>Resource</th>
        <th class='allowance sub-th'>Allowance</th>
        <th class='rate sub-th'>Monthly Rate</th>
        <th class='rate sub-th'>Overage rate</th>
        <th class='sub-th'>End Date</th>
        <th class='sub-th'>Paid By</th>
      </tr>
      {% for a in user.membership.active_subscriptions %}
        {% for s in new_subs %}
          {% if a.id == s.s_id and s.end_date == None %}
            <tr class='{% cycle "row-even" "row-odd" %} ending-subs'>
              <td class='sub-td'>
                <strong>{{ a.resource }}</strong>
              </td>
              <td class='sub-td'>
                {{ a.allowance }}
              </td>
              <td class='sub-td'>
                $<span class='old-sub-rate add-me'>{{ a.monthly_rate|floatformat:2 }}</span>
              </td>
              <td class='sub-td'>
                ${{ a.overage_rate|floatformat:2 }}
              </td>
              <td class='sub-td'>
                {% if n.end_date %}
                  {{ n.end_date }}
                  {% else %}
                    None
                {% endif %}
              </td>
              <td class='sub-td'>
                {% if a.paid_by %}
                  {{ a.paid_by }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
      {% for ns in new_subs %}
        {% if ns.s_id == None %}
          <tr class='{% cycle  "row-even" "row-odd" %}'>
            <td class='sub-td'>
              <strong>{{ ns.resource|resource_filter }}</strong>
            </td>
            <td class='sub-td'>
              {{ ns.allowance }}
            </td>
            <td class='sub-td'>
              $<span class='new-sub-rate add-me'>{{ ns.monthly_rate|floatformat:2 }}</span>
            </td>
            <td class='sub-td'>
              ${{ ns.overage_rate|floatformat:2 }}
            </td>
            <td class='sub-td'>
              {% if ns.end_date %}
                {{ ns.end_date }}
                {% else %}
                  None
              {% endif %}
            </td>
            <td class='sub-td'>
              {% if ns.paid_by %}
                {{ ns.paid_by }}
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      <tr>
        <td></td>
        <td><strong>Total:</strong></td>
        <td><strong id='total-td'></strong></td>
      </tr>
    </table>
  </div>
  {% else %}
  <div class='end_pkg_p'>
    {% if user.membership.subscriptions.future_subscriptions %}
      <h6 style='margin-top: 5%;'>Future Subscriptions</h6>
      <table class='sub-table'>
        <tr>
          <th class='sub-th'>Resource</th>
          <th class='sub-th'>Start Date</th>
          <th class='sub-th'>Allowance</th>
          <th class='sub-th'>Monthly Rate</th>
          <th class='sub-th'>Overage rate</th>
          <th class='sub-th'>Paid By</th>
        </tr>
        {% for f in user.membership.subscriptions.future_subscriptions %}
          <tr class='{% cycle "row-even" "row-odd" %}'>
            <td>
              {{ f.resource }}
            </td>
            <td>
              {{ f.start_date|date:'Y-m-d' }}
            </td>
            <td>
              {{ f.allowance }}
            </td>
            <td>
              ${{ f.monthly_rate|floatformat:2 }}
            </td>
            <td>
              ${{ f.overage_rate|floatformat:2 }}
            </td>
            <td>
              {{ f.paid_by }}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
  {% endif %}
  {% csrf_token %}
  <input class='btn confirm-btn' type='submit' value='Confirm Changes' /><a class='back' onclick="history.go(-1)" style='padding-top:3%;'>Back</a>
</form>
{% endblock %}

{% block extrajs %}
  <script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
		$('.collapsible').collapsible();
    $('.old-pkg').hide();

    var newSubs = 0;
    var endingSubs = 0;
    var newPkg = "{{ package_name }}";
    var oldPkg = '{{ user.membership.package_name }}';
    var start = '';
    var total = 0;

    //Show modal if their subscriptions match a different membership package default
    if ('{{ match }}' != 'None') {
      $('.modal').show();
    }

    $('.add-me').map(function() {
      var val = parseInt($(this).text());
      total += val;
    });

    //If user hits yes, then change package to the one that matches the subscriptions
    $('#yes').on('click', function(e) {
      $('.modal').hide();
      $('.confirm-btn').append("<input type='hidden' name='match' value={{ match.id }} />");
      $('#package-name').text('{{ match }}')
    })

    $('#no').on('click', function(e) {
      $('.modal').hide();
    })

    {% for ns in new_subs %}
      {% if ns.s_id == None %}
        newSubs ++;
        start = '{{ ns.start_date }}';
      {% endif %}
    {% endfor %}

    //Show start date in h6
    if(start.length) {
      $('#start').text(start);
    }

    {% for ns in new_subs %}
      {% if ns.end_date and ns.s_id != None %}
        endingSubs ++;
      {% endif %}
    {% endfor %}

    //if there are no new subs then hide any of the new sub tables
    if (newSubs == 0) {
      $('.new-subs-table').hide();
      $('.not-ending').hide()
    }

    //if no subs are ending then hide the ending subs table
    if (endingSubs == 0) {
      $('.ending-subs-table').hide();
    }

    if (oldPkg == '') {
      $('.old-pkg').hide();
      $('.ending-subs').hide();
      $('.ending-subs-table').hide();
      $('.new-subs-table').hide();
    }

    //If ending a whole package
    if (oldPkg != '' && oldPkg != newPkg) {
      $('.old-pkg').show();
      $('.ending-subs').hide();
      $('.ending-subs-table').hide();
      $('.new-subs-table').hide();
    }

    $('#total-td').text('$' + total.toFixed(2) + '/month');

    {% for message in messages %}
        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg');
    {% endfor %}
  });
  </script>
{% endblock %}
