
<h5>Billing Profile</h5>
<table class='sub-table' style='margin-bottom: 3%;'>
  <tr>
    <td>
      <strong style='font-size: 1.2em;'>Billing Profile:</strong>
      {% if user.profile.has_valid_billing %}
      	<font class='valid'>Valid</font>
      	{% if user.profile.is_guest %}
      		- Guest of: {{ user.profile.is_guest }}
      	{% endif %}
      {% else %}
      	<font class='invalid'>Invalid</font>
      {% endif %}
    </td>
    <td>
      {% include "staff/billing/action_billing_flag.html" %}
    </td>
    {% if integrations.usaepay or integrations.stripe %}
      <td>
        {% include "staff/billing/action_create_billing.html" %}
      </td>
      <td>
        [ {% include "staff/billing/action_payment_link.html" %} ]
      </td>
    {% endif %}
  </tr>
</table>

<!-- Billing Profile -->
{% if user.profile.outstanding_bills %}
<h5>Outstanding Bills (<a href="{% url 'staff:billing:user_bills' user.username %}">view all</a>)</h5>
<table class='sub-table'>
  <tr>
    <th class='sub-th'>ID</th>
    <th class='sub-th'>Due</th>
    <th class='sub-th'>Period Start</th>
    <th class='sub-th'>Period End</th>
    <th class='sub-th'>Amount</th>
  </tr>
  {% for bill in user.profile.outstanding_bills %}
    <tr class='{% cycle "row-even" "row-odd" %}'>
      <td><a href="{% url 'staff:billing:bill' bill.id %}">{{ bill.id }}</a></td>
      <td>{{ bill.due_date }}</td>
      <td>{{ bill.period_start }}</td>
      <td>{{ bill.period_end }}</td>
      <td>${{ bill.amount }}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
<h5 style='margin-top: 2%; margin-bottom: 4%;'><a href="{% url 'staff:billing:user_bills' user.username %}">View All Bills</a></h5>
{% endif %}

<!-- Security Deposits -->
<h5>Security Deposits</h5>
  {% if user.securitydeposit_set.all %}
    <table class='sub-table'>
      <tr>
        <th class='sub-th'>Received</th>
        <th class='sub-th'>Returned</th>
        <th class='sub-th'>Amount</th>
        <th class='sub-th'>Note</th>
        <th class='sub-th'></th>
      </tr>
      {% for deposit in user.securitydeposit_set.all %}
        <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td>{{ deposit.received_date }}</td>
            <td>{% if deposit.returned_date %}{{ deposit.returned_date }}{% endif %}</td>
            <td>${{ deposit.amount }}</td>
            <td>{% if deposit.note %}{{ deposit.note }}{% endif %}</td>
            <td style="text-align:right;">
              {% if not deposit.returned_date %}
                <form action="{% url 'staff:members:deposits' %}" method="POST" onSubmit="return confirm('Are you sure?');">
                    <input name="username" value="{{ user.username }}" type="hidden" />
                    <input name="deposit_id" value="{{ deposit.id }}" type="hidden" />
                    <input name="mark_returned" type="submit" Value="Mark Returned" />
                    {% csrf_token %}
                </form>
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <table class='sub-table'>
    <tr>
        <th class='sub-th'></th>
        <th class='sub-th'>Amount</th>
        <th class='sub-th'>Note</th>
        <th class='sub-th'></th>
    </tr>
    <tr>
      <form action="{% url 'staff:members:deposits' %}" method="POST">
        <input name="username" value="{{ user.username }}" type="hidden" />
        <td><strong style='font-size: 1.2em;'>Record New Deposit:</strong></th>
        <td><strong style='font-size: 1.4em; position: relative; bottom: 8px;'>$ </strong> <input name="amount" placeholder='Enter Amount Here' style='width: 55%;'/></td>
        <td><input name="note" placeholder='i.e. Key deposit for two members'/></td>
        <td class='right'><input name="add_deposit" type="submit" Value="Record Deposit" style='margin-top: 10%;'/></td>
        {% csrf_token %}
      </form>
    </tr>
  </table>
