{% extends "staff/members/base.html" %}
{% load integrated_systems %}
{% load imagetags %}
{% load app_filters %}
{% load static %}

{% block sub-title %}{{ user.get_full_name }}{% endblock %}

{% block sub-head %}
<script>
function gotoEmailReset(emailAddress){
    try {
        $.ajax({
            type: 'POST',
            url: '',
            data: ({'email':emailAddress}),
            success: function(data) { },
            error: function(request, status, error) { }
        });
    } catch(e) {
        alert(e);
    }
}
</script>
<script>
    $(function () {
      jQuery('#tabs').tabs();

      var availableDays = ["Birthday", "Anniversary", "Child's Birthday"];
      $( "#specialdays" ).autocomplete({
          source: availableDays
      });

      {% for message in messages %}
        {% if message.tags == 'error' %}
          Materialize.toast('{{ message }}', 60000, 'error-msg msg');
        {% else %}
          Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
        {% endif %}
      {% endfor %}

      $(document).on('click', '#toast-container .toast', function() {
        $(this).fadeOut(function(){
          $(this).remove();
        });
      });
    });
</script>
{% endblock %}

{% block content %}

<div class="member-photo">
  {% if user.profile.photo %}
    <a href="{{ user.profile.photo.url }}"><img src="{{ user.profile.photo.url|fit_image:"170x170" }}" /></a>
  {% else %}
    <img src="{% static 'BlankIcon150x150.jpg' %}">
  {% endif %}
</div>

<!-- Member Detail -->
{% load_integrations as integrations %}
<div class='row' id="member-detail">
  <h4 class='detail-header'>{{ user.get_full_name }} {% if user.profile.is_active %} - <i>{{ user.profile.membership_type }}</i> {% endif %}</h4>
  <div id="detail-links">
    <a href="{% url 'staff:activity:user' user.username %}">activity</a> |
    <a href="{% url 'doors:keys' user.username %}">keys</a> |
    <a href="{% url 'staff:members:files' user.username %}">files</a> |
    {% if integrations.usaepay %}
      <a href="{% url 'staff:billing:user_payment' user.username %}">usaepay</a> |
    {% endif %}
    {% if integrations.xero %}
      <a href="{% url 'staff:billing:xero' user.username %}">xero</a> |
    {% endif %}
    <a href="{% url 'admin:auth_user_change' user.id %}">admin</a> |
    <a href="{% url 'member:profile:view' user.username %}">view profile</a> |
    <a href="{% url 'member:profile:edit' user.username %}">edit profile</a>
  </div>
</div>

<div class="clearfix"></div>

<div>
  <ul class='tabs'>
    <li class='tab'><a href="#details">Details</a></li>
    <li class='tab'><a href="#membership">Membership</a></li>
    <li class='tab'><a href="#billing">Billing</a></li>
    <li class='tab'><a href="#emails">Emails</a></li>
    <li class='tab'><a href="#tasks">Tasks</a></li>
    <li class='tab'><a href="#notes">Notes</a></li>
  </ul>

<!-- Details -->
<div id="details">
    <h6>Member Details</h6>
    <table class='detail-table'>
        <!-- Username -->
        <tr>
            <td class='detail-title'>Username</td>
            <td class='detail-data'>{{ user.username }}</td>
        </tr>

        <!-- Billing Day -->
        {% if user.profile.is_active %}
          <tr>
            <td class='detail-title'>Bill Day</td>
            <td class='detail-data'> {{ user.membership.bill_day_str }} of the month</td>
          </tr>
        {% endif %}

        <!-- Website -->
        {% if user.profile.url_personal %}
            <tr>
                <td class='detail-title'>Website</td>
                <td class='detail-data'><a href="{{ user.profile.url_personal }}">{{ user.profile.url_personal }}</a></td>
            </tr>
        {% endif %}

        <!-- Gender -->
        {% if user.profile.gender %}
            <tr>
                <td class='detail-title'>Gender</td>
                <td class='detail-data'>{{ user.profile.get_gender_display }}</td>
            </tr>
        {% endif %}

        <!-- Pronouns -->
        {% if user.profile.pronouns %}
            <tr>
                <td class='detail-title'>Pronouns</td>
                <td class='detail-data'>{{ user.profile.pronouns }}</td>
            </tr>
        {% endif %}


        <!-- How Heard -->
        {% if user.profile.howHeard %}
            <tr>
                <td class='detail-title'>How Heard</td>
                <td class='detail-data'>{{ user.profile.howHeard }}</td>
            </tr>
        {% endif %}

        <!-- Industry -->
        {% if user.profile.industry %}
            <tr>
                <td class='detail-title'>Industry</td>
                <td class='detail-data'>{{ user.profile.industry }}</td>
            </tr>
        {% endif %}

        <!-- Neighborhood -->
        {% if user.profile.neighborhood %}
            <tr>
                <td class='detail-title'>Neighborhood</td>
                <td class='detail-data'>{{ user.profile.neighborhood }}</td>
            </tr>
        {% endif %}

        <!-- Has Kids -->
        {% if user.profile.has_kids %}
            <tr>
                <td class='detail-title'>Has Kids?</td>
                <td class='detail-data'>{{ user.profile.has_kids }}</td>
            </tr>
        {% endif %}

        <!-- Self Employed -->
        {% if user.profile.self_employed %}
            <tr>
                <td class='detail-title'>Self Employed?</td>
                <td class='detail-data'>{{ user.profile.self_employed }}</td>
            </tr>
        {% endif %}

      </table>
      <h6>Contact Information</h6>
      <table class='detail-table'>
        <!-- Emails -->
        {% for e in user.profile.all_emails %}
            <tr>
                <td class='detail-title'>Email Address {{forloop.counter}}</td>
                <td class='detail-data'>{{ e.email }}</td>
            </tr>
        {% endfor %}

        <!-- Phone -->
        {% if user.profile.phone %}
            <tr>
                <td class='detail-title'>Phone</td>
                <td class='detail-data'>{{ user.profile.phone }}</td>
            </tr>
        {% endif %}

        <!-- Phone2 -->
        {% if user.profile.phone2 %}
            <tr>
                <td class='detail-title'>Alternate Phone</td>
                <td class='detail-data'>{{ user.profile.phone2 }}</td>
            </tr>
        {% endif %}

        <!-- Address 1-->
        {% if user.profile.address1 %}
            <tr>
                <td class='detail-title'>Address</td>
                <td class='detail-data'>{{ user.profile.address1 }} {% if user.profile.address2 %}, {{ user.profile.address2 }} {% endif %}</td>
            </tr>
        {% endif %}

        <!-- City, State, Zip-->
        {% if user.profile.city %}
            <tr>
                <td class='detail-title'>City State, Zipcode</td>
                <td class='detail-data'>{{ user.profile.city }} {{ user.profile.state }}, {{ user.profile.zipcode }}</td>
            </tr>
        {% endif %}

      </table>
      <h6>Coworking Details/Stats</h6>
      <table class='detail-table'>
        <!-- Stats -->
        <tr>
            <td class='detail-title'>First Visit</td>
            <td class='detail-data'>{{ user.profile.first_visit }}</td>
        </tr>
        <tr>
            <td class='detail-title'>Duration</td>
            <td class='detail-data'>{{ user.profile.duration_str }}</td>
        </tr>
        <tr>
            <td class='detail-title'>Last Visit</td>
            <td class='detail-data'>{{ user.profile.last_visit }}</td>
        </tr>

        <!-- organizations -->
        {% for o in user.profile.active_organizations %}
            <tr>
                <td class='detail-title'>Organization</td>
                <td class='detail-data'>{{ o }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class='emergency_contact detail-table'>
    <h6>Emergency Contact</h6>
    {% if not emergency_contact.name %}
        <p>No Emergency Contact Information</p>
    {% else %}
        <table>
            <tr>
                <td class='detail-title'>Name</td>
                <td class='detail-data'>{{ emergency_contact.name }}</td>
            </tr>
            <tr>
                <td class='detail-title'>Relationship</td>
                <td class='detail-data'>{{ emergency_contact.relationship }}</td>
            </tr>
            <tr>
                <td class='detail-title'>Phone</td>
                <td class='detail-data'>{{ emergency_contact.phone }}</td>
            </tr>
            <tr>
                <td class='detail-title'>E-mail</td>
                <td class='detail-data'>{{ emergency_contact.email }}</td>
            </tr>
        </table>
    {% endif %}
    </div>
</div>

<!-- Memberships -->
<div id="membership">
  {% with user.membership as membership %}
    {% include "staff/members/detail_membership.html" %}
  {% endwith %}
</div>

<!-- Billing -->
<div id="billing">
  {% include "staff/members/detail_billing.html" %}
</div>

<!-- Emails  -->
<div id="emails">
    <!-- Email Logs -->
    <div id="quick-links">
        <strong>Actions:</strong>
        <a class='chip' href="{% url 'password_reset' %}?email={{ user.email }}">password reset</a>
    </div>

    <h5>Email Logs</h5>
    <div class='sub-table'>
      <form class='email-form' action="." method="POST">
        <strong>Manually Send Email: </strong>
        <select name="message_key">
            {% for key in email_keys %}
                <option>{{ key }}</option>
            {% endfor %}
        </select>
        <input name="send_manual_email" type="submit" Value="Send" />
        {% csrf_token %}
      </form>
    </div>
    {% if email_logs %}
        <table class='sub-table'>
            <tr>
              <th class='sub-th'>Sent</th>
              <th class='sub-th'>Subject</th>
            </tr>
            {% for log in email_logs %}
                <tr {% if not log.success %} style="color:red;" {% endif %}>
                    <td nowrap>{{ log.created }}</td>
                    <td>{{ log.subject }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No email logs.</p>
    {% endif %}
</div>

<!-- Tasks -->
<div id="tasks">
    {% with user.profile.open_alerts as alerts and True as description and False as member %}
      {% if alerts %}
        <h5>Action Required</h5>
        {% include "staff/tasks/detail_table.html" %}
      {% endif %}
    {% endwith %}

    <h5>Completed Tasks</h5>
    <table class='sub-table'>
      <thead>
        <tr>
            <th class='sub-th'>Created</th>
            <th class='sub-th'>Alert</th>
            <th class='sub-th'>Resolved</th>
            <th class='sub-th'>Resolved By</th>
            <th class='sub-th'>Muted</th>
            <th class='sub-th'>Muted By</th>
            <th class='sub-th'>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in user.profile.alerts %}
            {% if alert.is_resolved %}
                <tr class="{% cycle 'row-even' 'row-odd' %}">
                    <td>{{ alert.created_ts|date:"m/d/y" }}</td>
                    <td class='left'>{{ alert.description }}</td>
                    <td>{{ alert.resolved_ts|date:"m/d/y" }}</td>
                    <td>{{ alert.resolved_by|default:"" }}</td>
                    <td>{{ alert.muted_ts|date:"m/d/y" }}</td>
                    <td>{{ alert.muted_by|default:"" }}</td>
                    <td>{{ alert.note|default:"" }}</td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>

<!-- Notes -->
<div id="notes">
    <h5>Notes</h5>
    <div>
      {% if member_notes %}
        <table class='sub-table notes-table'>
            <tr>
                <th class='sub-th note-date'>Date</th>
                <th class='sub-th note-by'>By</th>
                <th class='sub-th note'>Note</th>
                <th></th>
            </tr>
            {% for note in member_notes %}
                <tr class='{% cycle "row-even" "row-odd" %}'>
                    <td class='note-date'>{{ note.created|date:"M d, Y"}}</td>
                    <td class='note-by'>{% if note.created_by %}{{ note.created_by }} {% endif %}</td>
                    <td class='left note'>{{ note.note }}</td>
                    <td class='right' nowrap>[ <a href="{% url 'admin:nadine_membernote_change' note.id %}">edit</a> ]</td>
                </tr>
            {% endfor %}
        <table>
      {% endif %}
        <table class="sub-table">
          <form action="." method="POST">
          <tr>
              <td><input name="note" placeholder='Enter note here' /></td>
              <td class='left'><input type="submit" name="add_note" value="Add Note"/></td>
          </tr>
          {% csrf_token %}
          </form>
        </table>
    </div>

    <h5>Special Days:</h5>
    <div>
        <table class='sub-table'>
            <tr>
                <th class='sub-th'>Month</th>
                <th class='sub-th'>Day</th>
                <th class='sub-th'>Year</th>
                <th class="sub-th">Description</th>
                <th class="sub-th"></th>
            </tr>
            {% for d in user.specialday_set.all %}
                <tr>
                    <td>{{ d.month }}</td>
                    <td>{{ d.day }}</td>
                    <td>{% if d.year %}{{ d.year }}{% endif %}</td>
                    <td style="text-align:left;">{{ d.description }}</td>
                    <td style="text-align:right">[ <a href="{% url 'admin:nadine_specialday_change' d.id %}">edit</a> ]</td>
                </tr>
            {% endfor %}
            <form class='special_form' action="." method=POST>
            <tr>
                <td><select name="month">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select></td>
                <td><select name="day">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select></td>
                <td><input name="year" size=4/></td>
                <td class='left'><input id="specialdays" name="description" size="50"/></td>
                <td class='right'><input type="submit" name="add_special_day" value="Add Special Day"/></td>
            </tr>
            {% csrf_token %}
            </form>
        </table>
    </div>
</div>

</div>
{% endblock %}


{% block extrajs %}
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
		$('.collapsible').collapsible();
    $('.billing-btn').attr('class', 'billing-btn');
  });
</script>
{% endblock %}
