{% extends "staff/members/base.html" %}

{% block sub-title %}Activity for {{ user.get_full_name }}{% endblock %}

{% block content %}
{% include "staff/activity_menu.frag" %}

<h4>Activity for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a>:</h4>

{% if member.daily_logs.all %}
	<table>
	   <tr>
	      <th>Date</th>
	      <th>Payment</th>
	      <th>Paid by</th>
	      <th>Notes</th>
	   </tr>
	   {% for log in member.daily_logs.all %}
	      <tr class="{% cycle 'row-even' 'row-odd' %}">
	         <td><a href="{{ log.get_admin_url }}">{{ log.visit_date }}</a></td>
	         <td>{{ log.payment }}</td>
	         <td>{% if log.paid_by %}{{ log.paid_by.get_full_name }}{% endif %}</td>
	         <td class="log-note">{{ log.note }}</td>
	      </tr>
	   {% endfor %}
	</table>
{% endif %}
{% endblock %}
