{% extends "staff/members/base.html" %}

{% block content %}
<h4>Membership for <a href="{% url 'staff:members:detail' entity.username %}">{{ entity.get_full_name }}</a></h4>

<h5 style='margin-top: 5%;'>Current Package Details</h5>
<table class='mem-details-table'>
  <tr>
    <th class='sub-th'>Billing Day</th>
    <th class='sub-th'>Next Bill</th>
    <th class='sub-th'>Package</th>
    <th class='sub-th'></th>
  </tr>
  <tr>
    <td>{{ entity.membership.bill_day_str }}</td>
    <td>{{ entity.membership.next_period_start }}</td>
    <form>
      <td id='package'>
        {{ entity.membership.package }}
      </td>
      <td class='sub-chips'>
        <a id='change' class='chip'>New Package</a>
        | <a id='update' class='chip'>Update Current Subscriptions</a>
        | <a id='end' class='chip'>End Current Package</a>
      </td>
    </form>
  </tr>
</table>

<div class='curr-sub'>
  <h5>Subscriptions</h5>
  <table class='sub-table' style='margin-top: 2%;'>
    <tr>
      <th class='sub-th'>Resource</th>
      <th class='sub-th'>Allowance</th>
      <th class='sub-th'>Start Date</th>
      <th class='sub-th'>End Date</th>
      <th class='sub-th'>Overage</th>
      <th class='sub-th'>Monthly</th>
      <th class='sub-th'>Paid By</th>
    </tr>
    {% for s in entity.membership.active_subscriptions %}
      <tr class='{% cycle "row-even" "row-odd" %}'>
        <td>{{ s.resource }}</td>
        <td>{{ s.allowance }}</td>
        <td>{{ s.start_date }}</td>
        <td>{{ s.end_date |default:"-" }}</td>
        <td>${{ s.overage_rate }}</td>
        <td>${{ s.monthly_rate }}/month</td>
        <td>{{ s.paid_by|default:"" }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><strong>Total:</strong></td>
      <td><strong>${{ entity.membership.monthly_rate }}/month</strong><td>
    </tr>
  </table>
</div>

<div id='update-package'>
  <h5>Update Current Subscriptions</h5>
  <form action='.' method='POST'>
    <table class='end-table'>
      <tr>
        <td id='end-header'>
          <strong>When do you want the changes to go in effect?</strong>
        </td>
        <td id='select-end-td'>
          <select name='ending' id='end-input'>
            <option disabled selected="true">
              Select One
            </option>
            <option value='today'>
              Today
            </option>
            <option value='eop'>
              End of This Bill Period
            </option>
            <option value='other'>
              Other
            </option>
          </select>
        </td>
        <td style='width:30%;'>
          <input id='sub-end' name='date-end' class='datepicker' placeholder="Select Date" />
        </td>
        <td style='padding-top:2%;'>
          <span class='cancel'>Cancel</span>
        </td>
      </tr>
    </table>
    <table class='up-table'>
      <tr class='up-table-th'>
        <th>Resource</th>
        <th class='allowance'>Allowance</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class='rate'>Monthly Rate</th>
        <th class='rate'>Overage Rate</th>
        <th>Paid By</th>
        <th>Add / End Subscription</th>
      </tr>
      {% for r in entity.membership.active_subscriptions %}
      <tr class="{% cycle 'row-even' 'row-odd' %} subs">
        <form action='.' method='POST'>
          <input name='id' value='{{ r.id }}' type='hidden' />
          <input name='update' type='hidden' value='update' />
          <td class='up-input resource'><strong>{{ r.resource }}</strong></td>
          <td class='up-input allowance'><input type='number' value='{{ r.allowance }}' name='allowance' min='0' readonly /></td>
          <td class='up-input date'><input type='date' name='start_date' value='{{ r.start_date|date:"Y-m-d" }}' readonly  /></td>
          {% if r.end_date %}
            <td class='up-input date'><input class='end_date-{{ r.id }}' name='end_date' type='date' value='{{ r.end_date|date:"Y-m-d" }}' readonly  /></td>
          {% else %}
          <td class='up-input date'><input class='end_date-{{ r.id }} update-end' name='end_date' type='date' value='{{ r.end_date|date:"Y-m-d" }}' readonly  /></td>
          {% endif %}
          <td class='up-input rate monthly_rate'><input type='number' name='monthly_rate' min='0' value='{{ r.monthly_rate }}' readonly /></td>
          <td class='up-input rate'><input type='number' name='overage_rate' value='{{ r.overage_rate }}' readonly /></td>
          <td class='up-input paying'><input type='text' name='paid_by' class='paying_user' value='{{ r.paid_by }}' readonly /></td>
          <td class='edit-td'>
            {% if r.end_date %}{% else %}
            {% csrf_token %}
            <button class='update-submit btn-floating' id='submit-{{ r.id }}' type='submit'><strong>End</strong></button>
            {% endif %}
          </td>
        </form>
			</tr>
      {% endfor %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
        <form class='add-form' action='.' method='POST'>
          <input type='hidden' value='add-sub' name='add' />
          <input type='hidden' value='{{ entity.username }}' name='username' />
          <input type='hidden' value='{{ request.user }}' name='created_by'/>
          <td class='resource add-resource'>
            {{ add_form.resource }}
          </td>
          <td class='allowance'>
            {{ add_form.allowance }}
          </td>
          <td class='add_date'>
            {{ add_form.start_date }}
          </td>
          <td class='add_date'>
            {{ add_form.end_date }}
          </td>
          <td class='rate monthly_rate'>
            {{ add_form.monthly_rate }}
          </td>
          <td class='rate'>
            {{ add_form.overage_rate }}
          </td>
          <td>
            {{ add_form.paid_by }}
          </td>
          <td class='edit-td'>
            {% csrf_token %}
            <button class='add-submit btn-floating' type='submit'><strong>Add</strong></button>
          </td>
        </form>
      </tr>
    </table>
    {% csrf_token %}
  </form>
<!-- <span style='margin-left: 3%;'>*EoBP: Ends subscription at the end of current billing period</span> -->
</div>

<div id='end-package'>
  <h5>End All Current Subscriptions</h5>
  <form method='POST' action='.' class='end-sub-form'>
    <table>
      <tr>
        <td id='end-header'>
          <strong>When do you want to end?</strong>
        </td>
        <td id='select-end-td'>
          <select name='ending' id='select-end'>
            <option value='today'>
              Today
            </option>
            <option value='eop'>
              End of This Bill Period
            </option>
            <option value='other'>
              Other
            </option>
          </select>
        </td>
        <td style='width:30%;'>
          <input id='date-end' name='date-end' class='datepicker' placeholder="Select Date" />
        </td>
      </tr>
    </table>
    {% csrf_token %}
    <button class='btn' type='submit' style='display:inline-block; margin-right: 5%; margin-left:40%; margin-top: 2%;'>End All</button><span class='cancel' style='margin-top:2%;'>Cancel</span>
  </form>
</div>

<div id='change-package'>
  <h5>Change Membership</h5>
  <form class='change-form' action='.' method='GET'>
    <table class='sub-table'>
      <tr>
        <td id='package-head'>
          <strong>New Package: </strong>
        </td>
        <td id='new-package'>
          {{ package_form.package }}
        </td>
        <td id='bd-head'>
          <strong>Monthly Billing Day:</strong>
        </td>
        <td id='new-bill-day'>
          {{ package_form.bill_day }}
        </td>
        {{ package_form.username }}
        <td>
        </td>
      </tr>
    </table>
  </form>
  <form action='.' method='POST'>
    <table class='sub-table'>
      {% if subscriptions %}
      <tr>
        <th class='sub-th'>Resource</th>
        <th class='allowance sub-th'>Allowance</th>
        <th class='sub-th'>Start Date</th>
        <th class='sub-th'>End Date</th>
        <th class='rate sub-th'>Monthly Rate</th>
        <th class='rate sub-th'>Overage Rate</th>
        <th class='sub-th'>Paid By</th>
        <th class='sub-th'></th>
      </tr>
      {{ sub_formset.management_form }}
      {% for sub_form in sub_formset %}
      <tr class='sub-formset subs'>
				<td class='sub-input'>{{ sub_form.resource }}</td>
				<td class='sub-input allowance'>{{ sub_form.allowance  }}</td>
        <td class='sub-input'>{{ sub_form.start_date  }}</td>
        <td class='sub-input'>{{ sub_form.end_date  }}</td>
        <td class='sub-input rate monthly_rate'>{{ sub_form.monthly_rate  }}</td>
        <td class='sub-input rate'>{{ sub_form.overage_rate }}</td>
        <td class='sub-input'>{{ sub_form.paid_by  }}</td>
        <td class='sub-input'>
          <a class="delete-row">Remove</a>
          <input type='hidden' class='chosen_package' name='package' value="{{ package }}" />
          <input type='hidden' class='ur_bill_day' name='bill_day' value="{{ bill_day }}" />
          {% if entity.username %}
            <input type='hidden' class='thr_username' name='username' value="{{ entity.username }}" />
            {{ sub_form.username}}
          {% else %}
            <input type='hidden' name='org' value='{{ org }}' />
            {{ sub_form.org }}
          {% endif %}
          {{ sub_form.created_by}}
          <!-- <input type='hidden' name='created_by' value="{{ request.user }}" /> -->
        </td>
			</tr>
      {% endfor %}
    </table>
    {% endif %}
    {% csrf_token %}
    <button class='btn' type='submit' style='display:inline-block; margin-right: 5%; margin-left:40%;'>Update</button><span class='cancel'>Cancel</span>
  </form>
</div>

<!-- Active Guest Memberships -->
<!-- TODO This is the old way... needs to be ported to the new way -->
<!--
{% if user.profile.guests %}
  <h5>Active Guests:</h5>
    <table>
      <tr>
        <th>Name</th>
        <th>Membership</th>
        <th>First Visit</th>
      </tr>

      {% for guest in user.profile.guests %}
        <tr class="{% cycle 'row-even' 'row-odd' %}">
          <td nowrap><a href="{% url 'staff:members:detail' guest.username %}">{{ guest.get_full_name }}</a></td>
          <td>{{ guest.profile.active_membership.membership_plan }}</td>
          <td class='centered'>{{ guest.profile.first_visit }}</td>
        </tr>
      {% endfor %}
    </table>
{% endif %}
-->
{% endblock %}

{% block extrajs %}
<script>
  (function() {
    var availableUsers = [
			{% for u in active_members %}
				 "{{ u.username }}",
			{% endfor %}
		];

    $(".paying_user").autocomplete({
			source: availableUsers
		});
  })();

  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    var package = '{{ package }}';
    $('#change-package').hide();
    $('#update-package').hide();
    $('#end-package').hide();
    $('#date-end').hide();
    $('#sub-end').hide();
    $('.up-table').hide();
    $('#id_created_by').val('{{ request.user }}');
    $('#id_bill_day').val('{{ bill_day }}');
    $('#id_username').val('{{ entity.username }}')
    $('.sub-input .start_date').addClass('datepicker');
    $('.sub-input .end_date').addClass('datepicker');
    $('.created_by_td').val('{{ request.user }}');


    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      minDate: 0
    });

  //JS for changing package
    $('#change').on('click', function(e) {
      e.preventDefault();
      $('#change-package').show();
      $('#end-package').hide();
      $('#update-package').hide();
      $('.curr-sub').hide();
    })

    //Formset functionality for changing membership package
    $('.sub-formset').formset({
      addText:'Add Another',
      deleteText: 'Remove'
    })

    //Setting up the view if there is a selected package
    if( package != 'None') {
      $('#change-package').show();
      $('#new-package').val('{{ package }}');
      $('#id_bill_day').val('{{ bill_day }}');
      $('.curr-sub').hide();
      $('#id_package > option').each(function() {
        if($(this).val() == '{{ package }}') {
          $(this).attr('selected', 'selected');
        }
      })
    }

    $('.delete-row').addClass('btn-floating btn-large btn');
    $('.delete-row').on('click', function(e) {
      e.preventDefault();
      $(this).closest('tr').remove();
    })

    $('#id_package').on('change', function() {
      package = $(this).val();
      $('#id_package > option').each(function() {
        if($(this).val() == package ) {
          $(this).attr('selected', 'selected');
        }
      })
      $('.change-form').submit();
    });

    $('#id_bill_day').on('change', function() {
      $('.change-form').submit();
    })

    $('.add-row').on('click', function(e) {
			$('.delete-row').addClass('btn-floating btn-large btn');
      $('.username_td').val('{{ entity.username }}');
      $('.created_by_td').val('{{ request.user }}');
      $('.ur_bill_day').val('{{ bill_day }}');
      $('.chosen_package').val('{{ package }}');
      $('.thr_username').val('{{ entity.username }}')

      $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: 0
      });

      $('.delete-row').on('click', function(e) {
        e.preventDefault();
        $(this).closest('tr').remove();
      })
		});

  //Updating subscription functionality
    $('#update').on('click', function(e) {
      e.preventDefault();
      $('#update-package').show();
      $('#end-package').hide();
      $('#change-package').hide();
      $('.curr-sub').hide();
    })

    $('#sub-end').on('change', function() {
      $('.add_date #id_start_date').val($('#sub-end').val());
      $('.up-table').show();
    })

    $('#end-input').on('change', function() {
      var period = $('#end-input').val();

      if(period == 'other') {
        $('#sub-end').show();
        $('#sub-end').datepicker('show');
      }

      if (period == 'today') {
        var date = new Date();
        var today = formatDate(date);
        $('.update-end').val(today);
        $('.add_date #id_start_date').val(today);
        $('.up-table').show();
        $('#sub-end').hide();
      } else if (period == 'eop') {
        $('#sub-end').hide();
        var d = new Date();
        var bd = '{{ bill_day }}';
        if (d.getDate() < bd) {
          var month = (d.getMonth() + 1);
          var bd_month = month;
          var day = (bd - 1);
        } else {
          var month = (d.getMonth() + 2);
          var bd_month = month;
          var day = (bd - 1);
        }
          var year = d.getFullYear();

          //if January, increase year by one
          if ( month === 1) {
            year = year + 1;
          }

          //if date is 0, then change to correct date by checking the month
          if (day === 0) {
            if (month === 3) {
              month ='0' + 2;
              day = 28;
            } else if (month === 1){
              month = 12;
              day = 31;
            } else if (month === 5 || month === 7 || month === 10 || month === 12) {
              var sm = [5, 7, 10, 12];
              sm.forEach(function(i) {
                if (i == month) {
                  month = i - 1;
                  day = 30;
                }
              })
            } else {
              month = month - 1;
              day = 31;
            }
          }

          //make sure formatting is correct
          if (month < 10) {
            month = '0' + month;
          }
          if (day < 10) {
            day = '0' + day;
          }

          var date = [year, month, day].join('-');
          var bd_date = [year, bd_month, bd].join('-');
          $('.update-end').val(date);
          $('.add_date #id_start_date').val(bd_date);
          $('.up-table').show();
      }
    })

    function formatDate(d) {
      var month = '' + (d.getMonth() + 1);
      var day = '' + d.getDate();
      var year = d.getFullYear();

      if (month.length < 2) {
        month = '0' + month;
      }
      if (day.length < 2) {
        day = '0' + day;
      }

      return [year, month, day].join('-');
    }

  //JS for ending membership package
    $('#end').on('click', function(e) {
      e.preventDefault();
      $('#end-package').show();
      $('#update-package').hide();
      $('#change-package').hide();
    })

    $('#select-end').change(function(){
      if ($('#select-end').val() == 'other') {
        $('#date-end').show();
        $('#date-end').datepicker('show');
      }
    })

    $('.cancel').on('click', function(e) {
      e.preventDefault();
      window.location.replace("{% url 'staff:members:membership' entity.username %}");
    })
  });
</script>
{% endblock %}
