{% extends "staff/members/base.html" %}
{% load imagetags %}

{% block sub-title %}Members{% endblock %}

{% block content %}
<h5>Create a New User</h5>
<div id="visitor-form">
  <form action="." method="POST">
    {{ new_user_form.non_field_errors }}
    {% for field in new_user_form %}
        {{ field.label_tag }}
        {{ field }}
      <div style="align:center; color: #933;">{{ field.errors }}</div>
    {% endfor %}
    <input class='btn confirm-btn' type="submit" value="Create" style='margin-bottom: 2%;'/>
    {% csrf_token %}
  </form>
</div>

<hr/>

<div><h6>
  List New Users in Past: [
  <a href="?days_back=30">30</a> |
  <a href="?days_back=60">60</a> |
  <a href="?days_back=90">90</a> |
  <a href="?days_back=120">120</a>
  ] Days.
</h6></div>

{% if new_users %}
  <h5>New Users in Past {{ days_back }} Days</h5>
  <table class="member-table" style='margin-bottom: 5%;'>
    <tr>
      <th class='left'>Name</th>
      <th class='center'>Username</th>
      <th class='center'>Email</th>
      <th class='center'>Date Joined</th>
      <th></th>
    </tr>

    {% for user in new_users %}
      <tr class='{% cycle "row-even" "row-odd" %}'>
        <td>
          <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a>
        </td>
        <td class='center'>{{ user.username }}</td>
        <td class='center'>{{ user.email }}</td>
        <td class='center'>{{ user.date_joined }}</td>
        <td></td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}

{% block extrajs %}
  <script>
    (function() {
      {% for message in messages %}
        {% if message.tags == 'error' %}
          Materialize.toast('{{ message }}', 60000, 'error-msg msg');
        {% else %}
          Materialize.toast('{{ message }}', 5000, '{{ message.tags }}-msg msg');
        {% endif %}
      {% endfor %}

      $(document).on('click', '#toast-container .toast', function() {
        $(this).fadeOut(function(){
          $(this).remove();
        });
      });
    })();

    $(document).ready(function() {
      $('.button-collapse').sideNav();
      $('.collapsible').collapsible();
    });
  </script>
{% endblock %}
