{% extends "staff/members/base.html" %}
{% load static %}

{% block sub-title %}Membership{% endblock %}

{% block sub-head %}
  <link rel="stylesheet" href="{% static 'staff/c3/c3.min.css' %}" />
  <script src="{% static 'staff/c3/date.min.js' %}"></script>
  <script src="{% static 'staff/c3/d3.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'staff/c3/c3.min.js' %}"></script>
{% endblock %}


{% block content %}

<script>
    $(function() {
        $('#id_start_date').datepicker({ dateFormat: "yy-mm-dd" });
        $('#id_end_date').datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>

<script type="text/javascript">

$(document).ready(function() {
	 var formData = {
		 {% for plan in membership_plans %}
		  '{{plan.id}}':{ 'monthly_rate':{{plan.monthly_rate}}, 'dropin_allowance':{{plan.dropin_allowance}}, 'daily_rate':{{plan.daily_rate}},
								'has_desk':'{{plan.has_desk}}' },
		 {% endfor %}
	 }

	 $('#id_membership_plan').change(function() {
		  var value = $(this).val();
		  var new_values = formData[value];
		  $('#id_monthly_rate').val(new_values['monthly_rate']);
		  $('#id_dropin_allowance').val(new_values['dropin_allowance']);
		  $('#id_daily_rate').val(new_values['daily_rate']);
		  if (new_values['has_desk']=='True') {
			  $('#id_has_desk').attr('checked', 'checked');
		  } else {
			  $('#id_has_desk').removeAttr('checked');
		  }
	 });

	$('#end_today').click(function() {
		$('#id_end_date').val('{{today}}');
	});
	$('#end_last').click(function() {
		$('#id_end_date').val('{{ last }}');
	});

})
</script>

<h4>{% if membership %} Update {% else %} Add {% endif %} Membership for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h4>

{% if messages %}
<div class="page-message">
	{% for message in messages %}
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	{% endfor %}
</div>
{% endif %}


<div id="membership_form">
	<form class='membership_form' name="membership_form" enctype="multipart/form-data" action='.' method='post'>
		{% if membership %}{{ membership_form.membership_id }}{% endif %}
		{{ membership_form.username }}
		<table id="membership">
			<tr class="row-even">
				<td class='left-title' nowrap>Membership Plan</td>
				<td>
					{% if membership %}
						{{ membership.membership_plan }}
						{{ membership_form.membership_plan.as_hidden }}
					{% else %}
						{{ membership_form.membership_plan }}
					{% endif %}
				</td>
				<td class='error-td'>{{ membership_form.membership_plan.errors }}</td>
			</tr>
    </table>
    <table>
      <tr class="row-odd">
				<td class='left-title'>Start Date</td>
				<td class='date-input'>
					{% if membership %}
						{{ membership.start_date }}
						{{ membership_form.start_date.as_hidden }}
					{% else %}
						{{ membership_form.start_date }}
					{% endif %}
				</td>
        <td class='right-title' id='end-td'>End Date</td>
				<td class='date-input'>{{ membership_form.end_date }} <span id='last-today'>[ <a id="end_last">last</a> | <a id="end_today">today</a> ]</span></td>
      </tr>
      {% if membership_form.start_date.errors or membership_form.end_date.errors %}
      <tr class="row-odd">
				<td>{{ membership_form.start_date.errors }}</td>
        <td></td>
				<td>{{ membership_form.end_date.errors }}</td>
        <td></td>
			</tr>
      {% endif %}
			<tr class="row-even">
				<td class='left-title' nowrap>Monthly Rate</td>
				<td class='mem-input'>
					{% if membership %}
						$ {{ membership.monthly_rate }}
						{{ membership_form.monthly_rate.as_hidden }}
					{% else %}
						$ {{ membership_form.monthly_rate }}
					{% endif %}
				</td>
        <td class='right-title' nowrap>Drop-in Allowance</td>
				<td class='mem-input'>
					{% if membership %}
						{{ membership.dropin_allowance }}
						{{ membership_form.dropin_allowance.as_hidden }}
					{% else %}
						{{ membership_form.dropin_allowance }}
					{% endif %}
				</td>
			</tr>
      <tr class="row-even">
				<td>{{ membership_form.monthly_rate.errors }}</td>
        <td></td>
				<td>{{ membership_form.dropin_allowance.errors }}</td>
        <td></td>
			</tr>
    </table>
    <table>
			<tr class="row-odd">
				<td class='left-title' nowrap>Daily Rate</td>
				<td class='mem-input' id='rate-td'>
					{% if membership %}
						$ {{ membership.daily_rate }}
						{{ membership_form.daily_rate.as_hidden }}
					{% else %}
						$ {{ membership_form.daily_rate }}
					{% endif %}
				</td>
        <td class='right-title' nowrap>Extras</td>
				<td class='mem-input'>
					{% if membership %}
						{% if membership.has_desk %}<span>&check; Desk</span>{% endif %}
						{% if membership.has_key %}<span style="margin-right:2em;">&check; Key</span>{% endif %}
						{% if membership.has_mail %}<span>&check; Mail</span>{% endif %}
						{{ membership_form.has_desk.as_hidden }}
						{{ membership_form.has_key.as_hidden }}
						{{ membership_form.has_mail.as_hidden }}
					{% else %}
						<span>
              {{ membership_form.has_desk }}
              <label for='id_has_desk'>Desk</label>
            </span>
						<span>
              {{ membership_form.has_key }}
              <label for='id_has_key'>Key</label>
            </span>
						<span>
              {{ membership_form.has_mail }}
              <label for='id_has_mail'>Mail</label>
            </span>
					{% endif %}
				</td>
			</tr>
      <tr>
        <td>{{ membership_form.daily_rate.errors }}</td>
      </tr>
    </table>
    <table>
			<tr class="row-even">
				<td class='left-title'>Paid by</td>
				<td class='mem-input'>{{ membership_form.paid_by }}</td>
				<td>{{ membership_form.paid_by.errors }}</td>
			</tr>
			<tr class="row-odd">
				<td>Note</td>
				<td class='notes'>{{ membership_form.note }}</td>
				<td>{{ membership_form.note.errors }}</td>
			</tr>
	   </table>
     <input class='btn' type="submit" value="Submit" />
	   {% csrf_token %}
	</form>
</div>

<div id="membership_list">
</div>
{% endblock %}

{% block extrajs %}
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
		$('.collapsible').collapsible();

    $('#id_membership_plan').attr('class', 'browser-default');
    $('#id_paid_by').attr('class', 'browser-default');
    $('#id_has_desk').attr('class', 'browser-default');
  });
</script>
{% endblock %}
