{% load integrated_systems %}
{% load imagetags %}
<table class="member-table">
	<tr>
		<th id='photo-th' class='centered'>Photo</th>
		<th class='left'>Name</th>
		<th>Next Bill</th>
		<th>Membership</th>
		<th>Quicklinks</th>
		<th>Guests</th>
	</tr>
	{% load_integrations as integrations %}
	{% for user in users %}
		<tr class="{% cycle 'row-even' 'row-odd' %}" >
			<td id='photo-td' class='centered'>
				{% if user.profile.photo %}<a href="{% url 'staff:members:detail' user.username %}"><img class="member-table-photo" src="{{ user.profile.photo.url|fit_image:"48x48"}}" /></a>{% endif %}
			</td>
			<td nowrap class='left'><a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></td>
			<td>{{ user.membership.next_period_start|date:"M d, Y" }}</td>
			<td style='text-align: center;'>
				{% if user.membership.active_subscriptions %}
					{{ user.membership.package_name }}
				{% endif %}
			</td>
			<td class='centered'>
				<a href="{% url 'staff:activity:user' user.username %}">activity</a> |
				<a href="{% url 'staff:members:files' user.username %}">files</a> |
				{% if integrations.usaepay %}
					<a href="{% url 'staff:billing:user_payment' user.username %}">usaepay</a> |
				{% endif %}
		    {% if integrations.xero %}
					<a href="{% url 'staff:billing:xero' user.username %}">xero</a> |
				{% endif %}
				<a href="{% url 'staff:billing:user_bills' user.username %}">bills</a>
			</td>
			<td class='centered'>
				{% if user.profile.guests %}
					<a href="." onclick="$('#guest-details-{{user.id}}').show(); return false;">{{ user.profile.guests|length }}</a>
				{% endif %}
			</td>
		</tr>
		{% if user.profile.guests %}
		<tr class='guest-row' id="guest-details-{{user.id}}">
			<td colspan="5"><table class="guest-detail">
				{% for guest in user.profile.guests %}
					<tr class="{% cycle 'row-even' 'row-odd' %}">
						<td>{% if guest.profile.photo %}
							<a href="{% url 'staff:members:detail' guest.username %}">
								<img class="member-table-photo" src="{{ guest.profile.photo.url|fit_image:"48x48"}}" />
							</a>
						{% endif %}</td>
						<td class='guest-info'>
							<a href="{% url 'staff:members:detail' guest.username %}">{{ guest.get_full_name }}</a>
						</td>
						<td class='guest-info'>{{ guest.membership.package_name }}</td>
					</tr>
				{% endfor %}
			</table></td>
		</tr>
		{% endif %}
	{% endfor %}
</table>
