{% extends "staff/members/base.html" %}
{% load integrated_systems %}
{% load_integrations as integrations %}

{% block sub-title %}User Reports{% endblock %}

{% block content %}

<h4>User Reports</h4>

<form class='user-report' action="." method="POST">
	<div>
		<span class='report'><strong>Report: </strong>{{ form.report }}</span>
		<span class='report-active'><strong>Active Only</strong>  {{ form.active_only }}</span>
		<span class='report-order'><strong>Order By: </strong>{{ form.order_by }}</span>
	</div>
	<div>
		<span class='report-start'><strong>Start: </strong>{{ form.start_date }}</span>
		<span class='report-end'><strong>End: </strong>{{ form.end_date }}</span>
		<input id='report-btn' type="submit" value="View Report" />
	</div>
	{% csrf_token %}
</form>
<hr>

<strong>{{ users.count }} Users Found</strong>

<table class="member-table">
	<tr>
		<th colspan="4"></th>
		<th colspan="3" class="bottom_line">Latest Membership</th>
	</tr>
	<tr>
		<th>Name</th>
		<th>Joined</th>
		<th>Billing</th>
		<th>{% if integrations.usaepay %} Auto-Bill {% endif %} </th>
		<th>Package</th>
		<th>Start</th>
		<th>End</th>
		<th></th>
	</tr>

	{% for user in users %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td nowrap class='left'><a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></td>
			<td>{{ user.date_joined|date:"M d, Y" }}</td>
			{% if user.profile.has_valid_billing %}
				<td>Valid</td>
			{% else %}
				<td class='error-td'>Invalid</td>
			{% endif %}
			{% if integrations.usaepay %}
				{% if user.profile.auto_bill_enabled %}
					<td>On</td>
				{% else %}
					<td class='error-td'>Off</td>
				{% endif %}
			{% else %}
				<td></td>
			{% endif %}
			<td>{{ user.membership.package_name }}</td>
			<td>{{ user.membership.start_date|date:"M d, Y" }}</td>
			<td>{{ user.membership.end_date|date:"M d, Y" }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}


{% block extrajs %}
	<script>
		$(document).ready(function() {
			$('.button-collapse').sideNav();
			$('.collapsible').collapsible();

			$('#id_start_date').addClass('datepicker');
			$('#id_end_date').addClass('datepicker');
			$('#id_active_only').addClass('enable-cb');

			$('.datepicker').datepicker({
				dateFormat: 'yy-mm-dd',
				onSelect: function(ui, e) {
					changeDate(ui);
				}
			});
		});
	</script>
{% endblock %}
