{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block nav-here %} class="ui-btn-active" {% endblock %}

{% block content %}
	<!--<h2>Members here today:</h2>-->
	<div class="user-grid">
		{% for member in members %}
			<div class="user-card">
		      {% if member.photo %}
		         <a class="photo" href="{% url 'tablet_profile' member.user %}" data-transition="fade"><img src="{{ member.photo.url|fit_image:"170x170" }}" /></a>
		      {% else %}
		         <a class="photo" href="{% url 'tablet_profile' member.user %}" data-transition="fade">?</a>
		      {% endif %}
		      <a href="{% url 'tablet_profile' member.user %}" data-transition="fade">{{ member.full_name }}</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
