{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block nav-here %} class="ui-btn-active" {% endblock %}

{% block content %}
	<!--<h2>Members here today:</h2>-->
	<div class="user-grid">
		{% for u in users_today %}
			<div class="user-card">
		      {% if u.profile.photo %}
		         <a class="photo" href="{% url 'tablet:user_profile' u.username %}" data-transition="fade"><img src="{{ u.profile.photo.url|fit_image:"170x170" }}" /></a>
		      {% else %}
		         <a class="photo" href="{% url 'tablet:user_profile' u.username %}" data-transition="fade">?</a>
		      {% endif %}
		      <a href="{% url 'tablet:user_profile' u.username %}" data-transition="fade">{{ u.get_full_name }}</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
