{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block style %}
{% endblock %}

{% block sub-title %}Nadine Tablet | {% endblock %}

{% block header %}
	<h1>Nadine Tablet</h1>
{% endblock %}

{% block content %}
	<div data-role="content">	
		<ul data-role="listview" data-inset="true" data-filter="true">
			{% for member in members %}
				<li><a href="">{% if member.photo %}<img src="{{ member.photo.url|fit_image:"170x170" }}" />  {% endif %} {{ member.full_name }}</a></li>
			{% endfor %}
		</ul>
	</div><!-- /content -->
{% endblock %}
