{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block style %}
{% endblock %}

{% block sub-title %}Nadine Tablet | {% endblock %}

{% block header %}
	<h1>{{ site.name}}: Nadine Membership Console</h1>
{% endblock %}

{% block content %}
	<div>
		<ul data-role="listview" data-inset="true" data-filter="true">
			{% for member in members %}
				<li style="padding: 0.5em;"><a href="{% url tablet.views.user member.user.username %}" data-transition="slide" data-prefetch>{{ member.full_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
