{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block content %}
  {% autoescape off %}
    {% if message %}
    <div style='text-align:center; font-size: 150%; width: 60%; margin-left: 15%; margin-top:5%; padding: 1% 4% 4% 4%;'>
      <!-- <p><strong>Message of the Day</strong></p> -->
      {{ message.message }}
    </div>
    {% endif %}
    <button style='width: 40%; margin-left:30%; margin-top: 10%; background-color: RGBA(51, 136, 204, 1.00); color: white; text-shadow: none; padding: 1%; font-size: 1.4em; border-radius: 3px;' class='btn' onClick="location.href='{% url 'tablet:members' %}'">SIGN IN</button>
  {% endautoescape %}
{% endblock %}
