{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block style %}
#search-box { align: center; text-align:center; }
#member-search-form { font-weight: bold; font-size: 1.4em; margin-top: 1.4em; }
{% endblock %}

{% block sub-title %}Nadine Tablet | {% endblock %}

{% block signin-back %}
	{% if can_signin %}
		Back
	{% else %} 
		Sign In
	{% endif %} 
{% endblock %}

{% block content %}
	{% if search_results %}
		<h2>Search Results</h2>
		<div id="member-list">
			<ul data-role="listview" data-inset="true" data-filter="false">
				{% for member in search_results %}
					<li style="padding: 0.5em;"><a href="{% url 'tablet.views.user_signin' member.user %}" data-transition="fade">{{ member.full_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<h2>Find a Member</h2>
		<div id="search-box">
			<form id="member-search-form" action="{% url 'tablet.views.search' %}" method="POST">
				{% for field in member_search_form %}
					{{ field }}
				{% endfor %}
				<input type="submit" value="search"  data-theme="e" data-transition="fade"/>
				{% csrf_token %}
			</form>
		</div>
	{% endif %}  


	
{% endblock %}