{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block nav-members %} class="ui-btn-active" {% endblock %}

{% block content %}
	{% if search_results %}
		<h2>Search Results</h2>
		<div id="member-list">
			<ul data-role="listview" data-inset="true" data-filter="false">
				{% for u in search_results %}
					<li><a href="{% url 'tablet:user_profile' u.username %}" data-transition="fade">{{ u.get_full_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<h2>Search</h2>
		<div id="search-box">
			<form id="member-search-form" action="{% url 'tablet:search' %}" method="POST">
				<div data-role="fieldcontain">
					<input id="id_terms" type="search" maxlength="100" name="terms" type="text" />
					<input type="submit" value="Search" data-theme="b" data-transition="fade"/>
				</div>
				{% csrf_token %}
			</form>
		</div>
	{% endif %}



{% endblock %}
