{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block style %}
#search-box { align: center; text-align:center; }
#member-search-form { font-weight: bold; font-size: 1.4em; margin-top: 1.4em; }
{% endblock %}

{% block sub-title %}Nadine Tablet | {% endblock %}

{% block nav-search %} class="ui-btn-active" {% endblock %}

{% block content %}
	<div id="search-box">
		<form id="member-search-form" action="{% url tablet.views.search %}" method="POST">
			{% for field in member_search_form %}{{ field }}{% endfor %}
			<input type="submit" value="search" />
			{% csrf_token %}
		</form>
	</div>
	
	{% if search_results %}
		<h3>Search Results</h3>
		<div id="member-list">
			<ul data-role="listview" data-inset="true" data-filter="false">
				{% for member in search_results %}
					<li style="padding: 0.5em;"><a href="{% url tablet.views.user member.user %}" data-transition="slide">{{ member.full_name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}  
	
{% endblock %}