{% extends "tablet/t_base.html" %}
{% load static %}

{% block nav-members %} class="ui-btn-active" {% endblock %}

{% block extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'signature.css' %}"/>
{% endblock %}

{% block content %}
	{% if pdf_file %}
		<div class="page-container">
			<div class="page">
				<img src="/media/{{ pdf_file.file }}" width="100%"/>
			</div>
		</div>
		<form>
			<input type="submit" value="Accept"/>
		</form>
	{% else %}
		{{ form.media }}
		<div class="page-container">
			<div class="page">
				<img src="/media/documents/{{doc_type}}1.png" width="100%"/>
			</div>
		</div>

		<div class="page-container">
			<div class="page">
				<img src="/media/documents/{{doc_type}}2.png" width="100%"/>

				<div class="signature_box">
					<div data-role="fieldcontain" class="static-field">
						<div class="label">Name:</div>
						<span>{{ user.get_full_name }}</span>
					</div>
					<div data-role="fieldcontain" class="static-field">
						<div class="label">Date:</div>
						<span>{{ today }}</span>
					</div>

					<form action="{% url 'tablet:sig_capture' user.username doc_type%}" method="POST">
						<div data-role="fieldcontain">
							{% for field in form %}
								{{ field.label_tag }}
								{{ field }}
							{% endfor %}
							{% csrf_token %}
						</div>
						<input type="submit" value="Accept"/>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block extrajs %}
	<script>
		$('document').ready(function () {
			$('div.jsign-container').prepend('<input type="button" class="resetButton" value="X" onclick="$(\'canvas.jSignature\').jSignature(\'reset\')" />');
		});
	</script>
{% endblock %}
