{% load staticfiles %}
<html>

<head>
	<style>
		.signature_box th {
			width: 50px;
			vertical-align: bottom;
			font-size: 50%;
		}

		.signature_box td {
			border-bottom: 1px solid #ccc;
			padding-top: 5px;
			width: 400px;
			vertical-align: bottom;
			font-size: 50%;
		}

		.signature_box img {
			max-height: 100px;
		}
	</style>
</head>

<body>
	<div id="page1_content">
		<img src="/media/documents/{{doc_type}}1.png" width='100%'/>
	</div>
	<pdf:nextpage>
	<div id="page2_content">
		<img src="/media/documents/{{doc_type}}2.png" width='100%' />
		<div class="signature_box">
			<table>
				<tr>
					<th></th>
					<th>Name:</th>
					<td>{{ name }}</td>
				</tr>
				<tr>
					<th></th>
					<th>Date:</th>
					<td>{{ date }}</td>
				</tr>
				<tr>
					<th></th>
					<th>Signature:</th>
					<td><img src="/media/signatures/{{ signature_file }}"/></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
