{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block style %}
{% endblock %}

{% block sub-title %}Nadine Tablet | {% endblock %}

{% block nav-signin %} class="ui-btn-active" {% endblock %}

{% block content %}
	<div id="search-box">
		<form id="member-search-form" action="{% url 'tablet.views.search' %}" method="POST">
			<input id="id_terms" type="text" name="terms" maxlength="100" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset" placeholder="Find a member">
			<input type="submit" value="Search"  data-theme="e" data-transition="fade"/>
			{% csrf_token %}
		</form>
	</div>
	<div id="member-list">
		<ul data-role="listview" data-inset="true" data-autodividers="true">
			{% for member in members %}
				<li style="padding: 0.5em;"><a href="{% url 'tablet.views.user_signin' member.user %}" data-transition="fade">{{ member.full_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}