<!DOCTYPE html>
<html lang="en" manifest="{{ STATIC_URL }}nadine.manifest">

<head>
	<meta charset="utf-8">
	<title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablet.css" />
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/icon57.png">
	<link rel="apple-touch-icon"sizes="72x72" href="{{ STATIC_URL }}images/icon72.png">
	
	<meta name="viewport" content="width=768, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<script src="{{ STATIC_URL }}jquery-1.10.2.min.js"></script>
	<script src="{{ STATIC_URL }}custom-scripting.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}jquery.mobile-1.4.0.min.css" />
	<script src="{{ STATIC_URL }}jquery.mobile-1.4.0.min.js"></script>

	{%block sub-head %}{% endblock %}

	<style>
		{% block style %}{% endblock %}
	</style>
</head>

<body {%block sub-body %}{% endblock %}>{% block body %}
	<div data-role="page">
		<div id="header" data-role="header" data-position="inline">
			<h1>Nadine Membership Console</h1>
		</div>
			<div id="top-nav" data-role="navbar" data-iconpos="left">
				<ul>
					<li><a data-transition="fade" href="{% url 'tablet.views.signin' %}" {% block nav-signin %}{% endblock %} data-icon="check">{% block signin-back %}Sign In{% endblock %}</a></li>
					<li><a data-transition="fade" href="{% url 'tablet.views.members' %}" {% block nav-members %}{% endblock %} data-icon="grid">Members</a></li>
					<li><a data-transition="fade" href="{% url 'tablet.views.here_today' %}" {% block nav-here %}{% endblock %} data-icon="star">Here Today</a></li>
					<li><a data-transition="fade" href="{% url 'tablet.views.new_user' %}" {% block nav-newuser %}{% endblock %} data-icon="plus">New User</a></li>
				</ul>
			</div>
			{% block header %}
			{% endblock %}
		<div data-role="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer" data-role="footer" style="">
			{% block footer %}
			<div style="float:right; margin-right: 1em;">Office Nomads</div>
			<div style="float:left; margin-left: 1em;">&copy; 2008-2014 The Nadine Project</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}</body>

</html>