{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ site.name }} | Front Desk</title>
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon-57x57.png' %}"/>
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}"/>
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}"/>
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}"/>

	<meta name="viewport" content="width=768, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

	<link rel="stylesheet" href="{% static 'jquery.mobile-1.4.1.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'tablet.css' %}"/>

	<script src="{% static 'jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'jquery.mobile-1.4.1.min.js' %}"></script>
	<script src="{% static 'custom-scripting.js' %}"></script>

	<style>
		{% block style %}{% endblock %}
	</style>

	{% block extra_headers %}{% endblock %}
</head>

<body {%block sub-body %}{% endblock %}>
	<div data-role="page">
		{% if not tablet_ios %}
			<div id="header" data-role="header" data-position="fixed">
				<h1>Nadine Member Console</h1>
				<div id="top-nav" data-role="navbar" data-iconpos="left">
					<ul>
						<li><a data-transition="fade" href="{% url 'tablet:members' %}" {% block nav-members %}{% endblock %}>Members</a></li>
						<li><a data-transition="fade" href="{% url 'tablet:here_today' %}" {% block nav-here %}{% endblock %}>Here Today</a></li>
						<li><a data-transition="fade" href="{% url 'tablet:visitors' %}" {% block nav-visitors %}{% endblock %}>Visitors</a></li>
					</ul>
				</div>
			</div>
		{% endif %}

		<div data-role="content">
			{% block content %}
			{% endblock %}
		</div>

		{% if not tablet_ios %}
			<div id="footer" data-role="footer" data-position="fixed">
				<div style="float:right; margin-right: 1em;">Office Nomads</div>
				<div style="float:left; margin-left: 1em;">&copy; 2007-2020 The Nadine Project</div>
			</div>
		{% endif %}
	</div>
</body>

{% block extrajs %}
{% endblock %}

</html>
