{% extends "tablet/t_base.html" %}
{% load imagetags %}

{%block sub-head %}
	<script language="javascript" type="text/javascript">
		function showGuestForm() {
			document.getElementById('guestform-show').style.display = 'none';
			document.getElementById('guestform-hide').style.display = 'inline';
			document.getElementById('guestform').style.display = 'block';
			document.getElementById('signin').style.display = 'none';
		}
	
		function hideGuestForm() {
			document.getElementById('guestform-show').style.display = 'inline';
			document.getElementById('guestform-hide').style.display = 'none';
			document.getElementById('guestform').style.display = 'none';
			document.getElementById('signin').style.display = 'block';
		}
	</script>

	<style type="text/css">
		.hidden {
			display: none;
		}
		a.showLink, a.hideLink {
			text-decoration: none;
			color: #36f;
			font-size: 1.2em;
		}
		a.hideLink {
			display: none;
		}
	</style>
{% endblock %}

{% block sub-title %}Nadine Tablet | {% endblock %}

{% block signin-back %}
	{% if can_signin %}
		Back
	{% else %} 
		Sign In
	{% endif %} 
{% endblock %}

{% block content %}
	<div class="ui-grid-a">
		<div class="ui-block-a">
			{% if member.photo %}
				<a href="{% url tablet.views.view_profile member.user %}"><img src="{{ user.profile.photo.url }}" width="300px"></a>
			{% else %}
				<img src="{{ STATIC_URL }}/BlankIcon150x150.jpg">
			{% endif %}							
		</div>
		<div class="ui-block-b">
			<h2>{{ member.full_name }}</h2>
			<h3>Billing Day: {{ member.last_membership.start_date|date:"jS" }}</h3>
			{% if activity %}
				<h3>Visits This Cycle ({{activity.count}}):</h3>
				<ul>
					{% for log in activity %}
						<li>{{ log.visit_date|date:"l F jS"}}</li>
					{% endfor %}
				</ul>
			{% endif %} 
			 
			{% if guest_activity %}
				<h3>Guest Visits ({{guest_activity.count}}):</h3>
				<ul>
					{% for log in guest_activity %}
						<li>{{ log.member }} - {{ log.visit_date|date:"M jS" }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if can_signin and not search_results %}
				<div id="wrap">
					<p><a href="#" id="guestform-show" class="showLink" onclick="showGuestForm();return false;">Guest of another member?</a></p>
					<p><a href="#" id="guestform-hide" class="hideLink" onclick="hideGuestForm();return false;">Hide guest form.</a></p>
				</div>
			{% endif %}
		</div>
	</div>

	{% if can_signin %}
		<div id="guestform" {% if not search_results %} class="hidden" {% endif %} >
			<h3>Guest of:</h3>
			{% if search_results %}
				<div id="member-list">
					<ul data-role="listview" data-inset="true" data-filter="false">
						{% for member in search_results %}
							<li style="padding: 0.5em;"><a href="{% url tablet.views.signin_user_guest user.username member.user %}" data-transition="fade">{{ member.full_name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<div id="search-box">
					<form id="member-search-form" action="./" method="POST">
						<input id="id_terms" type="text" name="terms" maxlength="100" placeholder=""/>
						<input type="submit" value="Search" data-theme="b" data-transition="fade"/>
						{% csrf_token %}
					</form>
				</div>
			{% endif %}  
		</div>

		<div id="signin" data-theme="a" {% if search_results %} class="hidden" {% endif %}>
			<a href="{% url tablet.views.signin_user user.username %}" data-role="button" data-theme="e" data-transition="fade">Sign In</a>  
		</div>    
	{% endif %}  
{% endblock %}
