{% extends "tablet/t_base.html" %}
{% load imagetags %}

{% block nav-here %} class="ui-btn-active" {% endblock %}

{% block content %}
	<div class="ui-grid-a">
		<div class="ui-block-a">
			{% if user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" width="300px">
			{% else %}
				<img src="{{ STATIC_URL }}/BlankIcon150x150.jpg">
			{% endif %}
		</div>
		<div class="ui-block-b">
			<h2>{{ user.get_full_name }}</h2>
			{% include "members/profile_public_frag.html" %}
			{% if membership %}
				<h3>Visits This Cycle:
					<span style="font-weight:normal;">{{ user.profile.activity_this_month | length }} of {{ membership.get_allowance }}</span>
				</h3>
			{% endif %}
			<h3>Profile Tags:</h3>
			{% if tags %}
				<ul>{% for tag in tags %}
					<li>{{ tag }}</li>
				{% endfor %}</ul>
			{% else %}
				<ul>None</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}
