{% extends "tablet/t_base.html" %}

{%block sub-head %}
	<!--<META http-equiv="refresh" content="5; URL={% url 'tablet.views.signin' %}">-->
{% endblock %}

{% block sub-title %}Nadine Tablet | Welcome {% endblock %}

{% block content %}
	<div style="font-size: 150%;">Welcome {{user.first_name}} {{user.last_name}}!</div>
	{% if membership %}
	<div style="font-weight:bold; padding:1em; font-size:200%">
		As of today, you have used {{ member.activity_this_month | length }}
		{% if membership.get_allowance %}
			of {{ membership.get_allowance }} 
		{% endif %}
		days.
		<div style="padding-top:1em; font-weight:normal;">Your billing day is the {{ member.active_membership.start_date|date:"jS" }}.</div>
	</div>
	{% endif %}
	<div style="font-size:150%;">
		{{ motd }}
		<p style="padding-left:3em;">
			-- The Office Nomads Team
		</p>
	</div>
	<script>
		setTimeout(function () {window.location.href = "{% url 'tablet.views.signin' %}"; }, {{timeout}}); //will call the function after 5 secs.
	</script>
{% endblock %}