{% extends "base.html" %}

{% block sub-title %}Interlink | Unsubscribe | {% endblock %}

{% block style %}
nav #lists-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content%}
{% include "interlink/list_menu.frag" %}  

<h2>Unsubscribe</h2>

<div align="center">
<p>Are you sure you want to unsubscribe <strong>{{ member }}</strong> from <strong>{{ mailing_list }}</strong>?</p>
<p/>
<form action="{%url 'interlink.views.unsubscribe' mailing_list.id member.user%}" method='post'>
	<input type="Submit" name="confirm" value="Yes">
	<input type="Submit" name="confirm" value="No">
	{% csrf_token %}
</form>
</div>
{% endblock %}
