.svn
*.pyc
pip-log.txt
backups
local_settings.py
media
media/
media/member_photo
media/resized_image
media/front
media/staff
media/members
media/arp/import.log
.project
.idea
.pydevproject
.settings
celerybeat-schedule.db
.DS_Store

nadine.sqlite
