.svn
*.pyc
*.class
.DS_Store
pip-log.txt
backups
nadine/local_settings.py
media
media/
media/member_photo
media/resized_image
media/front
media/staff
media/members
media/arp/import.log
.project
.pydevproject
.settings
celerybeat-schedule.db
django.log
databases
xero_privatekey.pem
newrelic.ini
newrelic-celery.ini
.coverage
gw_config.json
.vagrant/
__pycache__/
docs/_build/*
.vscode
.venv/


# Ignore Themes
/themes/**
!/themes/README.md

# Ignore pycharm metadata
.idea*
