PRODUCTION = False
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# Admins
ADMINS = (
    ('YOU', 'you@yourdomain.com'),
)
MANAGERS = ADMINS

DATABASES = {
    'default': {
		'ENGINE':'django.db.backends.postgresql_psycopg2',
		'USER':'postgres',
		'NAME':'nadine',
		'PASSWORD':'1234'
    }
}

#CACHE_BACKEND = 'dummy:///'
CACHE_BACKEND = 'locmem:///'

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'ZZZ'

DEFAULT_FROM_EMAIL = "something@example.com"
EMAIL_ADDRESS = "something@example.com"
EMAIL_HOST = "smtp.example.com"
EMAIL_HOST_PASSWORD = "password"
EMAIL_HOST_USER = "username"
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_SUBJECT_PREFIX = "[COWORKING] " # or None if you want no subject prefix

from front.tasks import EmailTask
SCHEDULED_TASKS = [EmailTask()]

import datetime
BILLING_START_DATE = datetime.date(2009, 11, 17)
NEW_MEMBER_DEPOSIT = 500
NON_MEMBER_DROPIN_FEE = 25
BASIC_MONTHLY_FEE = 50
BASIC_DROPIN_COUNT = 3
BASIC_DROPIN_FEE = 20
PT5_MONTHLY_FEE = 75
PT5_DROPIN_COUNT = 5
PT5_DROPIN_FEE = 20
PT10_MONTHLY_FEE = 150
PT10_DROPIN_COUNT = 10
PT10_DROPIN_FEE = 20
PT15_MONTHLY_FEE = 225
PT15_DROPIN_COUNT = 15
PT15_DROPIN_FEE = 20
REGULAR_MONTHLY_FEE = 375
REGULAR_GUEST_DROPIN_FEE = 20
RESIDENT_MONTHLY_FEE = 475
RESIDENT_GUEST_DROPIN_COUNT = 5
RESIDENT_GUEST_DROPIN_FEE = 20
