[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[ldap-packages]
django-ldapdb == "1.2.0"
python-ldap == "3.1.0"
passlib == "1.7.1"

[dev-packages]
django-debug-toolbar = "*"
pip-review = "*"

[packages]
Django = "~=3.0"
Pillow = "~=7.0"
psycopg2 = "~=2.8"
django-localflavor = "~=2.2"
django-localflavor-us = "~=1.1"
django-taggit = "~=1.2"
django-taggit-templatetags2 = "~=1.6"
django-crontab = "~=0.7"
python-slugify = "!=2.0"
requests = "~=2.22"
cryptography = "~=2.8"
mailchimp3 = "~=3.0"
pyyaml = "~=5.2"

# Important Security Alerts
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"

# Libraries for Arpwatch
pysnmp = "~=4.4"
pysnmp-mibs = "~=0.1"

# Libraries for Xero
pyxero = "~=0.9"
PyJWT = "~=1.7"

# For document signing & PDFs
# Master branch of django-jsignature is very out of date
django-jsignature = {git = "https://github.com/nadineproject/django-jsignature.git", editable = true}
WeasyPrint = "==51"
html5lib = "==1.0.1"

# Payment libraries
suds-jurko = "==0.6"
#stripe = "*"

# For the documentation:
CommonMark = "~=0.9"
Sphinx = "~=2.3"
sphinx_rtd_theme = "==0.4.3"
Markdown = "!=3.1"
recommonmark = "==0.6.0"
pycodestyle = "==2.5"

# Other libraries
pytz = "*"
safety = "*"
asgiref = "*"
setuptools = "*"
