[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[ldap-packages]
"django-ldapdb =" = "1.2.0"
"python-ldap =" = "3.1.0"
"passlib =" = "1.7.1"

[scripts]
django = "./manage.py runserver"
pip-review = "pip list --outdated"
check_syntax = "flake8 . --exclude .venv --count --select=E9,F63,F7,F82 --show-source --statistics"
check_style = "flake8 . --exclude .venv --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
tests = "python -m unittest discover tests"

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"
iPython = "*"
black = "*"

[packages]
Django = "~=4.1"
Pillow = "~=9.0"
psycopg2 = "~=2.9"
django-taggit = "~=3.0"
django-taggit-templatetags2 = "~=1.6"
django-crontab = "~=0.7"
python-slugify = "~=6.1"
django-debug-toolbar = "~=3.5"
requests = "~=2.22"
cryptography = "~=38.0"
mailchimp3 = "~=3.0"
pyyaml = "~=6.0"
urllib3 = ">=1.26.5"
Jinja2 = ">=2.10.1"
pysnmp = "~=4.4"
pysnmp-mibs = "~=0.1"
pyxero = "~=0.9"
PyJWT = "~=2.4"
django-jsignature = "==0.11"
WeasyPrint = "~=57.0"
html5lib = "==1.1"
suds-community = "~=1.0"
safety = "*"
asgiref = "*"
setuptools = "*"
