# Core requirements
Django==2.1.3
Pillow==5.3.0
psycopg2==2.7.5
django-localflavor==2.1
django-localflavor-us==1.1
django-taggit==0.23.0
django-taggit-templatetags2==1.6.1
django-crontab==0.7.1
python-slugify==1.2.6
pytz==2018.5
requests==2.19.1
setuptools==40.4.3

# Supporting libraries
mailchimp3==3.0.6
cryptography==2.3.1

# LDAP Syncing
#django-ldapdb==1.2.0
#python-ldap==3.1.0
#passlib==1.7.1

# For document signing & PDFs
html5lib==1.0.1
django-jsignature==0.8
weasyprint==0.42.3

# Libraries for Xero
pyxero==0.9.1
PyJWT==1.6.4

# Libraries for Arpwatch
pysnmp==4.4.4
pysnmp-mibs==0.1.6

# USAePay libraries
suds-jurko==0.6

# Stripe libraries
#stripe==2.6.0

# For the documentation:
sphinx==1.7.6
sphinx-rtd-theme==0.4.1
recommonmark==0.4.0
pycodestyle==2.4
Markdown==2.6.11
# Must use CommonMark 0.5.4 for ReadTheDocs!
CommonMark==0.5.4

# A few handy tools
safety==1.8.4
django-debug-toolbar==1.10.1
pip-review==1.0
