# Core requirements
Django==1.11.7
Pillow==4.3.0
psycopg2==2.7.3.2
django-localflavor==1.5.3
django-localflavor-us==1.1
django-taggit==0.22.1
django-taggit-templatetags2==1.6.1
django-crontab==0.7.1
python-slugify==1.2.4
pytz==2017.3
requests==2.18.4
gunicorn==19.7.1
setuptools==37.0.0

# Supporting libraries
mailchimp==2.0.9
docopt==0.6.2
cryptography==2.1.3
suds-jurko==0.6

# For document signing & PDFs
html5lib==1.0b10
django-jsignature==0.8
weasyprint==0.41

# Libraries for Xero
pyxero==0.9.0
PyJWT==1.5.3

# Libraries for Arpwatch
pysnmp==4.4.2
pysnmp-mibs==0.1.6

# For the documentation:
sphinx==1.6.5
sphinx-rtd-theme==0.2.4
recommonmark==0.4.0
pycodestyle==2.3.1
CommonMark==0.7.4
Markdown==2.6.9

# A few handy tools
safety==1.6.1
django-debug-toolbar==1.9.1
pip-review==1.0
