{% extends "member/base.html" %}

{% block sub-title %}Login | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}

	{% if ALLOW_ONLINE_REGISTRATION %}
	<div>
		<div class='col s12 m6 l6 offset-m3 offset-l3' id='login_box'>
			{% if form.errors %}
				<p class='error'>Your username and password didn't match. Please try again.</p>
			{% endif %}
			<div>
				<form id='login_form'  method="POST" action=".">
					<h2 class='font' id='login_header' align='center'>Login</h2>
					<table>
						<tr>
							<th>Email</th>
							<td>{{ form.username }}</td>
							<td></td>
						</tr>
						<tr>
							<th>Password:</th>
							<td>{{ form.password }}</td>
							<td></td>
						</tr>
					</table>
				<div class='row'>
					<button class="btn waves-effect waves-light" id='loginonly-btn' type="submit" value="Login" />Login</button>
					<input type="hidden" name="next" value="{{ next }}" />
					<a id='reg_link' href='.'>Register</a>
				</div>
				{% csrf_token %}
				<div id='login_reset'>
					<font size="-1"><i>If you've forgotten your password, you will need to <a href="{% url 'password_reset' %}">create a new password</a>.</i></font>
				</div>
			</form>
		</div>

		</div>
		<div class='col s6 offset-s3' id='reg_box'>
			<div style="margin-left:2em;">
			  <form id='registration_form' name='registration_form' action='../member/register/' method='POST'>
			    <h2>Register</h2>
			    <table>
						<tr>
							<th>First Name:</th>
							<td><input type='text' name='first_name' /></td>
						</tr>
						<tr>
							<th>Last Name:</th>
							<td><input type='text' name='last_name' /></td>
						</tr>
						<tr>
							<th>Email</th>
							<td><input type='text' name='email' /></td>
						</tr>
			    </table>
					<div class='row'>
						<button class="btn waves-effect waves-light" id='reg-btn' type="submit" value="Register" />Register</button>
						<a id='login_link' href='.'>Login</a>
						<input type="hidden" name="next" value="{{ next }}" />
					</div>

			    {% csrf_token %}
			  </form>
			</div>
		</div>
	</div>
	{% else %}
	<div class='col s12 m6 l6 offset-m3 offset-l3' id='login_box'>
		{% if form.errors %}
			<p class='error'>Your username and password didn't match. Please try again.</p>
		{% endif %}
		<div>
			<form id='login_form'  method="post" action=".">
				<h2 class='font' id='login_header'>Login</h2>
				<table>
					<tr>
						<th class='cap-label'>Email</th>
						<td>{{ form.username }}</td>
					</tr>
					<tr>
						<th class='cap-label'>Password</th>
						<td>{{ form.password }}</td>
					</tr>
				</table>
			<div class='row'>
				<button class="btn waves-effect waves-light" id='loginonly-btn' type="submit" value="Login" />Submit</button>
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
			{% csrf_token %}
			<div id='login_reset'>
				<font size="-1"><i>If you've forgotten your password, you will need to <a href="{% url 'password_reset' %}">create a new password</a>.</i></font>
			</div>
			</form>
		</div>
	</div>

	{% endif %}

{% endblock %}

{% block footer-class %}
	<footer class="sticky-footer" id="footer">
{% endblock %}

{% block extrajs %}
	<script>
		// $(document).ready(function() {
			$('#reg_box').hide();
			$('.button-collapse').sideNav();
			// $('#login_box').show();

			$('#reg_link').on('click', function(e) {
				e.preventDefault();

				$('#login_box').hide();
				$('#reg_box').show();
			});

			$('#login_link').on('click', function(e) {
				e.preventDefault();

				$('#reg_box').hide();
				$('#login_box').show();
			})

			$('.error').css('color', 'red');
			$('.error').css('font-style', 'italic');
			$('.error').css('text-align', 'center');
		// })
	</script>
{% endblock %}
