{% extends "member/base.html" %}
{% load i18n %}

{% block style %}
  #content { font-size: 1.1em; border: none; }
  #content h1 { font-size: 1.8em; margin: 0 0 1em 0; }
  #content input[type=text] { width: 300px;}
  #steps { font-size: 1.5em; margin-top: 2em; margin-bottom: 1em; font-weight:bold; }
  #step1, #step2 { color: lightgray; }
{% endblock %}

{% block content %}

<div id="steps">
	<span>{% blocktrans %}Password Reset{% endblocktrans %} - </span>
	<span id="step1">{% blocktrans %}Step 1...{% endblocktrans %}</span>
	<span id="step2">{% blocktrans %}Step 2...{% endblocktrans %}</span>
	<span id="step3">{% blocktrans %}Step 3...{% endblocktrans %}</span>
</div>

{% if validlink %}
{% blocktrans %}Please enter your new password:{% endblocktrans %}
<form action="" method="post">
  {% for field in form %}
  <p>
    {{ field.label_tag }}: {{ field }}
    {{ field.errors }}
  </p>
  {% endfor %}
  <p><input type="submit" value="Reset password" /></p>
  {% csrf_token %}
</form>
{% else %}
<p>{% blocktrans %}This link no longer works.  You either waited too long to reset your password or submitted the form more then once.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
