{% extends "member/base.html" %}

{% block style %}
  #content { font-size: 1.1em; border: none; }
  #content h1 { font-size: 1.8em; margin: 0 0 1em 0; }
  #content input[type=text] { width: 300px;}
  #steps { font-size: 1.5em; margin-top: 2em; margin-bottom: 1em; font-weight:bold; }
  #step1, #step2 { color: lightgray; }
{% endblock %}

{% block content %}

<div id="steps">
	<span>Password Reset - </span>
	<span id="step1">Step 1...</span>
	<span id="step2">Step 2...</span>
	<span id="step3">Step 3...</span>
</div>

{% if validlink %}
Please enter your new password:
<form action="" method="post">
  {% for field in form %}
  <p>
    {{ field.label_tag }}: {{ field }}
    {{ field.errors }}
  </p>
  {% endfor %}
  <p><input type="submit" value="Reset password" /></p>
  {% csrf_token %}
</form>
{% else %}
<p>This link no longer works.  You either waited too long to reset your password or submitted the form more then once.</p>
{% endif %}

{% endblock %}
