{% extends "member/base.html" %}
{% load i18n %}

{% block style %}
  #content { font-size: 1.1em; border: none; }
  #content h1 { font-size: 1.8em; margin: 0 0 1em 0; }
  #content input[type=text] { width: 300px;}
  #steps { font-size: 1.5em; margin-top: 2em; margin-bottom: 1em; font-weight:bold; }
  #step1, #step2, #step3 { color: lightgray; }
{% endblock %}

{% block content %}

<div id="steps">
	<span>{% blocktrans %}Password Reset{% endblocktrans %} - </span>
	<span id="step1">{% blocktrans %}Step 1...{% endblocktrans %}</span>
	<span id="step2">{% blocktrans %}Step 2...{% endblocktrans %}</span>
	<span id="step3">{% blocktrans %}Step 3...{% endblocktrans %}</span>
	<span>{% trans "Done!" %}</span>
</div>
{% url 'member:home' as home %}
{% blocktrans %}Your password has been set. Thank you! Now, head to the
<a href="{{ home }}">login page</a>. Thanks!{% endblocktrans %}

{% endblock %}
