{% comment %}
  Note:  The jquery on this page will not work if loaded outside the profile page.
{% endcomment %}

<h3 class='header-font'>Current Organizations</h3>
{% if current_org_memberships %}
<table class='current-orgs'>
  <thead>
    <tr>
      <th>Organization</th>
      <th align="center">Start Date</th>
      <th align="left">End Date</th>
    </tr>
  </thead>
  <tbody>
    {% for m in current_org_memberships %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td>
           <a href="{% url 'member:org:view' m.organization.id %}">{{ m.organization.name }}</a>
         </td>
         <td align="center">{{ m.start_date|date:"M d, Y" }}</td>
         <td align="left">{% if m.end_date %}{{ m.end_date|date:"M d, Y" }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    No Organizations
{% endif %}

{% if past_org_memberships %}
<h3 class='header-font'>Past Organizations</h3>
<table class='past-orgs'>
  <thead>
    <tr>
      <th>Organization</th>
      <th align="center">Start Date</th>
      <th align="left">End Date</th>
    </tr>
  </thead>
  <tbody>
    {% for n in past_org_memberships %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td>
           <a href="{% url 'member:org:view' n.organization.id %}">{{ n.organization.name }}</a>
         </td>
         <td align="center">{{ n.start_date|date:"M d, Y" }}</td>
         <td align="left">{% if n.end_date %}{{ n.end_date|date:"M d, Y" }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<div class="ui-widget">
  <h3 class='header-font'>Add Organization</h3>
  <form id='org-add-form' action="{% url 'member:org:add' %}" method="POST">
    {% csrf_token %}
    <input id="org_input" name="org" type='text' style='width:50%; margin-right:5%;' placeholder='Acme Corp'/>
    <input type='hidden' name='action' value='add' />
    <input type='hidden' name='username' value='{{ user.username }}' />
    <input class='btn' id="add_org" type='submit' value="Add" />
  </form>
</div>

<script>
(function() {
  $("#org_input").autocomplete({
    source: "{% url 'member:json:org_search' %}",
    minLength: 2,
    autoFocus: true,
    select: function(e, ui) {
      var org_id = ui.item.id;
      var url = "{% url 'member:org:member' 0 %}".replace(/0/, org_id.toString());
      $('#org-add-form').attr('action', url);
    }
  });
})();
</script>
