{% load email_tags %}
{% load static %}

<div class='row'>
  <h3 class='col s9 header-font' style='margin-bottom:0;margin-top:2%;'>Private Details</h3>
  <a class='col s1 tooltipped' data-position="bottom" data-tooltip="Edit Profile" href="{% url 'member:profile:edit' user.username %}" style='margin-top:3%;'><img id='edit' src="{% static 'img/edit.png' %}" alt='edit-icon'/></a>
</div>

<table>
    <tr>
        <td class='td-title'>Primary Email:</td>
        <td>{{ user.email }} {% email_verified user.email %}</td>
    </tr>
    {% for email in user.profile.non_primary_emails %}
      <tr>
          <td class='td-title'>Alternate Email:</td>
          <td>
              {{ email }} {% email_verified email %}
          </td>
      </tr>
    {% endfor %}

    <!-- Status -->
    <tr>
        <td class='td-title'>Membership Rate:</td>
        <td>{{ user.profile.membership_type }}{% if user.profile.is_active %} at ${{ user.membership.monthly_rate }}/month{% endif %}</td>
    </tr>

    <!-- Billing Date -->
    {% if user.profile.is_active %}
    <tr>
        <td class='td-title'>Billing Day:</td>
        <td>{{ user.membership.bill_day_str }} of the month</td>
    </tr>
    {% endif %}

    <!-- Address1 -->
    {% if user.profile.address1 %}
      <tr>
         <td class='td-title'>Address 1:</td>
         <td>{{ user.profile.address1 }}</td>
      </tr>
    {% endif %}
    <!-- Address2 -->
    {% if user.profile.address2 %}
      <tr>
         <td class='td-title'>Address 2:</td>
         <td>{{ user.profile.address2 }}</td>
      </tr>
    {% endif %}
    <!-- City -->
    {% if user.profile.city %}
      <tr>
         <td class='td-title'>City:</td>
         <td>{{ user.profile.city }}, {{ user.profile.state }} {{ user.profile.zipcode }}</td>
      </tr>
    {% endif %}

    <!-- Phone -->
    {% if user.profile.phone %}
      <tr>
         <td class='td-title'>Phone:</td>
         <td>{{ user.profile.phone }}</td>
      </tr>
    {% endif %}

    <!-- Phone2 -->
    {% if user.profile.phone2 %}
      <tr>
         <td class='td-title'>Alternate Phone:</td>
         <td>{{ user.profile.phone2 }}</td>
      </tr>
    {% endif %}

    <!-- How Heard -->
    {% if user.profile.howHeard %}
      <tr>
         <td class='td-title'>How Heard:</td>
         <td>{{ user.profile.howHeard }}</td>
      </tr>
    {% endif %}

    <!-- Gender -->
    {% if user.profile.gender %}
      <tr>
         <td class='td-title'>Gender:</td>
         <td>{{ user.profile.get_gender_display }}</td>
      </tr>
    {% endif %}
</table>

<h3 class='header-font'>
    Emergency Contact
    (<a target="_self" href="{% url 'member:profile:edit' user.username %}#emergency_contact">edit</a>)
</h3>
{% if not emergency_contact.name %}
    <p style="font-style: italic; color:red; padding-left: 2em;">No Emergency Contact Information</p>
{% else %}
    <table>
        <tr>
            <td class='td-title'>Name:</td>
            <td>{{ emergency_contact.name }}</td>
        </tr>
        <tr>
            <td class='td-title'>Relationship:</td>
            <td>{{ emergency_contact.relationship }}</td>
        </tr>
        <tr>
            <td class='td-title'>Phone:</td>
            <td>{{ emergency_contact.phone }}</td>
        </tr>
        <tr>
            <td class='td-title'>E-mail:</td>
            <td>{{ emergency_contact.email }}</td>
        </tr>
    </table>
{% endif %}


<script>
  $(document).ready(function() {
    $('.tooltipped').tooltip({delay: 50});
  });
</script>
