{% load i18n %}
<h3 class='header-font'>{% blocktrans %}Upcoming Events and Room Bookings{% endblocktrans %}</h3>
<table>
  <tr style='border-bottom: 1px solid RGBA(216, 216, 216, 1.00);'>
    <th class='sub-th'>{% trans "Event" %}</th>
    <th class='sub-th'>{% trans "Start" %}</th>
    <th class='sub-th'>{% trans "End" %}</th>
    <th class='sub-th'>{% trans "Room" %}</th>
    <th class='sub-th'>{% blocktrans %}Total Hours{% endblocktrans %}</th>
  </tr>
  {% for e in upcoming %}
    <tr class='{% cycle "row-even" "row-odd" %}'>
      <td>{% if e.name %}{{ e.name|title }}{% else %} <i>{% blocktrans %}Private Event{% endblocktrans %}</i> {% endif %}</td>
      <td>{{ e.start_ts }}</td>
      <td>{{ e.end_ts }}</td>
      <td>{{ e.room }}</td>
      <td>{{ e.total }} {% trans "hours" %}</td>
    </tr>
  {% endfor %}
</table>
<table class='booking-total'>
  <tr>
    <td>
      <strong>{% blocktrans %}Total Hours Used this Period:{% endblocktrans %}</strong> {{ total }} {% trans "hours" %}
    </td>
    <td>
      <strong>{% blocktrans %}Hours Remaining:{% endblocktrans %}</strong> <span class='remainder'></span> {% trans "hours" %}
    </td>
  </tr>
</table>
<a class='btn booking-redirect' href='{% url "member:event:create_booking" user.username %}'>{% blocktrans %}Make a New Room Booking{% endblocktrans %}</a>

<script>
  $(document).ready(function() {
    var remainder = '{{ hours_subscriptions }}' - '{{ total }}';
    $('.remainder').text(remainder.toFixed(1));
  })
</script>
