{% extends "member/base.html" %}

{% block sub-title %}Mail | {% endblock %}

{% block style %}{% endblock %}

{%block sub-head %}
  <script>
    $(function () {
      jQuery('#tabs').tabs();
    });

  function subscribe(mlID){
    $('#id_subscribe').val(true);
    $('#id_mailing_list_id').val(mlID);
    $('#mailing-list-subscription-form').submit();
  }

  function unsubscribe(mlID){
    $('#id_subscribe').val(false);
    $('#id_mailing_list_id').val(mlID);
    $('#mailing-list-subscription-form').submit();
  }
  </script>
{% endblock %}

{% block content %}
<h3 class='font centered'>Mailing lists</h3>

<div id="tabs">

<ul class='tabs'>
  {% for row in mailing_lists %}
    <li class='tab'><a href="#tabs-{{forloop.counter}}">{{ row.list.name }}</a></li>
  {% endfor%}
</ul>

{% for row in mailing_lists %}
<div id="tabs-{{forloop.counter}}" class="plan-section">
<ul>
  <li class='mail-content'>
    <h4 class='font'>
      {{ row.list.name }} - {{ row.list.address}}
        {% if row.is_subscriber %}
          (<a target="_self" href="." onclick="unsubscribe({{ row.list.id }}); return false;">unsubscribe</a>)
        {% else %}
            {% if user.profile.is_active or user.is_staff %}
                ( <a target="_self" href="." onclick="subscribe({{ row.list.id }}); return false;">subscribe</a> )
            {% endif %}
        {% endif %}
    </h4>

    <h5 class='header-font'>Recent Messages</h5>
    <div class="list_mail" id="recents-{{ row.list.id }}">
      <table class="msg_table">
        <tr>
          <th>Sent</th>
          <th>Member</th>
          <th>Subject</th>
        </tr>
        {% for msg in row.recents %}
        <tr>
          <td nowrap>{{ msg.received }}</td>
          {% if msg.get_user %}
            <td nowrap><a target="_self" href="{% url 'member:profile:view' msg.user.username %}">{{ msg.user.get_full_name }}</a></td>
          {% else %}
            <td nowrap>{{ msg.recipient }}</td>
          {% endif %}
          <td><a target="_self" href="{% url 'member:connect:view_mail' msg.id %}">{{ msg.clean_subject }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </li>
</ul>
</div>
{% endfor %}
</div>

{% if not mailing_lists %}
<h4 class='header-font'>There are no mailing lists configured for this site.</h4>
{% endif %}

<form action="." method='post' id="mailing-list-subscription-form">{{ mailing_list_subscription_form }}{% csrf_token %}</form>
{% endblock %}
