{% extends "member/base.html" %}

{% block sub-title %}Mail | {% endblock %}

{% block style %}
	@media only screen and (max-width: 750px) {
		footer.main-footer {
			background: RGBA(61, 61, 61, .9);
			clear: both;
			width: 100%;
			right: 0;
			bottom: 0;
			left: 0;
			position: inherit;
		}
	}
{% endblock %}

{%block sub-head %}
{% endblock %}

{% block content %}

<h2>{{ message.clean_subject}}</h2>
<!--<p id="label"><strong>Mailing Lists:</strong> <i>{{ message.mailing_list}}</i></p>-->
<p id="label"><strong>Sent:</strong> <i>{{ message.received}}</i></p>
<p id="label"><strong>From:</strong> <i>
	{% if message.get_user %}
		<td nowrap><a href="{% url 'member:profile:view' message.user.username %}">{{ message.user.get_full_name }}</a></td>
	{% else %}
		<td nowrap>{{ message.recipient }}</td>
	{% endif %}
</i></p>
<pre><code style="font-family:'Roboto', sans-serif">
  {% autoescape off %}
    {{ message.get_body }}
  {% endautoescape %}
</pre></code>

{% endblock %}
