{% extends "member/base.html" %}

{% block content %}
	<h3 class='header-font' style='text-align:center;'>Slack Team</h3>
		<p>
			We have a slack team set up for all members.  You can request an invitation here and then
			you will be sent an email giving you 	instructions on how to finish the registration process.  You can use slack
			either through the website below or using the various <a href="https://slack.com/apps">desktop and mobile apps</a>.
			But first you need to request an invite and join the team.  We still have the old school
			<a href="{% url 'member:connect:chat' %}">irc chat</a> if you prefer that form of communication.
		</p>
		<div style="text-align: center">
			<form action="." method="POST">
				<input class='btn' type="submit" value="Request Invite"/>
				{% csrf_token %}
			</form>
			<h4>Team Location: <a href="{{ team_url }}">{{ team_url }}</a></h4>
		</div>
{% endblock %}

{% block extrajs %}
<script>
	$(document).ready(function() {
		$('.button-collapse').sideNav();

		$(function () {
	    {% for message in messages %}
	      {% if message.tags == 'error' %}
	        Materialize.toast('{{ message }}', 60000, 'error-msg msg');
	      {% else %}
	        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
	      {% endif %}
	    {% endfor %}

	    $(document).on('click', '#toast-container .toast', function() {
	      $(this).fadeOut(function(){
	        $(this).remove();
	      });
	    });
	  });
	});
</script>
{% endblock %}
