{% extends "members/u_base.html" %}
{% load list_tags %}

{% block sub-title %}Receipt | {{ user.get_full_name }} | {% endblock %}

{% block content %}
<h2>Office Nomads - Payment Receipt</h2>
<div align="right">{{ transaction.transaction_date|date:"M d, Y" }}</div>

<table id="receipt">
	<tr>
		<td align="left"><h3>Receipt {{ transaction.id }}</h3></td>
	</tr>
</table>


<table id="user_detail"><tr><td>
	{{ transaction.user.get_full_name }}<br>
	{% if transaction.user.email %}{{ transaction.user.email }}<br>{% endif %}
	{% if transaction.user.profile.phone %}{{ transaction.user.profile.phone }}<br>{% endif %}
	{% if transaction.user.profile.phone2 %}{{ transaction.user.profile.phone2 }}<br>{% endif %}
</td></tr></table>

<p>&nbsp;</p>

<table id="bills">
  <thead>
	<tr>
		<th>Date</th>
		<th>Amount</th>
		<th>Plan</th>
		<th align="left">Details</th>
	</tr>
  </thead>
  <tbody>
 	{% for bill in bills %}
 		<tr class="{% cycle 'row-even' 'row-odd' %}">
 			<td nowrap>{{ bill.bill_date|date:"M d, Y" }}</td>
 			<td>${{ bill.amount }}</td>
 			<td>{% if bill.membership %}{{ bill.membership.membership_plan }}{% endif %}</td>
 			<td>
 				{% if bill.paid_by %}
 				<b>For {{ bill.user.get_full_name }}</b>
 				{% endif %}
 				{% if bill.new_member_deposit %}
 				<b class="bill-info">Deposit: ${{ bill.new_member_deposit }}</b>
 				{% endif %}
 				{% if bill.dropins.all %}
 				<b class="bill-info">Drop-ins:
 					{% for dropin in bill.dropins.all %}
 						{{ dropin.visit_date|date:"m/d" }}{% loop_comma %}
 					{% endfor %}
 				</b>
 				{% endif %}
 				{% if bill.guest_dropins.all %}
 				<b class="bill-info">Guest Drop-ins:
 					{% for dropin in bill.guest_dropins.all %}
 						{{dropin.user.get_full_name}} on {{ dropin.visit_date|date:"m/d" }}{% loop_comma %}
 					{% endfor %}
 				</b>
 				{% endif %}
 			</td>
 		</tr>
 	{% endfor %}
  </tbody>
</table>

<p>&nbsp;</p>

<div id="paid" align="right">
<strong>Total Paid:</strong> {{ transaction.amount }}
</div>

{% endblock %}
