{% extends 'member/base.html' %}

{% block sub-title %}Confirm Booking | {% endblock %}

{% block style %}

  @media only screen and (max-width: 1100px) {
    .row .col.offset-s1.s10 {
  		margin-left: 0;
  	}

		.row .col.s10 {
			width: 100%;
		}
	}
{% endblock %}

{% block content %}
  <div id='booking_form'>
    <form enctype="multipart/form-data" action='#' method='POST'>
      <h4 class='header-font' style='text-align:center; color:black;'>Confirm Booking</h4>
      <p style='text-align:center;'>
        Reminder: Make sure you include your setup and breakdown time in your reservation time.
      </p>
      <table>
        <tr>
          <td><strong>Booking For:</strong></td>
          <td><input name='user' value='{{ user.first_name }} {{ user.last_name }}' readonly /></td>
        </tr>
        <tr>
          <td id='room'><strong>Room:</strong></td>
          <td><input name='room' value='{{ room }}' readonly  /></td>
          <td>{{ booking_form.room.errors }}</td>
        </tr>
        <tr>
          <td><strong>Date:</strong></td>
          <td>
            <input type="date" name="date" value='{{ date }}' readonly />
          </td>
        </tr>
        {% if rate != 'None' %}
        <tr>
          <td><strong>Cost:</strong></td>
          <td>
            <input id='rate' name="rate"  readonly />
          </td>
        </tr>
        {% endif %}
      </table>
      <table class='booking-bar'>
        <thead>
          {% for block, times in event_dict.items %}
            {% if room == block %}
              {% for time in times %}
                {% if forloop.counter0|divisibleby:loop_count %}
                  <th class="rotate"><div><span>
                    {{ time.hour }}:{{ time.minutes }}
                  </div></span></th>
                {% else %}
                  <th></th>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </thead>
        <tbody>
          <tr>
            {% for block, times in event_dict.items %}
              {% if room == block %}
                {% for time in times %}
                  {% if forloop.last %}
                  {% else %}
                    {% if time.reserved %}
                      <td class="cal-box reserved" id="hour-{{time.mil_hour}}{{time.minutes}}">
                      </td>
                    {% elif time.searched %}
                      <td class="cal-box searched" id="hour-{{time.mil_hour}}{{time.minutes}}">
                      </td>
                    {% else %}
                      <td class="cal-box available" id="hour-{{time.mil_hour}}{{time.minutes}}">
                      </td>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <table id='cal-error'>
      </table>
      <table>
        <tr>
          <td class='time-btns'><button id='start-forw' class='waves-effect'><</button><input style="width:50%;margin:2%;" type='time' step=900 name='start' id='start-time' value='{{ start }}' readonly/> <button id='start-back' class='waves-effect'>></button>
          </td>
          <td class='time-btns'><strong>TO </strong><button id='end-forw' class='waves-effect'><</button><input style="width:50%;margin:2%;" type='time' step=900 name='end' id='end-time' value='{{ end }}' readonly /><button id='end-back' class='waves-effect'>></button></td>
        </tr>
        <tr>
          <td><strong>Description:</strong></td>
          <td><input type='text' name='description' id='confirm_desc' placeholder='O.N. Team Meeting'/></td>
          <td>{{ booking_form.description.errors }}</td>
        </tr>
        <tr>
          <td><strong>Is this a public event?</strong></td>
          <td><select class='browser-default input-field col s4' name='is_public' id='publicly_view'>
            <option value="" disabled selected></option>
            <option value="False" selected="true">No</option>
            <option value="True">Yes</option>
          </select></td>
          <td>{{ booking_form.publicly_viewable.errors }}</td>
        </tr>
      </table>
      <button type='submit' class='btn waves-effect' id='confirm-btn'>Confirm</button>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
  		$('.button-collapse').sideNav();
      $('div .error').hide();

      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 3,
        format: 'yyyy-mm-dd'
      });

      getRate($('#start-time').val(), $('#end-time').val(), '{{ date }}')

      //Helper functions for toggling calendar bar
      function toggleStatus(id) {
        if ($('#hour-' + id).hasClass('available')) {
          $('#hour-' + id).removeClass('available').addClass('searched');
        } else if ($('#hour-' + id).hasClass('searched')) {
          $('#hour-' + id).removeClass('searched').addClass('available');
        }
      }

      function extendStart(start, time, available) {
        for(var l = 0; l < available.length; l++) {
          var avId = available[l].id;
          var id = parseInt(avId.split('-')[1]);

          if (time <= id && id <= start) {
            toggleStatus(id);
          }
        }
      }

      function extendEnd(end, time, available) {
        for (var k = 0; k < available.length; k++) {
          var avId = available[k].id;
          var id = parseInt(avId.split('-')[1]);

          if(end <= id && id <= time) {
            toggleStatus(id);
          }
        }
      }

      function timeCoersionUp(hour, minutes) {
        var data = [];

        if (minutes == '00') {
          minutes = '15';
          var visMin = '30';
          var visHour = hour;
        } else if (minutes == '15') {
          minutes = '30';
          var visMin = '45';
          var visHour = hour;
        } else if (minutes == '30') {
          minutes = '45';
          var visMin = '00';
          var visHour = parseInt(hour) + 1;
        } else {
          minutes = '00';
          var visHour = parseInt(hour) + 1;
          hour ++;
          var visMin = '15';
        }
        var newId = hour + minutes;
        data.push(newId)

        if (hour <= 9) {
          var visTime = '0' + visHour + ':' + visMin;
          data.push(visTime)
        } else {
          var visTime = visHour + ':' + visMin;
          data.push(visTime)
        }
        return data;
      }

      function timeStringLength(time) {
        if (time.length > 3) {
          newTime = time[0] + time[1] + ':' + time[2] + time[3]
        } else {
          newTime = '0' + time[0]  + ':' + time[1] + time[2]
        }
        return newTime;
      }

      function getMinAndHour(time) {
        var times = []
        if (time.length > 3) {
          var minutes = time[2] + time[3];
          var hour = time[0] + time[1];
          times.push(minutes);
          times.push(hour);
        } else {
          var hour = time[0]
          var minutes = time[1] + time[2];
          times.push(minutes);
          times.push(hour);
        }
        return times;
      }


      function changeEnd(end, time, searched) {
        for(var i = 0; i < searched.length; i++) {
          var searchId = searched[i].id;
          var id = parseInt(searchId.split('-')[1]);

          if (time <= id && id <= end) {
            toggleStatus(id);
          }
        }
      }

      function getRate(start, end, date){
        var dateSplit = date.split('-');
        var startTimestamp = new Date(date[0], (date[1] - 1), date[2], start.split(':')[0], start.split(':')[1]);
        var endTimestamp = new Date(date[0], (date[1] - 1), date[2], end.split(':')[0], end.split(':')[1]);

        var totalTime = (endTimestamp - startTimestamp) / 36e5;
        $('#rate').val('$' + totalTime * parseInt('{{ rate }}'));
        console.log();
      }

      //click on box to change the reservation
      $('.cal-box').on('click', function() {
        var startTime = $('#start-time').val();
        var start = parseInt(startTime.replace(':', ''));
        var endTime = $('#end-time').val();
        var end = parseInt(endTime.replace(':', ''));
        var available = $('.available');
        var allBoxes = $('.cal-box');
        var searched = $('.searched');
        var time = parseInt(this.id.split('-')[1]);
        var clicked = $(this);

        if(clicked.hasClass('available')) {
          if(time < start) {
            //if user clicks before entered start time
            var invalid = 0;
            var times = [];

            for (var j = 0; j < allBoxes.length; j++) {
              var boxHour = allBoxes[j].id;
              var bId = parseInt(boxHour.split('-')[1]);

              if(time <= bId && bId <= start) {
                times.push(bId);
              }
            }

            times.forEach( function(time) {
              if ($('#hour-' + time).hasClass('reserved')) {
                invalid ++;
              }
            });

            if ( invalid == 0) {
              $('#cal-error').html('');

              extendStart(start, time, available);
              start = time.toString();
              var startTime = timeStringLength(start);

              $('#start-time').val(startTime);
            } else {
              //if time conflicts with a reservation, reset time
              for(var n=0; n < allBoxes.length; n++) {
                if($('#' + allBoxes[n].id).hasClass('searched')) {
                  $('#' + allBoxes[n].id).removeClass('searched').addClass('available');
                }
              }
              start = time.toString();

              var minutes = getMinAndHour(start)[0];
              var hour = getMinAndHour(start)[1];
              var ends = timeCoersionUp(hour, minutes);
              var startTime = timeStringLength(start);

              toggleStatus(time);
              toggleStatus(ends[0]);
              $('#start-time').val(startTime);
              $('#end-time').val(ends[1]);

              invalid = 0;
            }
          } else if (end < time) {
            //if user clicks after the endtime entered
            var invalid = 0;
            var times = [];

            for (var j = 0; j < allBoxes.length; j++) {
              var boxHour = allBoxes[j].id;
              var bId = parseInt(boxHour.split('-')[1]);

              if(end <= bId && bId < time) {
                times.push(bId);
              }
            }

            times.forEach( function(time) {
              if ($('#hour-' + time).hasClass('reserved')) {
                invalid ++;
              }
            });

            if (invalid === 0) {
              //if time does not conflict with a reservation
              $('#cal-error').html('');

              extendEnd(end, time, available);

              end = time.toString();

              var minutes = getMinAndHour(end)[0];
              var hour = getMinAndHour(end)[1];
              var ends = timeCoersionUp(hour, minutes)[0];
              var endTime = timeStringLength(ends);

            $('#end-time').val(endTime);
          } else {
            //if time conflicts with a reservation, reset time
            for(var n=0; n < allBoxes.length; n++) {
              if($('#' + allBoxes[n].id).hasClass('searched')) {
                $('#' + allBoxes[n].id).removeClass('searched').addClass('available');
              }
            }
            end = time.toString();

            var minutes = getMinAndHour(end)[0];
            var hour = getMinAndHour(end)[1];
            var startTime = timeStringLength(end);
            var endTimes = timeCoersionUp(hour, minutes);

            toggleStatus(time);
            toggleStatus(endTimes[0]);
            $('#start-time').val(startTime);
            $('#end-time').val(endTimes[1]);

            invalid = 0;
            }
          }
        } else if (clicked.hasClass('searched')) {
          //reset end time if user clicks within search block
          $('#cal-error').html('');

          changeEnd(end, time, searched, invalid);

          end = time.toString();
          var endTime = timeStringLength(end);

          $('#end-time').val(endTime);
        } else if (clicked.hasClass('reserved')) {
          $('#cal-error').html('<tr><td>Your requested booking overlaps with another reservation.</td></tr>');
        }
      });

      $('#start-back').on('click', function(e) {
        e.preventDefault();
        $('#cal-error').html('');

        var startTime = $('#start-time').val();
        var start = startTime.replace(':', '');
        var minutes = getMinAndHour(start)[0];
        var hour = getMinAndHour(start)[1];
        var id = timeCoersionUp(hour, minutes)[0];
        var end = timeStringLength(id);
        start = parseFloat(start);
        getRate(end, $('#end_time').val(), '{{ date }}')

        if ($('#hour-' + id).hasClass('available')) {
          $('#cal-error').html('<tr><td>You made your reservation too short.</td></tr>');
        } else {
          $('#hour-' + start).addClass('available').removeClass('searched');
          $('#start-time').val(end)
        }
      });

      $('#start-forw').on('click', function(e) {
        e.preventDefault();
        $('#cal-error').html('');

        var startTime = $('#start-time').val();
        var start = startTime.replace(':', '');
        var minutes = getMinAndHour(start)[0];
        var hour = getMinAndHour(start)[1];

        if (minutes == '00') {
          minutes = '45';
          hour --;
          if (hour < 10) {
            hour = '0' + hour;
          }
        } else if (minutes == '15') {
          minutes = '00';
        } else if (minutes == '30') {
          minutes = '15';
        } else {
          minutes = '30';
        }
        var newStart = hour + ':' + minutes;
        var id = parseFloat(hour + minutes);
        getRate(newStart, $('#end_time').val(), '{{ date }}')

        if ($('#hour-' + id).hasClass('reserved')) {
          $('#cal-error').html('<tr><td>Your requested booking overlaps with another reservation.</td></tr>');
        } else {
          $('#hour-' + id).addClass('searched').removeClass('available');
          $('#start-time').val(newStart);
        }
      })

      $('#end-back').on('click', function(e) {
        e.preventDefault();
        $('#cal-error').html('');

        var endTime = $('#end-time').val();
        var end = endTime.replace(':', '');
        var minutes = getMinAndHour(end)[0];
        var hour = getMinAndHour(end)[1];

        if (minutes == '00') {
          minutes = '15';
        } else if (minutes == '15') {
          minutes = '30';
        } else if (minutes == '30') {
          minutes = '45';
        } else {
          minutes = '00';
          hour ++;
          if (hour < 10) {
            hour = '0' + hour;
          }
        }
        var newEnd = hour + ':' + minutes;
        var id = parseFloat(hour + minutes);
        getRate($('#start-time').val(), newEnd, '{{ date }}')

        if ($('#hour-' + end).hasClass('reserved')) {
          $('#cal-error').html('<tr><td>Your requested booking overlaps with another reservation.</td></tr>');
        } else {
          toggleStatus(id);
          $('#end-time').val(newEnd);
        }
      });

      $('#end-forw').on('click', function(e) {
        e.preventDefault();
        $('#cal-error').html('');

        var endTime = $('#end-time').val();
        var end = endTime.replace(':', '');
        var minutes = getMinAndHour(end)[0];
        var hour = getMinAndHour(end)[1];

        if (minutes == '00') {
          minutes = '45';
          hour --;
          if (hour < 10) {
            hour = '0' + hour;
          }
        } else if (minutes == '15') {
          minutes = '00';
        } else if (minutes == '30') {
          minutes = '15';
        } else {
          minutes = '30';
        }

        var newEnd = hour + ':' + minutes;
        var id = hour + minutes;
        getRate($('#start-time').val(), newEnd, '{{ date }}')

        if ($('#hour-' + id).hasClass('available')) {
          $('#cal-error').html('<tr><td>You made your reservation too short.</td></tr>');
        } else {
          toggleStatus(end);
          $('#end-time').val(newEnd);
        }
      })

      {% for message in messages %}
        {% if message.tags == 'error' %}
          Materialize.toast('{{ message }}', 5000, 'error-msg msg');
        {% else %}
          Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
        {% endif %}
      {% endfor %}

      $(document).on('click', '#toast-container .toast', function() {
        $(this).fadeOut(function(){
          $(this).remove();
        });
      });
    });
  </script>
{% endblock %}
