{% extends "member/base.html" %}

{% block content %}
  <div class='row'>
    <div class='col s12 m10 l10 offset-m1 offset-l1' id='calendar'></div>
  </div>

  <div id='infoModal' class='modal'>
    <div class='modal-content'>
      <div class='modal-body'>
        <h4 id='event-title'></h4>
        <div class='container'>
          <div class='row'>
            <table class='col s8' id='event-info'>
              <tr>
                <td>
                  <strong>Start Time: </strong>
                </td>
                <td>
                  <span id='event-start'></span>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>End Time: </strong>
                </td>
                <td>
                  <span id='event-end'></span>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Room: </strong>
                </td>
                <td>
                  <span id='event-room'></span>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Hosted By: </strong>
                </td>
                <td>
                  <span id='event-host'></span>
                </td>
              </tr>
            </table>
            <div class='col s4' id='host'>
              <img id='host-img' />
            </div>
          </div>
        </div>
        <div class='row'>
        <button class='btn waves-effect modal-btn'>Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id='event-modal' class='modal'>
    <div class='eModal-content'>
      <div class='eModal-body'>
        <h4 id='add-event-header'>Add Event to Public Calendar</h4>
        <p style='text-align:center;'>- These events will be viewable by all - </p>
        <br />
        <form action='#' method='POST'>
          <table>
            <tr>
              <td>
                <strong>Date:</strong>
              </td>
              <td>
                <input type="date" name="date" class="datepicker col s6 offset-s2" id='create-date' >
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <strong>Start Time:</strong>
              </td>
              <td>
                <input class='timepicker col s9'  name='start' id='event-start'style='margin-right: 5%;'/>
              </td>
              <td id='end-td'>
                <strong>End Time:</strong>
              </td>
              <td>
                <input class='timepicker col s9' name='end' id='event-end'/>
              </td>
            </tr>
          </table>
          <table>
            <tr class='row'>
              <td>
                <strong>Description of Event:</strong>
              </td>
              <td>
                <input type='text' name='description' id='event-desc' style='padding-left:5%;' placeholder='Meditation'/></p>
              </td>
            </tr>
          </table>
          <div class='row' id='event-btn-row'>
            <button class='btn wave-effect' id='event-btn'>Create Event</button>
            <a class='modal-btn' id='cancel-event'>Cancel</a>
          </div>
          <div class='row'>
            <p style='text-align:center;' id='goto-booking'>Need a room for your event? <a href="{% url 'member:event:create_booking' user.username %}">Click here.</a></p>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>

  {% if feed_url %}
  <div>
    <a class='chip' href="{{ feed_url }}">Calendar Feed</a>
  </div>
  {% endif %}
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
			$('.button-collapse').sideNav();

      $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 30,
        defaultTime: '8:00',
        startTime: '7:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
      });

      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 1,
        format: 'yyyy-mm-dd'
      });

      var today = $('#calendar').fullCalendar('getDate');
      var publicEvents = [];

      {% for item, host in data %}
        var event = {
          title: "{{ item.description }}",
          start: moment.unix("{{ item.start_ts|date:'U' }}"),
          end: moment.unix("{{ item.end_ts|date:'U' }}"),
          room: "{{ item.room }}",
          host: "{{ host.first_name }}" + " " + "{{ host.last_name }}",
          img: "{{ host.profile.photo }}",
        }

        {% for category, color in CALENDAR_DICT.items %}
          if (event.room == '{{category}}') {
            event.color = '{{color}}';
          }
        {% endfor %}

        publicEvents.push(event);

      {% endfor %}

      var $fc = $("#calendar").fullCalendar(options);

      var options = {
        header: {
          left:'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultView: 'agendaDay',
        defaultDate: moment(),
        navLinks: true,
  			editable: true,
  			eventLimit: true,
        events: publicEvents,
        eventClick: function(calEvent, jsEvent, view) {
          var date = moment(calEvent.start).format("MM/DD/YYYY");
          var startTime = moment(calEvent.start).format("HH:mm");
          var endTime = moment(calEvent.end).format("HH:mm");

          if (calEvent.img) {
            $('#host').show();
            $('#host-img').attr('src', '../../../media/' + calEvent.img);
          } else {
            $('#host').hide();
          }

          $('#infoModal').css('display', 'block');
          $('#event-title').text(calEvent.title);
          $('#event-start').text(startTime);
          $('#event-end').text(endTime);
          $('#event-room').text(calEvent.room);
          $('#event-host').text(calEvent.host);
        },
        dayClick: function(date) {
          var date = date.format();
          $('#create-date').val(date);
          $('#event-modal').css('display', 'block');
        }
      }

      function recreateFC(screenWidth) {
        if (screenWidth < 700) {
          options.header = {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
          };
          options.defaultView = 'listWeek';
        } else {
          options.header = {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
          };
          options.defaultView = 'month';
        }
        $fc.fullCalendar('destroy');
        $fc.fullCalendar(options);
      }

      $(window).resize(function () {
        recreateFC($(window).width());
      });

      recreateFC($(window).width());

      $('.modal-btn').on('click', function() {
        $('#infoModal').css('display', 'none');
        $('#event-modal').css('display', 'none');
      })

      $(function () {
        {% for message in messages %}
          {% if message.tags == 'error' %}
            Materialize.toast('{{ message }}', 60000, 'error-msg msg');
          {% else %}
            Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
          {% endif %}
        {% endfor %}

        $(document).on('click', '#toast-container .toast', function() {
          $(this).fadeOut(function(){
            $(this).remove();
          });
        });
      });
    });
  </script>
{% endblock %}
