{% extends "member/base.html" %}
{% load static %}
{% load i18n %}

{% block sub-title %}{% trans "Member Videos" %} | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h2>Member Videos</h2>
<hr/>

<div style="text-align: center;">

  <h3>Lunch & Learn - Tug Life with Amanda Lillet</h3>
  <video width='640' controls>
    <source src="/videos/TugboatLife.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

  <h3>Lunch & Learn - George Divoky</h3>
  <video width='640' controls>
    <source src="/videos/GeorgeDivoky.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

  <h3>Lunch & Learn - State of the Nomads</h3>
  <video width='640' controls>
    <source src="/videos/StateOfTheNomads.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

  <h3>Lunch & Learn - Cyber Security</h3>
  <video width='640' controls>
    <source src="/videos/Cybersecurity.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

  <h3>Lunch & Learn - Backpacking</h3>
  <video width='640' controls>
    <source src="/videos/Backpacking.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

  <h3>Lunch & Learn - You Need a Budget</h3>
  <video width='640' controls>
    <source src="/videos/YNAB.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>

  <h3>Lunch & Learn - 3D Printing with Trevor</h3>
  <video width='640' controls>
    <source src="/videos/3D_Printing.mp4" type="video/mp4"></source>
    Your browser does not support the video tag.
  </video>
</div>

{% endblock %}
