{% extends "keymaster/base.html" %}

{% block sub-title %} Doors | {% endblock %}

{% block content %}

<h4>Add a Key</h4>

{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		{% endfor %}
	</div>
{% endif %}

{% if door_code %}
	<div>
		<h5>
			Are you sure you want to create a key for
			<strong>{{ door_code.user.get_full_name }}</strong>
			with code '<em>{{ door_code.code }}</em>'?
		</h5>
		<form class='key-form' method="POST" action=".">
			<input type="hidden" name="username" value="{{ door_code.user.username }}" />
			<input type="hidden" name="code" value="{{ door_code.code }}" />
			<input type="hidden" name="add_door_code" value="True"/>
			<input type="submit" value="Yes" />
			<input type="button" value="No" onclick="location.href='{% url 'doors:home' %}'"/>
			{% csrf_token %}
		</form>
	</div>
{% else %}
	<div>
		<form class='key-form' method="POST" action=".">
			<strong>Username:</strong>
			<input id="username" name="username" size="16" value="{{ username }}"/>
			<strong>Key Code:</strong>
			<td><input id='key-code' name="code" size="16" value="{{ code }}"/></td>
			<input type="submit" value="Add Key" />
			{% csrf_token %}
		</form>
	</div>
{% endif %}

{% endblock %}

{% block extrajs %}
	<script>
	(function(){
		$('.button-collapse').sideNav();
		$('.collapsible').collapsible();

		var availableUsers = [
			{% for u in active_members %}
				 "{{ u.username }}",
			{% endfor %}
		];

		$("#username").autocomplete({
			source: availableUsers
		});
	})();
	</script>
{% endblock %}
