{% extends "staff/staff_base.html" %}

{% block sub-title %} HID Doors | {% endblock %}

{% block content %} 
{% include "keymaster/doors_menu.frag" %}

<h3>HID Doors</h3>

{% for keymaster in keymasters %}
<div>
	<h4>{{ keymaster.description }}</h4>
	{{ keymaster.gatekeeper_ip }}
	<div><em>Last access:</em> {{ keymaster.access_ts }}</div>
	<div><em>Last sync:</em> {{ keymaster.sync_ts }} 
		{% if keymaster.sync_ts < twoMinutesAgo %}
		<span class="ui-state-error">INACTIVE</span>
		{% endif %}
	</div>
</div>
{% endfor %}

{% endblock %}