{% extends "staff/staff_base.html" %}

{% block sub-title %} Doors | {% endblock %}

{% block style %}
nav #doors-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %} 
{% include "keymaster/doors_menu.frag" %}

{% if not keymasters %}
	<h3>No Keymasters!</h3>
{% endif %}

{% for keymaster in keymasters %}
	<h3>{{ keymaster.description }}</h3>
	<table>
		<tr>
			<th>Time</th>
			<th>Door</th>
			<th>Description</th>
			<th>User</th>
			<th>Code</th>
			<th></th>
		</tr>
		{% for event in events %}
			<tr>
				<td nowrap>{{ event.timestamp }}</td>
				<td>{{ event.door }}</td>
				<td>{{ event.event_description }}</td>
				<td>
					{% if event.user %}
						<a href="{% url 'doors.keymaster.views.user_keys' event.user.username %}">{{ event.user }}</a>
					{% endif %}
				</td>
				<td>
					{% if event.code %}
						{{ event.code }}
					{% endif %}
				</td>
				<td></td>
			</tr>
		{% endfor %}
	</table>

	<p></p>

	<h4>Gatekeeper Health</h4>
	<table>
		<tr>
			<th></th>
			<th>Last Access</th>
			<th>Success</th>
			<th>Full Sync</th>
			<th></th>
		</tr>
		<tr>
			<td>
				{% if keymaster.access_ts < twoMinutesAgo %}
					<span class="ui-state-error">INACTIVE</span>
				{% endif %}
			</td>
			<td>{{ keymaster.access_ts }}</td>
			<td>{{ keymaster.success_ts }}</td>
			<td>{{ keymaster.sync_ts }}</td>
			<td></td>
		</tr>
	</table>
{% endfor %}

{% endblock %}