{% extends "keymaster/base.html" %}

{% block content %}

<h4>Keys for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h4>

{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		{% endfor %}
	</div>
{% endif %}

<table class='responsive-table'>
	<tr>
		<th>Last Modified</th>
		<th>Created by</th>
		<th>Code</th>
		<th></th>
	</tr>
	{% for key in keys %}
		<tr>
			<td nowrap>{{ key.modified_ts }}</td>
			<td>{{ key.created_by }}</td>
			<td class='centered'>{{ key.code }}</td>
			<td>
				<form action="." method="POST" onSubmit="return confirm('Are you sure?');">
					<input type="hidden" name="code_id" value="{{ key.id }}">
					<input name="action" type="submit" value="Delete"/>
					{% csrf_token %}
				</form>
			</td>
		</tr>
	{% endfor %}
</table>

<h5>Assign a New Key</h5>
<div>
	{% if potential_key %}
		Unrecognized key <em>'{{ potential_key.code }}'</em>
		read at <strong>{{ potential_key.door.name }}</strong>
		at {{ potential_key.timestamp|date:"h:i a" }}
		<form class='potential-key-form' method="POST" action="{% url 'doors:add_key' %}">
			<input type="hidden" name="username" value="{{ user.username }}"/></td>
			<input type="hidden" name="code" value="{{ potential_key.code }}"/>
			<input id='key-btn' type="submit" value="Assign" />
		{% csrf_token %}
		</form>
	{% endif %}

	<div>
		<form class='key-form' method="POST" action="{% url 'doors:add_key' %}">
			<input type="hidden" name="username" value="{{ user.username }}"/></td>
			<strong>Manually Assign Key:</strong>
			<input id='key-code' name="code" size="16" value="{{ code }}"/>
			<input id='key-btn' type="submit" value="Assign" />
		{% csrf_token %}
		</form>
	<div>
</div>

{% if logs %}
	<h5>
		Access Logs ({{ logs|length }})
		[ <a href="{% url 'doors:logs' %}?username={{user.username}}">view all</a> ]
	</h5>
	<table class='responsive-table'>
		<tr>
			<th>Timestamp</th>
			<th>Door</th>
			<!-- <th>Event</th> -->
			<th>Description</th>
			<th></th>
		</tr>
		{% for log in logs %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td nowrap>{{ log.timestamp }}</td>
				<td>{{ log.door }}</td>
				<!-- <td>{{ log.event_type }}</td> -->
				<td>{{ log.event_description }}</td>
				<td></td>
			</tr>
		{% endfor %}
	</table>
{% endif %}


{% endblock %}
