{% extends "keymaster/base.html" %}

{% block content %}

<h4>Users with Keys</h4>

{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		{% endfor %}
	</div>
{% endif %}

<table>
	<tr>
		<th>User</th>
		<!--<th>Code</th>-->
		<th>Key Created</th>
		<th>Last Used</th>
		<th></th>
	</tr>
	{% for key in codes %}
		<tr>
			<td>
				<a href="{% url 'doors:keys' key.user.username %}">{{ key.user }}</a>
			</td>
			<!--<td>{{ key.code }}</td>-->
			<td>
				{{ key.modified_ts|date:"m-d-Y h:i a" }}
				<!--({{ key.created_by }})-->
			</td>
			<td>{{ key.get_last_event.timestamp|date:"m-d-Y h:i a" }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
