/*This style sheet includes the styling for all pages of the Nadine Member app*/

/*
ORDER OF SECTIONS:
	Body
	Icon Stylings
	Navigation and Navigation Bar
	Jumbotron and Large Logo Stylings
	Small Logo for Main Navigation
	Side Navigation Styling
	Tabs as seen on Members, Organization and Mailing Lists
	Buttons
	Chip and Tag Creation
	Home Page Content
	Login and Registration Pages
	Edit Profile Page
	Organization Edit Page
	URL Link-Formset
	Search Form
	Organization list and Organization Cards
	Members and Member Cards
	Modals
	Organization Logos & Member Photos and Changing
	Websites
	Member and Organization Profile Layout
	Collapsible Sections of Member Profile
	Event and Room Bookings
	Booking Creation
	Booking Bar as used on booking/create and booking/confirm
	Direction Buttons from Bookings
	Room Information Slider
	Calendar Page
	FullCalendar
	Not_Active Page
	Mail Page
	Footer
	Media Queries
*/

/* Body */
/*Styling for body elements which are either used on every page or on multiple*/
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	position: relative;
	-moz-osx-font-smoothing: grayscale;
}

a {
	 text-decoration: none;
	 color: #5987C6;
}

p {
	 font-family: 'Roboto', sans-serif;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 1.6;
}

table th {
	padding: 0.5em 0.5em 0.25em;
}

table th:first-child {
	text-align: left;
}

table td:first-child, table td:last-child {
	text-align: left;
}

table td {
	padding: 0.5em;
}

.row.main {
	margin-bottom: 0;
}

#content h2 {
	display: block;
	text-align: center;
}

#content a {
	outline:none;
}

.error-msg {
	background-color: RGBA(186, 50, 35, 1.00);
}

.success-msg {
	background-color: RGBA(0, 178, 130, 1.00);
}

.messages {
	margin-top: 3%;
}

.errorlist li {
	color: red;
	font-style: italic;
}

.centered {
	text-align: center;
}

.btn {
	background-color: RGBA(79, 134, 135, 1);
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
	visibility: hidden;
}

.header-font {
	font-family: 'Oswald', sans-serif;
	color: RGBA(79, 134, 135, 1);
}

/* Used in Websites and Edit Profile */
.bold-blue {
	color: RGBA(66, 98, 113, 1);
}

/*Top margin for small tooltips that appear on hover*/
.tooltipped {
	margin-top: 3%;
}

.lightbg {
	margin-top: 5%;
	margin-bottom: 140px;
	min-height: 500px;
	padding-top: 10px;
	overflow: auto;
}



/*Icon styling*/
#manage {
	height: 30px;
}

#admin {
	height: 30px;
}

#locked {
	height: 30px;
}

#unlocked {
	height: 30px;
}

#edit {
	height: 25px;
}

#white-edit {
	content: url(../img/white_edit.png);
	height: 30px;
	padding: 1%;
}

/* ':after' reflects styling for Firefox */
#Facebook, #Facebook:after {
	content: url(../img/Facebook.png);
	height: 40px;
}

#Twitter, #Twitter:after {
	content: url(../img/Twitter.png);
	height: 40px;
}

#Instagram, #Instagram:after {
	content: url(../img/Instagram.png);
	height: 40px;
}

#Linkedin, #Linkedin:after {
	content: url(../img/Linkedin.png);
	height: 40px;
}

#Github, #Github:after {
	content: url(../img/Github.png);
	height: 40px;
}

#Personal, #Personal:after {
	content: url(../img/Personal.png);
	height: 40px;
}

#Professional, #Professional:after {
	content: url(../img/Professional.png);
	height: 40px;
}

#Blog, #Blog:after {
	content: url(../img/blog.png);
	height: 40px;
}



/*Navigation and the Navigation Bar*/
#main-nav {
	background-color: RGBA(66, 98, 113, 1);
	position: fixed;
	top: 0;
	left: 0;
}

#main-nav a {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

#home-nav {
	background-color: RGBA(66, 98, 113, 1);
	margin: 0;
	border-top: none;
}

#header_container {
	width: 100%;
	color: #5987C6;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	background-color: RGBA(246, 246, 246, 1);
	z-index: 2000;
	position: relative;
}

#header_container a {
	color: white;
	padding-right: 20px;
	margin-right: 0;
	letter-spacing: 1px;
	font-weight: lighter;
}

#header {
	width: 100%;
}

#dropdown1 a, #dropdown2 a, #dropdown3 a {
	color: RGBA(79, 134, 135, 1);
}



/*Styling of large image with centered logo on home page*/
#jumbotron {
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	height: auto;
	z-index: 2;
	box-sizing: padding-box;
	border-bottom: none;
	background-color: RGBA(66, 98, 113, 1);
}

.logo-img {
	position: absolute;
	z-index: 2000;
	top: 10%;
	left: 42%;
	height: 300px;
  width: 300px;
	z-index: 2000;
}

#jumbo-img {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#logo {
	float: left;
	padding-left: 1%;
	padding-bottom: 0;
	margin: 0;
}



/*Styling of small logo image on main nav throughout app*/
.sec-logo {
	position: fixed;
	top: 0;
	left: 0;
	height: 110px;
	margin-left: 1%;
	z-index: 2000;
}



/*Side-Nav styling for navigation on mobile devices*/
#sidenav-overlay {
	background-color: RGBA(80, 80, 80, .6);
}

.side-nav {
	background-color: RGBA(80, 80, 80, 1);
	padding-top: 2%;
	padding-left: 3%;
}

.side-nav li a {
	font-size: 1.5em;
	padding-right: 5%;
}

.side-nav li:first-child {
	margin-top: 10%;
}



/*Tabs styling as used in view members, orgs, and mailing lists*/
.tabs {
	color: RGBA(44, 148, 231, 1);
	width: 50%;
}

.tabs .tab {
	text-transform: none;
}

.tabs .tab a {
	color: RGBA(44, 148, 231, 1)
}

.tabs .tab a:hover, .tabs .tab a:focus {
	color: RGBA(30, 52, 64, 1);
}

.tabs .indicator {
	background-color: RGBA(30, 52, 64, 1);
}

.mem-tabs .indicator {
	background-color: RGBA(30, 52, 64, 1);
}

.prof-tabs .indicator {
	width: 15%;
	background-color: RGBA(44, 148, 231, 1);
}



/*Button styling*/
.booking-redirect {
	font-size: .8em;
	margin-left: 32%;
	margin-top: 5%;
}

.sub-btn, #confirm-btn, .reg-btn  {
	margin-top: 2%;
	margin-left: 35%;
}

.billing-btn {
	font-size: .8em;
}

#confirm-btn, .reg-btn {
	margin-left: 40%;
}

#email-btn {
	width: 50%;
}

.url-btn {
	font-size: .7em;
}

.modal-btn {
	margin-top: 2%;
	margin-left: 45%;
}

.org-btn {
	margin-left: 37%;
	margin-right: 5%;
	margin-top: 2%;
}

.org-form .cancel-btn {
	margin-top: 2%;
}

#org-search-form .search-btn {
	padding: 0;
	font-size: .9em;
}

.pic-btn {
	margin-left: 40%;
	margin-top: 5%;
}

.rotate-btn {
	margin-left: 30%;
	border-radius: 100px;
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: middle;
	display: inline-block;
	background-color: RGBA(96, 131, 157, 1.00);
}

.rotate-btn img {
	vertical-align: middle;
}

.edit-btn {
	height: 40px;
}


/*Chip and tag creation styling*/
.tags {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.tag-table {
	margin-right: 20%;
}

.tag-chip, .chip {
	color: RGBA(92, 92, 92, 1);
	background-color: RGBA(228, 228, 228, 1);
}



/*Home content styling*/
#welcome-p {
	font-size: 1.5em;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

#chat_icon {
	height: 25%;
	width: 25%;
}

#group_icon {
	height: 50%;
	width: 50%;
}

.card {
	text-align: center;
	background-color: RGBA(96, 131, 157, 1.00);
}

.card a {
	color: RGBA(96, 131, 157, 1.00);
}

.event-card {
	width: 330px;
}



/*Login and Registration Page Styling*/
#registration input#id_first_name, #registration input#id_last_name {
	width: 300px;
}

#registration #id_email {
	width: 400px;
}

#registration .pwd-input {
	width: 300px;
}

#loginonly-btn {
	margin-left: 20%;
	margin-right: 10%;
	width: 35%;
	background-color: RGBA(79, 134, 135, 1);
}

#loginonly-btn {
	margin-left: 30%;
	width: 40%;
	background-color: RGBA(79, 134, 135, 1);
}

#reg_box, #login_box {
	margin-top: 3%;
}

div#login_box.col.s6 {
	margin-left: 25%;
}

#login_form {
	background-color: RGBA(239, 238, 231, 1);
	margin-right: 0;
	margin-top: 5%;
	border-radius: 2px;
}

#login_form h2, #registration_form h2 {
	color: white;
	background-color: RGBA(66, 98, 113, 1);
	padding: 2%;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

#login_form th, #registration_form th {
	padding-left: 10%;
	padding-right: 0;
}

#login_reset {
	padding-bottom: 5%;
	margin-top:1.5em;
	margin-left:12%;
	margin-right: 12%;
}

#profile_form tr, #registration_form tr, #login_form tr, #booking_form tr {
	border: none;
}

#profile_form input, #registration_form input, #login_form input, #booking_form input, .booking-box input {
	padding-left: 2%;
	background-color: white;
	border-bottom: none;
}

#login_form input {
	width: 90%;
	padding-left: 2%;
	margin-right: 2%;
}




/*Edit Profile Page*/
#profile_form, #registration_form {
	margin-left: 15%;
	min-width: 900px;
	max-width: 1000px;
	overflow: visible;
	background-color: RGBA(239, 238, 231, 1);
	padding: 2%;
}

#profile_form h3, #registration_form h3 {
	font-size: 1.5em;
	font-weight: bold;
}

#contact, #photo, #emergencyinfo, #websites, #passwords, .link-formset {
	margin-left: 4%;
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 4%;
	margin-bottom: 1%;
}

#email-table {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

#emails {
	padding: 1% 10%;
	margin-bottom: 1%;
}

#otherinfo {
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 1%;
}

#registration {
	margin-left: 6%;
	margin-right: 6%;
	padding: 2%;
}

#contact input, #contact select, #websites input, #websites select, #emergencyinfo input, #otherinfo input, #otherinfo select, #pf-public, #emails input, #emails button {
	font-size: 1em;
}

.pf-error {
	padding: 0;
	color: red;
}

.cap-label {
	text-align: left;
	color: RGBA(57, 64, 64, 1);
	text-transform: uppercase;
}

.viewable {
	color: RGBA(79, 134, 135, 1);
}

td.cap-label {
	border: none;
	padding-bottom: 0;
	font-size: .9em;
}

td.pf-input {
	padding-top: 0;
	padding-bottom: 0;
	height: 90%;
}

.pf-input input {
	width: 200px;
}

td#pf-public, td#pf-company {
	width: 20%;
}

td#pf-photo {
	width: 20%;
}

select#id_public_profile.browser-default, select#id_public.browser-default {
	width: 30%;
}

input#id_zipcode, input#id_emergency_name, input#id_emergency_relationship, input#id_emergency_email {
	width: 70%;
}

input#id_phone, input#id_phone2 {
	width: 70%;
}

input#id_city {
	width: 85%;
}

#state-select{
	vertical-align: text-top;
	padding: 0;
}

select#id_state {
	width: 85%;
	font-size: .9em;
	box-sizing: border-box;
}

textarea#id_bio {
	background-color: white;
	height: 100px;
	/*width: 500px;*/
	border: none;
	width: 100%;
}

#email-input {
	width: 50%;
}

#email-table input {
	width:75%;
}

.verify-email, #add-email {
	background: RGBA(63, 146, 161, 1);
}

input#id_photo {
	background-color: RGBA(255, 255, 255, 0);
}

input#id_address1, input#id_address2 {
	width: 90%;
}

input#id_url_twitter, input#id_url_facebook, input#id_url_github, input#id_url_linkedin,input#id_url_professional, input#id_url_personal {
	width: 400px;
}

input#id_emergency_phone {
	width: 200px;
}

#passInput-error {
	width: 50%;
}



/*Organization Edit Page*/
.org-form {
	background: RGBA(239, 238, 231, 1);
	padding: 2%;
	min-width: 600px;
}

.org-form .org-label {
	width: 30%;
	font-weight: bold;
}

.org-form #id_name, .org-form #id_bio, .org-form #id_blurb, .org-form #id_title, .org-form #id_start_date, .org-form #id_end_date, .org-form #id_username, .org-form #end_date, .org-form #start_date {
	background-color: white;
	width: 70%;
	border: none;
	padding: 1%;
}

.org-form #id_blurb {
	padding-bottom: 10%;
	height: 100px;
}

.org-form #id_bio {
 	height: 90%;
}

.org-form #public_help p, .org-form #blurb_help p {
	width: 70%;
	text-align: center;
	margin-left: 10%;
	background-color: white;
	padding: 1%;
}

.org-form .org-input {
	background-color: white;
	width: 70%;
	border: none;
	padding: 1%;
}



/*URL Link-formset styling for orgs and members*/
td.pf-input.url-type {
	padding-top: 0;
	vertical-align: text-top;
}

.url-type select {
	box-sizing: border-box;
	font-size: .9em;
}

.link-formset .cap-label {
	display: inline-block;
	margin: 0;
}

.link-formset div.row.headers {
	margin-bottom: 0;
}

.links-header {
	margin-top: 6%;
}

div.link-formset.row.dynamic-form {
	margin-left: 0;
}

.link-formset div.row {
	margin-bottom: 0;
}

.form-url input{
	margin-bottom: 0;
	background-color: white;
	border-bottom: none;
	padding: 1%;
	width: 100%;
}

.add-row {
	margin-left: 4%;
	margin-bottom: 10%;
}

.delete-row {
	/*margin-top: 4%;*/
	margin-left: 5%;
}



/*Search form styling as seen on view_members and orgs*/
#site-search-form input {
	width: 60%;
}

#site-search-form input.search-btn {
	background: RGBA(79, 134, 135, 1);
	width: 30%;
	padding: 0;
	margin-left: 5%;
}



/*Org List and Organization Card styling*/
.org-group {
	white-space: nowrap;
}

.org-list {
	margin-left: 5%;
}

.org-card {
	width: 210px;
	height: 315px;
	border: solid 3px #EEE;
	margin: 10px;
	text-align: center;
	display: inline-block;
	padding: 1%;
	box-sizing: content-box;
	float:left;
	overflow: hidden;
}

.org-card a {
	padding: 10px 10px;
	display: block;
	background:#FFFFFF;
}

.org-card a.photo {
	background-color: #FFF;
	font-size: 80px;
	color: #DDD;
	text-decoration: none;
	overflow:hidden;
	height: 130px;
	width: 130px;
	position: relative;
	margin-left: 15%;
}

.org-card a.photo img {
	max-height: 130px;
	max-width: 130px;
	overflow: hidden;
	padding: 0;
}

.org-name {
	font-size: 1.1em;
	text-align: center;
	line-height: normal;
	white-space: normal;
	font-weight: bold;
	color: black;
	overflow: hidden;
}

a.name-a {
	padding: 1%;
}

.org-blurb {
	min-height: 60px;
	overflow: scroll;
	font-size: .8em;
	font-style: italic;
	white-space: normal;
}

.photo-div {
	height: 250px;
	width: 250px;
}

.org-img-edit {
	margin-top: 15%;
}

.org-img-edit h5 {
	margin-left: 25%;
}

.org-img-edit #img-edit {
	margin-left: 50%;
}

.org-photo, .no-photo {
	background-color: #FFF;
	font-size: 160px;
	color: #DDD;
	text-decoration: none;
	overflow:hidden;
	max-height: 250px;
	max-width: 250px;
	position: relative;
	box-sizing: border-box;
	/*margin-left: auto;*/
}

.org-card #star-img {
	margin-left: 15%;
}

a#star-img.org-photo {
	margin-left: 10%;
}

.org-info h3 {
	margin-bottom: 5%;
}

h5.org-members {
	display: inline-block;
	color: black;
	margin-bottom: 2%;
}



/*View Members and Member Card Styling*/
.user-card {
	width: 190px;
	border: solid 3px #EEE;
	margin: 10px;
	text-align: center;
	display: inline-block;
	/*padding-top: 2%;*/
}

.user-card a{
	padding: 10px 10px;
	display: block;
	background:#FFFFFF;
}

.user-card a.photo {
	background-color: #FFF;
	font-size: 120px;
	color: #DDD;
	text-decoration: none;
	overflow:hidden;
	height: 150px;
	width: 150px;
	position: relative;
	margin-left: 10%;
	margin-top: 10%;
}

a.photo.star-img  {
	padding: 0;
	margin-top: 0;
	margin-bottom: 10%;
}

.user-card a.photo .user-img {
	position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.user-card a.photo .user-img.portrait {
	width: 100%;
  height: auto;
}


/*TODO Is this being used?*/
.frag {
	text-spacing: 1px;
}




/*Modal styling*/
/*Used for creation of event and for editing org and member photos*/
/*.picModal for photos, eModal for events*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  max-height: 100%;
}

.modal-content, .picModal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
	margin-top: 10%;
  padding: 0;
  border: 1px solid #888;
	border-radius: 3px;
	height: 50%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.picModal-content {
	width: 60%;
	min-width: 600px;
	min-height: 550px;
}

.eModal-content {
	position: relative;
  background-color: #fefefe;
  margin: auto;
	margin-top: 5%;
  padding: 0;
  border: 1px solid #888;
	border-radius: 4px;
	height: 85%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal .modal-content {
	padding:0;
}

.modal-content p {
	margin: 0;
}

.modal-content .modal-body{
	padding-top: 5%;
	background-color: RGBA(229, 238, 215, .5);
	height: 100%;
	padding: 3%;
}

.modal-body tr {
	margin: 4%;
}

#host-img {
	height: 120px;
	width: 100px;
	border-radius: 100px;
}

.eModal-content .eModal-body {
	padding-top: 5%;
	background-color: RGBA(229, 238, 215, .5);
	height: 100%;
	padding: 5%;
	font-size: 1.1em;
}

.eModal-body input, .modal-body span {
	background: white;
	border-bottom: none;
}

.modal-body span {
	padding: 1% 15%;
}

.modal-body td {
	font-size: 1.1em;
}

.eModal-body td, .modal-body td {
	border: none;
}

.eModal-body #event-desc{
	padding: 2% 0%;
}

.modal-content .modal-body p {
	font-size: 1.2em;
}

#event-title, #add-event-header {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;;
}

#event-info span {
	padding: 1% 5%;
}

#pic_target h3 {
		margin-top: 5%;
}

#profile_image_form input {
	width: 50%;
}

#image-preview.user-img {
	min-width: 300px;
	height: 300px;
	margin-left: 20%;
}

#img-cropper-wrapper {
	margin-bottom: 5%;
}

.pic-upload {
	width: 180px;
}

.picModal-content h4 {
	text-align: center;
	padding-top: 2%;
}



/*Styling for Org Logo and Member Photo*/
img#mem-photo {
	margin-top: 10%;
}

#img-edit {
	/*content: url(../img/camera.png);*/
	display: none;
	margin-left: 40%;
}

#change-opacity:hover #mem-photo {
	opacity: 0.5;
}

#change-opacity:hover .edit-img, #change-opacity:hover .org-img-edit {
	color: RGBA(0, 0, 0, 1);
}

.profile-img-box:hover #img-edit {
	display: block;
}

.edit-img, .locked-img {
	color: RGBA(0, 0, 0, 0);
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 35%;
	padding-left: 10%;
}

.edit-img h3 {
	font-size: 1.7em;
}

h2#prof-name {
	text-align: left;
	font-size: 2.4em;
}

.editable-photo {
	float: left;
	margin: 0px 1em 1em 0px;
	position: absolute;
}

#img-preview, #upload-preview, #org-preview {
	display: block;
  overflow: hidden;
  height: 200px;
  width: 200px;
	position: relative;
}

#prof-img, .edit-img, .locked-img {
	margin-left: 2%;
	display: block;
  overflow: hidden;
  height: 300px;
  width: 310px;
	/*Below is for when using cropperJS*/
	/*width: 300px;*/
	margin-bottom: 10%;
}

#img-preview img, #prof-img img {
	display: block;
  min-width: 100%;
  min-height: 100%;
	max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

#blank-photo {
	background-color: RGBA(143, 143, 139, 1);
	content: url(../img/blank_person.png);
}

.prof-img, .upload-input {
  /*position: relative;*/
  width: 300px;
  height: 300px;
  overflow: hidden;
	margin: 2%;
}

.member-photo {
	float: left;
	position: relative;
	margin: 10%;
}

.org-img {
	width: 200px;
  height: 200px;
  overflow: hidden;
	margin-left: 3%;
}

.org-img-edit {
	color: RGBA(0, 0, 0, 0);
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 25%;
	padding-left: 10%;
	margin-left: 2%;
	display: block;
	overflow: hidden;
	margin-bottom: 10%;
	width: 200px;
  height: 200px;
}

.upload-input {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

#upload-preview img {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#org-preview img {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.prof-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

img.org-photo#mem-photo {
	margin-top: 0;
}

.org-img img {
	position: absolute;
	max-width: 200px;
	max-height: 200px;
  left: 50%;
  top: 50%;
	-webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.prof-img img.portrait, #upload-preview img.portrait, .org-img img.portrait {
  width: 100%;
  height: auto;
}



/*Websites*/
.profile-links {
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 2%;
}

.url-links {
	display: inline-block;
	padding-right: 5%;
}

#upload-preview, #org-preview {
	margin-left: 5%;
}

/*.img-id {
	max-width: 250px;
}*/



/*Member and Org profile layout*/
.basic-info, .left-profile, .org-info, .org-left-profile {
	background-color: white;
	margin-bottom: 2%;
	padding: 2%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.right-profile, .left-profile, .org-left-profile, .org-right-profile {
	margin-top: 2%;
}

.left-profile {
	max-width: 450px;
}

.tags-box {
	margin-top: 5%;
	margin-bottom: 10%;
}

.tags-box li {
	margin-left: 3%;
}

.td-title {
	font-weight: bold;
	width: 25%;
}

.booking-total {
	margin-top: 5%;
}


/*Styling for collapsible sections of member profile*/
.collapsible-header {
	font-weight: bold;
}

.collapsible-body {
	background-color: RGBA(254, 254, 254, 1);
	padding: 5%;
}

.collapsible-body h3 {
	font-size: 1.3em;
	margin-top: 0;
	padding-top: 2%;
}

#device-header  {
	margin-top: 4%;
}

.collapsible-body p {
	padding: .3em;
}

.current-orgs, .past-orgs {
	margin-bottom: 5%;
}



dt, dd {
	display: inline-block;
	margin: 0.25em;
}

dt {
	font-weight: bold;
}

dd:after {
	margin-left: 0.5em;
	font-size: 1.2em;
}

dl dd:last-child:after {
	content: "";
}

.sub-table {
	margin-top: 3%;
	font-size: 13px;
}

.sub-th {
	background-color: RGBA(76, 76, 76, 1.00);
	color: white;
	border-radius: 0;
	font-weight: lighter;
}



/*Event and Room Booking Styling*/
#booking_form {
	background-color: RGBA(242, 242, 242, 1.00);
	padding: 2%;
	margin-left: 15%;
	width: 70%;
	min-width: 700px;
}

#booking_form td {
	border-bottom: 0;
}

#booking_form h4 {
	text-align: center;
}

.booking-box {
	background-color: RGBA(242, 242, 242, 1.00);
	border-radius: 2px;
	padding: 2%;
	min-width: 800px;
}

.public_bool {
	width: 25%;
}


/*Booking create styling*/
#thumbnail-box {
	padding-top: 4%;
	height: 130px;
}

.room-thumbnail {
	max-height: 70px;
	max-width: 70px;
}

#booking-reqs {
	padding-left: 4%;
	border-bottom: 1px solid grey;
	margin-bottom: 4%;
}

#booking-date, #start-time, #end-time {
	width: 75%;
}

.book-btn, .device-btn {
	background: RGBA(79, 134, 135, 1);
}

#booking-reqs select.browser-default {
	background: white;
	border-radius: 1px;
	margin-top: 0;
}

[type="checkbox"].filled-in:not(:checked)+label:after{
	background-color: white;
}

[type="checkbox"]+label {
	color: black;
	height: 43.5px;
}

td.booking-td {
	width: 30%;
}

#av-btn, #phone-btn {
	vertical-align: bottom;
	padding: 0;
	width: 15%;
}

#av-btn {
	padding-left: 1%;
}

#time-row {
	text-align: center;
}

#floor-select, #seat-select {
	vertical-align: text-top;
	margin-top: 0;
}

select#floor {
	min-width: 150px;
}

#room-search {
	padding-top: 1%;
}

#room-criteria {
	padding-top: 2%;
	padding-bottom: 5%;
}

.book-room {
	margin-top: 5%;
}

.book-btn, .room-show, .room-close {
	background-color: RGBA(79, 134, 135, 1);
}

.room-show, .room-close {
	font-size: .7em;
	min-width: 70px;
	padding: 0% 5%;
}

.book-btn {
	margin-left: 15%;
}


/*Booking bar from create and confirm booking*/
.cal-table, .booking-bar {
	margin-top: 10px;
}

.booking-bar {
	min-width: 670px;
}

.cal-table thead, .booking-bar thead {
	border: none;
}

.cal-table th, .booking-bar th{
	font-size: .8em;
	text-align: left;
	height: 10px;
	width: 2%;
}

th.rotate{
  height: 40px;
  width: 2%;
  min-width: 2%;
  max-width: 2%;
  position: relative;
  vertical-align: bottom;
  font-size: 12px;
  line-height: 0.8;
	margin-bottom: 1%;
}

th.rotate > div {
	position: relative;
	top: 0px;
	left: 20px;
	height: 100%;
	-ms-transform:skew(-45deg,0deg);
	-moz-transform:skew(-45deg,0deg);
	-webkit-transform:skew(-45deg,0deg);
	-o-transform:skew(-45deg,0deg);
	transform:skew(-45deg,0deg);
}

th.rotate span {
	-ms-transform:skew(45deg,0deg) rotate(315deg);
	-moz-transform:skew(45deg,0deg) rotate(315deg);
	-webkit-transform:skew(45deg,0deg) rotate(315deg);
	-o-transform:skew(45deg,0deg) rotate(315deg);
	transform:skew(45deg,0deg) rotate(315deg);
	position: absolute;
	bottom: 30px;
	left: -44px;
	display: inline-block;
	width: 100%;
	width: 85px;
	text-align: left;
	white-space: nowrap;
}

.cal-table th:first-child, .booking-bar th:first-child {
	width: 2%;
}

.booking-bar {
	margin-bottom: 2%;
}

.cal-box {
	border-bottom: none;
	border-top: none;
	width: 2%;
	height: 65px;
	border-right: 1px solid white;
	box-sizing: border-box;
	padding: 0;
	border-radius: 0;
	background-color: RGBA(178, 225, 203, .6);
}

.cal-table td:last-child, .booking-bar td:last-child {
	border-right: none;
}

.cal-table .reserved, .booking-bar .reserved {
	background-color: RGBA(217, 95, 73, .4);
}

.cal-table .searched, .booking-bar .searched {
	background-color: RGBA(49, 39, 50, .7);
}

.cal-table td:first-child, .booking-bar td:first-child {
	border-radius: 4px 0px 0px 4px;
}

.cal-table td:last-child, .booking-bar td:last-child {
	border-radius: 0px 4px 4px 0px;
}



/*Directions buttons for the booking bar*/
#start-forw, #start-back, #end-forw, #end-back {
	border-radius: 100px;
	width: 30px;
	height: 30px;
	background: RGBA(63, 146, 161, 1);
	color: white;
	box-shadow: none;
	border: none;
}

#start-forw {
	margin-left: 10%;
}

#end-forw {
	margin-left: 15%;
}

.time-btns {
	min-width: 300px;
	overflow: auto;
}

#cal-error td {
	text-align: center;
	color: red;
}


/*Styling for room info slider in booking create page*/
.slider {
	overflow-y: hidden;
	/*max-height: 300px; /* approximate max height */*/
	transition-property: all;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	background-color: white;
	padding-top: 1%;
	border-radius: 2px;
	width: 85% !important;
	height: 100%;
}

.slider.closed {
	max-height: 0;
	padding-top: 0;
}



/*Calendar Page Styling*/

/*TODO Check if this is being used*/
#event_cal {
	margin-left: 10%;
}

#calendar {
	max-width: 900px;
	margin-top: 2%;
}

/*TODO Is this being used?*/
#make-event {
	margin-top: 5%;
	margin-left: 2%;
	border-radius: 100px;
	width: 90px;
	height: 90px;
	font-size: 1em;
	line-height: 100%;
	overflow: auto;
}

#event-btn-row {
	margin-top: 5%;
	padding-bottom: 3%;
	border-bottom: 1px solid grey;
}

#event-btn {
	margin-left: 30%;
	background-color: RGBA(63, 146, 161, 1);
	display: inline;
}

#cancel-event {
	margin-left: 30px;
	cursor: pointer;
	background-color: RGBA(63, 146, 161, 0);
}

#goto-booking {
	font-weight: bold;
	font-size: 1.3em;
}


/*FullCalendar element Styling*/
.fc-center h2 {
	font-size: 1.875em;
	font-family: 'Oswald', sans-serif;
	color: RGBA(79, 134, 135, 1);
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
	z-index: 0;
}

div.ui-timepicker-container.ui-timepicker-standard {
	z-index: 20 !important;
}

.ui-widget-content, .ui-widget.ui-widget-content {
	border: none !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
	border: none;
}



/*Styling for not_active page*/
.letter {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 5%;
}

.letter p {
	font-size: 1.3em;
}



/*Tag_View Page Styling*/
.tag-view td {
	padding-bottom: 2%;
}



/*Mail Page*/
.mail-content {
	margin-top: 4%;
}

.mail-content h5 {
	margin-top: 3%;
}



/*Mail Message*/
#label {
	font-size:1.2em;
}

#label strong {
	font-size:1.2;
}



/* Footer */
footer.home-footer {
	padding: 1px;
	padding-top: 10px;
	height: 50px;
	background: RGBA(61, 61, 61, .9);
	margin: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

footer.main-footer {
	background: RGBA(61, 61, 61, .9);
	padding: 1px;
}

footer.sticky-footer {
	background: RGBA(61, 61, 61, .9);
	clear: both;
	width: 100%;
	padding: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
}

#copyright {
	width: 360px;
	margin: 0;
	display: inline;
}

.footer-copyright {
	color: white;
	font-weight: 400;
}

#social {
	float: left;
	margin-left: 130px;
	/*width: 132px;*/
}

.main-footer div #social {
	margin-top: 10px;
	margin-left: 130px;
}

#nadine-link {
	color: RGBA(245, 245, 245, 1);
	font-weight: bold;
	letter-spacing: .5px;
}

#fb {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/facebook_32.png);
	text-indent: -9999px;
	border-radius: 4px;
}

#tw {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/twitter_32.png);
	text-indent: -9999px;
	border-radius: 4px;
}

#ye {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/yelp_32.png);
	text-indent: -9999px;
}

#inst {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/instagram_32.png);
	text-indent: -9999px;
}



/*Media Queries*/
@media only screen and (max-width: 1500px) {
	#profile_form, #registration_form {
		margin-left: 7%;
		min-width: 900px;
	}

	.logo-img {
		left: 37%;
	}
}

@media only screen and (max-width: 1390px) {
	.org-img  {
		margin-left: 1%;
	}

	.org-img-edit #img-edit {
		margin-left: 25%;
	}

	.org-img-edit h5 {
		font-size: 1.5em;
		margin-left: -30px;
	}

	.prof-img, .edit-img, .locked-img {
		max-width: 250px;
		max-height: 250px;
		margin-left: 3%;
	}

	.org-img, .org-photo {
		max-width: 250px;
		max-height: 250px;
		margin-left: 2%;
	}

	a#star-img.org-photo {
		margin-left: 10%
	}

	#thumbnail-box {
		display: none;
	}

	.book-room .book-btn {
		margin-left: 40%;
	}
}

@media only screen and (max-width: 1350px){
	.book-room .book-btn {
		margin-left: 60%;
		padding: 0 8px 0 8px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 1300px) {
	.book-room .book-btn {
		margin-left: 80%;
	}
}

@media only screen and (max-width: 1250px) {
	.book-room .book-btn {
		margin-left: 100%;
	}
}

@media only screen and (max-width: 1150px) {
	.book-room .book-btn {
		margin-left: 120%;
	}
}

@media only screen and (max-width: 1100px) {

	p.pf-input.form-url.col.s6.offset-s2, p.cap-label.col.s6.offset-s2  {
		margin-left: 0;
	}

	.form-url input {
		width: 100%;
	}

	.link-formset div.col.s10 {
		width: 85%;
	}

	.link-formset .btn-floating {
		/*margin-top: 4%;*/
	}

	.btn-floating {
		margin: 0;
		width: 50%;
	}

	.form-url {
		width: 2%;
	}

	#profile_form, #registration_form {
		margin-left: 2%;
		min-width: 600px;
	}

	#profile_form input {
		margin-right: 1%;
	}

	#booking_form {
		width: 100%;
		min-width: 700px;
		margin-left: 0;
	}

	.book-room .book-btn {
		margin-left: 40%;
		padding: 0 15px 0 15px;
		display:
	}

	img.logo-img {
		height: 80%;
		width: 27%;
	}

	.btn {
		font-size: .7em;
	}

	.eModal-content {
		margin-top: 10%;
	}
	.org-list {
		margin-left: 10%;
	}

	img.room-thumbnail, .thumbnail-box {
		display: none;
	}
}

@media only screen and (max-width:1050px) {
	.book-room .book-btn {
		margin-left: 75%;
		padding: 0 15px 0 15px;
		display:
	}
}

@media only screen and (max-width: 990px) {
	.col.s10.offset-s1 {
		margin-top: 8%;
	}

	.org-photo, .no-photo {
		font-size: 150px;
	}

	a#star-img.org-photo {
		margin-left: 0;
	}

	.prof-img, .edit-img, .locked-img {
		width: 200px;
		height: 200px;
		margin-left: 4%;
	}

	.org-img, .org-photo {
		width: 150px;
		margin-left: 8%;
	}

	 .event-card {
		 width: 250px;
	 }

	 #home_cal {
		 width: 200px;
	 }

	 #profile_form {
		 margin-right: 1%;
	 }

	 img.sec-logo {
		 max-height: 60px;
		 max-width: 60px;
	 }

	 .lightbg {
		 margin-top: 8%;
	 }

	 .modal-content {
		 height: 40%;
		 width: 60%;
	 }

	 .eModal-content {
		 margin-top: 10%;
		 height: 100%;
	 }

	div#login_box.col.s6 {
		margin-top: 10%;
 		margin-left: 5%;
 		width: 90%;
 	}

	.prof-tabs, {
		margin-bottom: 10%;
	}

	select#id_public_profile.browser-default, select#id_public.browser-default {
		width: 50%;
	}

	.booking-bar th.rotate span {
		font-weight: normal;
	}
}

@media only screen and (max-width: 960px){
	.cal-box, th.rotate, .cal-table th {
		width: 2%;
		padding: .25em;
	}

	.cal-table {
		margin-left: 10%;
	}
}

@media only screen and (max-width: 843px) {
	.right.hide-on-small-only {
		display: none !important;
	}
}

@media only screen and (max-width: 810px) {
	.prof-img, .edit-img, .locked-img {
		min-width: 125px;
		min-height: 125px;
		margin-left: 2%;
	}

	.org-img, .org-photo {
		min-width: 125px;
		margin-left: 5%;
	}

	div.org-list {
		padding-left: 15%;
	}

	.col.s10.offset-s1 {
		margin-top: 10%;
	}

	.booking-box th {
		font-weight: normal;
	}
}

@media only screen and (max-width: 750px) {
	.org-photo, .no-photo {
		font-size: 120px;
		margin-left: 5%;
	}

	.org-img {
		margin-left: 5%;
	}

	.org-photo #star-img {
		margin-left: 10%;
	}

	#fb, #tw, #ye, #inst {
		display: none;
	}

	.org-list {
		padding-left: 10%;
	}

	.right-profile {
		margin-bottom: 20%;
	}

	.booking-box th {
		font-size: .8em;
	}
}

@media only screen and (max-width: 700px) {
	.org-photo #star-img {
		margin-left: 0;
	}

	div.org-list {
		padding-left: 5%;
	}

	#org-search-form .search-btn {
		font-size: .7em;
	}

	footer.main-footer {
		background: RGBA(61, 61, 61, .9);
		clear: both;
		width: 100%;
		padding: 10px;
		right: 0;
		bottom: 0;
		left: 0;
		/*position: absolute;*/
	}

	.prof-img, .edit-img, .locked-img, .org-img {
		max-width: 150px;
		max-height: 150px;
		margin-left: 6%;
	}

	.org-img, .org-photo {
		max-width: 150px;
		margin-left: 3%;
	}
}

@media only screen and (max-width: 600px) {
	.org-card {
		margin-left: 20%;
	}

	.event-card {
		margin-left: 20% !important;
	}

	.lightbg {
		margin-top: 11%;
	}

	.col.s10.offset-s1 {
		margin-top: 15%;
	}

	.fc-toolbar {
		margin-top: 10%;
	}

	.fc-left h2 {
		font-size: 1.5em;
	}

	.fc-right button  {
		font-size: .8em;
	}

	.prof-img, .edit-img, .locked-img, .org-img {
		min-width: 250px;
		min-height: 250px;
		margin-left: 10%;
		margin-top: 5%;
	}

	.org-photo, .no-photo {
		font-size: 160px;
	}

	a#star-img.org-photo {
		margin-left: 20%;
	}

	.org-img, .org-photo {
		min-width: 230px;
		margin-left: 5%;
	}

	.org-left-profile {
		max-width: 350px;
		min-width: 270px;
	}

	.org-right-profile {
		min-width: 515px;
		padding-left: 0 !important;
	}

	.fc-center {
		display: block !important;
		text-align: center;
	}

	.fc-left, .fc-right {
		margin-bottom: 5%;
	}

	footer#footer.main-footer {
		background: RGBA(61, 61, 61, .9);
		bottom: 0;
		right: 0;
		left: 0;
		position: absolute;
		padding: 0;
	}
}

@media only screen and (max-width: 450px) {
	.org-card {
		margin-left: 0;
	}

	.prof-img, .edit-img, .locked-img, .org-img {
		margin-left: 14%;
	}

	.profile-img-box {
		position: relative;
	}
}

@media only screen and (max-width: 400px) {
	.prof-img, .edit-img, .locked-img, .org-img {
		margin-left: 10%;
	}

	.fc-right {
		display: none;
	}

	.fc-left {
		margin-bottom: 5%;
	}

	.fc-scroller, .fc-view-container {
		height: 325px !important;
	}

	.fc-scroller {
		overflow-y: visible;
		overflow-x: scroll !important;
	}

	.org-left-profile {
		display: none;
	}

	.org-right-profile {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 320px) {
	.prof-img, .edit-img, .locked-img, .org-img {
		margin-left: 5%;
	}
}

@media only screen and (max-height: 630px) {

	#image-preview.user-img {
		max-width: 200px;
	}
}
