{% extends "staff/settings/base.html" %}

{% block content %}
<h4>Add or Update Help Texts</h4>
{% if message %}
  <div class='error'>
    {{ message }}
  </div>
{% endif %}
<div class='other-helps'>
  <table>
    <tr>
      <td class='motd-update'>
        <strong>To Update an Existing Help Text:</strong>
      </td>
      <td>
        <form class='text-selection' method='GET' action='.'>
          <select id='help-input' name='selected_help'>
              <option value='Select One' selected disabled="True">To Update, Select One Here</option>
            {% for help in helps %}
              <option value='{{ help.title }}'>{{ help.title }}</option>
            {% endfor %}
          </select>
          <input style='display: inline-block;' class='btn' type='submit' value='Start Updating' />
        </form>
      </td>
    </tr>
  </table>
</div>
<table class='alt-message'>
  <tr>
    <td class='border-td'><hr /></td>
    <td><strong id='new-message-td'>Or Create a Help Text</strong></td>
    <td class='border-td'><hr /></td>
  </tr>
</table>
<div class='helptext-form'>
  <form method='POST' action='.'>
    <table>
      <tr class='order-row'>
        <td class='td-title'></td>
        <td>
          {{ helptext_form.order }}
        </td>
      </tr>
      <tr>
        <td class='td-title'><strong>Title</strong></td>
        <td>
          {{ helptext_form.title}}
        </td>
      </tr>
    </table>
    <table id='template_help'>
      <tr>
        <td>
          <strong>Template Help</strong>
          <p>
            This is the meat of your help text! With this editor you can style the information just as you would in any editing application. Bold, special characters, tables, etc all work in this editor. Two things to note:
          </p>
          <ul>
            <li>
              - All Nadine links entered have to follow the style with "url path:to:page" sandwiched between a set of curly braces and percentage signs "{%".
            </li>
            <li>
              - The title of the text will appear as a Heading 1 (h1) so please make sure that all text is Heading 2 and smaller.
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class='td-title'><strong>Template</strong> (<a onclick="$('#template_help').toggle();">?</a>)</td>
          <input name='id' id='text-id' type='hidden' value='{{ selected.id }}' />
          <td>
            {% if selected %}
              <textarea name='template' id='id_template' rows='20'>
                {{ selected.template|safe }}
              </textarea>
            {% else %}
                {{ helptext_form.template }}
            {% endif %}
          </td>
      </tr>
    </table>
    <table id='slug_help'>
      <tr>
        <td>
          <strong>What is a 'slug'?</strong>
          <p>
            The slug is the exact address for the help text post. In this case, you'll be able to find your help text at /member/help/YOUR_SLUG/. Make sure to not include any whitespaces.
          </p>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class='td-title'><strong>URL Slug</strong>(<a onclick="$('#slug_help').toggle();">?</a>)</td>
        <td>
          {{ helptext_form.slug }}
        </td>
      </tr>
    </table>
    {% csrf_token %}
    {% if selected %}
      <button style='display:inline-block;' type='submit' class='btn help-btn'>Update '{{ selected.title }}'</button>
      <span id='cancel' class='help-btn'>Cancel</span>
    {% else %}
      <button type='submit' class='btn help-btn'>Add New Help Text</button>
    {% endif %}
  </form>
</div>
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('#id_order').val('{{ latest_order }}');
    $('input').attr('required', true);

    CKEDITOR.replace('id_template');

    if('{{ selected }}' != 'None') {
      $('#new-message-td').text('Start Updating!')
      //How can we have them update the template? Currently getting an error
      $('#id_title').val('{{ selected.title }}');
      $('#help-input').val('{{ selected.title }}')
      $('#id_slug').val('{{ selected.slug }}');
      $('#id_order').val('{{ selected.order}}');
    }

    $('#cancel').on('click', function(e) {
      e.preventDefault();
      window.location.replace("{% url 'staff:settings:helptexts' %}");
    })
  });
</script>
{% endblock %}
