{% extends "staff/settings/base.html" %}

{% block content %}
<h4>Add and Update Help Texts</h4>

<div class='other-helps'>
  <table>
    <tr>
      <td class='td-title'></td>
      <td>
        <form class='text-selection' method='GET' action='.'>
          <select id='help-input' name='selected_help'>
              <option value='Select One' selected disabled="True">Select One</option>
            {% for help in helps %}
              <option value='{{ help.title }}'>{{ help.title }}</option>
            {% endfor %}
          </select>
          <input style='display: inline-block;' class='btn' type='submit' value='Select' />
        </form>
      </td>
    </tr>
  </table>
</div>

<div class='helptext-form'>
  <form method='POST' action='.'>
    <table>
      <tr class='order-row'>
        <td class='td-title'></td>
        <td>
          {{ helptext_form.order }}
        </td>
      </tr>
      <tr>
        <td class='td-title'><strong>Title</strong></td>
        <td>
          {{ helptext_form.title}}
        </td>
      </tr>
      {% if selected %}
        <tr>
          <td class='td-title'><strong>Template</strong> (<a onclick="$('#template_help').toggle();">?</a>)</td>
            <input name='id' id='text-id' type='hidden' value='{{ selected.id }}' />
            <td>
              <textarea name='template' id='template-content' rows='30'>
                {{ selected.template|safe }}
              </textarea>
              <button id='preview-btn' class='btn'>Preview</button>
            </td>
        </tr>
        <tr class='preview-tr'>
          <td><strong>Preview</strong></td>
          <td>
            <div id='preview'></div>
          </td>
        </tr>
      {% else %}
        <tr>
          <td class='td-title'><strong>Template</strong> (<a onclick="$('#template_help').toggle();">?</a>)</td>
          <td>
            {{ helptext_form.template }}
          </td>
        </tr>
      {% endif %}
    </table>
    <table id='template_help'>
      <tr>
        <td>
          <strong>Template</strong>
          <p>
            The template is that which will be entered in the help text page template. This small portion of the template must be written in HTML so as to be displayed correctly. For formating help, please review <a href='https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML'>HTML documentation on the Mozilla Developer Network.</a>
          </p>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class='td-title'><strong>Slug</strong></td>
        <td>
          {{ helptext_form.slug }}
        </td>
      </tr>
    </table>
    {% csrf_token %}
    <button type='submit' class='btn help-btn'>Submit</button>
  </form>
</div>
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('#id_order').val('{{ latest_order }}');

    if('{{ selected }}' != 'None') {
      //How can we have them update the template? Currently getting an error
      $('#id_title').val('{{ selected.title }}');
      $('#id_slug').val('{{ selected.slug }}');
      $('#id_order').val('{{ selected.order}}');
    }

    $('#preview-btn').on('click', function(e) {
      var content = $('#template-content').val()
      e.preventDefault();
      $('#preview').html(content);
      $('#preview').css('border', '1px solid black');
      $('.preview-tr').toggle();
    })

  });
</script>
{% endblock %}
