{% extends "staff/settings/base.html" %}

{% block content %}
  <h4>Membership Packages</h4>
  <form class='create-pkg-form' action='.' method='POST'>
    <div class='pkg-table'>
      {{ package_formset.management_form }}
      {% for new_package_form in package_formset %}
        <table style='width: 70%;'>
          <tr>
            <td style='width: 12%;'>
              <strong>Package Name:</strong>
            </td>
            <td class='select-td'>
              {{ new_package_form.name }}
            </td>
            <td style='padding-left: 5%;'>
              <label for='enabled'>Enable?</label>
              {{ new_package_form.enabled }}
            </td>
          </tr>
        </table>
        <table>
          <tr class='package_formset'>
            <td>
              <strong>Resource:</strong>
            </td>
            <td>
              {{ new_package_form.resource }}
            </td>
            <td>
              <strong>Allowance:</strong>
            </td>
            <td style='width: 10%;'>
              {{ new_package_form.allowance }}
            </td>
            <td>
              <strong>Monthly Rate:</strong>
            </td>
            <td style='width: 10%;'>
              {{ new_package_form.monthly_rate }}
            </td>
            <td >
              <strong>Overage Rate:</strong>
            </td>
            <td id='overage-td' style='width: 10%;'>
              {{ new_package_form.overage_rate}}
            </td>
            <td id='del-td'>
            </td>
          </tr>
        </table>
      {% endfor %}
    </div>
    <button type='submit'>Create</button>
    {% csrf_token %}
  </form>
  <table>
    <tr>
      <th>Package Name</th>
      <th>Enabled</th>
      <th>Resource</th>
      <th>Allowance</th>
      <th>Monthly Rate</th>
      <th>Overage Rate</th>
      <th></th>
    </tr>
    {% for package in packages %}
      <form action='.' method='GET'>
        {% ifchanged package.package.name %}
          <tr class="{% cycle 'row-even' 'row-odd' %}"  id='pkgInfo-{{ package.id }}' >
            <td>
                {{ package.package.name }}
            </td>
            <td>{{ package.package.enabled }}</td>
            <td>{{ package.resource }}</td>
            <td>{{ package.allowance }}</td>
            <td>{{ package.monthly_rate }}</td>
            <td style='text-align: center;'>{{ package.overage_rate }}</td>
            <input type='hidden' name='package' value='{{ package.package.id }}' />
            <td><button action='submit'>Edit</button></td>
          </tr>
          <form action='.' method='POST'>
            {{ package_formset.management_form }}
            {% for package_form in package_formset %}
            <tr class='edit-pkg {% cycle "row-odd" "row-even" %}' id='edit-{{ package.id }}'>
              <td style='width:10%;'>
                {{ package_form.name }}
                {{ package_form.sub_id }}
                {{ package_form.package }}
              </td>
              <td>{{ package_form.enabled }} <label class='extra-label' for='enabled'>Enabled</label></td>
              <td>
                {{ package_form.resource }}
              </td>
              <td>
                {{ package_form.allowance }}
              </td>
              <td>
                {{ package_form.monthly_rate }}
              </td>
              <td>
                {{ package_form.overage_rate }}
              </td>
              <td>
                <button type='submit'>Update</button>
                <a class='cancel'>Cancel</a>
              </td>
              {% csrf_token %}
            </tr>
            {% endfor %}
          </form>
        {% else %}
          <tr class="{% cycle 'row-even' 'row-odd' %}"  id='pkgInfo-{{ package.id }}' >
            <td></td>
            <td>{{ package.package.enabled }}</td>
            <td>{{ package.resource }}</td>
            <td>{{ package.allowance }}</td>
            <td>{{ package.monthly_rate }}</td>
            <td style='text-align: center;'>{{ package.overage_rate }}</td>
            <input type='hidden' name='package' value='{{ package.package.id }}' />
            <td></td>
          </tr>
        {% endifchanged %}
        {% csrf_token %}
      </form>
    {% empty %}
          <tr>
            <td colspan="5"><i>No Membership Packages</i></td>
          </tr>
    {% endfor %}
      </table>
{% endblock %}

{% block extrajs %}
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('.edit-pkg').hide();
    $('.select-pkg').val('{{ package }}');


    var id = '{{ package }}';
    if(id != 'None') {
      $('#edit-' + id).show();
      $('#pkgInfo-' + id).hide();
      $('.create-pkg-form').remove();
    }

    $('.package_formset').formset({
      addText:'Add Another',
      deleteText: 'Delete'
    })

    $('.delete-row').appendTo($('#del-td'));

    // $('.edit-package').click(function(e) {
    //   e.preventDefault();
    //   id = $(this).val();
    //   $('#edit-' +  id).toggle();
    // })

    $('.cancel').click(function(e) {
      e.preventDefault();
      $('.edit-pkg').hide();
    })

    {% for message in messages %}
      {% if message.tags == 'error' %}
        Materialize.toast('{{ message }}', 60000, 'error-msg msg');
      {% else %}
        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
      {% endif %}
    {% endfor %}

    $(document).on('click', '#toast-container .toast', function() {
      $(this).fadeOut(function(){
        $(this).remove();
      });
    });
  });
</script>
{% endblock %}
