{% extends "member/base.html" %}
{% load imagetags %}

{% block sub-title %}Organization | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h3 class='header-font' style='text-align: center;'>{{ action|title }} {{ organization.name}} Member</h3>

<form class='org-form' method="POST" action="." enctype="multipart/form-data">
	<input type="hidden" name="action" value="save"/>
	<input type="hidden" name="org_id" value="{{ organization.id }}">
	{% if member %}
		<input type="hidden" id="member_id" name="member_id" value="{{ member.id }}"  />
	{% endif %}
	<input type="hidden" id="username" name="username" value="{{ username|default:'' }}" />
	<table>
		<tr>
			<td class="org-label">
				User
			</td>
			<td>
				{% if full_name %}
					<input name="full_name" readonly style="background-color:white; border:none; padding:1%; width:70%;" value="{{ full_name }}" />
				{% else %}
					<input class="username_input" id="id_username" name="name"/>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td class='pf-error name-error' style='padding-bottom: 3%;'>
				{% if form.username.errors %}
					Slow down and try again. You must select an existing user from the dropdown.
				{% endif %}
			</td>
		</tr>
		<tr>
			<td class='org-label'>
				Title
			</td>
			<td>
				{{ form.title }}
			</td>
			<td class='pf-error'>
				{{ form.title.errors }}
			</td>
		</tr>
		<tr>
			<td class='org-label'>
				Start Date
			</td>
			<td>
				{{ form.start_date }}
			</td>
			<td class='pf-error'>
				{{ form.start_date.errors }}
			</td>
		</tr>
		<tr>
			<td class='org-label'>
				End Date
			</td>
			<td>
				{{ form.end_date }}
			</td>
			<td class='pf-error'>
				{{ form.end_date.errors }}
			</td>
		</tr>
	</table>
	<input class='btn org-btn' type="submit" value="Save"/>
	<input class='btn cancel-btn' type="button" value="Cancel" onclick="location.href='{% url 'member:org:view' organization.id %}'"/>
	{% csrf_token %}
</form>

{% endblock %}

{% block extrajs %}
<script>
	(function() {
		$('.button-collapse').sideNav();

		var start = '{{ form.start_date.value }}';
		$('.username_input').on('focus', function() {
			$('.name-error').html('');
		})

		$('.username_input').autocomplete({
			source: "{% url 'member:json:user_search' %}",
			minLength: 2,
			autoFocus: true,
			select: function(e, ui) {
				e.preventDefault();
				$('.username_input').val(ui.item.label);
				$('#username').val(ui.item.value);
				if($('#username').val().length > 0) {
					$('.org-btn').attr('disabled', false);
				}
			}
		});

		if ($('#username').val().length < 1 && !($('#member_id').val())) {
			$('.org-btn').attr('disabled', 'disabled');
		}

		$('.username_input').on('focusout', function() {
			if ($('#username').val().length == 0 && $('.username_input').val().length > 0) {
				$('.pf-error.name-error').html('<p>Slow down and try again. You must select an existing user from the dropdown.</p>');
			}
		})

		$('.datepicker').datepicker();

		$(function () {
	    {% for message in messages %}
	      {% if message.tags == 'error' %}
	        Materialize.toast('{{ message }}', 60000, 'error-msg msg');
	      {% else %}
	        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
	      {% endif %}
	    {% endfor %}

	    $(document).on('click', '#toast-container .toast', function() {
	      $(this).fadeOut(function(){
	        $(this).remove();
	      });
	    });
	  });
	})();
</script>
{% endblock %}
