#header { 
	text-shadow: none;
	background-color:#313131; 
	font-size: 1.5em; 
	color: #EEE;
	padding-top:15px;
}

#footer {
	padding-top: 0.5em; 
	padding-bottom: 1.5em; 
	background-color:#313131;
	text-shadow: none;
	color: #EEE;
}

#top-nav ul li a { 
	font-size: 1.3em;
	border-top: 0px;
}

#new_user form div label { 
	font-size: 1.1em;
	vertical-align: top;
}

#yellow_button {
	background-color: yellow; 
	font-size: 1.2em;
}

table td:first-child, table td:last-child { text-align: left; }
table td { vertical-align: top; text-align: left; border-bottom: 1px solid #ccc; padding: 0.5em; }

.user-grid { text-align: center; }
.user-card { float: left; width: 190px; border: solid 3px #FFF; margin: 10px; text-align: center; }
.user-card a { padding: 10px 0; display: block; }
.user-card a.photo { height: 170px; background-color: #EEE; font-size: 150px; color: #DDD; text-decoration: none; }

.hidden {
	display: none;
}
a.showLink, a.hideLink {
	text-decoration: none;
	color: #36f;
	font-size: 1.2em;
}
a.hideLink {
	display: none;
}