{% load static %}

<h2>{{ user.get_full_name }}</h2>
	{% if user.profile.photo %}
		<img width="170" src="{{ site_url }}{{ user.profile.photo.url }}">
	{% else %}
		<p>[ No photo for this user. ]</p>
	{% endif %}

<p></p>

{% if user.profile.open_alerts %}
	<h3>Action Needed</h3>
	<table style="width:100%;">
		{% for alert in user.profile.open_alerts %}
			<tr>
				<td style="border-bottom: 1px solid gray; text-align:left;" nowrap>{{ alert.description }}</td>
				<td style="border-bottom: 1px solid gray; text-align:left;">
					{% if alert.is_system_alert %}
						[ SYSTEM ]
					{% else %}
						<form action="{{ site_url }}{% url 'members.views.manage_member' user.username %}" method="POST">
							<input name="alert_id" value="{{ alert.id }}" type="hidden" />
							<input name="username" value="{{ user.username }}" type="hidden" />
							<button type="submit" name="resolve_task" type="submit">Resolve</button>
						</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<h3>Recent Activity</h3>
<table style="width:100%;">
	<tr>
		<th style="border-bottom: 1px solid gray; text-align:left;" nowrap>Date</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">Payment</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">Guest of</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">Notes</th> 
	</tr>
	{% for log in user.profile.activity|slice:":10" %}
		<tr>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ log.visit_date|date:"M d, Y" }}</td>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ log.payment }}</td>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ log.guest_of|default:"&nbsp;" }}</td>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ log.note }}&nbsp;</td>
		</tr>
	{% empty %}
		<tr><td colspan="4" style="border-bottom: 1px solid gray; text-align:left;"><i>There is no recorded activity for this user.</i></td></tr>
	{% endfor %}
</table>

<h3>Membership History</h3>
<table style="width:100%;">
	<tr>
		<th style="border-bottom: 1px solid gray; text-align:left;">Membership</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">Start</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">End</th> 
	</tr>
	{% for m in user.profile.membership_history %}
		<tr>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ m.membership_plan }}</td>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ m.start_date }}</td>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ m.end_date }}&nbsp;</td>
		</tr>
	{% empty %}
		<tr><td style="border-bottom: 1px solid gray; text-align:left;" colspan="4"><i>There is no membership history for this user.</i></td></tr>
	{% endfor %}
</table>

<h3>Files</h3>
<table style="width:100%;">
	<tr>
		<th style="border-bottom: 1px solid gray; text-align:left;" nowrap>Uploaded</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">File Name</th>
		<th style="border-bottom: 1px solid gray; text-align:left;">Uploaded By</th>
	</tr>
	{% for f in user.profile.file_uploads %}
		<tr>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ f.uploadTS|date:"M d, Y" }}</td>
			<td style="border-bottom: 1px solid gray; text-align:left;"><a href="{{ site_url }}{% get_media_prefix %}{{ f.file.name }}">{{ f.name }}</a></td>
			<td style="border-bottom: 1px solid gray; text-align:left;">{{ f.uploaded_by }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="4" style="border-bottom: 1px solid gray; text-align:left;"><i>There are no files uploaded for this user.</i></td></tr>
	{% endfor %}
</table>


