{% load static %}
<style>
  * {
    font-family: 'Helvetica', sans-serif;
  }
  #site-phone:before {
    content: '206-323-6500';
  }

  #site-address:before {
    content: "1617 Boylston Ave, Seattle, WA 98122";
  }

  #site-email:before {
    content: 'info@officenomads.com';
  }
</style>

<body id='receipt-body'>
  <table cellspacing="0" cellpadding="0" border="0" style='width: 100%;'>
    <tr>
      <td style="width: 50%; padding-left: 7%;">
        <img src="{% static 'img/logo.png' %}" style='width:150px; height:150px;'/>
      </td>
      <td style="width: 50%; text-align: left;">
        <h1>{{ site.name }}</h1>
        <!-- Add functionality for site address and phone number -->
        <strong style="font-size:110%;">RECEIPT -
          {% if bill.is_paid %}
          <span style='color: green;'> PAID</span>
          {% else %}
          <span style='color: red;'> UNPAID </span>
          {% endif %}
        </strong>
      </td>
      <td width="33%">

      </td>
    </tr>
  </table>

  <table cellspacing="0" cellpadding="0" border="0" style='margin-top:2%;';>
      <tr>
        <td style="font-size:120%; width: 300px;">Bill for: <i>{{ bill.user.get_full_name }}</i></td>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td style='font-size: 90%;' width="20px"><strong>Due Date:</strong></td>
              <td style='font-size: 90%;' width="160px"> {{ bill.due_date|date:"M d, Y" }}</td>
            </tr>
            <tr>
              <td style='font-size: 90%;' width="20px"><strong>Location:</strong></td>
              <td style='font-size: 90%;' width="160px"> {{ site.name }}</td>
            </tr>
            <tr>
              <td style='font-size: 90%;' width="20px"><strong>Period:</strong></td>
              <td style='font-size: 90%;' width="160px"> {{ bill.period_start }} <i>to</i> {{ bill.period_end }}</td>
            </tr>
            {% if bill_url %}
              <tr>
                <td width="150px"><a href="{{ bill_url }}">View Online</a></td>
              </tr>
            {% endif %}
          </table>
        </td>
      </tr>
    </table>
    <hr style='margin-top: 5%;' />
    <table>
      <tr>
        <th style="text-align: left; width:440px; margin-left:40px;">Description</th>
        <th style="text-align: right;">Amount</th>
      </tr>
      {% for line_item in bill.line_items.all %}
        <tr>
          <td style="text-align: left; width:440px; margin-left:40px; padding-top: 20px;">{{ line_item.description }}{% if benefactor %} <i>- For {{ benefactor.get_full_name }}</i>{% endif %}</td>
          <td style="text-align: right; padding-top: 20px;">${{ line_item.amount|floatformat:2 }}</td>
        </tr>
      {% endfor %}
      {% for rate, total in bill.total_tax_applied_by_rate %}
        <tr>
          <td style="text-align: left; width:440px; margin-left:40px; padding-top: 20px;">{{ rate }}</td>
          <td style="text-align: right; padding-top: 20px;">${{ total|floatformat:2 }}</td>
        </tr>
      {% endfor %}
      {% if bill.payment_set.all %}
        {% for payment in bill.payment_set.all %}
          <tr>
            <td style="text-align: left; width:440px; margin-left:40px; padding-top: 20px; color: green;">Payment -{{ payment.created_ts|date:"m/d/y" }}</td>
            <td style="text-align: right; padding-top: 20px;">( ${{ payment.amount }} )</td>
          </tr>
        {% endfor %}
      {% endif %}
      <tr>
        <td colspan="2" style="text-align: right; padding-top: 5%; padding-bottom: 15px;">
          {% if bill.total_owed == 0 %}
            <strong>Total Paid:</strong> ${{ bill.total_paid|floatformat:2 }}
          {% else %}
            <strong>Total Owed:</strong> ${{ bill.total_owed|floatformat:2 }}
          {% endif %}
        </td>
      </tr>
    </table>
    <hr />
    {% if bill.comment %}
      <strong>Comment:</strong>
      <p>
        {{ bill.comment}}
      </p>
    {% endif %}
    <p style="margin: 1em 0 0 0;">
      Thank you!<br/>
      The {{ site.name }} Team<br/>
    </p>
    <footer style='position:fixed; bottom: 0; width:100%; text-align: center;'>
      <!-- This is for when more information about site is available -->
      <span id='site-phone'></span> |
      <span id='site-address'></span> |
      <span id='site-email'></span>
    </footer>
</body>
