{% load static %}

<body id='receipt-body'>
  <table cellspacing="0" cellpadding="0" border="0" style='width: 100%;'>
    <tr>
      <td>
        <img src="{% static 'img/logo-line.png' %}" style='width:150px; height:150px;'/>
      </td>
      <td width="33%;" align="center" >
        <h1>{{ site.name }}</h1>
        <!-- Add functionality for site address and phone number -->
        <strong style="font-size:110%;">RECEIPT -
          {% if bill.is_paid %}
          <span style='color: green;'> PAID</span>
          {% else %}
          <span style='color: red;'> UNPAID </span>
          {% endif %}
        </strong>
      </td>
      <td width="33%">

      </td>
    </tr>
  </table>

  <table cellspacing="0" cellpadding="0" border="0" style='margin-top:2%;';>
      <tr>
        <td style="font-size:120%; width: 300px;">Bill for: <i>{{ bill.user.get_full_name }}</i></td>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" border="0">
            <tr>
              <td width="20px"><strong>Due Date:</strong></td>
              <td width="160px"> {{ bill.due_date|date:"M d, Y" }}</td>
            </tr>
            <tr>
              <td width="20px"><strong>Location:</strong></td>
              <td width="160px"> {{ site.name }}</td>
            </tr>
            <tr>
              <td width="20px"><strong>Period:</strong></td>
              <td width="160px"> {{ bill.period_start }} <i>to</i> {{ bill.period_end }}</td>
            </tr>
            {% if bill_url %}
              <tr>
                <td width="150px"><a href="{{ bill_url }}">View Online</a></td>
              </tr>
            {% endif %}
          </table>
        </td>
      </tr>
    </table>
    <hr style='margin-top: 5%;' />
    <table>
      <tr>
        <th style="text-align: left; width:440px; margin-left:40px;">Description</th>
        <th style="text-align: right;">Amount</th>
      </tr>
        {% for line_item in bill.line_items.all %}
          <tr>
            <td style="text-align: left; width:440px; margin-left:40px">{{ line_item.description }}</td>
            <td style="text-align: right;">${{ line_item.amount|floatformat:2 }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="2" style="text-align: right; padding-top: 5%;">
            {% if bill.total_owed == 0 %}
              <strong>Total Paid:</strong> ${{ bill.total_paid|floatformat:2 }}
            {% else %}
              <strong>Total Owed:</strong> ${{ bill.total_owed|floatformat:2 }}
            {% endif %}
          </td>
        </table>
      </td></tr>
    </table>
    <hr />
    <p style="margin: 1em 0 0 0;">
      Thank you!<br/>
      The {{ site.name }} Team<br/>
    </p>
    <footer style='position:fixed; bottom: 0; width:100%; text-align: center;'>
      <!-- This is for when more information about site is available -->
      {% if site.phone %}
        {{ site.phone }} - {{ site.address }} - {{ site.email }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </footer>
</body>
