{% extends "staff/user/base.html" %}

{% block sub-title %}Members | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}
{% include "staff/user/member_menu.frag" %}

<h2>Member BCC Tool - {{ group_name }}</h2>

<div>
	<form id="group_form">
	<strong>View: </strong>
	<select name="group" OnChange="location.href=group_form.group.options[selectedIndex].value">
		<option></option>
		{% for k, v in group_list %}
			<option value="{% url 'staff:user:group_bcc' k %}" {% if k == group %} SELECTED {% endif %}>
				{{ v }}
			</option>
		{% endfor %}
	</select>
	</form>
</div>

<textarea rows="20" cols="80">
{% for user in users %}{{ user.email }}, {% endfor %}
</textarea>

{% endblock %}
