{% extends "staff/user/base.html" %}
{% load imagetags %}
{% load static %}

{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block style%}
  h4 {
    border-bottom: none;
  }

  #quick-links {
    text-align: left;
  }

  caption {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  #right-floater {
    margin-top: 30px;
    float: right;
    width: 180px;
    min-height: 200px;
  }

  .member-photo {
    width: 170px;
    text-align: center;
    margin: 0px 10px;
  }

  #content td, #content th {
    padding-left: 20px;
  }

  #onboard-form, #exit-form {
    width: 400px;
  }

  #onboard-form td, #exit-form td {
    white-space: nowrap;
  }

  #onboard-form th, #exit-form th {
    text-align: left;
  }

  @media only screen and (max-width: 425px) {
    h4 {
      font-size: 2.5em;
    }
  }

  @media only screen and (max-width: 350px) {
    .member-photo, .member-detail {
      float:none;
    }

    h4 {
      font-size: 2.3em;
      margin-left: 2%;
    }
  }
{% endblock %}

{% block sub-head %}
<script>
function gotoEmailReset(emailAddress){
    try {
        $.ajax({
            type: 'POST',
            url: '',
            data: ({'email':emailAddress}),
            success: function(data) { },
            error: function(request, status, error) { }
        });
    }catch(e) {
        alert(e);
    }
}
</script>
<script>
    $(function () {
        jQuery('#tabs').tabs();
    });
</script>

<script>
    $(function() {
        var availableDays = ["Birthday", "Anniversary", "Child's Birthday"];
        $( "#specialdays" ).autocomplete({
            source: availableDays
        });
    });
</script>
{% endblock %}

{% block content %}

<div class="member-photo">
  {% if user.profile.photo %}
    <a href="{{ user.profile.photo.url }}"><img src="{{ user.profile.photo.url|fit_image:"170x170" }}" /></a>
  {% else %}
    <img src="{% static 'BlankIcon150x150.jpg' %}">
  {% endif %}
</div>

<!-- Member Detail -->
<div class='row' id="member-detail">
  <h4 style='margin-top: 0;'>{{ user.get_full_name }} {% if user.profile.is_active %} - <i>{{ user.profile.membership_type }}</i> {% endif %}</h4>
  <div id="quick-links">
    <a href="{% url 'staff:activity:user' user.username %}">activity</a> |
    <a href="{% url 'doors_keys' user.username %}">keys</a> |
    <a href="{% url 'staff:user:files' user.username %}">files</a> |
    <a href="{% url 'staff:billing:user_payment' user.username %}">usaepay</a> |
    <a href="{% url 'staff:billing:xero' user.username %}">xero</a> |
    <a href="{% url 'admin:auth_user_change' user.id %}">admin</a> |
    <a href="{% url 'member_profile' user.username %}">view profile</a> |
    <a href="{% url 'member_edit_profile' user.username %}">edit profile</a> |
    {% if user.profile.is_active %}
      <a href="{% url 'staff:user:membership' user.profile.last_membership.id %}">update membership</a>
    {% else %}
      <a href="{% url 'staff:user:membership' user.username %}">add membership</a>
    {% endif %}
  </div>
</div>

<div class="clearfix"></div>

<div>
  <ul class='tabs'>
    <li class='tab'><a href="#tabs-0">Details</a></li>
    <li class='tab'><a href="#tabs-1">Membership</a></li>
    <li class='tab'><a href="#tabs-2">Billing</a></li>
    <li class='tab'><a href="#tabs-3">Emails</a></li>
    <li class='tab'><a href="#tabs-4">Tasks</a></li>
    <li class='tab'><a href="#tabs-5">Notes</a></li>
  </ul>

<div id="tabs-0">
    <table>
        <!-- Username -->
        <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>

        <!-- Plan Start -->
        {% if user.profile.active_membership %}
        <tr>
            <td>Bill Date</td>
            <td>{{ user.profile.active_membership.start_date|date:"jS" }}</td>
        </tr>
        {% endif %}

        <!-- Stats -->
        <tr>
            <td>First Visit</td>
            <td>{{ user.profile.first_visit }}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{ user.profile.duration_str }}</td>
        </tr>
        <tr>
            <td>Last Visit</td>
            <td>{{ user.profile.last_visit }}</td>
        </tr>

        <!-- organizations -->
        {% for o in user.profile.active_organizations %}
            <tr>
                <td>Organization</td>
                <td>{{ o }}</td>
            </tr>
        {% endfor %}

        <!-- Website -->
        {% if user.profile.url_personal %}
            <tr>
                <td>Website</td>
                <td><a href="{{ user.profile.url_personal }}">{{ user.profile.url_personal }}</a></td>
            </tr>
        {% endif %}

        <!-- Gender -->
        {% if user.profile.gender %}
            <tr>
                <td>Gender</td>
                <td>{{ user.profile.gender }}</td>
            </tr>
        {% endif %}

        <!-- Emails -->
        {% for e in user.profile.all_emails %}
            <tr>
                <td>Email Address {{forloop.counter}}</td>
                <td>{{ e.email }}</td>
            </tr>
        {% endfor %}

        <!-- Phone -->
        {% if user.profile.phone %}
            <tr>
                <td>Phone</td>
                <td>{{ user.profile.phone }}</td>
            </tr>
        {% endif %}

        <!-- Phone2 -->
        {% if user.profile.phone2 %}
            <tr>
                <td>Alternate Phone</td>
                <td>{{ user.profile.phone2 }}</td>
            </tr>
        {% endif %}

        <!-- Address 1-->
        {% if user.profile.address1 %}
            <tr>
                <td>Address 1</td>
                <td>{{ user.profile.address1 }}</td>
            </tr>
        {% endif %}

        <!-- Address 2-->
        {% if user.profile.address2 %}
            <tr>
                <td>Address 2</td>
                <td>{{ user.profile.address2 }}</td>
            </tr>
        {% endif %}

        <!-- City, State, Zip-->
        {% if user.profile.city %}
            <tr>
                <td>City</td>
                <td>{{ user.profile.city }} {{ user.profile.state }}, {{ user.profile.zipcode }}</td>
            </tr>
        {% endif %}

        <!-- How Heard -->
        {% if user.profile.howHeard %}
            <tr>
                <td>How Heard</td>
                <td>{{ user.profile.howHeard }}</td>
            </tr>
        {% endif %}

        <!-- Industry -->
        {% if user.profile.industry %}
            <tr>
                <td>Industry</td>
                <td>{{ user.profile.industry }}</td>
            </tr>
        {% endif %}

        <!-- Neighborhood -->
        {% if user.profile.neighborhood %}
            <tr>
                <td>Neighborhood</td>
                <td>{{ user.profile.neighborhood }}</td>
            </tr>
        {% endif %}

        <!-- Has Kids -->
        {% if user.profile.has_kids %}
            <tr>
                <td>Has Kids?</td>
                <td>{{ user.profile.has_kids }}</td>
            </tr>
        {% endif %}

        <!-- Self Employed -->
        {% if user.profile.self_employed %}
            <tr>
                <td>Self Employed?</td>
                <td>{{ user.profile.self_employed }}</td>
            </tr>
        {% endif %}
    </table>

    <div style="padding-top: 1em;">
    <strong>Emergency Contact</strong>
    {% if not emergency_contact.name %}
        <p style="font-style: italic; color:red; padding-left: 2em;">No Emergency Contact Information</p>
    {% else %}
        <table>
            <tr>
                <td>Name</td>
                <td>{{ emergency_contact.name }}</td>
            </tr>
            <tr>
                <td>Relationship</td>
                <td>{{ emergency_contact.relationship }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ emergency_contact.phone }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{ emergency_contact.email }}</td>
            </tr>
        </table>
    {% endif %}
    </div>
</div>

<div id="tabs-1">
    <!-- Memberships -->
    <h5>Memberships</h5>
    <table>
        <tr>
            <th>Plan</th>
            <th>Rate</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Desk</th>
            <th>Key</th>
            <th>Mail</th>
            <th>Action</th>
        </tr>

        {% for membership in memberships %}
            <tr class="{% cycle 'row-even' 'row-odd' %}">
                <td nowrap>
                    {{ membership.membership_plan }}
                    {% if membership.paid_by %}
                     (<a href="{% url 'staff:user:detail' membership.paid_by.username %}">{{ membership.paid_by.username }}</a>)
                    {% endif %}
                </td>
                <td>${{ membership.monthly_rate }}</td>
                <td><a href="{{ membership.get_admin_url }}">{{ membership.start_date }}</a></td>
                <td>{% if membership.end_date %}{{ membership.end_date }}{% endif %}</td>
                <td>{% if membership.has_desk %}&check;{% endif %}</td>
                <td>{% if membership.has_key %}&check;{% endif %}</td>
                <td>{% if membership.has_mail %}&check;{% endif %}</td>
                <td style="text-align:center;">
                    {% if membership == user.profile.last_membership %}
                        [<a href="{% url 'staff:user:membership' membership.id %}">edit</a>]
                    {% endif %}
                &nbsp;</td>
            </tr>
        {% endfor %}

        {% if user.profile.last_membership.end_date %}
        <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td colspan="7">&nbsp;</td>
            <td>[<a href="{% url 'staff:user:membership' user.username %}">add membership</a>]</td>
        </tr>
        {% endif %}
    </table>

    <!-- Active Guest Memberships -->
    {% if user.profile.guests %}
        <h2>Active Guests:</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Membership</th>
                    <th>First Visit</th>
                </tr>

                {% for guest in user.profile.guests %}
                    <tr class="{% cycle 'row-even' 'row-odd' %}">
                        <td nowrap><a href="{% url 'staff:user:detail' guest.username %}">{{ guest.get_full_name }}</a></td>
                        <td>{{ guest.profile.active_membership.membership_plan }}</td>
                        <td style="text-align: center;">{{ guest.profile.first_visit }}</td>
                    </tr>
                {% endfor %}
            </table>
    {% endif %}
</div>

<div id="tabs-2">
    <div id="quick-links">
        <strong>More Info:</strong>
        <a href="{% url 'staff:billing:user_bills' user.username %}">bills</a> |
        <a href="{% url 'staff:billing:user_transactions' user.username %}">transactions</a>
    </div>
    <!-- Billing Profile -->
    <h2>Billing Profile</h2>
    <!-- TODO change look of button in members/profile_billing_frag -->
    {% include "members/profile_billing_frag.html" %}
    <div style="margin-left: 2em; margin-top: .5em;">
      <form method=POST action="{% url 'staff:billing:toggle_bill' user.username %}" onSubmit="return confirm('Are you sure?');">
        <input type="hidden" name="back" value="{{ request.get_full_path }}">
        {% if user.profile.has_valid_billing %}
            <input type="submit" value="Flag Invalid Billing Profile">
        {% else %}
            <input type="submit" value="Clear Invalid Billing Flag">
        {% endif %}
        {% csrf_token %}
      </form>
    </div>
    <div style="margin-left: 2em; margin-top: .5em;">
        [ <a href="https://secure.usaepay.com/interface/epayform/{{ settings.USA_EPAY_WEB_KEY }}/?UMdescription=Office%20Nomads%20Billing%20Authorization&UMcustid={{ user.username }}&UMcommand=AuthOnly&UMamount=1.00&UMaddcustomer=yes&UMschedule=disabled">payment link</a> ]
    </div>

    <!-- Security Deposits -->
    <h2>Security Deposits:</h2>
    <div>
    <table>
        <tr>
            <th>Received</th>
            <th>Returned</th>
            <th>Amount</th>
            <th>Note</th>
            <th>Action</th>
        </tr>
        {% for deposit in user.profile.deposits %}
            <tr class="{% cycle 'row-even' 'row-odd' %}">
                <td>{{ deposit.received_date }}</td>
                <td>{% if deposit.returned_date %}{{ deposit.returned_date }}{% endif %}</td>
                <td>${{ deposit.amount }}</td>
                <td>{% if deposit.note %}{{ deposit.note }}{% endif %}</td>
                <td style="text-align:right;">{% if not deposit.returned_date %}
                    <form action="{% url 'staff:user:deposits' %}" method="POST" onSubmit="return confirm('Are you sure?');">
                        <input name="username" value="{{ user.username }}" type="hidden" />
                        <input name="deposit_id" value="{{ deposit.id }}" type="hidden" />
                        <input name="mark_returned" type="submit" Value="Mark Returned" />
                        {% csrf_token %}
                    </form>
                {% endif %}</td>
            </tr>
        {% endfor %}

    <form action="{% url 'staff:user:deposits' %}" method="POST">
        <input name="username" value="{{ user.username }}" type="hidden" />
        <tr>
            <td colspan="2" style="text-align:right;"><strong>Record New Deposit:</strong></th>
            <td><input name="amount" size="4" /></td>
            <td><input name="note" size="32" /></td>
            <td style="text-align:right;"><input name="add_deposit" type="submit" Value="Record Deposit" /></td>
        {% csrf_token %}
    </form>

    </table>
    </div>
</div>

<div id="tabs-3">
    <!-- Email Logs -->
    <div id="quick-links">
        <strong>Actions:</strong>
        <a href="{% url 'password_reset' %}?email={{ user.email }}">password reset</a>
    </div>
    <h2>Email Logs</h2>
    <div>
        {% if email_logs %}
            <table>
                <tr><th>Sent</th><th align="left">Subject</th></tr>
                {% for log in email_logs %}
                    <tr {% if not log.success %} style="color:red;" {% endif %}>
                        <td nowrap>{{ log.created }}</td>
                        <td>{{ log.subject }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No email logs.</p>
        {% endif %}
        <div style="margin:1em;">
            <form action="." method="POST">
                <strong>Manually Send Email: </strong>
                <select name="message_key">
                    {% for key in email_keys %}
                        <option>{{ key }}</option>
                    {% endfor %}
                </select>
                <input name="send_manual_email" type="submit" Value="Send" />
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

<div id="tabs-4">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% with user.profile.open_alerts as alerts and True as description and False as member %}
      {% if alerts %}
        <h2>Action Required</h2>
        {% include "staff/tasks/detail_table.html" %}
      {% endif %}
    {% endwith %}

    <h2>Completed Tasks</h2>
    <table class='responsive-table'>
      <thead>
        <tr>
            <th>Created</th>
            <th id='alerts-th'>Alert</th>
            <th>Resolved</th>
            <th>Resolved By</th>
            <th>Muted</th>
            <th>Muted By</th>
            <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in user.profile.alerts %}
            {% if alert.is_resolved %}
                <tr class="{% cycle 'row-even' 'row-odd' %}">
                    <td>{{ alert.created_ts|date:"m/d/y" }}</td>
                    <td style="text-align:left;">{{ alert.description }}</td>
                    <td>{{ alert.resolved_ts|date:"m/d/y" }}</td>
                    <td>{{ alert.resolved_by|default:"" }}</td>
                    <td>{{ alert.muted_ts|date:"m/d/y" }}</td>
                    <td>{{ alert.muted_by|default:"" }}</td>
                    <td>{{ alert.note|default:"" }}</td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
</div>

<div id="tabs-5">
    <h2>Notes</h2>
    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>By</th>
                <th align="left">Note</th>
                <th></th>
            </tr>
            {% for note in user.profile.member_notes %}
                <tr>
                    <td>{{ note.created|date:"M d, Y"}}</td>
                    <td>{% if note.created_by %}{{ note.created_by }} {% endif %}</td>
                    <td style="text-align:left;">{{ note.note }}</td>
                    <td style="text-align:right;" nowrap>[ <a href="{% url 'admin:nadine_membernote_change' note.id %}">edit</a> ]</td>
                </tr>
            {% endfor %}
        <table>
            <form action="." method="POST">
            <tr>
                <td colspan="3" width="10%"><input name="note"/ size="90"></td>
                <td style="text-align:right;"><input type="submit" name="add_note" value="Add Note"/></td>
            </tr>
            {% csrf_token %}
            </form>
        </table>
    </div>

    <h2>Special Days:</h2>
    <div>
        <table>
            <tr>
                <th>Month</th>
                <th>Day</th>
                <th>Year</th>
                <th style="text-align:left;">Description</th>
                <th></th>
            </tr>
            {% for d in user.profile.special_days %}
                <tr>
                    <td>{{ d.month }}</td>
                    <td>{{ d.day }}</td>
                    <td>{% if d.year %}{{ d.year }}{% endif %}</td>
                    <td style="text-align:left;">{{ d.description }}</td>
                    <td style="text-align:right">[ <a href="{% url 'admin:nadine_specialday_change' d.id %}">edit</a> ]</td>
                </tr>
            {% endfor %}
        <form action="." method=POST>
            <tr>
                <td><select name="month">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select></td>
                <td><select name="day">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select></td>
                <td><input name="year" size=4/></td>
                <td style="text-align:left;"><input id="specialdays" name="description" size="50"/></td>
                <td style="text-align:right"><input type="submit" name="add_special_day" value="Add Special Day"/></td>
            </tr>
            {% csrf_token %}
        </form>
    </table>
    </div>
</div>

</div>

{% endblock %}


{% block extrajs %}
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
		$('.collapsible').collapsible();

    $('.billing-btn').attr('class', 'billing-btn');
  });
</script>
{% endblock %}
