{% load static %}

<h5>Details</h5>
<table class='mem-details-table'>
  <tr class='row-even'>
    <th>Billing Day</th>
    <th>Next Bill</th>
    <th>Package</th>
  </tr>
  <tr>
    <td>{{ membership.bill_day_str }}</td>
    <td>{{ membership.next_period_start }}</td>
    <td>{{ membership.package }}</td>
  </tr>
</table>

<h5>Subscriptions (<a class='edit-sub'>+</a>)</h5>
<table class='sub-table'>
  <tr class='row-even'>
    <th>Resource</th>
    <th>Allowance</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Overage</th>
    <th>Monthly</th>
    <th>Paid By</th>
    <th></th>
  </tr>
  {% for s in membership.active_subscriptions %}
    <tr>
      <td>{{ s.resource }}</td>
      <td>{{ s.allowance }}</td>
      <td>{{ s.start_date }}</td>
      <td>{{ s.end_date |default:"-" }}</td>
      <td>${{ s.overage_rate }}</td>
      <td>${{ s.monthly_rate }}/month</td>
      <td>{{ s.paid_by|default:"" }}</td>
      <td><a href="">Edit</a></td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="5"><strong>Total:</strong></td>
    <td>${{ membership.monthly_rate }}/month<td>
  </tr>
</table>

<!-- <div id='subModal' class='modal'>
  <div class='modal-content'>
    <div class='modal-body'> -->
      <h5>Update Membership</h5>
      <div class='container'>
        <div class='row'>
          <form action='.'>
            <table>
              <tr>
                <td>
                  <strong>Current Package: </strong>
                </td>
                <td id='package'>
                  {{ membership.package }}
                </td>
                <td id='new-package'>
                  {{ package_form.package }}
                </td>
                <td id='change'>
                  <a id='change' class='chip'>Change</a>
                   | <a id='end' class='chip'>End</a>
                </td>
                <td id='start'>
                  <button class='btn' onclick="$.get('.')" style='display:inline-block;'>Start</button>
                  <div class='fill'>

                  </div>
                </td>
              </tr>
            </table>
          </form>
          <form>
            <table>
              {% if subscriptions %}
                <tr>
                  <th>Resource</th>
                  <th>Allowance</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Monthly Rate</th>
                  <th>Overage Rate</th>
                  <th>Paid By</th>
                </tr>
                {% for sub in subscriptions %}
                <tr>
                  <td>
                    {{ sub.resource }}
                  </td>
                  <td>
                    {{ sub.allowance }}
                  </td>
                  <td>
                    {{ sub.start_date }}
                  </td>
                  <td>
                    {{ sub.end_date }}
                  </td>
                  <td>
                    {{ sub.monthly_rate }}
                  </td>
                  <td>
                    {{ sub.overage_rate}}
                  </td>
                  <td>
                    {{ sub.paid_by }}
                  </td>
                </tr>
                {% endfor %}
              {% endif %}
            </table>
            <button class='btn' type='submit' style='display:inline-block; margin-right: 5%;'>Update</button><span class='cancel'>Cancel</span>
          </form>
        </div>
      </div>
    <!-- </div>
  </div>
</div> -->

<!-- Active Guest Memberships -->
<!-- TODO This is the old way... needs to be ported to the new way -->
<!--
{% if user.profile.guests %}
  <h5>Active Guests:</h5>
    <table>
      <tr>
        <th>Name</th>
        <th>Membership</th>
        <th>First Visit</th>
      </tr>

      {% for guest in user.profile.guests %}
        <tr class="{% cycle 'row-even' 'row-odd' %}">
          <td nowrap><a href="{% url 'staff:user:detail' guest.username %}">{{ guest.get_full_name }}</a></td>
          <td>{{ guest.profile.active_membership.membership_plan }}</td>
          <td class='centered'>{{ guest.profile.first_visit }}</td>
        </tr>
      {% endfor %}
    </table>
{% endif %}
-->

<script>
  $(document).ready(function() {
    $('#new-package').hide();
    $('#start').hide();

    $('.edit-sub').on('click', function(e) {
      e.preventDefault();
      $('#subModal').css('display', 'block');
    });

    $('.cancel').on('click', function(e) {
      e.preventDefault();
      $('#subModal').css('display', 'none');
      $('#new-package').hide();
      $('#package').show();
    })

    $('#change').on('click', function(e) {
      e.preventDefault();
      $('#package').hide();
      $('#new-package').show();
    })

    $('#id_package').on('change', function() {
      $('#change').hide();
      $('#start').show();

      $.get("{% url 'staff:user:detail' user.username %}");
    })
  });
</script>
