{% extends "staff/user/base.html" %}

{% block content %}
<h5>Current Package Details</h5>
<table class='mem-details-table'>
  <tr class='row-even'>
    <th>Billing Day</th>
    <th>Next Bill</th>
    <th>Package</th>
    <th></th>
  </tr>
  <tr>
    <td>{{ entity.membership.bill_day_str }}</td>
    <td>{{ entity.membership.next_period_start }}</td>
    <form>
      <td id='package'>
        {{ entity.membership.package }}
      </td>
      <td>
        <a id='change' class='chip'>New Package</a>
        | <a id='update' class='chip'>Update Current Subscriptions</a>
        | <a id='end' class='chip'>End Current Package</a>
      </td>
    </form>
  </tr>
</table>

<div class='curr-sub'>
  <h5>Subscriptions</h5>
  <table class='sub-table'>
    <tr class='row-even'>
      <th>Resource</th>
      <th>Allowance</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Overage</th>
      <th>Monthly</th>
      <th>Paid By</th>
    </tr>
    {% for s in entity.membership.active_subscriptions %}
      <tr>
        <td>{{ s.resource }}</td>
        <td>{{ s.allowance }}</td>
        <td>{{ s.start_date }}</td>
        <td>{{ s.end_date |default:"-" }}</td>
        <td>${{ s.overage_rate }}</td>
        <td>${{ s.monthly_rate }}/month</td>
        <td>{{ s.paid_by|default:"" }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><strong>Total:</strong></td>
      <td>${{ entity.membership.monthly_rate }}/month<td>
    </tr>
  </table>
</div>

<div id='update-package'>
  <h5>Update Current Subscriptions</h5>
  <form action='.' method='POST'>
    <table class='up-table'>
      <tr class='up-table-th'>
        <th>Resource</th>
        <th class='allowance'>Allowance</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class='rate'>Monthly Rate</th>
        <th class='rate'>Overage Rate</th>
        <th>Paid By</th>
        <th></th>
      </tr>
      {% for r in entity.membership.active_subscriptions %}
      <tr class="{% cycle 'row-even' 'row-odd' %} subs">
        <form action='.' method='POST'>
          <input name='id' value='{{ r.id }}' type='hidden' />
          <input name='update' type='hidden' value='update' />
          <td class='up-input resource'><strong>{{ r.resource }}</strong></td>
          <td class='up-input allowance'><input type='number' value='{{ r.allowance }}' name='allowance' min='0' readonly /></td>
          <td class='up-input'><input type='date' name='start_date' value='{{ r.start_date|date:"Y-m-d" }}' readonly  /></td>
          <td class='up-input'><input class='end_date-{{ r.id }}' name='end_date' type='date' value='{{ r.end_date|date:"Y-m-d" }}' readonly  /></td>
          <td class='up-input rate monthly_rate'><input type='number' name='monthly_rate' min='0' value='{{ r.monthly_rate }}' readonly /></td>
          <td class='up-input rate'><input type='number' name='overage_rate' value='{{ r.overage_rate }}' readonly /></td>
          <td class='up-input'><input type='text' name='paid_by ' class='paying_user' value='{{ r.paid_by }}' readonly /></td>
          <td class='edit-td'>
            <a class='edit-a btn-floating' id='edit-{{ r.id }}'><strong>Edit</strong></a>
            {% if r.end_date %} {% else %}
            | <a class='delete btn-floating' id='delete-{{ r.id }}'><strong>End</strong></a>
            {% endif %}
            {% csrf_token %}
            <button class='update-submit' id='submit-{{ r.id }}' type='submit'>Submit</button>
          </td>
        </form>
			</tr>
      {% endfor %}
      <tr class="{% cycle 'row-odd' 'row-even' %}">
        <form class='add-form' action='.' method='POST'>
          <input type='hidden' value='add-sub' name='add' />
          <input type='hidden' value='{{ entity.username }}' name='username' />
          <input type='hidden' value='{{ request.user }}' name='created_by'/>
          <td class='resource'>
            {{ add_form.resource }}
          </td>
          <td class='allowance'>
            {{ add_form.allowance }}
          </td>
          <td class='add_date'>
            {{ add_form.start_date }}
          </td>
          <td class='add_date'>
            {{ add_form.end_date }}
          </td>
          <td class='rate monthly_rate'>
            {{ add_form.monthly_rate }}
          </td>
          <td class='rate'>
            {{ add_form.overage_rate }}
          </td>
          <td>
            {{ add_form.paid_by }}
          </td>
          <td>
            {% csrf_token %}
            <button class='add-submit btn-floating' type='submit'><strong>Add</strong></button>
          </td>
        </form>
      </tr>
    </table>
    {% csrf_token %}
  </form>
</div>

<div id='end-package'>
  <h5>End All Current Subscriptions</h5>
  <form method='POST' action='.' class='end-sub-form'>
    <table>
      <tr>
        <td id='end-header'>
          <strong>When do you want to end?</strong>
        </td>
        <td id='select-end-td'>
          <select name='ending' id='select-end'>
            <option value='today'>
              Today
            </option>
            <option value='eop'>
              End of This Bill Period
            </option>
            <option value='other'>
              Other
            </option>
          </select>
        </td>
        <td style='width:30%;'>
          <input id='date-end' name='date-end' class='datepicker' placeholder="Select Date" />
        </td>
      </tr>
    </table>
    {% csrf_token %}
    <button class='btn' type='submit' style='display:inline-block; margin-right: 5%; margin-left:40%; margin-top: 2%;'>End All</button><span class='cancel' style='margin-top:2%;'>Cancel</span>
  </form>
</div>


<div id='change-package'>
  <h5>Change Membership</h5>
  <form>
    <table class='sub-table'>
      <tr>
        <td id='package-head'>
          <strong>New Package: </strong>
        </td>
        <td id='new-package'>
          {{ package_form.package }}
        </td>
        <td id='bd-head'>
          <strong>Billing Day:</strong>
        </td>
        <td id='new-bill-day'>
          {{ package_form.bill_day }}
        </td>
        <td>
        </td>
        <td id='start'>
          <button class='btn' onclick="$.get('.')" style='display:inline-block;'>Start</button>
        </td>
      </tr>
    </table>
  </form>
  <form action='.' method='POST'>
    <table class='sub-table'>
      {% if subscriptions %}
      <tr class='row-even'>
        <th>Resource</th>
        <th class='allowance'>Allowance</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th class='rate'>Monthly Rate</th>
        <th class='rate'>Overage Rate</th>
        <th>Paid By</th>
        <th></th>
      </tr>
      {{ sub_formset.management_form }}
      {% for sub_form in sub_formset %}
      <tr class='sub-formset subs'>
				<td class='sub-input'>{{ sub_form.resource }}</td>
				<td class='sub-input allowance'>{{ sub_form.allowance  }}</td>
        <td class='sub-input'>{{ sub_form.start_date  }}</td>
        <td class='sub-input'>{{ sub_form.end_date  }}</td>
        <td class='sub-input rate monthly_rate'>{{ sub_form.monthly_rate  }}</td>
        <td class='sub-input rate'>{{ sub_form.overage_rate }}</td>
        <td class='sub-input'>{{ sub_form.paid_by  }}</td>
        <td>
          <a class="delete-row">Remove</a>
          <input type='hidden' class='chosen_package' name='package' value="{{ package }}" />
          <input type='hidden' class='ur_bill_Day' name='bill_day' value="{{ bill_day }}" />
          {% if entity.username %}
            <input type='hidden' class='thr_username' name='username' value="{{ entity.username }}" />
            {{ sub_form.username}}
          {% else %}
            <input type='hidden' name='org' value='{{ org }}' />
            {{ sub_form.org }}
          {% endif %}
          {{ sub_form.created_by}}
          <input type='hidden' name='created_by' value="{{ request.user }}" />
        </td>
			</tr>
      {% endfor %}
    </table>
    {% endif %}
    {% csrf_token %}
    <button class='btn' type='submit' style='display:inline-block; margin-right: 5%; margin-left:40%; margin-top: 2%;'>Update</button><span class='cancel' style='margin-top:2%;'>Cancel</span>
  </form>
</div>

<!-- Active Guest Memberships -->
<!-- TODO This is the old way... needs to be ported to the new way -->
<!--
{% if user.profile.guests %}
  <h5>Active Guests:</h5>
    <table>
      <tr>
        <th>Name</th>
        <th>Membership</th>
        <th>First Visit</th>
      </tr>

      {% for guest in user.profile.guests %}
        <tr class="{% cycle 'row-even' 'row-odd' %}">
          <td nowrap><a href="{% url 'staff:user:detail' guest.username %}">{{ guest.get_full_name }}</a></td>
          <td>{{ guest.profile.active_membership.membership_plan }}</td>
          <td class='centered'>{{ guest.profile.first_visit }}</td>
        </tr>
      {% endfor %}
    </table>
{% endif %}
-->
{% endblock %}

{% block extrajs %}
<script>
  (function() {
    var availableUsers = [
			{% for u in active_members %}
				 "{{ u.username }}",
			{% endfor %}
		];

    $(".paying_user").autocomplete({
			source: availableUsers
		});
  })();

  $(document).ready(function() {
    var package = '{{ package }}';
    $('#change-package').hide();
    $('#update-package').hide();
    $('#end-package').hide();
    $('#date-end').hide();
    $('.update-submit').hide()
    $('#id_created_by').val('{{ request.user }}');
    $('#id_bill_day').val('{{ bill_day }}');
    $('.start_date').addClass('datepicker');
    $('.end_date').addClass('datepicker');
    $('.username_td').val('{{ entity.username }}');
    $('.created_by_td').val('{{ request.user }}');

    $('.sub-formset').formset({
      addText:'Add Another',
      deleteText: 'Remove'
    })

    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
    });

    $('.delete-row').addClass('btn-floating btn-large btn');

    $('.delete-row').on('click', function(e) {
      e.preventDefault();
      $(this).closest('tr').remove();
    })

    $('#select-end').on('change', function() {
      if($('#select-end').val() == 'other') {
        $('#date-end').show();
      }
    })

		$('.add-row').on('click', function(e) {
			$('.delete-row').addClass('btn-floating btn-large btn');
      $('.username_td').val('{{ entity.username }}');
      $('.created_by_td').val('{{ request.user }}');
      $('.ur_bill_day').val('{{ bill_day }}');
      $('.chosen_package').val('{{ package }}');
      $('.thr_username').val('{{ entity.username }}')

      $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
      });

      $('.delete-row').on('click', function(e) {
        e.preventDefault();
        $(this).closest('tr').remove();
      })
		});

    if( package != 'None') {
      $('#change-package').show();
      $('#new-package').val('{{ package }}');
      $('#id_bill_day').val('{{ bill_day }}');
      $('.curr-sub').hide();
      $('#id_package > option').each(function() {
        if($(this).val() == '{{ package }}') {
          $(this).attr('selected', 'selected');
        }
      })
    }

    $('#change').on('click', function(e) {
      e.preventDefault();
      $('#change-package').show();
      $('#end-package').hide();
      $('#update-package').hide();
    })

    $('#update').on('click', function(e) {
      e.preventDefault();
      $('#update-package').show();
      $('#end-package').hide();
      $('#change-package').hide();
      $('.curr-sub').hide();
    })

    $('.edit-a').on('click', function(e) {
      e.preventDefault();
      var temp = $(this)[0].id
      var actId = temp.split('-')[1];
      $(this).parent().siblings().children().removeAttr('readonly');
      $(this).parent().siblings().css('background-color', 'RGBA(195, 195, 195, .10)');
      $(this).parent().css('background-color', 'RGBA(195, 195, 195, .10)');

      $('#submit-' + actId).show();
      $('#delete-' + actId).hide();
      $('#edit-' + actId).hide();
    })

    $('.delete').on('click', function(e) {
      var temp = $(this)[0].id
      var actId = temp.split('-')[1];
      $('#submit-' + actId).show();
      $('#delete-' + actId).hide();
      $('#edit-' + actId).hide();

      var today = formatDate()
      $('.end_date-'+ actId).addClass('datepicker');
      $('.end_date-'+ actId).removeAttr('readonly');
      $('.end_date-'+ actId).val(today)
    })

    function formatDate() {
      var d = new Date();
      var month = '' + (d.getMonth() + 1);
      var day = '' + d.getDate();
      var year = d.getFullYear();

      if (month.length < 2) {
        month = '0' + month;
      }
      if (day.length < 2) {
        day = '0' + day;
      }

      return [year, month, day].join('-');
    }

    $('#end').on('click', function(e) {
      e.preventDefault();
      $('#end-package').show();
      $('#update-package').hide();
      $('#change-package').hide();
    })

    $('#id_package').on('change', function() {
      $.get("{% url 'staff:user:detail' entity.username %}");
    })

    $('.cancel').on('click', function(e) {
      e.preventDefault();
      window.location.replace("{% url 'staff:user:membership' entity.username %}");
    })
  });

</script>
{% endblock %}
