{% extends "staff/user/base.html" %}

{% block sub-title %}Members | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}
{% include "staff/user/member_menu.frag" %}

<h2>Member List [<i>{{total_members}} total</i> ]</h2>

<div style="float:right;">
	<form id="group_form">
	<strong>View: </strong>
	<select name="group" OnChange="location.href=group_form.group.options[selectedIndex].value">
		{% for k, v in group_list %}
			<option value="{% url 'staff:user:member_group' k %}" {% if k == group %} SELECTED {% endif %}>
				{{ v }}
			</option>
		{% endfor %}
	</select>
	</form>
</div>

<h3>{{ group_name }}: <em>{{ member_count }} member{{ member_count|pluralize }}</em></h3>
	{% include "staff/user/user_list_frag.html" %}

{% endblock %}
