{% extends "staff/user/base.html" %}

{% block sub-title %}Member Search | {% endblock %}

{% block style%}
	#member-search-form {
		font-weight: bold;
		font-size: 1.4em;
		margin-top: 1.4em;
	}

	#content table {
		width: 100%;
	}
{% endblock %}

{% block content %}

	<form id="member-search-form" action="." method="post">
		<strong>Find Member</strong>:
		{% for field in member_search_form %}{{ field }}{% endfor %}
		<input type="submit" value="search" />
		{% csrf_token %}
	</form>

	<h2>Search results</h2>
	{% if search_results %}
		{% with search_results as users %}
			{% include "staff/user/user_list_frag.html" %}
		{% endwith %}
	{% endif %}

{% endblock %}
