{% extends "staff/user/base.html" %}

{% block sub-title %}Security Deposits{% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }

#deposit_table { text-align:right; background: #FBD850;}

{% endblock %}

{% block content %}

<h4>Security Deposits</h4>
<strong>Total Deposits: </strong> ${{total_deposits}}

{% if inactive_deposits %}
	<h5>Inactive Members</h5>
	{% with inactive_deposits as deposits %}
		{% include "staff/user/security_deposit_table.html" %}
	{% endwith %}
{% endif %}

{% if active_deposits %}
	<h5>Active Members</h5>
	{% with active_deposits as deposits %}
		{% include "staff/user/security_deposit_table.html" %}
	{% endwith %}
{% endif %}


{% endblock %}
