{% extends 'members/u_base.html' %}

{% block sub-title %}Book a Meeting Room | {% endblock %}

{% block content %}
<div class='booking-box'>
  <h2>Book a Meeting Room</h2>
  <br />
  <form id='booking-reqs' action='#' method='GET'>
    <table>
      <tr>
        <td class='booking-td' class='cap-label'><strong>Date</strong></td>
        <td class='cap-label'><strong>Start Time</strong></td>
        <td class='cap-label'><strong>End Time</strong></td>
      </tr>
      <tr>
        <td class='booking-td'><input type="date" name="date" class="datepicker" id='booking-date' ></td>
        <td><input name='start' type='time' step=900 id='start-time'/></td>
        <td><input name='end' type='time' step=900 id='end-time'/></td>
      </tr>
    </table>
    <div class='row' id='room-criteria'>
      <table>
        <tr>
          <td id="av-btn"><input name='has_av' type="checkbox" class='filled-in' />
          <label for="av-btn">Has A/V</label></td>
          <td id='phone-btn'>
            <input name="has_phone" type="checkbox" class='filled-in' />
            <label for="phone-btn">Has Phone</label>
          </td>
          <td id='floor-select'>
            <select class='browser-default input-field' name='floor' id='floor'>
              <option value="" disabled selected>On Floor:</option>
              <option value="1">Floor 1</option>
              <option value="2">Floor 2</option>
              <option value="3">Floor 3</option>
            </select>
          </td>
          <td id='seat-select'>
            <select class='browser-default input-field' name='seats'>
              <option value="" disabled selected>Seats:</option>
              <option value="2">2 People</option>
              <option value="4">4 People</option>
              <option value="6">6 People</option>
              <option value="10">10-20 People</option>
              <option value="20">20+ People</option>
            </select>
          </td>
          <td>
            <button type='submit' value='Search' class='btn waves-effect book-btn '>Search</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
  {% if rooms %}
    {% for room in rooms %}
      <div class='row'>
        <div class='col s2'>
          <h5>{{ room.name }}</h5>
          <p>Floor {{room.floor}}</p>
          <button class='btn room-show' id='{{ room.id }}'>More Info</button>
          <button class='btn room-close'>Hide Info</button>
        </div>
        <div class='col s8 cal-div' style='height:110px;'>
          <table class='cal-table'>
            <thead>
              {% for block, times in room_dict.items %}
                {% if room == block %}
                  {% for time in times %}
                    {% if forloop.counter0|divisibleby:2 %}
                      <th class="rotate"><div><span>
                        {{ time.hour }}:{{ time.minutes }}
                      </div></span></th>
                    {% else %}
                      <th></th>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </thead>
            <tr>
              {% if room in room_dict %}
                {% for block, times in room_dict.items %}
                  {% if room == block %}
                    {% for time in times %}
                      {% if time.reserved %}
                        <td class="cal-box reserved" id="hour-{{time.mil_hour}}{{time.minutes}}">
                        </td>
                      {% elif time.searched %}
                        <td class="cal-box searched" id="hour-{{time.mil_hour}}{{time.minutes}}">
                        </td>
                      {% else %}
                        <td class="cal-box available" id="hour-{{time.mil_hour}}{{time.minutes}}">
                        </td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tr>
          </table>
        </div>
        <form class='col s1 book-room' action='.' method='POST'>
          <input type='hidden' name='room' value='{{ room.name }}' />
          <input type='hidden' name='start' value='{{ start }}'/>
          <input type='hidden' name='end' value='{{ end }}' />
          <input type='hidden' name='date' value='{{ date }}' />
          <button type='submit' class='book-btn btn'>Book</button>
          {% csrf_token %}
        </form>
      </div>
      <div class='row dropdown-room slider closed' id='dropdown-{{ room.id }}'>
        {% if room.image %}
          <img class='col s3' src='{{ room.image.url }}'/>
        {% endif %}
        <div class='col s8 offset s1'>
          <div class='row' style='margin-bottom:0;'>
            <h4 class='col s10'>{{ room.name }}</h4>
            <button class='btn col s1 offset-s1 room-close'>X</p>
          </div>
          <ul>
            <li>Seats: {{ room.seats }}</li>
            <li>Max Capacity: {{ room.max_capacity }}</li>
            <li>Has A/V?: {{ room.has_av }}</li>
            <li>Has Phone: {{ room.has_phone }}</li>
          </ul>
          <p><strong>Description:</strong> {{ room.description }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class='row'>
      <p style='color:red;text-align:center;padding:5%;'>
        Sorry, there do not seem to be any rooms available that match your criteria.
      </p>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      $('#booking-date').val('{{ date }}');

      var phone = '{{ has_phone }}';
      var av = '{{ has_av }}';

      if (phone === 'None') {
        $('#phone-btn').attr('checked', false);
      } else {
        $('#phone-btn').attr('checked', true);
      }

      if (av === 'None') {
        $('#av-btn').attr('checked', false);
      } else {
        $('#av-btn').attr('checked', true);
      }

      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 3,
        format: 'yyyy-mm-dd'
      });

      function changeTimes(hour, minutes) {
        if (minutes < 15) {
          minutes = "00";
        } else if (minutes < 30){
          minutes = "15";
        } else if (minutes < 45){
          minutes="30"
        } else if (minutes < 59) {
          minutes="45"
        } else {
          minutes = "00";
          ++hour;
        }

        if (hour > 23) {
            hour = 12;
        } else if (hour > 12) {
            hour = hour;
        } else if (hour == 0) {
            hour = 12;
        }

        if (hour.length != 2) {
          hour = '0' + hour;
        }

        var time = hour + ':' + minutes

        return time
      }

      function getStart() {
        var start = '{{ start }}';
        var hour = start.split(':')[0];
        var minutes = start.split(':')[1];

        var time = changeTimes(hour, minutes);

        $('#start-time').val(time);
      }

      function getEnd() {
        var end = '{{ end }}';
        var hour = end.split(':')[0];
        var minutes = end.split(':')[1];

        var time = changeTimes(hour, minutes);

        $('#end-time').val(time)
      }

      getStart();
      getEnd();

      $('.room-close').hide();

      $('.room-show').on('click', function(e){
        e.preventDefault();
        $('#dropdown-' + this.id).removeClass('closed');
        $('.room-close').show();
        $('.room-show').hide();
      })

      $('.room-close').on('click', function(e){
        e.preventDefault();
        $('.slider').addClass('closed');
        $('.room-close').hide();
        $('.room-show').show();
      })
    });
  </script>
{% endblock %}
