{% extends "members/u_base.html" %}

{% block content %}
  <div class='row'>
    <div class='col s10' id='calendar'></div>
    <button class='btn waves-effect col s1' id='make-event'>Add Event</button>
  </div>
  <div id='infoModal' class='modal row'>
    <div class='modal-content'>
      <p>
        TITLE
      </p>
      <div class='modal-body'>
        <div>
          ALL THE EVENT INFO!!!!
        </div>
      </div>
      <button class='btn waves-effect' id='modal-btn'>Close</button>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      var today = $('#calendar').fullCalendar('getDate');

      $('#calendar').fullCalendar({
        header: {
          left:'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultDate: moment(),
        navLinks: true,
  			editable: true,
  			eventLimit: true,
        events: [
          {
            title: 'Team meeting',
            start: today,
            end: moment().add(2, 'days'),
            allDay: true
          }
        ],
        eventClick: function(calEvent, jsEvent, view) {
          // alert('Event: ' + calEvent.title);
          $('#infoModal').css('display', 'block');
        }
      });

      $('#modal-btn').on('click', function() {
        $('#infoModal').css('display', 'none');
      })
    });
  </script>
{% endblock %}
