{% extends "members/u_base.html" %}

{% block sub-title %}Edit Profile | {% endblock %}

{% block content %}

<h3 style='text-align:center;'>Edit Your Profile:</h3>

<p align="center"><em>NOTE: Items in <strong>bold</strong> are viewable by all active members.</em></p>

<div id="profile_form">
    <form enctype="multipart/form-data" action='.' method='post'>
        {{ profile_form.member_id }}
        <h4>Contact Information</h4>
        <table id="contact">
            <tr class="row-even">
                <td><strong>FIRST NAME</strong></td>
                <td id='pf_input'>{{ profile_form.first_name }}</td>
                <td>{{ profile_form.first_name.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td><strong>LAST NAME</strong></td>
                <td id='pf_input'>{{ profile_form.last_name }}</td>
                <td>{{ profile_form.last_name.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>PRIMARY EMAIL ADDRESS</td>
                <td id='pf_input'>{{ profile_form.email }}</td>
                <td>{{ profile_form.email.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td>ALTERNATE EMAIL</td>
                <td>{{ profile_form.email2 }}</td>
                <td>{{ profile_form.email2.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>ADDRESS 1</td>
                <td>{{ profile_form.address1 }}</td>
                <td>{{ profile_form.address1.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td>ADDRESS 2</td>
                <td>{{ profile_form.address2 }}</td>
                <td>{{ profile_form.address2.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>CITY</td>
                <td>{{ profile_form.city }}</td>
                <td>{{ profile_form.city.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td>STATE</td>
                <td>{{ profile_form.state }}</td>
                <td>{{ profile_form.state.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>ZIPCODE</td>
                <td>{{ profile_form.zipcode }}</td>
                <td>{{ profile_form.zipcode.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td>PRIMARY PHONE</td>
                <td>{{ profile_form.phone }}</td>
                <td>{{ profile_form.phone.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>ALTERNATE PHONE</td>
                <td>{{ profile_form.phone2 }}</td>
                <td>{{ profile_form.phone2.errors }}</td>
            </tr>
        </table>

        <h4>Websites &amp; Other Profiles</h4>
       <table id="websites">
            <tr class="row-even">
                <td><strong>PROFESSIONAL WEBSITE</strong></td>
                <td>{{ profile_form.url_professional }}</td>
                <td width="200px">{{ profile_form.url_professional.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td><strong>PERSONAL WEBSITE</strong></td>
                <td>{{ profile_form.url_personal }}</td>
                <td>{{ profile_form.url_personal.errors }}</td>
            </tr>
            <tr class="row-even">
                <td><strong>TWITTER</strong></td>
                <td>{{ profile_form.url_twitter }}</td>
                <td>{{ profile_form.url_twitter.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td><strong>FACEBOOK</strong></td>
                <td>{{ profile_form.url_facebook }}</td>
                <td>{{ profile_form.url_facebook.errors }}</td>
            </tr>
            <tr class="row-even">
                <td><strong>LINKEDIN PROFILE</strong></td>
                <td>{{ profile_form.url_linkedin }}</td>
                <td>{{ profile_form.url_linkedin.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td><strong>GITHUB PROFILE</strong></td>
                <td>{{ profile_form.url_github }}</td>
                <td>{{ profile_form.url_github.errors }}</td>
            </tr>
            <tr class="row-even">
                <td><strong>ABOUT ME PROFILE</strong></td>
                <td>{{ profile_form.url_aboutme }}</td>
                <td>{{ profile_form.url_aboutme.errors }}</td>
            </tr>
        </table>

        <h4>Other Information</h4>
        <table id="otherinfo">
            <tr class="row-even">
                <td><strong>Company Name:</strong></td>
                <td>{{ profile_form.company_name }}</td>
                <td>{{ profile_form.company_name.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td><strong>What industry are you in?</strong></td>
                <td>{{ profile_form.industry }}</td>
                <td>{{ profile_form.industry.errors }}</td>
            </tr>
            <tr class="row-even">
                <td><strong>Neighborhood:</strong>:</td>
                <td>{{ profile_form.neighborhood }}</td>
                <td width="300px">{{ profile_form.neighborhood.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td>Do you have children?</td>
                <td>{{ profile_form.has_kids }}</td>
                <td>{{ profile_form.has_kids.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>Are you self employed?</td>
                <td>{{ profile_form.self_employed }}</td>
                <td>{{ profile_form.self_employed.errors }}</td>
            </tr>
            <tr class="row-odd">
                <td>How did you hear about us?</td>
                <td>{{ profile_form.howHeard }}</td>
                <td>{{ profile_form.howHeard.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>Gender:</td>
                <td>{{ profile_form.gender }}</td>
                <td width="300px">{{ profile_form.gender.errors }}</td>
            </tr>
        </table>

        <h4>Emergency Contact Information</h4>
        <a name="emergency_contact"></a>
        <table id="otherinfo">
            <tr class="row-even">
                <td>NAME</td>
                <td>{{ profile_form.emergency_name }}</td>
                <td>{{ profile_form.emergency_name.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>RELATIONSHIP</td>
                <td>{{ profile_form.emergency_relationship }}</td>
                <td>{{ profile_form.emergency_relationship.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>PHONE</td>
                <td>{{ profile_form.emergency_phone }}</td>
                <td>{{ profile_form.emergency_phone.errors }}</td>
            </tr>
            <tr class="row-even">
                <td>EMAIL</td>
                <td>{{ profile_form.emergency_email }}</td>
                <td>{{ profile_form.emergency_email.errors }}</td>
            </tr>
        </table>

        <button class="btn waves-effect waves-light sub-btn" type="submit" value="Update Your Profile" />Update Your Profile</button>
        {% csrf_token %}
    </form>
</div>

{% endblock %}
