{% extends 'members/u_base.html' %}

{% block content %}
  <form method='POST'>
    {% csrf_token %}

    {{ link_formset.management_form }}

    {% for link_form in link_formset %}
        <div class="link-formset">
            {{ link_form.name }}
            {% if link_form.name.errors %}
                {% for error in link_form.name.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ link_form.url }}
            {% if link_form.url.errors %}
                {% for error in link_form.url.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    {% if link_formset.non_form_errors %}
        {% for error in link_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

  </form>
  <script>
      $('.link-formset').formset({
          addText: 'add link',
          deleteText: 'remove'
      });
  </script>

{% endblock %}
