{% extends "members/u_base.html" %}

{% block sub-title %}Events | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<h2>Office Nomads - Events</h2>
<iframe id='event_cal' src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23c0c0c0&amp;src=ji34r7qou7vk2k2kuo40fhije8%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="956" height="600" frameborder="0" scrolling="no"></iframe>

{% endblock %}
