{% extends "members/u_base.html" %}
{% load imagetags %}
{% load list_tags %}

{% block style %}
{% endblock %}

{% block content %}
<h2>{{ members.count }} active members:</h2>
{% for member in members %}
<div class="user-card">
      {% if member.photo %}
         <a class="photo" href="{% url members.views.user member.user.username %}"><img src="{{ member.photo.url|fit_image:"170x170" }}" /></a>
      {% else %}
         <a class="photo" href="{% url members.views.user member.user.username %}">?</a>
      {% endif %}         
      <a href="{% url members.views.user member.user.username %}">{{ member.full_name }}</a>
</div>
{% endfor %}


{% endblock %}