{% extends "members/u_base.html" %}

{% block sub-title %}Mail | {% endblock %}

{% block style %}
#label { font-size:1.2em; }
#label strong { font-size:1.2; }
{% endblock %}

{%block sub-head %}
{% endblock %}

{% block content %}

<h2>{{ message.clean_subject}}</h2>
<!--<p id="label"><strong>Mailing Lists:</strong> <i>{{ message.mailing_list}}</i></p>-->
<p id="label"><strong>Sent:</strong> <i>{{ message.sent_time}}</i></p>
<p id="label"><strong>From:</strong> <i>
	{% if message.get_user %}
		<td nowrap><a href="{% url 'member_profile' message.get_user.username %}">{{ message.get_user.get_profile.full_name }}</a></td>
	{% else %}
		<td nowrap>{{ message.origin_address }}</td>
	{% endif %}
</i></p>
<pre><code>
{{ message.body }}
</pre></code>

{% endblock %}
