{% extends "members/u_base.html" %}

{% block sub-title %}Mail | {% endblock %}

{% block style %}
#content ul { margin-left: 0; }
#content ul li {
	list-style: none;
}
#content h2 { margin-bottom: 1em; }

#mailing-list-subscription-form { display: none; }
.list_mail { margin-left: 2em; }
.msg_table td, th {text-align: left; }
.list_desc { margin-left: 2em; }

{% endblock %}

{%block sub-head %}
	<script>
		$(function () {
			jQuery('#tabs').tabs();
		});
	</script>

	<script>
	function subscribe(mlID){
		$('#id_subscribe').val(true);
		$('#id_mailing_list_id').val(mlID);
		$('#mailing-list-subscription-form').submit();
	}

	function unsubscribe(mlID){
		$('#id_subscribe').val(false);
		$('#id_mailing_list_id').val(mlID);
		$('#mailing-list-subscription-form').submit();
	}
	</script>
{% endblock %}

{% block content %}
<h2>Mailing lists</h2>

<div id="tabs">

<ul class='tabs'>
	{% for mailing_list, is_subscriber in user.mailing_list_memberships %}
		<li class='tab'><a href="#tabs-{{forloop.counter}}">{{ mailing_list.name }}</a></li>
	{% endfor%}
</ul>

{% for mailing_list, is_subscriber in user.mailing_list_memberships %}
<div id="tabs-{{forloop.counter}}" class="plan-section">
<ul>
	<li>
		<h3>
			{{ mailing_list.name }}
			{% if not mailing_list.moderator_controlled %} - {{ mailing_list.email_address}}
    			{% if is_subscriber %}
    			(<a href="." onclick="unsubscribe({{mailing_list.id}}); return false;">unsubscribe</a>)
    			{% else %}
        			{% if request.user.get_profile.is_active or request.user.is_staff %}
        			    ( <a href="." onclick="subscribe({{mailing_list.id}}); return false;">subscribe</a> )
        			{% endif %}
    			{% endif %}
    		{% endif %}
		</h3>
		<div class="list_desc">{{ mailing_list.description }}</div>

		<h3>Recent Messages</h3>
		<div class="list_mail" id="recents-{{mailing_list.id}}">
			<table class="msg_table">
				<tr>
					<th>Sent</th>
					<th>Member</th>
					<th>Subject</th>
				</tr>
				{% for msg in mailing_list.incoming_mail %}
				<tr>
					<td nowrap>{{ msg.sent_time }}</td>
					{% if msg.get_user %}
						<td nowrap><a href="{% url 'members.views.user' msg.get_user.username %}">{{ msg.get_user.get_profile.full_name }}</a></td>
					{% else %}
						<td nowrap>{{ msg.origin_address }}</td>
					{% endif %}
					<td><a  href="{% url 'members.views.mail_message' msg.id %}">{{ msg.clean_subject }}</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</li>
</ul>
</div>
{% endfor %}
</div>

{% if not user.mailing_list_memberships %}
<h3>There are no mailing lists configured for this site.</h3>
{% endif %}

<form action="." method='post' id="mailing-list-subscription-form">{{ mailing_list_subscription_form }}{% csrf_token %}</form>
{% endblock %}
