{% extends "members/u_base.html" %}

{% block style %}
.letter { 
	font-size: 1.2em; 
	margin: 1em; 
	text-align: justify;
	text-justify: inter-word;
}
{% endblock %}

{% block content %}
	<h2>Active Membership Required</h2>
	<div class="letter">
		<p>We're sorry,</p>

		<p>You are not currently an active member.  Certain features in Nadine require an active membership to access.  If you are not a member, 
		or your membership has expired, you will have limited access to this system. You can view your membership and your history by going to
		<a href="{% url members.views.profile_redirect %}">your profile</a>. If you have any questions feel free to send an email to 
		<a href="mailto:staff@officenomads.com">staff@officenomads.com</a> or just stop by the front desk.</p>

		<p>
			Sincerely,<br>
			The {{ site.name }} Team
		</p>
	</div>
{% endblock %}