{% extends "members/u_base.html" %}

{% block sub-title %}Notifications | {% endblock %}


{% block content %}
<h2>User Notifications:</h2>

<div>
<table>
	<tr>
		<th>Created</th>
		<th>Target</th>
		<th></th>
	</tr>
	
{% for n in notifications %}
	<tr>
		<td nowrap>{{ n.created }}</td>
		<td><a href="{% url 'members.views.user' n.target_user.username %}">{{ n.target_user.get_full_name }}</a></td>
		<td><a href="{% url 'members.views.delete_notification' n.target_user %}">delete</a></td>
	</tr>
{% endfor %}

</table>
</div>

{% endblock %}