<div class='tags'>
  <ul>
    {% for t in organization.tags.all %}
      <li class='chip'>
        <a class="tag-chip" href="{% url 'member_tag_view' 'organizations' t %}">{{ t }}</a>
        {% if can_edit %}
         (<a href="{% url 'member_org_remove_tag' organization.id t %}" style="color: RGBA(199, 121, 102, 1);"> X </a>)
         {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if can_edit %}
    <div class="ui-widget">
      <form action="{% url 'member_org_add_tag' organization.id %}" method="POST">
        <table class='tag-table'>
          <tr>
            <td>
              <input id="tag_input" name="tag" placeholder="e.g. non-profit">
            </td>
            <td>
              <input class='btn tag-btn' type="submit" value="Add">
            </td>
          </tr>
        </table>
        {% csrf_token %}
      </form>
    </div>
  {% endif %}
</div>

<script>
	(function() {
		$( "#tag_input" ).autocomplete({
			source: "{% url 'json_org_tags' %}",
			minLength: 2,
			autoFocus: true,
		});
		$("#tag").focus();

	})();
</script>
