{% extends "members/u_base.html" %}
{% load imagetags %}

{% block sub-title %}Organization | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h3 class='oswald' style='text-align: center;'>{{ action|title }} {{ organization.name}} Member</h3>

<form class='org-form' method="POST" action="." enctype="multipart/form-data">
	<input type="hidden" name="action" value="save"/>
	<input type='hidden' name='org_id' value="{{ organization.id }}">
	<input type='hidden' id='new_id' name='new_id' value='{{ new_member.id }}' />
	<input type='hidden' id='new_username' name='username' value='{{ new_member.username }}' />
	{% if member %}
		<input type='hidden' id='member_id' name='member_id' value='{{ member.id }}'  />
		<input type='hidden' name='username' value='{{ member.user }}' />
	{% endif %}
	<table>
		<tr>
			<td class='org-label'>
				User
			</td>
			<td>
				{% if member %}
					<input name='full_name' readonly style='background-color:white; border:none; padding:1%; width:70%;' value='{{ member.user.get_full_name }}' />
				{% elif new_member %}
					<input name='new_member' readonly style='background-color:white; border:none; padding:1%; width:70%;' value='{{ new_member.get_full_name }}' />
				{% else %}
					<input class='username_input' id="id_username" name="name"/>
				{% endif %}
			</td>
			<td class='pf-error'>
				{{ form.username.errors }}
			</td>
		</tr>
		<tr>
			<td class='org-label'>
				Title
			</td>
			<td>
				{{ form.title }}
			</td>
			<td class='pf-error'>
				{{ form.title.errors }}
			</td>
		</tr>
		<tr>
			<td class='org-label'>
				Start Date
			</td>
			<td>
				{{ form.start_date }}
			</td>
			<td class='pf-error'>
				{{ form.start_date.error }}
			</td>
		</tr>
		<tr>
			<td class='org-label'>
				End Date
			</td>
			<td>
				{{ form.end_date }}
			</td>
			<td class='pf-error'>
				{{ form.end_date.errors }}
			</td>
		</tr>
	</table>
	<input class='btn org-btn' type="submit" value="Save"/>
	<input class='btn cancel-btn' type="button" value="Cancel" onclick="location.href='{% url 'member_org_view' organization.id %}'"/>
	{% csrf_token %}
</form>

{% endblock %}

{% block extrajs %}
<script>
	(function() {
		$('.username_input').autocomplete({
			source: "{% url 'json_user_search' %}",
			minLength: 2,
			select: function(e, ui) {
				e.preventDefault();
				$('.username_input').val(ui.item.label);
				$('#new_username').val(ui.item.value);
				$('#new_id').val(ui.item.id);
			}
		})

		// $('.datepicker').pickadate({
		// 	selectMonths: true,
		// 	selectYears: 6,
		// 	format: 'yyyy-mm-dd'
		// });
	})();
</script>
{% endblock %}
