{% load static %}

<form enctype="multipart/form-data" action="{% url 'member:org:edit_photo' organization.id %}" method="POST">
  <table>
    <tr>
      <td class='upload-input'>
        <input class='pic-upload' type='file' name='photo' style='background-color:RGBA(255, 255, 255, 0);' id="imgInp" />
      </td>
      <td id='org-preview'>
        {% if organization.photo %}
        <div class='org-img'>
          <img class='img-id' src="{{ organization.photo.url }}" />
        </div>
        {% else %}
          <img class='img-id' src="{% static 'img/blank_person.png' %}" alt=" "/>
        {% endif %}
      </td>
    </tr>
    <tr class='btn-row'>
      <td><button type='submit' class='btn pic-btn'>Update</button></td>
      <td>
        <a class='modal-btn' id='cancel-event'>Cancel</a>
      </td>
    </tr>
    {% csrf_token %}
  </table>
</form>

<script>
  $(document).ready(function() {
    $('.modal-btn').on('click', function() {
      $('#picModal').css('display', 'none');
    });

    function get_orientation(img) {
      if (img.width() < img.height()) {
        $('.img-id').addClass('portrait');
      } else {
        if ($('.img-id').hasClass('portrait')) {
          $('.img-id').removeClass('portrait');
        }
      }
    }
    get_orientation($('.img-id'));

    $('.pic-btn').attr('disabled', 'disabled');

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('.img-id').attr('src', e.target.result);
          get_orientation($('.img-id'));
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#imgInp").change(function(){
      $('.pic-btn').attr('disabled', false);
      var input = this;
      readURL(input);
    });
  });
</script>
