{% extends "members/u_base.html" %}
{% load imagetags %}

{% block sub-title %}Organization | {{ organization.name }} | {% endblock %}

{% block style %}
	body {
		background-color: RGBA(239, 238, 231, 1);
	}
{% endblock %}

{% block content %}
<div class='left-profile col s3'>
	<div class='photo-div'>
		<div class='profile-img-box' id='change-opacity'>
			<div class='editable-photo org-img'>
				{% if organization.photo %}
					<a href="{{ organization.photo.url }}"><img class='org-photo' id='mem-photo' src="{{ organization.photo.url }}"></a>
				{% else %}
					<a class='org-photo' id='star-img'>&#9733;</a>
				{% endif %}
			</div>
			{% if can_edit %}
			<div class='org-img-edit' id='pic_tab'>
				<img id="img-edit" alt='edit image' />
        <h5>Edit Photo</h5>
			</div>
			{% endif %}
		</div>
	</div>

	<div class='tags-box' style="margin-top:10%;">
		<p style='text-align:center;'> - <strong>Tags</strong> - </p>
		{% include "members/org_tags.html" %}
	</div>

</div>

<div id='picModal' class='modal'>
  <div class='picModal-content'>
    <div class='picModal-body'>
      <h4>Edit Organization Picture</h4>
      <div class='container' id='pic_target'>
      </div>
    </div>
  </div>
</div>

<div class='right-profile col s9'>
	<div class='org-info'>
		<h3 class='oswald col s9' style='margin-bottom:1%;'>{{ organization.name }}</h3>
		<div class='col s3'>
			{% if organizaiton.locked %}
				<div class='col s4 tooltipped' data-position="bottom" data-tooltip='Locked'>
					<img id='locked' alt='locked icon'/>
				</div>
			{% else %}
				<div class='col s4 tooltipped' data-position="bottom" data-tooltip='Unlocked'>
					<img id='unlocked' alt='unlocked icon'/>
				</div>
			{% endif %}
			{% if can_edit %}
				<a class='col s4 tooltipped' data-position="bottom" data-tooltip="Edit Details" href="{% url 'member_org_edit' organization.id %}"><img id='edit' alt='edit icon' style='height:30px;'/></a>
			{% endif %}
			{% if request.user.is_staff %}
				<a class='col s4 tooltipped' data-position="bottom" data-tooltip='Admin' href="{{ organization.admin_url }}"><img id='admin' alt='admin icon'/></a>
			{% endif %}
		</div>
		<div class='col s12'>
			<p style="font-style:italic;">
				{{ organization.blurb|default:"" }}
			</p>
		</div>
		{% if organization.bio %}
			<div class='col s12'>
				<h5 class='oswald' style='color:black;'>Bio</h5>
				<p style="margin:2em;">{{ organization.bio }} </p>
			</div>
		{% endif %}

		<h5 class='oswald org-members col s12'>Organization Members</h5>
		<table>
			<tr>
				<th>Member</th>
				<th>Title</th>
				<th>From</th>
				<th>To</th>
				<th>Lead</th>
				<th>Admin</th>
				<th>Active</th>
				{% if request.user.is_staff or can_edit %}
					<th>Action</th>
				{% endif %}
			</tr>
			{% for m in members %}
				<form id="org_mem_{{m.id}}" action="{% url 'member_org_member' organization.id %}" method="POST">
					<input type="hidden" name="member_id" value="{{ m.id }}"/>
					<input type="hidden" name="action" value="edit"/>
					{% csrf_token %}
					<tr>
						<td>{{ m.user.get_full_name }}</td>
						<td>{{ m.title|default:"" }}</td>
						<td>{{ m.start_date }}</td>
						<td>{{ m.end_date|default:"" }}</td>
						<td>{{ m.is_lead|yesno:"Yes,No" }}</td>
						<td>{{ m.is_admin|yesno:"Yes,No" }}</td>
						<td>{{ m.is_active|yesno:"Yes,No" }}</td>
						{% if request.user.is_staff or can_edit %}
							<td>
								<input class='btn' type="submit" value="Edit"/>
							</td>
						{% endif %}
					</tr>
				</form>
			{% endfor %}
			{% if can_edit %}
				<form id="org_mem_add" action="{% url 'member_org_member' organization.id %}" method="POST">
					<input type="hidden" name="action" value="add"/>
					{% csrf_token %}
					<tr>
						<td colspan="7"></td>
						<td>
							<input class='btn' type="submit" value="Add"/>
						</td>
					</tr>
				</form>
			{% endif %}
		</table>

		<!-- {% if organization.notes %}
			<h5 class='oswald' style='color:black;'>Notes</h5>
			<ul>
				{% for n in organization.notes %}
					<li>{{ n.created_ts }} {{ n.created_by }}: {{ n.note }}</li>
				{% endfor %}
			</ul>
		{% endif %} -->

	</div>
</div>

{% block sub-extrajs %}
<script>
		function get_orientation(img) {
			if ((img.width() < img.height()) && img.width() > 1) {
				$('#mem-photo').attr('class', 'portrait');
			}
		}

		function load_tab(div_id, url) {
			$.get(url, {}, function(content) {
				div = $(div_id);
				div.html(content);
			});
		}

		function onclick_tab(tab, url) {
			$(tab + "_tab").on("click", function(e) {
					e.preventDefault();
					load_tab(tab + "_target", url);
			});
		}

	$(document).ready(function() {
		$('.org-img-edit').on('click', function(e) {
			e.preventDefault();
			$('#picModal').css('display', 'block');
		});

		onclick_tab("#pic", "{% url 'member_org_edit_photo' organization.id %}");

		var img = $('#mem-photo');
		get_orientation(img);

		if($(document).width() < 990) {
			$('footer').attr('class', 'sticky-footer');
		} else {
			if($('footer').hasClass('sticky-footer')) {
				$('footer').attr('page-footer main-footer');
			}
		}
	});
</script>
{% endblock %}

{% endblock %}
