	<div class='tags'>
		<ul>
			{% for t in user.profile.tags.all %}
				<li class='chip'>
					<a class="tag-chip" href="{% url 'member_tag' t %}">{{ t }}</a>
					{% if can_edit %}
						(<a href="{% url 'member_remove_tag' user.username t %}" style="color: RGBA(199, 121, 102, 1);"> X </a>)
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		{% if can_edit %}
		<div class="ui-widget">
			<form action="{% url 'member_add_tag' user.username %}" method="POST">
				<table class='tag-table'>
					<tr>
						<td id="tag">
							<input id="tag_input" name="tag" placeholder="e.g. Biking"/>
						</td>
						<td>
							<input class='btn tag-btn' type="submit" value="Add"/>
						</td>
					</tr>
				</table>
				{% csrf_token %}
			</form>
			<div id="results">
			</div>
		</div>
		{% endif %}
	</div>

	<script>
		(function() {
			$( "#tag_input" ).autocomplete({
				source: "{% url 'user_tags_json' %}",
				minLength: 2,
				// position: {my: "right top", at: "right bottom"}
				appendTo: "#results",
				open: function() {
	        var position = $("#results").position(),
            left = position.left, top = position.top;
            $("#results > ul").css({left: left + 20 + "px",
                                top: top + 4 + "px" });
          }
				// select: function( event, ui ) {
				// 	console.log(ui)
				// }
			});
			$("#tag").focus();
		})();
	</script>
