<div id="profile">
<table>
    <tr>
        <td>Membership:</td>
        <td>{{ user.profile.membership_type }}</td>
    </tr>
    <tr>
        <td>Member Since:</td>
        <td>{{ user.profile.first_visit }}</td>
   </tr>

    {% for org in user.profile.active_organizations %}
        <tr>
            <td>Organization</td>
            <td>{{ org }}</td>
        </tr>
    {% endfor %}

    {% for url in user.url_set.all %}
        <tr>
            <td>{{ url.url_type | title }} URL:</td>
            <td><a target="_self" href="{{ url }}">{{ url }}</a></td>
        </tr>
    {% endfor %}

    {% if user.profile.neighborhood %}
        <tr>
            <td>Neighborhood:</td>
            <td>{{ user.profile.neighborhood }}</td>
        </tr>
    {% endif %}

    {% if user.profile.has_kids %}
        <tr>
            <td>Has Kids?</td>
            <td>{{ user.profile.has_kids }}</td>
        </tr>
    {% endif %}
</table>
</div>
