{% extends "members/u_base.html" %}
{% load email_tags %}

{% block sub-title %}Edit Profile | {% endblock %}

{% block style %}
    .help_text {
        background:white;
        padding: 1em;
        display: none;
    }
{% endblock %}

{% block content %}

<h3 style='text-align:center;'>Edit Your Profile:</h3>

<p align="center"><em>NOTE: Items in <strong>bold</strong> are viewable by all active members.</em></p>

<div id="profile_form">

  {% if messages %}
  	<div class="messages">
  		{% for message in messages %}
  			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
  		{% endfor %}
  	</div>
  {% endif %}
  <h3>
      Email Addresses
      (<a onclick="$('#email_help').toggle();">?</a>)
  </h3>
  <table id="emails">
    <tr id="email_help" class="help_text">
      <td colspan="2">
        <strong>Email Help</strong>
        <p>You can have multiple email addresses associated with your membership.
        These emails are used at login, and when messages are sent to various mailing
        lists.  If you send email from an address that is not associated with a
        membership, it will be moderated.</p>
        <p>Your primary email address is the address we send notifications and
        mailing list messages to.</p>
      </td>
    </tr>
  </table>
  <table id='email-table'>
    {% for email in user.profile.all_emails %}
    <tr>
      <td class='pf-email'>
        {% if email.is_primary %}
            <em>{{ email }}</em> (Primary)
        {% else %}
            {{ email }}
        {% endif %}
      </td>
      <td class='pf-email' nowrap style="text-align:right">
        {% if not email.is_primary %}
          <button class='btn waves-effect verify-email' onclick="location.href = '{{ email.get_set_primary_link }}';">Make Primary</button>
          <button class='btn waves-effect verify-email' onclick="location.href = '{{ email.get_delete_link }}';">Delete</button>
        {% endif %}
        {% if not email.is_verified %}
          <button class='btn waves-effect verify-email' onclick="location.href = '{{ email.get_send_verif_link }}';">Verify</button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

    <form action="{% url 'email_add' %}" method="POST">
      <input type="hidden" name="username" value="{{ user.username }}" />
      <tr>
        <td class='pf-email'>
          <input id='email-input' name="email" placeholder="Alternate Email"/>
        </td>
        <td class='pf-email' style="text-align:right" nowrap>
          <button id='add-email' class='btn waves-effect' type="submit">Add Email Address</button>
        </td>
      </tr>
      {% csrf_token %}
    </form>
  </table>

  <form enctype="multipart/form-data" action='.' method='POST'>
    {{ profile_form.username }}
    <h3 style='text-align:left;'>Contact Information</h3>
    <div id='contact'>
      <table>
        <tr class="row-even">
          <td class='cap-label' id='pf-first'><strong>First Name</strong></td>
          <td class='cap-label' id='pf-last'><strong>Last Name</strong></td>
        </tr>
        <tr class="row-odd">
          <td class='pf-input'>{{ profile_form.first_name }}</td>
          <td class='pf-input'>{{ profile_form.last_name }}</td>
        </tr>
        <tr>
          <td>{{ profile_form.first_name.errors }}</td>
          <td>{{ profile_form.last_name.errors }}</td>
        </tr>
      </table>
      <table>
        <tr class="row-even">
          <td class='cap-label' id='pf-address'>Address 1</td>
          <td class='cap-label'>Address 2</td>
        </tr>
        <tr class="row-odd">
          <td class='pf-input'>{{ profile_form.address1 }}</td>
          <td class='pf-input'>{{ profile_form.address2 }}</td>
        </tr>
        <tr>
          <td class='pf-error'>{{ profile_form.address1.errors }}</td>
          <td class='pf-error'>{{ profile_form.address2.errors }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td class='cap-label'>City</td>
          <td class='cap-label'>State</td>
          <td class='cap-label'>Zipcode</td>
        </tr>
        <tr>
          <td class='pf-input'>{{ profile_form.city }}</td>
          <td id='state-select'>{{ profile_form.state }}</td>
          <td class='pf-input'>{{ profile_form.zipcode }}</td>
        </tr>
        <tr class="row-even">
          <td class='pf-error'>{{ profile_form.city.errors }}</td>
          <td class='pf-error'>{{ profile_form.state.errors }}</td>
          <td class='pf-error'>{{ profile_form.zipcode.errors }}</td>
        </tr>
      </table>
      <table>
        <tr class="row-odd">
          <td class='cap-label' id='pf-phone'>Primary Phone</td>
          <td class='cap-label'>Alternate Phone</td>
        </tr>
        <tr class="row-even">
          <td>{{ profile_form.phone }}</td>
          <td>{{ profile_form.phone2 }}</td>
        </tr>
        <tr>
          <td>{{ profile_form.phone.errors }}</td>
          <td>{{ profile_form.phone2.errors }}</td>
        </tr>
        {% if ALLOW_PHOTO_UPLOAD %}
        <tr class="row-odd">
          <td id='pf-photo'><strong>Upload Photo</strong></td>
          <td>
            <input type='file' name='photo' style='background-color:RGBA(255, 255, 255, 0);'/>
          </td>
        </tr>
          {% endif %}
      </table>
    </div>

    <h3 style='text-align:left;'>Profile Information</h3>
    <div id='websites'>
      <table>
        <tr class="row-even">
          <td id='pf-public' nowrap><strong>Make Your profile Public?</strong>
            (<a onclick="$('#public_help').toggle();">?</a>)
          </td>
          <td>
            {{ profile_form.public_profile }}
          </td>
          <td>
            {{ profile_form.public_profile.errors }}
          </td>
        </tr>
        <tr id=public_help class=help_text>
          <td colspan=3>
            <strong>Public Profile </strong>
            <p>By default your profile is only viewable by active members.
            if you you make this profile public, your bio, links, and photo
            will also be visable to non-members as well.  Contact information
            is always kept private.</p>
          </td>
        </tr>
      </table>
      <table>
        <tr class='row odd'>
          <td class='cap-label'><strong>Bio</strong></td>
        </tr>
        <tr>
          <td id='pf_bio'>{{ profile_form.bio }}</td>
          <td>{{ profile_form.bio.errors }}</td>
        </tr>
      </table>
      <table>
        <tr class="row-even">
          <td id='pf-company' class='cap-label'><strong>Company Name</strong></td>
        </tr>
        <tr>
          <td>{{ profile_form.company_name }}</td>
          <tr>{{ profile_form.company_name.errors }}</tr>
        </tr>
      </table>
      <table>
        <tr>
          <td class='cap-label'><strong>Professional Website</strong></td>
          <td class='cap-label'><strong>Personal Website</strong></td>
        </tr>
        <tr>
          <td>{{ profile_form.url_professional }}</td>
          <td>{{ profile_form.url_personal }}</td>
        </tr>
        <tr>
          <td>{{ profile_form.url_professional.errors }}</td>
          <td>{{ profile_form.url_personal.errors }}</td>
        </tr>
      </table>
      <table>
        <tr class="row-even">
          <td class='cap-label'><strong>Twitter</strong></td>
          <td class='cap-label'><strong>Facebook</strong></td>
        </tr>
        <tr class="row-odd">
          <td>{{ profile_form.url_twitter }}</td>
          <td>{{ profile_form.url_facebook }}</td>
        </tr>
        <tr class="row-even">
          <td>{{ profile_form.url_twitter.errors }}</td>
          <td>{{ profile_form.url_facebook.errors }}</td>
        </tr>
        <tr>
          <td class='cap-label'><strong>Github</strong></td>
          <td class='cap-label'><strong>LinkedIn </strong></td>
        </tr>
        <tr>
          <td>{{ profile_form.url_github }}</td>
          <td>{{ profile_form.url_linkedin }}</td>
        </tr>
        <tr>
        <td>{{ profile_form.url_github.errors }}</td>
          <td>{{ profile_form.url_linkedin.errors }}</td>
        </tr>
      </table>
    </div>

    <h3 style='text-align:left;'>Other Information</h3>
    <table id="otherinfo">
      <tr class="row-odd">
        <td class='cap-label'><strong>What industry are you in?</strong></td>
        <td>{{ profile_form.industry }}</td>
        <td>{{ profile_form.industry.errors }}</td>
      </tr>
      <tr class="row-even">
        <td class='cap-label'><strong>Neighborhood:</strong></td>
        <td>{{ profile_form.neighborhood }}</td>
        <td width="300px">{{ profile_form.neighborhood.errors }}</td>
      </tr>
      <tr class="row-even">
        <td class='cap-label'>Do you have children?</td>
        <td>{{ profile_form.has_kids }}</td>
        <td>{{ profile_form.has_kids.errors }}</td>
      </tr>
      <tr class="row-odd">
        <td class='cap-label'>Are you self employed?</td>
        <td>{{ profile_form.self_employed }}</td>
        <td>{{ profile_form.self_employed.errors }}</td>
      </tr>
      <tr class="row-even">
        <td class='cap-label'>How did you hear about us?</td>
        <td>{{ profile_form.howHeard }}</td>
        <td>{{ profile_form.howHeard.errors }}</td>
      </tr>
      <tr class="row-odd">
        <td class='cap-label'>Gender</td>
        <td>{{ profile_form.gender }}</td>
        <td width="300px">{{ profile_form.gender.errors }}</td>
      </tr>
    </table>

    <h3 style='text-align:left;'>Emergency Contact Information</h3>
    <a name="emergency_contact"></a>
    <div id='emergencyinfo'>
      <table>
        <tr class="row-even">
          <td class='cap-label'>Name</td>
          <td class='cap-label'>Relationship</td>
        </tr>
        <tr class="row-even">
          <td>{{ profile_form.emergency_name }}</td>
          <td>{{ profile_form.emergency_relationship }}</td>
        </tr>
        <tr>
          <td>{{ profile_form.emergency_name.errors }}</td>
          <td>{{ profile_form.emergency_relationship.errors }}</td>
        </tr>
        <tr class="row-even">
          <td class='cap-label'>Email</td>
          <td class='cap-label'>Phone</td>
        </tr>
        <tr class="row-even">
          <td>{{ profile_form.emergency_email }}</td>
          <td>{{ profile_form.emergency_phone }}</td>
        </tr>
        <tr>
          <td>{{ profile_form.emergency_email.errors }}</td>
          <td>{{ profile_form.emergency_phone.errors }}</td>
        </tr>
      </table>
    </div><button class="btn waves-effect waves-light sub-btn" type="submit" value="Update Your Profile" />Update Your Profile</button>
    {% csrf_token %}
  </form>
</div>

{% endblock %}

{% block extrajs %}{% endblock %}
