{% extends "members/u_base.html" %}
{% load imagetags %}

{% block sub-title %}{{ user.get_full_name }} | {% endblock %}



{% block style %}
{% endblock %}

{% block content %}
      {% if user.profile.photo %}
      <div class="member-photo">
         <a href="{{ user.profile.photo.url }}"><img src="{{ user.profile.photo.url|fit_image:"170x170" }}"></a>
      </div>
      {% endif %}

<h2>{{ user.get_full_name }}</h2>

{% if user.username == request.user.username or request.user.profile.is_manager %}
    <dl>
        <dt>Quicklinks:</dt>
        {% if request.user.profile.is_manager %}
        <dd><a href="{% url 'member_manage' user.username %}">manage member</a></dd>
        {% endif %}
        {% if user.username == request.user.username or request.user.is_staff %}
        <dd><a href="{% url 'member_edit_profile' user.username %}">edit profile</a></dd>
        <dd><a href="{% url 'member_user_tags' user.username %}">edit tags</a></dd>
        <dd><a href="{% url 'member_user_devices' user.username %}">register device</a></dd>
        {% endif %}
    </dl>
{% endif %}

<dl>
    <dt>Profile Tags:</dt>
    {% if user.profile.tags.all %}
        {% for tag in user.profile.tags.all %}
            <dd><a href="{% url 'member_tag' tag %}">{{ tag }}</a></dd>
        {% endfor %}
    {% else %}
        <dd><i>No tags</i></dd>
    {% endif %}
</dl>

{% if user.username != request.user.username %}
    <dl>
        <dt>Contact:</dt>
        <dd><a href="{% url 'member_connect' user %}">Connect with this member</a></dd>
    </dl>
{% endif %}

{% if user.profile.bio %}
  <dl>
    <dt>Bio:</dt>
    <dd>{{ user.profile.bio }}</dd>
  </dl>
{% endif %}

{% if user.username == request.user.username or request.user.is_staff %}
    <div class="clearfix"></div>

    <div id="tabs">
      {% block mem_tabs %}
        <ul class='tabs prof-tabs'>
            <li class="tab col s2"><a href="#tabs-0">Member Profile</a></li>
            <li class="tab col s2"><a href="#tabs-1">Private Details</a></li>
            <li class="tab col s2"><a href="#tabs-2">Documents</a></li>
            <li class="tab col s2"><a id="membership_tab" href="#tabs-3">Membership</a></li>
            <li class="tab col s2"><a id="activity_tab" href="#tabs-4">Activity</a></li>
            <li class="tab col s2"><a id="billing_tab" href="#tabs-5">Billing</a></li>
        </ul>
      {% endblock %}
    <div id="tabs-0">
        <h3>Member Profile</h3>
        {% include "members/profile_public_frag.html" %}
    </div>

    <div id="tabs-1">
        <h3>
            Private Details
            (<a target="_self" href="{% url 'member_edit_profile' user.username %}">edit</a>)
        </h3>
        <table>
            <!-- Username -->
            <tr>
              <td>Username:</td>
              <td>{{ user.username }}</td>
            </tr>

            <!-- Status -->
            <tr>
                <td>Membership Rate:</td>
                <td>{{ user.profile.membership_type }}{% if user.profile.is_active %} at ${{ user.profile.last_membership.monthly_rate }}/month{% endif %}</td>
            </tr>

            <!-- Anniversary Date -->
            {% if user.profile.is_active %}
            <tr>
                <td>Anniversary date:</td>
                <td>{{ user.profile.last_membership.start_date|date:"M d, Y" }}</td>
            </tr>
            {% endif %}

            <!-- Address1 -->
            {% if user.profile.address1 %}
              <tr>
                 <td>Address 1:</td>
                 <td>{{ user.profile.address1 }}</td>
              </tr>
            {% endif %}
            <!-- Address2 -->
            {% if user.profile.address2 %}
              <tr>
                 <td>Address 2:</td>
                 <td>{{ user.profile.address2 }}</td>
              </tr>
            {% endif %}
            <!-- City -->
            {% if user.profile.city %}
              <tr>
                 <td>City:</td>
                 <td>{{ user.profile.city }}, {{ user.profile.state }} {{ user.profile.zipcode }}</td>
              </tr>
            {% endif %}

            <!-- Phone -->
            {% if user.profile.phone %}
              <tr>
                 <td>Phone:</td>
                 <td>{{ user.profile.phone }}</td>
              </tr>
            {% endif %}

            <!-- Phone2 -->
            {% if user.profile.phone2 %}
              <tr>
                 <td>Alternate Phone:</td>
                 <td>{{ user.profile.phone2 }}</td>
              </tr>
            {% endif %}

            <!-- How Heard -->
            {% if user.profile.howHeard %}
              <tr>
                 <td>How Heard:</td>
                 <td>{{ user.profile.howHeard }}</td>
              </tr>
            {% endif %}

            <!-- Gender -->
            {% if user.profile.gender %}
              <tr>
                 <td>Gender:</td>
                 <td>{{ user.profile.gender }}</td>
              </tr>
            {% endif %}
        </table>

        <h3>Email Addresses</h3>
        <table>
            <tr>
                <th>Address</th>
                <th>Verified</th>
            </tr>
            {% for email in user.emailaddress_set.all %}
              <tr>
                 <td>{{ email }}</td>
                 <td>{{ email.is_verified|yesno:"yes,no" }}</td>
              </tr>
            {% endfor %}
        </table>

        <h3>
            Emergency Contact
            (<a target="_self" href="{% url 'member_edit_profile' user.username %}#emergency_contact">edit</a>)
        </h3>
        {% if not emergency_contact.name %}
            <p style="font-style: italic; color:red; padding-left: 2em;">No Emergency Contact Information</p>
        {% else %}
            <table>
                <tr>
                    <td>Name</td>
                    <td>{{ emergency_contact.name }}</td>
                </tr>
                <tr>
                    <td>Relationship</td>
                    <td>{{ emergency_contact.relationship }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ emergency_contact.phone }}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{ emergency_contact.email }}</td>
                </tr>
            </table>
        {% endif %}


    </div>

    <div id="tabs-2">
        {% if user.profile.has_file_uploads %}
            <h3>Private Documents</h3>
            <table>
            {% for f in user.profile.file_uploads %}
                <tr>
                    <td>{{ f.uploadTS }}</td>
                    <!--<td>{{ f.document_type }}</td>-->
                    <td>
                        <a target="_self" href="{% url 'member_files' 'inline' f.user f.name     %}">{{ f.name }}</a>
                    </td>
                <tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>

    <div id="tabs-3">
        <h3>Membership History</h3>
        Loading membership information...
    </div>

    <div id="tabs-4">
        <h3>View Activity</h3>
        Loading activity information...
    </div>


    <div id="tabs-5">
        <h3>Billing Profile</h3>
        Loading billing information...
    </div>
</div>

<!-- Not the signed in user or STAFF so just show profile -->
{% else %}
    <div class="clearfix"></div>
    <h2>Member Profile</h2>
    {% include "members/profile_public_frag.html" %}
{% endif %}

{%block sub-extrajs %}
    <script>
        $(function () {
            jQuery('#tabs').tabs();
        });

        function draw_tab(url, div_id) {
            $.post(url, {}, function(content) {
                div = $(div_id);
                div.html(content);
            });
        }

        $(document).ready(function() {
            $('#membership_tab').on("click", function(e) {
                e.preventDefault();
                url = "{% url 'member_profile_membership' user.username %}"
                draw_tab(url, "#tabs-3")
            });

            $('#activity_tab').on("click", function(e) {
                e.preventDefault();
                url = "{% url 'member_profile_activity' user.username %}"
                draw_tab(url, "#tabs-4")
            });

            // $('#billing_tab').on("click", function(e) {
                // e.preventDefault();
                url = "{% url 'member_profile_billing' user.username %}"
                draw_tab(url, "#tabs-5")
            // });
        });
    </script>
{% endblock %}

{% endblock %}
