<div id="profile">
<table>
    <tr>
        <td><strong>Membership:</strong></td>
        <td>{{ user.profile.membership_type }}</td>
    </tr>
    <tr>
        <td><strong>Member Since:</strong></td>
        <td>{{ user.profile.first_visit }}</td>
   </tr>

    {% if user.profile.company_name %}
        <tr>
            <td><strong>Company Name:</strong></td>
            <td>{{ user.profile.company_name }}</td>
        </tr>
    {% endif %}

    {% for url in user.url_set.all %}
        <tr>
            <td><strong>{{ url.url_type | title }} URL:</strong></td>
            <td><a target="_self" href="{{ url }}">{{ url }}</a></td>
        </tr>
    {% endfor %}

    {% if user.profile.neighborhood %}
        <tr>
            <td><strong>Neighborhood:</strong></td>
            <td>{{ user.profile.neighborhood }}</td>
        </tr>
    {% endif %}

    {% if user.profile.has_kids %}
        <tr>
            <td><strong>Has Kids?</strong></td>
            <td>{{ user.profile.has_kids|yesno:"Yes,No" }}</td>
        </tr>
    {% endif %}
</table>
</div>
