{% comment %}
  Note:  The jquery on this page will not work if loaded outside the profile page.
{% endcomment %}

<h3>Current Organizations</h3>
{% if org_memberships %}
<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th align="center">Start Date</th>
      <th align="left">End Date</th>
    </tr>
  </thead>
  <tbody>
    {% for m in org_memberships %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td>
           <a href="{% url 'member_org_view' m.organization.id %}">{{ m.organization.name }}</a>
         </td>
         <td align="center">{{ m.start_date|date:"M d, Y" }}</td>
         <td align="left">{% if m.end_date %}{{ m.end_date|date:"M d, Y" }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    No Organizations
{% endif %}

<div class="ui-widget">
  <h3>Add Organization</h3>
  <form id='org-add-form' action="{% url 'member_org_add' %}" method="POST">
    {% csrf_token %}
    <input id="org_input" name="org" type='text' />
    <input type='hidden' name='action' value='add' />
    <input type='hidden' name='add_member' value='{{ user.username }}' />
    <input class='btn' id="add_org" type='submit' value="Add" />
  </form>
</div>

<script>
(function() {
  $("#org_input").autocomplete({
    source: "{% url 'json_org_search' %}",
    minLength: 2,
    select: function(e, ui) {
      var org_id = ui.item.id;
      var url = "{% url 'member_org_member' 0 %}".replace(/0/, org_id.toString());
      $('#org-add-form').attr('action', url);
    }
  });
})();
</script>

<!--
{% if search %}
  <h3>Search Results</h3>
  <table>
  {% for org in search %}
    <tr>
      <td>{{ org.name }}</td>
      <td>
        {% if org.locked %}
          <button onclick="$('#org_extra_{{ org.id }}').toggle();">Locked</button>
        {% else %}
          <form id="org_join_form_{{ org.id }}" action="." method="POST">
            <input type="hidden" name="org_id" value="{{ org.id }}"/>
            <input type="submit" value="Join"/>
            {% csrf_token %}
          </form>
        {% endif %}
      </td>
    </tr>
    <tr id="org_extra_{{ org.id }}" style="display: none;">
      <td colspan="2">
      </td>
    </tr>
  {% endfor %}
</table>
{% else %}
  <h3>Add Organization</h3>
  <form id="org_search_form" action="." method="POST">
    <input name="search_terms"/>
    <input type="submit" value="Find Organization"/>
    {% csrf_token %}
  </form>
{% endif %}
-->
