{% extends "members/u_base.html" %}
{% load imagetags %}
{% load email_tags %}
{% load static %}

{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class='left-profile col s4'>
  {% if user.profile.photo %}
    {% if ALLOW_PHOTO_UPLOAD %}
      <div class='profile-img-box'>
        <div class='editable-photo prof-img'>
           <a href="{{ user.profile.photo.url }}"><img id='mem-photo' src="{{ user.profile.photo.url }}"></a>
        </div>
        <div id='edit-img'>
          <img id="img-edit" alt='edit image' />
          <h3>Edit Photo</h3>
        </div>
      </div>
      {% else %}
      <div class='member-photo prof-img'>
         <a href="{{ user.profile.photo.url }}"><img id='blank-photo' src="{{ user.profile.photo.url }}"></a>
      </div>
      {% endif %}
    {% else %}
      {% if ALLOW_PHOTO_UPLOAD %}
        <div class='profile-img-box'>
          <div class='editable-photo prof-img'>
            <img id='mem-photo' src="{% static 'img/noun_160064_cc.png' %}"/>
          </div>
          <div id='edit-img'>
            <img id="img-edit" alt='edit image' />
            <h3>Edit Photo</h3>
          </div>
        </div>
      {% else %}
        <div class='member-photo'>
          <img id='mem-photo' />
        </div>
      {% endif %}
    {% endif %}
  <div class='tags-box'>
    {% if user.profile.tags.all %}
      <p style='text-align:center;'> - <strong>Tags</strong> - </p>
      {% if user.username == request.user.username %}
        <div id='tags_tab'></div>
      {% else %}
        {% for tag in user.profile.tags.all %}
          <li class='chip'><a class='tag-chip' href="{% url 'member_tag' tag %}">{{ tag }}</a></li>
        {% endfor %}
      {% endif %}
    {% else %}
      {% if user.username == request.user.username %}
        <div id='tags_tab'></div>
      {% else %}
      {% endif %}
    {% endif %}
  </div>
</div>

<div id='picModal' class='modal'>
  <div class='picModal-content'>
    <div class='picModal-body'>
      <h4>Edit Profile Picture</h4>
      <div class='container' id='pic-modal'>
      </div>
    </div>
  </div>
</div>

<div class='right-profile col s8'>
  <div class='basic-info'>
    <div class='row'>
      <h2 class='col s9 oswald' id='prof-name'>{{ user.get_full_name }}</h2>
      {% if user.username == request.user.username or request.user.is_staff %}
        <a class='col s1 tooltipped' data-position="bottom" data-tooltip="Edit Profile" href="{% url 'member_edit_profile' user.username %}" style='margin-top:3%;'><img id='edit' alt='edit-icon'/></a>
      {% endif %}
      {% if request.user.profile.is_manager %}
      <a class='col s1 tooltipped' data-position="bottom" data-tooltip="Manage Member" href="{% url 'member_manage' user.username %}" style='margin-top:3%;'><img id='manage' alt='manage-icon' /></a>
      {% endif %}
    </div>
    {% if user.profile.bio %}
      <dl>
        <dt class='bold-blue' style='margin-left:1%;'>Bio:</dt>
        <dd>{{ user.profile.bio }}</dd>
      </dl>
    {% endif %}
    <div id="tabs-0">
      {% include "members/profile_public_frag.html" %}
    </div>
    {% if user.username != request.user.username %}
    <dl>
        <dt>Contact:</dt>
        <dd><a href="{% url 'member_connect' user %}">Connect with this member</a></dd>
    </dl>
    {% endif %}
  </div>

  {% if user.username == request.user.username or request.user.is_staff %}
  <div class="clearfix"></div>
  {% block mem_tabs %}
    <ul class='collapsible prof-tabs' data-collapsible="accordion">
        <li>
          <div class='collapsible-header'>Your Details</div>
          <!-- <a href="#tabs-0">Member Profile</a> -->
          <div class='collapsible-body' id='tabs-1'>
            <div class='row'>
              <h3 class='col s9' style='margin-bottom:0;margin-top:2%;'>Private Details</h3>
              <a class='col s1' href="{% url 'member_edit_profile' user.username %}"><img id='edit' alt='edit-icon' style='height:20px;'/></a>
            </div>
            <table>
                <tr>
                    <td>Primary Email:</td>
                    <td>{{ user.email }} {% email_verified user.email %}</td>
                </tr>
                {% for email in user.profile.non_primary_emails %}
                  <tr>
                      <td>Alternate Email:</td>
                      <td>
                          {{ email }} {% email_verified email %}
                      </td>
                  </tr>
                {% endfor %}

                <!-- Status -->
                <tr>
                    <td>Membership Rate:</td>
                    <td>{{ user.profile.membership_type }}{% if user.profile.is_active %} at ${{ user.profile.last_membership.monthly_rate }}/month{% endif %}</td>
                </tr>

                <!-- Anniversary Date -->
                {% if user.profile.is_active %}
                <tr>
                    <td>Anniversary date:</td>
                    <td>{{ user.profile.last_membership.start_date|date:"M d, Y" }}</td>
                </tr>
                {% endif %}

                <!-- Address1 -->
                {% if user.profile.address1 %}
                  <tr>
                     <td>Address 1:</td>
                     <td>{{ user.profile.address1 }}</td>
                  </tr>
                {% endif %}
                <!-- Address2 -->
                {% if user.profile.address2 %}
                  <tr>
                     <td>Address 2:</td>
                     <td>{{ user.profile.address2 }}</td>
                  </tr>
                {% endif %}
                <!-- City -->
                {% if user.profile.city %}
                  <tr>
                     <td>City:</td>
                     <td>{{ user.profile.city }}, {{ user.profile.state }} {{ user.profile.zipcode }}</td>
                  </tr>
                {% endif %}

                <!-- Phone -->
                {% if user.profile.phone %}
                  <tr>
                     <td>Phone:</td>
                     <td>{{ user.profile.phone }}</td>
                  </tr>
                {% endif %}

                <!-- Phone2 -->
                {% if user.profile.phone2 %}
                  <tr>
                     <td>Alternate Phone:</td>
                     <td>{{ user.profile.phone2 }}</td>
                  </tr>
                {% endif %}

                <!-- How Heard -->
                {% if user.profile.howHeard %}
                  <tr>
                     <td>How Heard:</td>
                     <td>{{ user.profile.howHeard }}</td>
                  </tr>
                {% endif %}

                <!-- Gender -->
                {% if user.profile.gender %}
                  <tr>
                     <td>Gender:</td>
                     <td>{{ user.profile.gender }}</td>
                  </tr>
                {% endif %}
            </table>

            <h3>
                Emergency Contact
                (<a target="_self" href="{% url 'member_edit_profile' user.username %}#emergency_contact">edit</a>)
            </h3>
            {% if not emergency_contact.name %}
                <p style="font-style: italic; color:red; padding-left: 2em;">No Emergency Contact Information</p>
            {% else %}
                <table>
                    <tr>
                        <td>Name</td>
                        <td>{{ emergency_contact.name }}</td>
                    </tr>
                    <tr>
                        <td>Relationship</td>
                        <td>{{ emergency_contact.relationship }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ emergency_contact.phone }}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{ emergency_contact.email }}</td>
                    </tr>
                </table>
            {% endif %}

          </div>
        </li>
        <li>
          <div class='collapsible-header'>Documents</div>
          <div class='collapsible-body' id='tabs-2'>
            {% if user.profile.has_file_uploads %}
                <table>
                {% for f in user.profile.file_uploads %}
                    <tr>
                        <td>{{ f.uploadTS }}</td>
                        <!--<td>{{ f.document_type }}</td>-->
                        <td>
                            <a target="_self" href="{% url 'member_files' 'inline' f.user f.name     %}">{{ f.name }}</a>
                        </td>
                    <tr>
                {% endfor %}
                </table>
            {% endif %}
          </div>
        </li>
        <li>
          <div class='collapsible-header' id='membership_tab'>Membership History</div>
          <div class='collapsible-body' id='tabs-3'>
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class='collapsible-header' id='activity_tab'>Activity</div>
          <div class='collapsible-body' id='tabs-4'>
            <p>Loading activity information...</p>
          </div>
        </li>
        <li>
          <div class='collapsible-header' id='billing_tab'>Billing History</div>
          <div class='collapsible-body' id='tabs-5'>
            <p>Loading billing information...</p>
          </div>
        </li>
        <li>
          <div class='collapsible-header' id='device_tab'>Register Devices</div>
          <div class='collapsible-body' id='tabs-6'>
            <p>Loading billing information...</p>
          </div>
        </li>
    </ul>
  {% endblock %}
  {% else %}
    {% block mem-tabs %}{% endblock %}
  {% endif %}
</div>

{% if messages %}
<div class="messages">
{% for message in messages %}
  <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
</div>
{% endif %}

<div id="tabs"></div>

{%block sub-extrajs %}
    <script>
        function post_tab(url, div_id) {
          $.post(url, {}, function(content) {
              div = $(div_id);
              div.html(content);
          });
        }

        function get_tab(url, div_id) {
          $.get(url, {}, function(content) {
            div = $(div_id);
            div.html(content);
          });
        }

        function get_orientation(img) {
          if (img.width() < img.height()) {
            $('#mem-photo').attr('class', 'portrait');
          }
        }

        $(document).ready(function() {
          $('body').css('background-color', 'RGBA(239, 238, 231, 1)');
          $('.tooltipped').tooltip({delay: 50});
          $('.collapsible').collapsible();
          $('.chips').material_chip();
          $('.button-collapse').sideNav();

          var img = $('#mem-photo');
          get_orientation(img);

          $('#membership_tab').on("click", function(e) {
              e.preventDefault();
              url = "{% url 'member_profile_membership' user.username %}"
              post_tab(url, "#tabs-3")
          });

          $('#activity_tab').on("click", function(e) {
              e.preventDefault();
              url = "{% url 'member_profile_activity' user.username %}"
              post_tab(url, "#tabs-4")
          });

          post_tab("{% url 'member_profile_billing' user.username %}", "#tabs-5");

          get_tab("{% url 'member_user_devices' user.username %}", "#tabs-6");

          get_tab("{% url 'member_user_tags' user.username %}", '#tags_tab');

    			$('#edit-img').on('click', function(e) {
            e.preventDefault();
            get_tab("{% url 'member_edit_pic' user.username %}", '#pic-modal');
            $('#picModal').css('display', 'block');
          });

          $('.collapsible-header').click(function(e) {
            e.preventDefault();
            var target = $(this).next().attr('id');
            var divID = '#' + target;
            $('html, body').animate({
                scrollTop: e.screenY
            }, 2000);
          })

          // TODO finish responsive footer by testing on a device
  				if($('.main').width() < 990) {
            $('footer').attr('class', 'sticky-footer');
  				} else {
  					if($('footer').hasClass('sticky-footer')) {
              $('footer').attr('page-footer main-footer');
  					}
  				}
        });
    </script>
{% endblock %}

{% endblock %}
