<div id="profile">

{% if user.profile.bio %}
  <dl>
    <dt class='bold-blue' style='margin-left:1%;'>Bio:</dt>
    <dd>{{ user.profile.bio }}</dd>
  </dl>
{% endif %}

<table>
    <tr>
        <td class='bold-blue'><strong>Membership:</strong></td>
        <td>{{ user.profile.membership_type }}</td>
    </tr>
    <tr>
        <td class='bold-blue'><strong>Member Since:</strong></td>
        <td>{{ user.profile.first_visit }}</td>
   </tr>

    {% for org in user.profile.active_organizations %}
        <tr>
            <td class='bold-blue'>Organization</td>
            <td>{{ org }}</td>
        </tr>
    {% endfor %}

    {% for url in user.url_set.all %}
        <tr>
            <td class='bold-blue'><strong>{{ url.url_type | title }} URL:</strong></td>
            <td><a target="_self" href="{{ url }}">{{ url }}</a></td>
        </tr>
    {% endfor %}

    {% if user.profile.neighborhood %}
        <tr>
            <td class='bold-blue'><strong>Neighborhood:</strong></td>
            <td>{{ user.profile.neighborhood }}</td>
        </tr>
    {% endif %}

    {% if user.profile.has_kids %}
        <tr>
            <td class='bold-blue'><strong>Has Kids?</strong></td>
            <td>{{ user.profile.has_kids|yesno:"Yes,No" }}</td>
        </tr>
    {% endif %}
</table>
</div>
