{% extends "members/u_base.html" %}

{% block sub-title %} Register | {% endblock %}


{% block content %}
  <form name='registration_form' action='.' method='POST'>
    <h3>Register</h3>
    <table id='registration_form'>
      <tr class="row-even">
          <td>First Name:</td>
          <td>{{ registration_form.first_name }}</td>
          <td>{{ registration_form.first_name.errors }}</td>
      </tr>
      <tr class="row-odd">
          <td>Last Name:</td>
          <td>{{ registration_form.last_name }}</td>
          <td>{{ registration_form.last_name.errors }}</td>
      </tr>
      <tr class="row-even">
          <td>Email:</td>
          <td>{{ registration_form.email }}</td>
          <td>{{ registration_form.email.errors }}</td>
      </tr>
    </table>
    <p align="center"><input type="submit" value="Register" /></p>
    {% csrf_token %}
  </form>

{% endblock %}
