<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if refresh %}<META HTTP-EQUIV="REFRESH" CONTENT="60">{% endif %}
	<title>Office Nomads Ticker</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
	<link type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.4.custom.css" rel="stylesheet" />	
	<!--[if IE]>
		<script src="{{ STATIC_URL }}html5.js"></script>
	<![endif]-->
	<script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script> 
	<script src="{{ STATIC_URL }}jquery-ui-1.8.4.custom.min.js"></script> 
	<script>
		$(function(){
    		jQuery('#tabs').tabs();     
  		});
	</script>
	<style>
		#ticker { 
			margin:10px; 
			font-size: 1.3em; 
			color:black; 
		}
		#ticker h1 { font-size:2em; }
		
		#user-card { float: left; width: 190px; border: solid 3px #EEE; margin: 10px; text-align: center; }
		#user-card div.photo { height: 180px; background-color: #EEE; font-size: 150px; color: #DDD; text-decoration: none; }
		
		#ticker dd:after { content:","; font-size: .8em;}
		#ticker dl dd:last-child:after { content: ""; }
	</style>
</head>

<body>

<div id="branding">
	<div style="float:right;">
		<a href="http://nadineproject.org" target="_new">The Nadine Project</a>
	</div>
	<a href="/">{{ site.name}}</a>: <span style="color:#e1e1e1">Nadine Membership Console</span>
</div>

<div id="ticker">
	
<div>	
<table style="-webkit-column-count: 2">
    <tr class="row-even">
		<th>Total Members</th>
		<th>Full-Time</th>
		<th>Part-Time</th>
		<th width="25%"></th>
		<th>Here Today</th>
		<th>Devices</th>
		<th></th>
	</tr>
    <tr>
		<td align="center">{{ counts.members }}</td>
		<td>{{ counts.full_time }}</td>
		<td>{{ counts.part_time }}</td>
		<td></td>
		<td>{{ counts.here_today }}</td>
		<td>{{ counts.devices }}</td>
		<td></td>
	</tr>
</table>
</div>

<div>&nbsp;</div>
{% load imagetags %}

<div>
<h2>Who's Here:</h2>
{% for member in members %}
	<div id="user-card">
		  <div class="photo">
		      {% if member.photo %}
		         <img src="{{ member.photo.url|fit_image:"170x170" }}" />
		      {% else %}
		         ?
		      {% endif %}  
    	  </div>       
	      {{ member.full_name }} - {{ member.membership_type }}<br/>
	      {% if member.industry %}<i>{{ member.industry }}</i>{% endif %}
	<!--
	      <dl>
          {% for tag in member.tags.all %}
				<dd>{{ tag }}</dd> 
          {% endfor %}
          </dl>
-->
	</div>
{% endfor %}	
</div>

</div>
</body>
</html>
