<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="DC.title" content="{{ site.name }}" />
	<title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
	<link type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.4.custom.css" rel="stylesheet" />	
	<!--[if IE]>
		<script src="{{ STATIC_URL }}html5.js"></script>
	<![endif]-->
	<script src="{{ STATIC_URL }}jquery-1.8.3.min.js"></script>
	<script src="{{ STATIC_URL }}jquery-ui-1.8.4.custom.min.js"></script> 
	<script>
		$(function(){
    		jQuery('#tabs').tabs();     
  		});
	</script>

	{%block sub-head %}{% endblock %}
	{% block feed-link %}{% endblock %}
	<style>
	{% block style %}{% endblock %}
	</style>
</head>
<body>{% block body %}
	<div id="branding">
		<div style="float:right;">
			{% if request.user.is_staff %}
				<span style="color:#e1e1e1">App:</span>
				<span style="color:#FBD850;">member</span> |
				<a href="/staff">staff</a> |
				<a href="/admin">admin</a> |
				<a href="/tablet">tablet</a>
			{% else %}
				<a href="http://nadineproject.org" target="_new">The Nadine Project</a>
			{% endif %}
		</div>
		<a href="/">{{ site.name}}</a>: <span style="color:#e1e1e1">Nadine Membership Console</span>
	</div>
	{% block header %}<header>
	<nav>
		<a href="{% url 'members.views.home' %}">Home</a>
		<a href="{% url 'members.views.profile_redirect' %}">My Profile</a>
		
		{% if not request.user.is_authenticated %}
			<a>All Members</a>
			<a>Here Today</a>
			<a>Tags</a>
			<a>Mailing Lists</a>
			<a>Login</a>
		{% elif request.user.get_profile.is_active %}
			<a href="{% url 'members.views.all_members' %}">All Members</a>
			<a href="{% url 'members.views.here_today' %}">Here Today</a>
			<a href="{% url 'members.views.tag_cloud' %}">Tags</a>
			<a href="{% url 'members.views.mail' user.username %}">Mailing Lists</a>
			<a href="/chat?nickname={{user.username}}">Chat</a>
			<a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Logout</a>
		{% else %}
			<a href="{% url 'members.views.not_active' %}">All Members</a>
			<a href="{% url 'members.views.not_active' %}">Here Today</a>
			<a href="{% url 'members.views.not_active' %}">Tags</a>
			<a href="{% url 'members.views.not_active' %}">Mailing Lists</a>
			<a href="{% url 'members.views.not_active' %}">Chat</a>
			<a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Logout</a>
		{% endif %}
	</nav>
	{% block header-title %}<h1><a class="ir" href="{% url 'members.views.home' %}">{{ site.name }}</a></h1>{% endblock %}
	</header>{% endblock %}

<div id="content" class="clearfix">{% block content %}{% endblock %}</div>

<!-- Footer -->
<div id="footer">
	{% block footer %}
	&copy;2008-2013 <a href="http://nadineproject.org" target="_new">The Nadine Project</a> by <a href="http://officenomads.com">Office Nomads</a>
	{% endblock %}
</div>
{% endblock %}</body>
</html>

