{% extends "members/u_base.html" %}
{% load taggit_extras %}
{% include_tagcloud 'staff.member' %}

{%block sub-head %}
	<!-- TODO need to find out what's in these that's not in our custom stuff already loaded at the top -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js" type="text/javascript"></script>
	<script>
		$(function() {
			var availableTags = [
				{% for t in all_tags %}
					"{{ t }}",
				{% endfor %}
			];
			$( "#tag" ).autocomplete({
				source: availableTags
			});
			$("#tag").focus();
		});
		</script>
{% endblock %}

{% block content %}

	<h2>Profile Tags for: {{ user }}</h2>
	<ul>
		{% for t in user_tags %}
			<li>
				<a href="{% url members.views.tag t %}">{{ t }}</a> 
				(<a href="{% url members.views.delete_tag user.username t %}" style="color: red;">x</a>)
			</li>
		{% endfor %}
	</ul>
	
	<div class="ui-widget">
	<form action="." method="POST">
		<input id="tag" name="tag">
		<input type="submit" value="Add">
		{% csrf_token %}
	</form>
	</div>
{% endblock %}