{% extends "members/u_base.html" %}
{% load imagetags %}
{% load list_tags %}

{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{% block content %}
      {% if user.profile.photo %}
      <div class="member-photo">      
         <a href="{{ user.profile.photo.url }}"><img src="{{ user.profile.photo.url|fit_image:"170x170" }}"></a>
       </div>         
      {% endif %}

<h2>{{ user.get_full_name }}</h2>

{% if user.username == request.user.username or request.user.is_staff %}
	<dl>
		<dt>Quicklinks:</dt>    
		<dd><a href="{% url members.views.edit_profile user.username %}">edit profile</a></dd>
		<dd><a href="{% url members.views.mail user.username %}">mailing lists</a></dd>
		<dd><a href="{% url members.views.user_tags user.username %}">edit tags</a></dd>
	</dl>
{% endif %}

	<dl>
		<dt>Profile Tags:</dt>
		{% for tag in member.tags.all %}
			<dd><a href="{% url members.views.tag tag %}">{{ tag }}</a></dd>
		{% endfor %}
	</dl>

{% if user.username == request.user.username or request.user.is_staff %}
	<div class="clearfix"></div>

	<div id="tabs">
		<ul>
			<li><a href="#tabs-0">Member Profile</a></li>
			<li><a href="#tabs-1">Private Details</a></li>
			<li><a href="#tabs-2">Membership History</a></li>
			<li><a href="#tabs-3">Daily Activity</a></li>
			<li><a href="#tabs-4">Billing</a></li>
		</ul>
	
	<div id="tabs-0">
		<h3>Member Profile</h3>
		{% include "members/profile.frag" %}
	</div>
	
	<div id="tabs-1">
		<h3>Private Details</h3>
		<table>
			<!-- Username -->
		   <tr>
		      <td>Username:</td>
		      <td>{{ user.username }}</td>
		   </tr>

			<!-- Status -->
			<tr>
				<td>Membership Rate:</td>
				<td>{{ user.profile.membership_type }}{% if user.profile.is_monthly %} at ${{ user.profile.last_membership.monthly_rate }}/month{% endif %}</td>
			</tr>
			
			<!-- Anniversary Date -->
			{% if user.profile.is_monthly %}
			<tr>
				<td>Anniversary date:</td>
				<td>{{ user.profile.last_membership.start_date|date:"M d, Y" }}</td>
			</tr>
			{% endif %}

			<!-- Stats 
		   {% if user.member.last_membership %}
		   <tr>
		      <td>Plan Start</td>
		      <td>{{ user.member.last_membership.start_date|date:"Y-m-d" }}</td>
		   </tr>
		   {% endif %}
		   <tr>
		      <td>Paid Visits</td>
		      <td>{{ member.paid_count }}</td>
		   </tr>
		   <tr>
		      <td>First Visit</td>
		      <td>{{ member.first_visit }}</td>
		   </tr>
		   <tr>
		      <td>Last Visit</td>
		      <td>{{ member.last_visit }}</td>
		   </tr>
			-->

		   <!-- Address1 -->
		   {% if member.address1 %}
		      <tr>
		         <td>Address 1:</td>
		         <td>{{ member.address1 }}</td>
		      </tr>
		   {% endif %}
		   <!-- Address2 -->
		   {% if member.address2 %}
		      <tr>
		         <td>Address 2:</td>
		         <td>{{ member.address2 }}</td>
		      </tr>
		   {% endif %}
		   <!-- City -->
		   {% if member.city %}
		      <tr>
		         <td>City:</td>
		         <td>{{ member.city }}, {{ member.state }} {{ member.zipcode }}</td>
		      </tr>
		   {% endif %}

		   <!-- Email -->
		   {% if member.email %}
		      <tr>
		         <td>Email:</td>
		         <td>{{ member.email }}</td>
		      </tr>
		   {% endif %}

		   <!-- Email2 -->
		   {% if member.email2 %}
		      <tr>
		         <td>Alternate Email:</td>
		         <td>{{ member.email2 }}</td>
		      </tr>
		   {% endif %}

		   <!-- Phone -->
		   {% if member.phone %}
		      <tr>
		         <td>Phone:</td>
		         <td>{{ member.phone }}</td>
		      </tr>
		   {% endif %}

		   <!-- Phone2 -->
		   {% if member.phone2 %}
		      <tr>
		         <td>Alternate Phone:</td>
		         <td>{{ member.phone2 }}</td>
		      </tr>
		   {% endif %}

		   <!-- How Heard -->
		   {% if member.howHeard %}
		      <tr>
		         <td>How Heard:</td>
		         <td>{{ member.howHeard }}</td>
		      </tr>
		   {% endif %}

		   <!-- Gender -->
		   {% if member.gender %}
		      <tr>
		         <td>Gender:</td>
		         <td>{{ member.gender }}</td>
		      </tr>
		   {% endif %}
		</table>		
	</div>
	
	<div id="tabs-2">
		<h3>Membership History</h3>
		{% if user.profile.memberships.all %}
		<table>		  
		  <thead>
 		   <tr>
 		      <th>Plan</th>
 		      <th>Start Date</th>
 		      <th>End Date</th>
				<td></td>
 		   </tr>		    
		  </thead>
		  <tbody>
 		   {% for membership in user.profile.memberships.all reversed %}
 		      <tr class="{% cycle 'row-even' 'row-odd' %}">
 		         <td>{{ membership.membership_plan }}</td>
 		         <td>{{ membership.start_date|date:"M d, Y" }}</td>
 		         <td>{% if membership.end_date %}{{ membership.end_date|date:"M d, Y" }}{% endif %}</td>
					<td></td>
 		      </tr>
 		   {% endfor %}		    
		  </tbody>
		</table>
		{% else %}
			No membership history...
		{% endif %}		
	</div>

	<div id="tabs-3">
		<h3>Daily Activity</h3>
		{% if user.profile.daily_logs.all %}		
		<table> 
		  <thead>
 		   <tr>
 		      <th>Date</th>
 		      <th>Payment</th>
 		      <th>Guest of</th>
				<th></th>
 		   </tr>		    
		  </thead>
		  <tbody>
 		   {% for log in user.profile.daily_logs.all %}
 		      <tr class="{% cycle 'row-even' 'row-odd' %}">
 		         <td class="date-cell">{{ log.visit_date|date:"M d, Y" }}</td>
 		         <td>{{ log.payment }}</td>
 		         <td>{% if log.guest_of %}{{ log.guest_of }}{% endif %}</td>
					<td></td>
 		      </tr>
 		   {% endfor %}		    
		  </tbody>
		</table>
		{% else %}
			No daily activity....
		{% endif %}

		<h3>Guest Activity</h3>
		{% if user.profile.host_daily_logs.all %}
		<table> 
		  <thead>
 		   <tr>
 		      <th>Date</th>
 		      <th>Guest</th>			
 		      <th>Payment</th>
				<td></td>
 		   </tr>		    
		  </thead>
		  <tbody>
 		   {% for log in user.profile.host_daily_logs.all %}
 		      <tr class="{% cycle 'row-even' 'row-odd' %}">
 		         <td>{{ log.visit_date|date:"M d, Y" }}</td>
					<td>{{ log.member.full_name }}</td>
 		         <td>{{ log.payment }}</td>
					<td></td>
 		      </tr>
 		   {% endfor %}		    
		  </tbody>
		</table>
		{% else %}
			No guest activity....
		{% endif %}
  </div>

	<div id="tabs-4">
		<h3>Billing Profile</h3>
		{% include "members/billing_profile.frag" %}  

		<h3>Payments</h3>
		{% if user.profile.transaction_set.all %}		
	   <table>
	     <thead>
	   		<tr>
	   			<th>Date</th>
	   			<th>Amount</th>
	   			<th align="left">Bills</th>
	   		</tr>      
	     </thead>
	     <tbody>
	   		{% for transaction in user.profile.transaction_set.all %}
	   		<tr class="{% cycle 'row-even' 'row-odd' %}">
	   			<td><a href="{% url members.views.receipt user.username transaction.id %}">{{ transaction.created|date:"m/d/y" }}</a></td>
	   			<td>${{ transaction.amount }}</td>
	   			<td>
	   			   {% for bill in transaction.bills.all %}
	                  {{ bill.created|date:"M d, Y" }} (${{ bill.amount }}){% loop_comma %}
	               {% endfor %}
	   			</td>
	   		</tr>
	         {% endfor %}      
	     </tbody>
	   </table>
		{% else %}
			No bills...
		{% endif %}	
		
		<h3>Bills</h3>
		{% if user.profile.all_bills %}
   	<table>
   	  <thead>
     		<tr>
     			<th>Date</th>
     			<th>Amount</th>
     			<th>Plan</th>
     			<th align="left">Details</th>
     		</tr>   	    
   	  </thead>
   	  <tbody>
       	{% for bill in user.profile.all_bills %}
       		<tr class="{% cycle 'row-even' 'row-odd' %}">
       			<td>{{ bill.created|date:"M d, Y" }}</td>
       			<td>${{ bill.amount }}</td>
       			<td>{% if bill.membership %}{{ bill.membership.membership_plan }}{% endif %}</td>
       			<td>

       				{% if bill.paid_by %}
       				<b>For {{ bill.member.full_name }}</b>
       				{% endif %}
       				{% if bill.new_member_deposit %}
       				<b class="bill-info">Deposit: ${{ bill.new_member_deposit }}</b>
       				{% endif %}
       				{% if bill.dropins.all %}
       				<b class="bill-info">Drop-ins:
       					{% for dropin in bill.dropins.all %}
       						{{ dropin.visit_date|date:"m/d" }}{% loop_comma %}
       					{% endfor %}
       				</b>
       				{% endif %}
       				{% if bill.guest_dropins.all %}
       				<b class="bill-info">Guest Drop-ins:
       					{% for dropin in bill.guest_dropins.all %}
       						{{dropin.member.full_name}} on {{ dropin.visit_date|date:"m/d" }}{% loop_comma %}
       					{% endfor %}
       				</b>
       				{% endif %}
       			</td>
       		</tr>
       	{% endfor %}
   	  </tbody>
   	</table>	
		{% else %}
			No bills...
		{% endif %}	
	</div>
</div>

<!-- Not the signed in user or STAFF so just show profile -->
{% else %}
	<div class="clearfix"></div>
	<h2>Member Profile</h2>
	{% include "members/profile.frag" %}
{% endif %}

{% endblock %}