{% extends "members/u_base.html" %}
{% load imagetags %}
{% load list_tags %}

{% block sub-title %}{{ user.get_full_name }} | {% endblock %}

{%block sub-head %}
	<script>
		$(function () {
			$("#payment-details").hide();
			$("#bill-details").hide();
			jQuery('#tabs').tabs();
		});
	</script>
	
	<script>
	function toggleBillDetails(){
		if($("#bill-details").is(':hidden')) {
			$("#bill-details").show();
			$("#bill-details-toggle").html('[-]');
		} else {
			$("#bill-details").hide();
			$("#bill-details-toggle").html('[+]');
		}
	}
	
	function togglePaymentDetails(){
		if($("#payment-details").is(':hidden')) {
			$("#payment-details").show();
			$("#payment-details-toggle").html('[-]');
		} else {
			$("#payment-details").hide();
			$("#payment-details-toggle").html('[+]');
		}
	}
	</script>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
	  {% if user.profile.photo %}
	  <div class="member-photo">	  
		 <a href="{{ user.profile.photo.url }}"><img src="{{ user.profile.photo.url|fit_image:"170x170" }}"></a>
	   </div>		  
	  {% endif %}

<h2>{{ user.get_full_name }}</h2>

{% if user.username == request.user.username or request.user.is_staff %}
	<dl>
		<dt>Quicklinks:</dt>	
		<dd><a href="{% url 'members.views.edit_profile' user.username %}">edit profile</a></dd>
		<dd><a href="{% url 'members.views.user_tags' user.username %}">edit tags</a></dd>
		<dd><a href="{% url 'members.views.user_devices' %}">register device</a></dd>
	</dl>
{% endif %}

<dl>
	<dt>Profile Tags:</dt>
	{% if member.tags.all %}
		{% for tag in member.tags.all %}
			<dd><a href="{% url 'members.views.tag' tag %}">{{ tag }}</a></dd>
		{% endfor %}
	{% else %}
		<dd><i>No tags</i></dd>
	{% endif %}
</dl>

{% if user.username != request.user.username %}
	<dl>
		<dt>Contact:</dt>
		<dd><a href="{% url 'members.views.connect' user %}">Connect with this member</a></dd>
	</dl>
{% endif %}

{% if user.username == request.user.username or request.user.is_staff %}
	<div class="clearfix"></div>

	<div id="tabs">
		<ul>
			<li><a href="#tabs-0">Member Profile</a></li>
			<li><a href="#tabs-1">Private Details</a></li>
			<li><a href="#tabs-2">Membership History</a></li>
			<li><a href="#tabs-3">Daily Activity</a></li>
			<li><a href="#tabs-4">Billing</a></li>
		</ul>
	
	<div id="tabs-0">
		<h3>Member Profile</h3>
		{% include "members/profile.frag" %}
	</div>
	
	<div id="tabs-1">
		<h3>Private Details</h3>
		<table>
			<!-- Username -->
		   <tr>
			  <td>Username:</td>
			  <td>{{ user.username }}</td>
		   </tr>

			<!-- Status -->
			<tr>
				<td>Membership Rate:</td>
				<td>{{ user.profile.membership_type }}{% if user.profile.is_active %} at ${{ user.profile.last_membership.monthly_rate }}/month{% endif %}</td>
			</tr>
			
			<!-- Anniversary Date -->
			{% if user.profile.is_active %}
			<tr>
				<td>Anniversary date:</td>
				<td>{{ user.profile.last_membership.start_date|date:"M d, Y" }}</td>
			</tr>
			{% endif %}

			<!-- Stats 
		   {% if user.member.last_membership %}
		   <tr>
			  <td>Plan Start</td>
			  <td>{{ user.member.last_membership.start_date|date:"Y-m-d" }}</td>
		   </tr>
		   {% endif %}
		   <tr>
			  <td>Paid Visits</td>
			  <td>{{ member.paid_count }}</td>
		   </tr>
		   <tr>
			  <td>First Visit</td>
			  <td>{{ member.first_visit }}</td>
		   </tr>
		   <tr>
			  <td>Last Visit</td>
			  <td>{{ member.last_visit }}</td>
		   </tr>
			-->

		   <!-- Address1 -->
		   {% if member.address1 %}
			  <tr>
				 <td>Address 1:</td>
				 <td>{{ member.address1 }}</td>
			  </tr>
		   {% endif %}
		   <!-- Address2 -->
		   {% if member.address2 %}
			  <tr>
				 <td>Address 2:</td>
				 <td>{{ member.address2 }}</td>
			  </tr>
		   {% endif %}
		   <!-- City -->
		   {% if member.city %}
			  <tr>
				 <td>City:</td>
				 <td>{{ member.city }}, {{ member.state }} {{ member.zipcode }}</td>
			  </tr>
		   {% endif %}

		   <!-- Email -->
		   {% if member.email %}
			  <tr>
				 <td>Email:</td>
				 <td>{{ member.email }}</td>
			  </tr>
		   {% endif %}

		   <!-- Email2 -->
		   {% if member.email2 %}
			  <tr>
				 <td>Alternate Email:</td>
				 <td>{{ member.email2 }}</td>
			  </tr>
		   {% endif %}

		   <!-- Phone -->
		   {% if member.phone %}
			  <tr>
				 <td>Phone:</td>
				 <td>{{ member.phone }}</td>
			  </tr>
		   {% endif %}

		   <!-- Phone2 -->
		   {% if member.phone2 %}
			  <tr>
				 <td>Alternate Phone:</td>
				 <td>{{ member.phone2 }}</td>
			  </tr>
		   {% endif %}

		   <!-- How Heard -->
		   {% if member.howHeard %}
			  <tr>
				 <td>How Heard:</td>
				 <td>{{ member.howHeard }}</td>
			  </tr>
		   {% endif %}

		   <!-- Gender -->
		   {% if member.gender %}
			  <tr>
				 <td>Gender:</td>
				 <td>{{ member.gender }}</td>
			  </tr>
		   {% endif %}
		</table>		
	</div>
	
	<div id="tabs-2">
		<h3>Membership History</h3>
		{% if user.profile.memberships.all %}
		<table>		  
		  <thead>
		   <tr>
			  <th>Plan</th>
			  <th align="center">Start Date</th>
			  <th align="left">End Date</th>
		   </tr>			
		  </thead>
		  <tbody>
		   {% for membership in user.profile.memberships.all reversed %}
			  <tr class="{% cycle 'row-even' 'row-odd' %}">
				 <td>{{ membership.membership_plan }}</td>
				 <td align="center">{{ membership.start_date|date:"M d, Y" }}</td>
				 <td align="left">{% if membership.end_date %}{{ membership.end_date|date:"M d, Y" }}{% endif %}</td>
			  </tr>
		   {% endfor %}			
		  </tbody>
		</table>
		{% else %}
			No membership history...
		{% endif %}		
	</div>

	<div id="tabs-3">
		{% if member.is_active %}
			<h3>Visits This Cycle</h3>
			<div style="font-weight:bold; padding-left:1em; font-size:120%">
				{{ member.activity_this_month | length }}
				{% if member.active_membership.get_allowance %}
					of {{ member.active_membership.get_allowance }} 
				{% endif %}
				Days
			</div>
		{% endif %}
		<h3>Daily Activity</h3>
		{% if user.profile.daily_logs.all %}		
		<table> 
		  <thead>
		   <tr>
			  <th>Date</th>
			  <th align="center">Payment</th>
			  <th align="left">Guest of</th>
		   </tr>			
		  </thead>
		  <tbody>
		   {% for log in user.profile.daily_logs.all %}
			  <tr class="{% cycle 'row-even' 'row-odd' %}">
				 <td nowrap class="date-cell">{{ log.visit_date|date:"M d, Y" }}</td>
				 <td align="center">{{ log.payment }}</td>
				 <td align="left">{% if log.guest_of %}{{ log.guest_of }}{% endif %}</td>
			  </tr>
		   {% endfor %}			
		  </tbody>
		</table>
		{% else %}
			No daily activity....
		{% endif %}

		<h3>Guest Activity</h3>
		{% if user.profile.host_daily_logs.all %}
		<table> 
		  <thead>
		   <tr>
			  <th>Date</th>
			  <th align="center">Guest</th>
			  <th align="left">Payment</th>
		   </tr>
		  </thead>
		  <tbody>
		   {% for log in user.profile.host_daily_logs.all %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td nowrap>{{ log.visit_date|date:"M d, Y" }}</td>
				<td align="center">{{ log.member.full_name }}</td>
				<td align="left">{{ log.payment }}</td>
			</tr>
		   {% endfor %}			
		  </tbody>
		</table>
		{% else %}
			No guest activity....
		{% endif %}
  </div>


	<div id="tabs-4">
		<h3>Billing Profile</h3>
		<table width="65%">
		<tr>
			<td>{% include "members/billing_profile.frag" %}</td> 
			<td>
				<div style="margin-bottom: .5em; text-align:left;">
					Automatic Billing: <span id="auto_billing" style="color:green;">The {{ member.active_membership.start_date|date:"jS" }}</span>
				</div>
				<form id="disable_billing_form" action="{% url 'members.views.disable_billing' user.username %}">
					<input id="disable_billing_button" type="submit" value="Disable Automatic Billing" />
				</form>
			</td>
		</tr>
		<tr><td colspan="2">
			If you have any questions, or need to make any changes to your membership, please email 
			<a href="mailto:billing@officenomads.com" style="color:green;">billing@officenomads.com</a>.  We need at least one
			full business day to make any changes, otherwise your payment will be processed automatically.
		</td></tr>
		</table>

		{% if not member.auto_bill_enabled %}
			<script>
				ab = document.getElementById("auto_billing");
				ab.innerHTML = "Disabled";
				ab.style.color = "red";
				document.getElementById("disable_billing_button").disabled = true;
			</script>
		{% endif %}

		<h3>View All Payments <a id="payment-details-toggle" href="." onclick="togglePaymentDetails(); return false;">[+]</a></h3>
		<div id="payment-details">
		{% if user.profile.transaction_set.all %}
	   <table>
		 <thead>
			<tr>
				<th>Date</th>
				<th align="center">Amount</th>
				<th align="left">Bills</th>
			</tr>	   
		 </thead>
		 <tbody>
			{% for transaction in user.profile.transaction_set.all %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td nowrap><a href="{% url 'members.views.receipt' user.username transaction.id %}">{{ transaction.transaction_date | date:"M d, Y" }}</a></td>
				<td>${{ transaction.amount }}</td>
				<td>
				   {% for bill in transaction.bills.all %}
					  {{ bill.bill_date|date:"M d, Y" }} (${{ bill.amount }}){% loop_comma %}
				   {% endfor %}
				</td>
			</tr>
			 {% endfor %}	   
		 </tbody>
	   </table>
		{% else %}
			No bills...
		{% endif %}
		</div>
		
		<h3>View All Bills <a id="bill-details-toggle" href="." onclick="toggleBillDetails(); return false;">[+]</a></h3>
		<div id="bill-details">
		{% if user.profile.all_bills %}
		<table>
		  <thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Plan</th>
					<th align="left">Details</th>
				</tr>
		  </thead>
		  <tbody>
		{% for bill in user.profile.all_bills %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td nowrap>{{ bill.bill_date|date:"M d, Y" }}</td>
				<td>${{ bill.amount }}</td>
				<td nowrap>{% if bill.membership %}{{ bill.membership.membership_plan }}{% endif %}</td>
				<td>

					{% if bill.paid_by %}
					<b>For {{ bill.member.full_name }}</b>
					{% endif %}
					{% if bill.new_member_deposit %}
					<b class="bill-info">Deposit: ${{ bill.new_member_deposit }}</b>
					{% endif %}
					{% if bill.dropins.all %}
					<b class="bill-info">Drop-ins:
						{% for dropin in bill.dropins.all %}
							{{ dropin.visit_date|date:"m/d" }}{% loop_comma %}
						{% endfor %}
					</b>
					{% endif %}
					{% if bill.guest_dropins.all %}
					<b class="bill-info">Guest Drop-ins:
						{% for dropin in bill.guest_dropins.all %}
							{{dropin.member.full_name}} on {{ dropin.visit_date|date:"m/d" }}{% loop_comma %}
						{% endfor %}
					</b>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>	
		{% else %}
			No bills...
		{% endif %} 
	</div>
</div>

<!-- Not the signed in user or STAFF so just show profile -->
{% else %}
	<div class="clearfix"></div>
	<h2>Member Profile</h2>
	{% include "members/profile.frag" %}
{% endif %}

{% endblock %}