	<!-- TODO need to find out what's in these that's not in our custom stuff already loaded at the top -->
	<div class='tags'>
		<ul>
			{% for t in user_tags %}
				<li class='chip'>
					<a class="tag-chip" href="{% url 'member_tag' t %}">{{ t }}</a>
					 (<a href="{% url 'member_remove_tag' user.username t %}" style="color: RGBA(199, 121, 102, 1);"> X </a>)
				</li>
			{% endfor %}
		</ul>
		<div class="ui-widget">
			<form action="{% url 'member_user_tags' user.username %}" method="POST">
				<table class='tag-table'>
					<tr>
						<td id='tag'>
							<input name="tag" placeholder="e.g. Biking">
						</td>
						<td>
							<input class='btn tag-btn' type="submit" value="Add">
						</td>
					</tr>
				</table>
				{% csrf_token %}
			</form>
		</div>

		{% if error %}
			<div style="color:red;"><strong>Error:</strong> {{ error }}</div>
		{% endif %}
	</div>

	<script>
		(function() {
			var availableTags = [
				{% for t in all_tags %}
					"{{ t }}",
				{% endfor %}
			];
			$( "#tag" ).autocomplete({
				source: availableTags
			});
			$("#tag").focus();
		})();
	</script>
