{% extends 'members/u_base.html' %}

{% block sub-title %}Confirm Booking | {% endblock %}

{% block content %}
  <div id='booking_form'>
    <form enctype="multipart/form-data" action='.' method='POST'>
      <h4>Confirm Booking</h4>
      <p style='text-align:center;'>
        Reminder: Make sure you include your setup and breakdown time in your reservation time.
      </p>
      <table>
        <tr>
          <td><strong>Booking For:</strong></td>
          <td><input value='{{ user.first_name }} {{ user.last_name }}' readonly /></td>
        </tr>
        <tr>
          <td id='room'><strong>Room:</strong></td>
          <td><input value='{{ room }}' readonly  /></td>
          <td>{{ booking_form.room.errors }}</td>
        </tr>
        <tr>
          <td><strong>Date:</strong></td>
          <td>
            <input type="date" name="date" value='{{ date }}' class="datepicker col s4 offset-s4" id='booking-date' >
          </td>
        </tr>
      </table>
      <table class='booking-bar'>
        <thead>
          {% for hour in hours %}
            {% if forloop.counter0|divisibleby:2 %}
              <th class="rotate"><div><span>
                {{ hour }}
              </div></span></th>
            {% else %}
              <th></th>
            {% endif %}
          {% endfor %}
        </thead>
        <tbody>
          <tr>
          {% for id in ids %}
            {% for here, reservations in reserved.items %}
              {% if here == room %}
                {% if id in reservations %}
                  <td class='cal-box reserved' id='hour-{{ id }}'>
                  </td>
                {% elif id in search_block %}
                  <td class='cal-box searched' id='hour-{{ id }}'></td>
                {% else %}
                  <td class='cal-box available' id='hour-{{ id }}'>
                  </td>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          </tr>
        </tbody>
      </table>
      <table id='cal-error'>

      </table>
      <table>
        <tr>
          <td><strong>From: </strong><input style="width:70%;margin-left:5%;" type='time' step=900 name='start' id='start-time' value='{{ start }}' readonly/>
          </td>
          <td><strong>To: </strong><input style="width:70%;margin-left:5%;" type='time' step=900 name='end' id='end-time' value='{{ end }}' readonly /></td>
        </tr>
        <tr>
          <td><strong>Description:</strong></td>
          <td><input type='text' name='description' id='confirm_desc' placeholder='O.N. Team Meeting'/></td>
          <td>{{ booking_form.description.errors }}</td>
        </tr>
        <tr>
          <td><strong>Is this a public event?</strong></td>
          <td><select class='browser-default input-field col s4' name='public_bool' id='publicly_view'>
            <option value="" disabled selected></option>
            <option value="False">No</option>
            <option value="True">Yes</option>
          </select></td>
          <td>{{ booking_form.publicly_viewable.errors }}</td>
        </tr>
      </table>
      <button type='submit' class='btn' id='confirm-btn'>Confirm</button>
      {% csrf_token %}
    </form>
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      invalid = 0

      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 3,
        format: 'yyyy-mm-dd'
      });

      //Helper functions for toggling calendar bar
      function toggleStatus(id) {
        if ($('#hour-' + id).hasClass('available')) {
          $('#hour-' + id).removeClass('available').addClass('searched');
        } else if ($('#hour-' + id).hasClass('searched')) {
          $('#hour-' + id).removeClass('searched').addClass('available');
        }
      }

      function extendStart(start, time, available) {
        for(var l = 0; l < available.length; l++) {
          var avId = available[l].id;
          var id = parseInt(avId.split('-')[1]);

          if (time <= id && id <= start) {
            toggleStatus(id);
          }
        }
      }

      function extendEnd(end, time, available) {
        for (var k = 0; k < available.length; k++) {
          var avId = available[k].id;
          var id = parseInt(avId.split('-')[1]);

          if(end <= id && id <= time) {
            toggleStatus(id);
          }
        }
      }

      function changeEnd(end, time, searched) {
        for(var i = 0; i < searched.length; i++) {
          var searchId = searched[i].id;
          var id = parseInt(searchId.split('-')[1]);

          if (time <= id && id <= end) {
            toggleStatus(id);
          }
        }
      }

      //click on box to change the reservation
      $('.cal-box').on('click', function() {
        var startTime = $('#start-time').val();
        var start = parseInt(startTime.replace(':', ''));
        var endTime = $('#end-time').val();
        var end = parseInt(endTime.replace(':', ''));

        var available = $('.available');
        var allBoxes = $('.cal-box');
        var searched = $('.searched');
        var time = parseInt(this.id.split('-')[1]);
        var clicked = $(this);

        if(clicked.hasClass('available')) {
          if(time < start) {
            var invalid = 0;
            var times = [];

            for (var j = 0; j < allBoxes.length; j++) {
              var boxHour = allBoxes[j].id;
              var bId = parseInt(boxHour.split('-')[1]);

              if(time <= bId && bId <= start) {
                times.push(bId);
              }
            }

            times.forEach( function(time) {
              if ($('#hour-' + time).hasClass('reserved')) {
                invalid ++;
              }
            });

            if ( invalid == 0) {
              $('#cal-error').html('');

              extendStart(start, time, available);
              start = time.toString();

              if (start.length > 3) {
                startTime = start[0] + start[1] + ':' + start[2] + start[3]
              } else {
                startTime = '0' + start[0]  + ':' + start[1] + start[2]
              }

              $('#start-time').val(startTime);
            } else {
              $('#cal-error').html('<tr><td>Your requested booking overlaps with another reservation.</td></tr>');
              invalid = 0;
            }
          } else if (end < time) {
            var invalid = 0;
            var times = [];

            for (var j = 0; j < allBoxes.length; j++) {
              var boxHour = allBoxes[j].id;
              var bId = parseInt(boxHour.split('-')[1]);

              if(end <= bId && bId < time) {
                times.push(bId);
              }
            }

            times.forEach( function(time) {
              if ($('#hour-' + time).hasClass('reserved')) {
                invalid ++;
              }
            });

            if (invalid === 0) {
              $('#cal-error').html('');

              extendEnd(end, time, available);

              end = time.toString();

              if (end.length > 3) {
                var minutes = end[2] + end[3];
                var hour = end[0] + end[1];

                if (minutes == '00') {
                  minutes = '15';
                } else if (minutes == '15') {
                  minutes = '30';
                } else if (minutes == '30') {
                  minutes = '45';
                } else {
                  minutes = '00';
                  hour ++;
                }
                endTime = hour + ':' + minutes;
              } else {
                var hour = end[0]
                var minutes = end[1] + end[2];

                if (minutes == '00') {
                  minutes = '15';
                } else if (minutes == '15') {
                  minutes = '30';
                } else if (minutes == '30') {
                  minutes = '45';
                } else {
                  minutes = '00';
                  hour ++;
                }
                endTime = hour + ':' + minutes;

            }
            $('#end-time').val(endTime);
          } else {
              $('#cal-error').html('<tr><td>Your requested booking overlaps with another reservation.</td></tr>');
              invalid = 0;
            }
          }
        } else if (clicked.hasClass('searched')) {
          $('#cal-error').html('');

          changeEnd(end, time, searched, invalid);

          end = time.toString();

          if (end.length > 3) {
            endTime = end[0] + end[1] + ':' + end[2] + end[3]
          } else {
            endTime = '0' + end[0]  + ':' + end[1] + end[2]
          }

          $('#end-time').val(endTime);
        } else if (clicked.hasClass('reserved')) {
          $('#cal-error').html('<tr><td>Your requested booking overlaps with another reservation.</td></tr>');
        }
      });
    });
  </script>
{% endblock %}
