html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

a {
  font-size: 1.1em;
}

th {
  text-align: center;
}

h4 {
	border-bottom: 1px dotted;
}

/*Navbar and dropdown stylings*/
nav {
  box-shadow: none;
}

#branding {
  padding: 0;
  max-height: 40px;
  line-height: 35px;
	font-size: 1.2em;
}

#branding a {
	padding-top: 0;
}

#navcontainer {
  background-color: RGBA(0, 0, 0, 1.00);
  font-size: 1.2em;
  min-width: 100%;
  display: inline-block;
}

#content h2 {
  padding-bottom: 1%;
  margin-top: 3%;
}

.dropdown-content a {
  font-size: 1em;
}

#dropdown4 {
  min-width: 120px;
}

#dropdown5 {
  min-width: 140px;
}

#dropdown5 li a, #dropdown7 li a, #dropdown8 li a {
  width: 100%;
}


/*Mobile Nav Styling*/
#nav-mobile {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

#nav-mobile li {
  display: inline;
}

#nav-mobile li a {
  text-decoration: none;
  color: #fff;
  float: left;
  background-color: #000;
}

#nav-mobile li a:hover {
  color: #fff;
  background-color: RGBA(34, 83, 120, 1.00);
}

.selected#nav-mobile li a {
  background-color: RGBA(90, 122, 189, 1.00);
}

.side-nav {
  background-color: RGBA(37, 37, 37, 1.00);
  height: 100%;
}

#mobile li ul li div ul {
  background-color:RGBA(80, 80, 80, 1.00);
}

.side-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}

/*Top of body content styling*/
#content {
	margin-bottom: 5%;
}

.submenu li {
  display: inline;
}

#site-search-form {
  width: 30%;
}

#site-search-form #id_terms {
  width: 60%;
  margin-right: 3%;
  padding: 1%;
}

div#submenu {
  display: inline-block;
}


/*Activity Pages Styling*/
#alert-a {
  margin-left: 85%;
  margin-top: 3%;
}

#id_start, #id_end {
	width: 15%;
	padding-left: 1%;
}

#activity-dates {
	margin-left: 30%;
}


/*Member List Page styling*/
#group_form {
	margin-left: 2%;
}
#group_form label {
	display: inline-block;
}

.input-field {
	width: 25%;
	display: inline-block !important;
}

.tabs .tab a {
	text-decoration: none;
	color: RGBA(28, 164, 230, 1.00);
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: RGBA(34, 83, 120, 1.00);
}

.tabs .indicator {
	background-color: RGBA(34, 83, 120, 1.00);
}

/*Bills Pages Styling*/
.bill-deets {
	width: 300px;
	display: inline-block;
}

#id_amount {
	width: 40% !important;
	vertical-align: baseline;
	padding-left: 3%;
}

#set_paid {
	margin-left: 5%;
}

/*Member detail page styling*/
.responsive-table #alerts-th {
	text-align: left;
}


/*Media queries*/
@media only screen and (max-width: 992px) {
	.left.hide-on-small-and-down {
		display: none !important;
	}

  #branding {
    padding: 0;
  }

	#content h2, #content h3, .date-range {
		margin-left: 2%;
	}
}

@media only screen and (max-width: 900px) {
	h5 {
		margin-left: 2%;
	}

	#activity-dates {
		margin-left: 10%;
	}
}

@media only screen and (max-width: 700px) {

  #alert-a {
    margin-left: 75%;
  }

	#id_amount {
		width: 20% !important;
		vertical-align: baseline;
		padding-left: 1%;
	}
}

@media only screen and (max-width: 650px) {
  #branding {
    max-height: 40px;
  }

  #branding a {
    padding-top: 0;
    padding-bottom: 0;
  }

  #site-id {
    display: none;
  }

  #submenu {
    float: left;
  }

	#id_start, #id_end {
		width: 30%;
	}
}

@media only screen and (max-width: 599px) {
	.responsive-table thead {
		margin-top: 1%;
	}

	.responsive-table #alerts-th {
		text-align: right;
	}

	#assigned-th {
		height: 45px;
		line-height: 45px;
	}

	#note-th {
		height: 65px;
		line-height: 65px;
	}

	#action-th {
		margin-top: 20px;
		height: 26px;
		line-height: 26px;
	}

	.bill-row {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 550px) {
  #site-search-form {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
	.graph-column {
		width: 5px;
		float: left;
		margin-bottom: 10%;
	}
}

@media only screen and (max-width: 450px) {
	#content {
		margin-bottom: 15%;
	}

  #alert-a {
    margin-left: 65%;
  }

	div.bill-deets {
		margin-left: 0;
	}

	#id_amount {
		width: 25% !important;
		vertical-align: baseline;
		padding-left: 2%;
	}
}

@media only screen and (max-width: 350px) {
	#footer, #footer a {
		font-size: 1em;
	}
}
