html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

a {
  font-size: 1.1em;
}

th {
  text-align: center;
}

h4 {
	border-bottom: 1px dotted;
}

h5 {
	margin-top: 3%;
}

.centered {
	text-align: center;
}

/*Navbar and dropdown stylings*/
nav {
  box-shadow: none;
}

#branding {
  padding: 0;
  max-height: 40px;
  line-height: 35px;
	font-size: 1.2em;
}

#branding a {
	padding-top: 0;
}

#navcontainer {
  background-color: RGBA(0, 0, 0, .70);
  font-size: 1.2em;
  min-width: 100%;
  display: inline-block;
}

#content h2 {
  padding-bottom: 1%;
  margin-top: 3%;
}

.dropdown-content a {
	background-color: RGBA(76, 76, 76, 1.00);
}

.dropdown-content a {
  font-size: 1em;
}

#dropdown4 {
  min-width: 120px;
}

#dropdown5 {
  min-width: 140px;
}

#dropdown1 li a, #dropdown5 li a, #dropdown7 li a, #dropdown8 li a {
  width: 100%;
}


/*Mobile Nav Styling*/
#nav-mobile {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

#nav-mobile li {
  display: inline;
}

#nav-mobile li a {
  text-decoration: none;
  color: #fff;
  float: left;
}

#nav-mobile li a:hover {
  color: #fff;
  background-color: RGBA(90, 122, 189, 1.00);
}

.selected#nav-mobile li a {
  background-color: RGBA(90, 122, 189, 1.00);
}

.side-nav {
  background-color: RGBA(37, 37, 37, 1.00);
  height: 100%;
}

#mobile li ul li div ul {
  background-color:RGBA(80, 80, 80, 1.00);
}

.side-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}

/*Top of body content styling*/
#content {
	margin-bottom: 5%;
}

.submenu li {
  display: inline;
}

#site-search-form {
  width: 30%;
}

#site-search-form #id_terms {
  width: 60%;
  margin-right: 3%;
  padding: 1%;
}

div#submenu {
  display: inline-block;
}


/*Activity Pages Styling*/
#alert-a {
  /*margin-left: 85%;*/
  margin-top: 3%;
	width: 40%;
}

#id_start, #id_end {
	width: 15%;
	padding-left: 1%;
}

.day-header {
	border-bottom: 1px dotted;
}

.day-header h5, .day-header #activity-dates {
	display: inline;
}

#activity-dates {
	margin-left: 30%;
	font-size: 2em;
}


/*Member List Page styling*/
#group_form {
	margin-left: 2%;
}

#group_form label {
	display: inline-block;
}

#group-header {
	margin-top: 5%;
}

.input-field {
	width: 25%;
	display: inline-block !important;
}

.tabs .tab a {
	text-decoration: none;
	color: RGBA(28, 164, 230, 1.00);
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: RGBA(34, 83, 120, 1.00);
}

.tabs .indicator {
	background-color: RGBA(34, 83, 120, 1.00);
}

/*Bills Pages Styling*/
.bill-deets {
	width: 300px;
	display: inline-block;
}

#id_amount {
	width: 40% !important;
	vertical-align: baseline;
	padding-left: 3%;
}

#set_paid {
	margin-left: 5%;
}


/*Member detail page styling*/
.responsive-table #alerts-th {
	text-align: left;
}

/*BCC Tool stying*/
textarea.bcc-textarea {
	margin-top: 2%;
	height: 6rem;
}


/*Add and Update Membership Styling*/
.left-title {
	width: 12%;
	font-weight: bold;
}

.right-title {
	font-weight: bold;
}

.date-input, .mem-input {
	width: 50%;
}

.date-input input {
	margin-bottom: 0;
}

.date-input input, .mem-input input {
	width: 50%;
	margin-left: 3%;
}

#id_membership_plan {
	width: 40%;
}

#rate-td {
	width: 45%;
}

.notes {
	width: 75%;
	height: 5%;
}


/*Stats pages stylings*/
canvas#cvs {
	width: 500px;
	height: 400px;
}


/*Arpwatch stylings*/
#logs-length {
	float:right;
}

.responsive-header {
	display: none;
}


/*Keymaster stylings*/
.potential-key-form {
	display: inline;
}

.key-form {
	margin-left: 2%;
}

.key-form strong {
	font-weight: bold;
}

.key-form input {
	display: inline;
	vertical-align: baseline;
	padding-left: 2%;
}

.key-form #key-code, .key-form #username {
	width: 25%;
}

.key-form #username

#key-btn {
	margin-left: 2%;
}




/*Media queries*/
@media only screen and (max-width: 992px) {
	.left.hide-on-small-and-down {
		display: none !important;
	}

  #branding {
    padding: 0;
  }

	#content h2, #content h3, .date-range {
		margin-left: 2%;
	}
}

@media only screen and (max-width: 900px) {
	h5 {
		margin-left: 2%;
	}

	#activity-dates {
		margin-left: 10%;
		width: 40%;
	}
}

@media only screen and (max-width: 750px) {
	#activity-dates:before {
		content: ' ';
		display: block;
	}

	#activity-dates a:first-child {
		margin-left: 25%;
	}
}

@media only screen and (max-width: 700px) {

  #alert-a {
    margin-left: 75%;
  }

	#id_amount {
		width: 20% !important;
		vertical-align: baseline;
		padding-left: 1%;
	}

	#id_membership_plan {
		width: 100%;
	}

	.date-input input, .mem-input input {
		width: 75%;
		margin-left: 3%;
	}

	#last-today {
		content: ' ';
		display: block;
	}
}

@media only screen and (max-width: 650px) {
  #branding {
    max-height: 40px;
  }

  #branding a {
    padding-top: 0;
    padding-bottom: 0;
  }

  #site-id {
    display: none;
  }

  #submenu {
    float: left;
  }

	#id_start, #id_end {
		width: 30%;
	}
}

@media only screen and (max-width: 599px) {
	h4 {
		font-size: 1.7em;
		margin-left: 2%;
	}

	h5 {
		font-size: 1.5em;
	}

	.responsive-table thead {
		margin-top: 1%;
	}

	.responsive-table #alerts-th {
		text-align: right;
	}

	.responsive-header {
		display: inline;
	}

	#site-search-form {
		float: none !important;
		display: inline;
	}

	#site-search-form div {
		margin-left: 15%;
	}

	#site-search-form #id_terms {
		width: 50%;
	}

	.input-field {
		width: 40%;
	}

	#clear-btn {
		text-align: left;
	}

	#dis-date {
		display: none;
	}

	#assigned-th {
		height: 45px;
		line-height: 45px;
	}

	#note-th {
		height: 65px;
		line-height: 65px;
	}

	#action-th {
		margin-top: 20px;
		height: 26px;
		line-height: 26px;
	}

	.bill-row {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 550px) {
  #site-search-form {
    width: 50%;
  }

	#group-header {
		margin-top: 10%;
	}

	canvas#cvs {
		width: 400px;
		height: 320px;
		margin-left: 5%;
	}

	.outgoing-table th {
		text-align: right !important;
	}

	.outgoing-table tr:first-child {
		padding-right: 0;
	}
}

@media only screen and (max-width: 480px) {
	.graph-column {
		width: 5px;
		float: left;
		margin-bottom: 10%;
	}

	#logs-length {
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	#content {
		margin-bottom: 15%;
	}

  #alert-a {
    margin-left: 65%;
  }

	div.bill-deets {
		margin-left: 0;
	}

	#id_amount {
		width: 25% !important;
		vertical-align: baseline;
		padding-left: 2%;
	}

	canvas#cvs {
		width: 300px;
		height: 240px;
	}

	#group-header {
		margin-top: 15%;
	}
}

@media only screen and (max-width: 400px) {
	#photo-td, #photo-th {
		display: none;
	}

	#end-td {
		width: 2%;
	}
}

@media only screen and (max-width: 350px) {
	#activity-dates a:first-child {
		margin-left: 15%;
	}

	.input-field {
		width: 80%;
	}

	#footer, #footer a {
		font-size: 1em;
	}

}
