/*Styling for the billing templates of the Nadine Staff App*/
input.datepicker {
  text-align: center;
  max-width: 150px;
  padding-left: 4%;
}

.amount {
  text-align:right;
}

.authorized {
  color: green;
}

.bill-details {
  margin: 10px 40px 20px 40px;
}

.bill-detail-table td {
  border: none;
  text-align: inherit;
  vertical-align: baseline;
  padding: 0;
}

.bill-detail-table #bill-deets {
  width: 30%;
}

.bill-detail-table #amount-td {
  width: 20%;
}

.bill-detail-table #amount-td input {
  width: 60%;
  padding-left: 2%;
  margin-bottom: 0;
}

.bill-detail-table td:last-child {
  text-align: left !important;
}

.bill-detail-toggle {
  text-decoration: none;
}

.bill-info {
  margin-left: 40px;
}

.bill-list-fees {
  margin: 5px 10px;
  width: 700px;
}

.bill-list-fees th {
  width: 100px;
  text-align: right;
  font-style: italic;
  background-color: #FFF;
  font-weight: normal;
}

.bill-list-fees td, .bill-list-fees th {
  border-bottom: 0px;
}

.bill-type h5, .bill-type p {
  margin-left: 2%
}

.bill-type h5 {
  margin-top: 2%;
}

.bill-username, .bill-deets #id_amount {
  display: inline-block;
}

.bl-failure {
  background-color: #F99;
}

.error {
  text-align: center;
  font-size: 150%;
  color: red;
}

.open-bill {
  color: red;
}

.other-table {
  padding-bottom: 5%;
}

.other-table th {
  vertical-align: baseline;
}

.pay-bill-form input[type=text] {
  width: 8em;
}

.transactions-sum span {
  display: inline-block;
}

#bill-list h4 {
  font-weight: normal;
}

#bill-list li {
  margin-bottom: 20px;
}

#bill-list li span {
  color: black;
}

#bill-row #set_paid {
  margin-left: 0;
}


#bill-row {
  margin-bottom: 0;
}

#billing-tab {
  color: RGBA(90, 122, 189, 1.00) !important;
}

#billing-logs-table th:first-child, #billing-logs-table td:first-child { width: 40%; }

#content table {
  width: 100%;
}

#content table td:last-child {
  text-align: center;
}

#id_amount {
	width: 30%;
	vertical-align: baseline;
	padding-left: 3%;
}

#set_paid {
	margin-left: 5%;
}

#xero-link {
  margin-left: 55%;
}

@media only screen and (max-width: 885px) {
  #xero-link {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 700px) {
  #id_amount {
    width: 20% !important;
    vertical-align: baseline;
    padding-left: 1%;
  }

  #xero-link {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 599px) {
  #bill-row {
		margin-bottom: 0;
	}

  #card-th, #note-th, #action-th {
    margin-top: 4%;
  }

  #desc-th, #type-th, #amount-th, #charge-th {
    margin-top: 8%;
  }

  #xero-link {
    margin-left: 2%;
  }

  .other-table {
    padding-bottom: 10%;
  }

  .transactions-sum span {
    display: block;
    margin-left: 2%;
  }
}

@media only screen and (max-width: 450px) {
  div.bill-deets {
		margin-left: 0;
	}

	#id_amount {
		width: 25% !important;
		vertical-align: baseline;
		padding-left: 2%;
	}
}
