/*Styling for the user templates in the Nadine Staff App*/

caption {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 10px;
}

h6 {
  margin: 2% 0 1% 0;
  color: RGBA(16, 91, 99, 1.00);
}

h5 {
  margin-top: 1%;
  margin-bottom: 2%;
}

/*input[type=date] {
  width: 85%;
}*/

table td {
  border-bottom: none;
  text-align: inherit;
}

table th.bottom_line {
  border-bottom:1px solid;
}

textarea.bcc-textarea {
	margin-top: 2%;
	height: 6rem;
}

#bd-head  {
  width: 15% !important;
  vertical-align: middle;
}

#change, #update {
  margin-right: 2%;
}

#current-package {
  margin-top: 2%;
  font-size: 13px;
}

#date-end {
  width: 25%;
  margin-left: 5%;
  margin-bottom: 0;
}

#deposit_table {
  text-align:right;
  background: #FBD850;
}

#detail-links {
  text-align: left;
}

#doc_type {
  width: 30%;
}

#end-header {
  width:35%;
  padding-top: 1%;
  vertical-align: middle;
  color: RGBA(158, 89, 88, 1.00);
}

td#end-header strong {
  font-size: 1.3em;
}

#end-package td {
  width:20%;
}

#end-package select{
  /*width:30%;*/
}

#group_form {
	margin-left: 2%;
}

#group_form label {
	display: inline-block;
}

#group-header {
	margin-top: 5%;
}

#id_active_only {
  vertical-align: baseline;
}

input#id_bill_day {
  width: 25%;
  padding-left: 1%;
  text-align: center;
}

#id_membership_plan {
	width: 40%;
}

#id_order_by {
  width: 20%;
  display: inline-block;
  padding-left: 2%;
}

#id_package {
  width: 70%;
}

#id_start_date, #id_end_date {
  width: 40%;
  display: inline-block;
  vertical-align: baseline;
  padding-left: 2%;
}

#member-edit tr td:first-child {
  width: 30%;
}

#member-search-form {
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 1.4em;
}

#member-tab {
  color: RGBA(90, 122, 189, 1.00) !important;
}

#membership-h4 {
  margin-bottom: 3%;
}

#new-package {
  width: 20%;
}

#onboard-form, #exit-form {
  width: 400px;
}

#onboard-form td, #exit-form td {
  white-space: nowrap;
}

#onboard-form th, #exit-form th {
  text-align: left;
}

#package {
  width: 20%;
}

#package-head {
  width: 15%;
  padding-top: 2%;
  color: RGBA(200, 79, 78, .80);
  font-size: 1.2em;
}

#paid-by-div {
  margin-left: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
}

#quick-links {
  text-align: right;
  margin-bottom: 20px;
}

#quick-links .chip {
  color: RGBA(28, 164, 230, 1.00);
}

#rate-td {
	width: 45%;
}

#report-btn {
  margin-left:5%;
}

#right-floater {
  margin-top: 30px;
  float: right;
  width: 180px;
  min-height: 200px;
}

#update, #end {
  margin-left: 2%;
}

#select-end-td {
  width: 20%;
}

#sub-end {
  width: 40%;
  margin-left: 5%;
  margin-bottom: 0;
}

#subject-th {
  text-align: left !important;
  margin-left: 20%;
}

#teamModal .modal-content {
  height: 30%;
}

#teamModal p {
  margin-top: 5%;
  font-size: 1.2em;
  text-align: center;
  color: RGBA(46, 78, 107, 1.00);
}

#toast-container .error-msg {
    cursor: pointer;
}
#toast-container .error-msg::after {
    content: "(x)";
    -webkit-font-feature-settings: 'liga';
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
}

#yes, #no {
  background-color: RGBA(87, 140, 145, 1.00);
  font-weight: bold;
  color: white;
  font-size: 1.4em;
}

#yes:hover, #no:hover {
  background: RGBA(38, 166, 154, 1.00);
  text-decoration: none;
}

#yes {
  margin-right: 10%;
}

.action-chips {
  margin-top: 3%;
  margin-left: 40%;
}

.add_date #id_start_date, .add_date #id_end_date {
  width: 100%;
}

td.up-input.date {
  max-width: 145px !important;
}

td.up-input.resource {
  width: 12% !important;
}

td.up-input.paying {
  width: 10% !important;
}

td.up-input.rate {
  width: 8%;
}

.add-submit {
  margin-left: 30%;
}

.add-submit:hover {
  background-color: RGBA(16, 91, 99, 1.00);
}

.add-submit strong, .update-submit strong {
  font-size: 1.3em;
}

.allowance {
  width: 10% !important;
}

.allowance input {
  text-align: center;
}

.bill-day-table {
  width: 60%;
  margin: 2%;
}

.btn-floating {
  font-size: .8em;
}

.cancel, .back {
  margin-left: 5%;
  color: RGBA(28, 164, 230, 1.00);
}

.cancel:hover, .back:hover {
  cursor: pointer;
}

.cancel {
  vertical-align: sub;
}

.center {
  text-align: center;
}

.chip {
  color: RGBA(28, 164, 230, 1.00);
}

.confirm-btn {
  margin-left: 40%;
  margin-top: 2%;
}

.date-input, .mem-input {
	width: 50%;
}

.date-input input {
	margin-bottom: 0;
}

.date-input input, .mem-input input {
	width: 50%;
	margin-left: 3%;
}

.delete-row {
  background-color: RGBA(158, 89, 88, 1.00);
}

.detail-billing {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 1.2em;
}

.detail-header {
  margin-top: 0;
  border-bottom: none;
}

.detail-table {
  width: 60%;
  margin-left: 2%;
}

.detail-table tr:nth-child(2n) {
  background-color: RGBA(224, 224, 224, 1.00);
}

.detail-title {
  text-align: right !important;
  width: 30%;
  font-weight: bold;
  padding-left: 5%;
  background-color: white;
  border-radius: 0;
}

.edit-a {
  background-color: RGBA(16, 91, 99, .80);
}

.edit-a, .delete {
  font-size: 1em;
  text-align: center;
}

.edit-td {
  padding-top: 2%;
  width: 20%;
}

.email-form {
  margin-top: 2em;
}

.email-form select {
  width: 30%;
  display: inline-block;
}

.email-form input {
  margin-left: 2%;
  font-weight: bold;
}

.emergency_contact {
  padding-top: 1em;
}

.emergency_contact p {
  font-style: italic;
  color:red;
  padding-left: 2em;
}

.end-table {
  margin-left: 2%;
}

.ending-p {
  font-size: 1.3em;
  text-align: center;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  color: RGBA(158, 89, 88, 1.00);
}

.ending-p input {
  width: 20%;
  border-bottom: none;
  vertical-align: baseline;
  font-weight: bold;
  font-size: 110%;
}

.epay-link {
  margin-left: 2em;
  margin-top: .5em;
}

.guest-row {
  display: none;
}

.guest-detail {
  margin-left: 6em;
  width: 80%;
}

.guest-detail tr td:first-child{
  border-bottom: 0px solid #ccc;
}

.guest-info {
  border-bottom: 0px solid #ccc;
  text-align: left;
  padding: 0.5em;
}

.input-field {
	width: 25%;
	display: inline-block !important;
}

.invalid {
  color: red;
}

.lead-td {
  width: 20%;
}

.left-title {
	width: 12%;
	font-weight: bold;
}

.log-note {
  width: 160px;
}

table.mem-details-table {
  margin-left: 2%;
  margin-top: 2%;
  width: 96%;
}

.mem-details-table th, .mem-details-table td, .sub-table th, .sub-table td, .up-table th {
  text-align: left !important;
}

.mem-input span {
  margin-right: 2em;
}

.member-photo {
  width: 170px;
  text-align: center;
  margin: 0px 10px;
}

.membership_form {
  margin: 2%;
}

.membership_form .btn {
  margin-left: 40%;
}

.membership_form table tr td {
  vertical-align: middle;
}

.membership_form .date-input {
  padding-left: 1%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  max-height: 100%;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
	margin-top: 15%;
  padding: 0;
  border: 1px solid #888;
	border-radius: 4px;
	height: 35%;
  width: 60%;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal .modal-content {
	padding-top: 2%;
}

#promptModal .modal-body h5, #teamModal .modal-body h5 {
  text-align: center;
}

.new-table {
  margin-top: 5%;
}

.new-package {
  width: 80%;
}

.notes {
	width: 75%;
	height: 5%;
  text-align: left;
}

.notes-table {
  margin: 2%;
}

.notes-table .note {
  width: 75%;
}

.notes-table .note-date, .notes-table .note-by {
  width: 15%;
}

.notes-table tr:first-of-type {
  border-bottom: 1px solid RGBA(216, 216, 216, 1.00);
}

.notes-table th {
  text-align: left !important;
}

.okChip .chip {
  margin-left: 40%;
}

.org_name_td {
  width: 20%;
}

.page-message {
  font-size: 1.5em;
  color: #933;
  margin: 20px 0px;
}

.rate {
  width: 13% !important;
}

.report select {
  width: 30%;
  display: inline-block;
  padding-left: 2%;
  vertical-align: basline;
}

.report-active {
  margin-left: 5%;
}

.report-end {
  margin-left: 5%;
}

.report-order {
  margin-left: 5%;
}

.resource {
  padding-top: 2%;
}

.resource-th {
  width: 15% !important;
}

.responsive-table #alerts-th {
	text-align: left;
}

.right-title {
	font-weight: bold;
}

.select-pkg th, .select-date th {
  text-align: right !important;
  vertical-align: middle !important;
  font-size: 1.2em;
}

.special_form {
  margin-bottom: 15%;
}

.sub-chips, .okChip {
  margin-top: 3%;
  margin-left: 10%;
}

.sub-chips .chip, .okChip .chip {
  background-color: RGBA(16, 91, 99, .70);
  color: white;
  font-weight: bold;
}

.sub-chips .chip:hover, .okChip .chip:hover {
  background-color: RGBA(38, 166, 154, 1.00);
  text-decoration: none;
}

.sub-input {
  background-color: #eee;
}

.sub-formset tr.dynamic-form {
  margin-left: 0;
}

.sub-input {
  width: 15%;
}

.sub-table {
  margin: 2%;
  width: 96%;
  /*margin-bottom: 2%;*/
}

.sub-td {
  padding: 1%;
}

.sub-th {
  font-size: 1.1em;
}

.tabs .tab a {
	text-decoration: none;
	color: RGBA(28, 164, 230, 1.00);
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: RGBA(34, 83, 120, 1.00);
}

.tabs .indicator {
	background-color: RGBA(34, 83, 120, 1.00);
}

.up-table {
  margin-left: 2%;
  margin-top: 1%;
}

.up-table-th, .sub-th {
  background-color: RGBA(76, 76, 76, 1.00);
  color: white;
  border-radius: 0px;
}

.up-table-th th {
  border-radius: 0px;
}

.update-submit {
  margin-left: 30%;
}

.update-submit {
  background-color: RGBA(158, 89, 88, 1.00);
  color: white;
}

.update-submit:hover {
  background-color: red;
}

.user-report {
	padding: 2em;
}

.user-report div {
  padding: .5em;
}

.valid, .invalid {
    font-size: 1.2em;
    font-weight: bold;
}

.valid {
  color: green;
}


@media only screen and (min-width: 1300px) {
  .modal-content {
    width: 50%;
  }

  .sub-chips {
    margin-left: 20%;
  }

  #promptModal .modal-content {
    width: 65%;
  }
}


@media only screen and (max-width: 1100px) {

  #promptModal .modal-content {
    width: 75%;
  }

}

@media only screen and (max-width: 900px) {
  #promptModal .modal-content {
    height: 30%;
  }

  .modal-body .chip {
    font-weight: normal;
    font-size: 10px;
  }
}

@media only screen and (max-width: 700px) {
	#id_membership_plan {
		width: 100%;
	}

  #last-today {
		content: ' ';
		display: block;
	}

  .date-input input, .mem-input input {
		width: 75%;
		margin-left: 3%;
		text-align: left;
	}
}

@media only screen and (max-width: 599px) {
  .responsive-table #alerts-th {
		text-align: right;
	}

  .input-field {
		width: 40%;
	}

}

@media only screen and (max-width: 550px) {
  #group-header {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 450px) {
  #group-header {
    margin-top: 15%;
  }

  .tabs .tab a {
    padding: 0;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 425px) {
  #id_order_by {
    margin-top: 4%;
  }

  #id_order_by, #id_report {
    width: 40%;
  }

  #id_start_date, #id_end_date {
    width: 30%;
  }

  h4 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 400px) {
  #photo-td, #photo-th {
		display: none;
	}

  #end-td {
		width: 2%;
	}

  .membership_form .btn {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 350px) {

  .input-field {
    width: 80%;
  }

  .member-photo, .member-detail {
    float:none;
  }

  h4 {
    font-size: 2.3em;
    margin-left: 2%;
  }
}
