table td {
  border-bottom: none;
  vertical-align: middle;
}

.alt-message {
  margin-top: 3%;
  margin-bottom: 2%;
}

.border-td {
  /*border-bottom: 1px solid black;*/
  width: 40%;
}

.create-btn {
  margin-left: 45%;
}

.del-checkbox {
  margin-left: 20%;
  position: inherit !important;
  left:auto !important;
  opacity: 1 !important;
}

.doc-btn {
  margin-left: 40%;
}

.edit-pkg .rate {
  width: 10%;
}

.error {
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}


.existing-pkgs {
  border-top: 1px solid RGBA(238, 238, 238, 1.00);
  margin-top: 4%;
}

.existing-pkgs h5 {
  padding-bottom: 2%;
}

.helptext-form, .other-helps {
  margin: 2%;
}

.help-btn {
  margin-top: 2%;
  margin-left: 20%;
}

.motd-btn {
  padding: 0% 1%;
  font-size: .8em;
}

.motd-dates input{
  display: inline-block;
  max-width: 250px;
  padding-left: 2%;
  margin-bottom: 0
}

.motd-update {
  width: 31%;
}


.other-helps {
  margin-top: 2%;
}

.pkg-table {
  margin-top: 2%;
}

.pkg-row {
  background-color:RGBA(238, 238, 238, 1.00);
  border-top: 1px solid RGBA(176, 188, 196, 1.00);
}

.pkg-row:first-of-type {
  border: none;
}

.preview-tr {
  display: none;
}

.room-table {
  margin-top: 2%;
}

.room-edit #name-td {
  width: 40%;
}

.room-edit #id_image {
  float: left;
}

.room-edit table {
  margin-bottom: 2%;
}

.small-td {
  width: 10%;
}

.sub-th {
  background-color: RGBA(76, 76, 76, 1.00);
	color: white;
	border-radius: 0;
}

.td-title {
  width: 15%;
}

.template-div {
  margin-top: 2%;
}

.text-selection input {
  display: inline-block;
  margin-left: 4%;
}

#cancel {
  color: RGBA(28, 164, 230, 1.00);
}

#help-input, #motd-input {
  width: 30%;
  display: inline-block;
}

#id_title, #id_slug, #id_order, #id_template {
  padding-left: 2%;
}

#id_title, #id_slug, #id_order {
  width: 40%;
}

#id_template {
  height: 90%;
}

#image-clear_id, label[for=image-clear_id] {
  display: none;
}

#new-message-td {
  vertical-align: sub;
  font-size: 1.2em;
}

#preview {
  padding: 1%;
}

#settings-tab {
  color: RGBA(90, 122, 189, 1.00) !important;
}

#slug_help {
  margin-top: 4%;
}

#template-content {
  height: 200px;
}

#template_help, #slug_help {
  margin-left: 16%;
  width: 83%;
  background: RGBA(248, 248, 248, 1.00);
  display: none;
}

#template_help tr td {
  padding: 2%;
}

#update-btn {
  display: none;
  margin-left: 4%;
}
