table th {
  width: 100px;
}

#content table {
  width: auto;
  margin-bottom: 40px;
}

#content td {
  border-bottom: none;
  /*width: 50px;*/
}

canvas#cvs {
	width: 500px;
	height: 400px;
}

#cvs {
  margin-left: 20px;
  margin-top: 20px;
}

#input-form {
  font-size:16px;
  margin-left: 2em;
  margin-bottom:2em;
  vertical-align: middle;
}

#input-form input {
  display: inline;
}

#input-start {
  width: 20%;
  padding-left: 2%;
}

input#avg-only {
  margin-left: 5%;
}

#stats span {
  font-size: 1.2em;
  padding: 10px;
}

.c3-tooltip-container {
  width: 200px;
}

.monthly-stats {
  width: 70%;
}

.monthly-stats td {
  border-bottom: none;
}

.monthly-stats th, .monthly-stats td {
  text-align: left;
}

.monthly-stat th {
  font-weight: normal;
  width: 100px;
}

.year-heading th {
  padding: 1.5em 0;
  font-size: 1.2em;
}

.ended-bar {
  padding: 0 1em;
  background-color: #F99;
}

.started-bar {
  padding: 0 1em;
  background-color: #9F9;
}

.total-bar {
  padding: 0 1em;
  background-color: #99F;
}

.titles {
  margin: 10px 0;
}

.neighborhood-details {
  margin: 8px;
}

.neighborhood_table {
  font-size: 16px;
}

.note-cell {
  width: 160px;
}

@media only screen and (max-width: 550px) {
  canvas#cvs {
		width: 400px;
		height: 320px;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 450px) {
  canvas#cvs {
		width: 300px;
		height: 240px;
	}
}
