{% extends "member/base.html" %}
{% load i18n %}

{% block style %}
{% endblock %}

{% block sub-title %}{% trans "New Billing" %} | {% endblock %}

{% block content %}
<h2>{% blocktrans %}New Billing Profile - {{ username }}{% endblocktrans %}</h2>

{% if error %}
	<div style="text-align:center; font-size:150%; color:red">{{ error }}</div>
{% else %}
	<p style="padding-top:1em;">
		{% trans "Thank you very much!" %}
	</p>
    {% url 'member:help_topic' 'billing' as billing %}
	<p>{% blocktrans %}Your new billing profile has been approved. If you have any billing related questions
		please stop by the front desk or send an email to <a href=mailto:billing@officenomads.com">billing@officenomads.com</a>.
		Also, please take a moment to <a href="{{ billing }}">review how we handle billing.{% endblocktrans %}</a>
	</p>
	<p>- <a href="mailto:staff@officenomads.com">{% trans "The Office Nomads Team" %}</a></p>
{% endif %}

{% endblock %}
