html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
    display:block;
}

#site-search-form { float: right; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

table { border-collapse:collapse; border-spacing:0; width: 100%; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/*body { font:13px/1.231 sans-serif; *font-size:small; margin-bottom: 20px; } */
body {
   margin:0;
   background:#fff;
   color:#444;
   font-size: 80%; /* Resets 1em to 10px */
   font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
table { font-size:inherit; font: 100%; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

html { 
  -webkit-font-smoothing: antialiased; 
  overflow-y: scroll;
}

 
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; text-decoration: none; }
a:hover { text-decoration: underline; }


ul { margin-left: 30px; }
ol { margin-left: 30px; list-style-type: decimal; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }


::-moz-selection{ background: #FF5E99; color:#fff; }
::selection { background:#FF5E99; color:#fff; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }

 /* Primary Styles
    Author: 
 */

#branding { font-size: 1.3em; color:black; background: #5a7abd; padding: 0.5em;}
#branding a { color:black; }

#footer { font-size: small; color:black; background: #5a7abd; padding: 0.5em; margin-top: 1em}
#footer a { font-size: small; color:black;}

nav { color: white; width: 960px; margin: 0 auto; }
nav:before { position: absolute; top: 2.7em; left: 0; width: 100%; background: black;  height: 30px; content: ""; z-index: -1;}
nav a, nav a:active, nav a:visited { display: inline-block; padding: 0.5em; color: white; } 
nav ul { list-style:none; }

header { padding-bottom: 5px; }
header h1 { }
header h1 a {  }

#content th { vertical-align: top; }

.user-card { float: left; width: 190px; border: solid 3px #EEE; margin: 10px; text-align: center; }
.user-card a { padding: 10px 0; display: block; }
.user-card a.photo { height: 180px; background-color: #EEE; font-size: 150px; color: #DDD; text-decoration: none; }

#content { width: 960px; margin: 0 auto; }
#content h2 { font-size: 2em; margin: 1em 0 0.25em 0; border-bottom: 1px dotted; }
#content h3 { font-size: 1.5em; margin: 1em 0 0.5em 0; }
#content h3 em { font-style: normal; }
#content p { margin-top: 1em; }
.member-photo { float: left; margin: 0 1em 1em 0;}
dt, dd { display: inline-block; margin: 0.25em; }
dt { font-weight: bold; }
dd:after { content:"|"; margin-left: 0.5em; font-size: 1.2em; }
dl dd:last-child:after { content: ""; }

table th { padding: 0.5em 0.5em 0.25em; }
table th:first-child { text-align: left; width: 15%;}
table td:first-child, table td:last-child { text-align: left; }
table td { text-align: center; border-bottom: 1px solid #ccc; padding: 0.5em; }
table tr.row-even td { background: #eee; }
#billing-logs-table th:first-child, #billing-logs-table td:first-child { width: 40%; }
#signup tr td:first-child { width: 30%; }

.columns { margin: 1em 0; }
.columns .c1 { float: left; width: 50%; }
.columns .c2 { float: right; width: 50%; }
.columns.date-range .c1 { width: 70%; }
.columns.date-range .c2 { width: 30%;}


#color-key { margin: 2em 0; }
#color-key b { margin-right: 1em; padding: 0px 5px; }
#membership-key {  background-color: #9F9; }
#has-desk-key { background-color: #F99; }
#daily-logs-key { background-color: #99F; }  
.membership-bar { float: right; margin: 5px 0px; background-color: #9F9; padding-left: 5px; }  
.has-desk-bar { margin: 5px 0px; background-color: #F99; padding-right: 5px; display:inline-block; text-align: right; }
.daily-logs-bar { margin: 5px 0px; background-color: #99F; padding-left: 5px; display:inline-block; }
.daily-logs-number { display: inline-block; }

#horizontal-graph { margin: 1em 0; }
.graph-column { width: 4px; margin: 0 0 20px 0; padding: 0px; display: inline-block; height: 200px; position: relative; }
.membership-column { background-color: #9F9; }
.daily-logs-column { background-color: #99F; }
.blank-div { margin: 0px; padding: 0px; background-color: #FFF; }
.hover-div { position: absolute; top: {{graph_size}}px; display: none; width: 200px; z-index: 2; background-color: #FFF; }
.graph-column:hover .hover-div { display: block; }


@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}

.row-even { background-color: #EEE; }

.error { color: red; }