{% extends "member/base.html" %}

{% block style %}
{% endblock %}

{% block content%}

<div style="text-align: center;">
<h3>Please verify your email address</h3>
{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		{% endfor %}
	</div>
{% else %}
    <p>
        A link and a verification code was sent to this email address.
        If you did not receive this email, we can try and
        <a href="?send_link=True">send it again</a>. Otherwise, enter
        the verification key below.
    </p>

    </address></p>
    <form action="." method = "GET">
        <h4>{{ email }}</h4>
        <input name="verif_key" placeholder="Verfication Key"/>
        <input type="submit" value="Verify Address">
    </form>
{% endif %}
</div>

{% endblock %}
