{% extends "members/u_base.html" %}

{% block sub-title %}Login | {% endblock %}

{% block style %}
#content { font-size: 1em; border: none; }
#content form { margin-top: 1em; margin-bottom: 0; width: 600px; }
#content input[type=submit] { float: right; width: 280px;}
#content h1 { font-size: 1.8em; margin: 0; }
#content table td { border-bottom: none;}
#content table th { width: 40%; }
#content button { width: 50%; margin-left: 10%; }
{% endblock %}

{% block content %}

{% if ALLOW_ONLINE_REGISTRATION %}
	<h1 style='margin-top:5%;'>{{ site.name }} Login:</h1>

	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<div style="margin-left:2em;">
	<form method="post" action=".">
	<table style="width:300px;">
	<tr>
		<th>Email:</th>
		<td>{{ form.username }}</td>
		<td></td>
	</tr>
	<tr>
		<th>Password:</th>
		<td>{{ form.password }}</td>
		<td></td>
	</tr>
	<tr>
		<td colspan=2>
			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</td>
		<td></td>
	</tr>
	</table>
	{% csrf_token %}
	</form>
	</div>
	<div style="margin-top:1.5em;">
	<font size="-1"><i>If this is your first time logging in or you've forgotten your password, you will need to <a href="{% url 'password_reset' %}">create a new password</a>.</i></font>
	</div>
{% else %}
	<div id='login_box'>
		<h1 style='margin-top:5%;'>{{ site.name }} Login:</h1>

		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<div style="margin-left:2em;">
		<form method="post" action=".">
		<table style="width:300px;">
		<tr>
			<th>Email:</th>
			<td>{{ form.username }}</td>
			<td></td>
		</tr>
		<tr>
			<th>Password:</th>
			<td>{{ form.password }}</td>
			<td></td>
		</tr>
		<tr>
			<td colspan=2>
				<input type="submit" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</td>
			<td></td>
		</tr>
		</table>
		{% csrf_token %}
		</form>
		</div>
		<div style="margin-top:1.5em;">
		<font size="-1"><i>If you've forgotten your password,
		you will need to <a href="{% url 'password_reset' %}">create a new password</a>.</i></font>
		</div>
	</div>
	<div id='reg_box'>
		{% if page_message %}
		  <p id="page_message">{{ page_message|safe }}</p>
		{% endif %}
		<div style="margin-left:2em;">
		  <form id='registration_form' name='registration_form' action='../member/register/' method='POST'>
		    <h1 style='margin-top:5%;'>{{ site.name }} Register:</h1>
		    <table>
					<tr>
						<th>First Name:</th>
						<td><input type='text' name='first_name' /></td>
					</tr>
					<tr>
						<th>Last Name:</th>
						<td><input type='text' name='last_name' /></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><input type='text' name='email' /></td>
					</tr>
		    </table>
		    <button class="btn waves-effect waves-light sub-btn" id='reg-btn' type="submit" value="Register" />Register</button>
		    {% csrf_token %}
		  </form>
		</div>
	</div>
{% endif %}
{% endblock %}
