{% extends "members/u_base.html" %}

{% block sub-title %}Login | {% endblock %}

{% block style %}
#content { font-size: 1.1em; border: none; }
#content form { margin-top: 1em; margin-bottom: 0; width: 600px; }
#content input[type=submit] { float: right; width: 280px;}
#content h1 { font-size: 1.8em; margin: 0; }
#content table td { border-bottom: none;}
{% endblock %}

{% block content %}
<h1>{{ site.name }} Login:</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action=".">
<table>
<tr>
	<th>{{ form.username.label_tag }}:</th>
	<td>{{ form.username }}</td>
	<td><font size="-1"><i>Your username was emailed to you when we created your account. This is not your email address and it is case-sensitive.</font></i></td>
</tr>
<tr>
	<th>{{ form.password.label_tag }}:</th>
	<td>{{ form.password }}</td>
	<td><font size="-1"><i>If this is your first time logging in or you've forgotten your password or username, 
	you will need to <a href="{% url views.password_reset %}">create a new password</a>.</i></font></td>
</tr>
<tr>
	<td colspan=2>
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</td>
	<td></td>
</tr>
</table>
{% csrf_token %}
</form>

{% endblock %}