{% extends "member/base.html" %}

{% block style %}
  #content { font-size: 1.1em; border: none; }
  #content h1 { font-size: 1.8em; margin: 0 0 1em 0; }
  #content input[type=text] { width: 300px;}
  #steps { font-size: 1.5em; margin-top: 2em; margin-bottom: 1em; font-weight:bold; }
  #step2, #step3 { color: lightgray; }
{% endblock %}

{% block content %}

<div id="steps">
	<span>Password Reset - </span>
	<span id="step1">Step 1...</span>
	<span id="step2">Step 2...</span>
	<span id="step3">Step 3...</span>
</div>

Please enter your email address and we'll send you instructions on making a new password.

<form action="" method="post">
  {% for field in form %}
  <p>
    {{ field.label_tag }} {{ field }}
    <font color=red>{{ field.errors }}</font>
  </p>
  {% endfor %}
  <p><input type="submit" value="Reset Password" /></p>
  {% csrf_token %}
</form>

{% endblock %}

{% block extrajs %}
<script>
	$(document).ready(function() {
		$('.error').css('color', 'red');
		$('.error').css('text-align', 'center');
		$('.error').css('margin-bottom', '5%');
		$('.error').css('font-style', 'italic')
	})
</script>
{% endblock %}
