{% extends "member/base.html" %}

{% block style %}
  #content { font-size: 1.1em; border: none; }
  #content h1 { font-size: 1.8em; margin: 0 0 1em 0; }
  #content input[type=text] { width: 300px;}
  #steps { font-size: 1.5em; margin-top: 2em; margin-bottom: 1em; font-weight:bold; }
  #step1, #step2, #step3 { color: lightgray; }
{% endblock %}

{% block content %}

<div id="steps">
	<span>Password Reset - </span>
	<span id="step1">Step 1...</span>
	<span id="step2">Step 2...</span>
	<span id="step3">Step 3...</span>
	<span>Done!</span>
</div>

Your password has been set. Thank you! Now, head to the
<a href="{% url 'member:home' %}">login page</a>. Thanks!

{% endblock %}
