{% extends "member/base.html" %}

{% block content %}
	<h3 class='header-font' style='text-align: center; margin-bottom:4%;'>{{ type | title }} Tagged with: {{ tag }}</h3>

	{% if members %}
		<table class='tag-view'>
		{% for u in members %}
			<tr>
				<td style='min-width: 150px;'>
					<a href="{% url 'member:profile:view' u.username %}">{{ u.get_full_name }}</a>:
				</td<>
				<td>
					{% for t in u.profile.tags.all %}
						<dd><a class='chip' href="{% url 'member:tag:view' type t %}">{{ t }}</a></dd>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}

	{% if organizations %}
		<ul>
		{% for o in organizations %}
			<dl>
				<dt><a href="{% url 'member:org:view' o.id %}">{{ o.name }}</a>:</td<>
				{% for t in o.tags.all %}
					<dd><a class='chip' href="{% url 'member:tag:view' type t %}">{{ t }}</a></dd>
				{% endfor %}
			</dl>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
