/* Member Pages Style */

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	position: relative;
}

a {
	 text-decoration: none;
	 color: #5987C6;
}

p {
	 font-family: 'Roboto', sans-serif;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 1.6;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.invisible { visibility: hidden; }
.clearfix:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }

/* Header */

#main-nav {
	background-color: RGBA(66, 98, 113, 1);
	position: fixed;
	top: 0;
	left: 0;
}

#main-nav a {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

#home-nav {
	background-color: RGBA(66, 98, 113, 1);
	margin: 0;
	border-top: none;
}

#header_container {
	width: 100%;
	color: #5987C6;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	background-color: RGBA(246, 246, 246, 1);
	z-index: 2000;
	position: relative;
}

#header_container a {
	color: white;
	padding-right: 20px;
	margin-right: 0;
	letter-spacing: 1px;
	font-weight: lighter;
}

#home-nav a.slack-a {
	color: RGBA(78, 62, 132, 1);
}

#jumbotron {
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	box-sizing: padding-box;
	border-bottom: none;
	background-color: RGBA(66, 98, 113, 1);
}

.menu-img {
	content: url(../img/ic_menu_white_24dp/web/ic_menu_white_24dp_2x.png)
}

.side-nav {
	background-color: RGBA(80, 80, 80, 1);
	padding-top: 5%;
	padding-left: 3%;
	width: 50%;
}

.side-nav li a {
	font-size: 3em;
	padding-top: 20%;
}

#sidenav-overlay {
	background-color: RGBA(80, 80, 80, .6);
}

.logo-img {
	content: url(../img/logo.png);
	position: absolute;
	z-index: 2000;
	top: 10%;
	left: 37%;
	height: 300px;
  width: 310px;
	z-index: 2000;
}

.sec-logo {
	content: url(../img/logo-line.png);
	position: fixed;
	top: 0;
	left: 0;
	height: 110px;
	margin-left: 1%;
	z-index: 2000;
}

#jumbo-img {
	content: url(../img/jumbo.png);
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#logo {
	float: left;
	padding-left: 1%;
	padding-bottom: 0;
	margin: 0;
}

#content h2 {
	display: block;
	text-align: center;
	font-size: 1.875em;
}

/* Body */
table th {
	padding: 0.5em 0.5em 0.25em;
}

table th:first-child {
	text-align: left;
	/*width: 15%;*/
}

table td:first-child, table td:last-child {
	text-align: left;
}

table td {
	/*text-align: center;*/
	padding: 0.5em;
}

.prof-page {
	background-color: white;
}

#content a {
	outline:none;
}

/*#content img {
	margin: 10px auto;
}*/

#welcome-p {
	font-size: 1.2em;
	text-align: center;
}

#booking_form {
	background-color: RGBA(239, 238, 231, 1);
	padding: 2%;
	margin-left: 15%;
	width: 70%;
}

#booking_form {
	min-width: 700px;
}

.booking-box {
	background-color: RGBA(239, 238, 231, 1);
	border-radius: 2px;
	padding: 2%;
}

textarea#id_bio {
	background-color: white;
	height: 100px;
	width: 500px;
	border: none;
}

.public_bool {
	width: 25%;
}

#reg_box, #login_box {
	margin-top: 3%;
}

#login_form {
	background-color: RGBA(239, 238, 231, 1);
	margin-right: 0;
	margin-top: 5%;
	border-radius: 2px;
}

#login_form h1, #registration_form h1 {
	color: white;
	background-color: RGBA(66, 98, 113, 1);
	padding: 2%;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

#login_form th, #registration_form th {
	padding-left: 10%;
	padding-right: 0;
}

#login_reset {
	padding-bottom: 5%;
}

#profile_form tr, #registration_form tr, #login_form tr, #booking_form tr {
	border: none;
}

#profile_form input, #registration_form input, #login_form input, #booking_form input, .booking-box input {
	padding-left: 2%;
	background-color: white;
	border-bottom: none;
}

#login_form input {
	width: 90%;
}

#booking_form td {
	border-bottom: 0;
}

#booking_form h4 {
	text-align: center;
}

input#id_photo {
	background-color: RGBA(255, 255, 255, 0);
}

#login_form input{
	padding-left: 2%;
	margin-right: 2%;

}

#login-header {
	margin-top: 5%;
	margin-bottom: 5%;
}

.sub-btn, #confirm-btn, .reg-btn  {
	background: RGBA(79, 134, 135, 1);
	margin-top: 2%;
	margin-left: 35%;
}

#confirm-btn {
	margin-left: 40%;
}

.reg-btn {
	margin-left: 40%;
}

/*Edit Profile Page*/
#profile_form, #registration_form {
	margin-left: 15%;
	min-width: 900px;
	max-width: 1000px;
	overflow: visible;
	background-color: RGBA(239, 238, 231, 1);
	padding: 2%;
}

#profile_form h3, #registration_form h3 {
	font-size: 1.5em;
	font-weight: bold;
}

#contact, #photo, #emergencyinfo, #websites, #passwords {
	margin-left: 4%;
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 4%;
	margin-bottom: 1%;
}

#email-table {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

#emails {
	padding: 1% 10%;
	margin-bottom: 1%;
}

#otherinfo {
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 1%;
}

#registration {
	margin-left: 6%;
	margin-right: 6%;
	padding: 2%;
}

#contact input, #contact select, #websites input, #websites select, #emergencyinfo input, #otherinfo input, #otherinfo select, #pf-public, #emails input, #emails button {
	font-size: 1em;
}

.pf-error {
	padding: 0;
	color: red;
}

.cap-label {
	text-align: left;
	color: RGBA(57, 64, 64, 1);
	text-transform: uppercase;
}

td.cap-label {
	border: none;
	padding-bottom: 0;
	font-size: .9em;
}

td.pf-input {
	padding-top: 0;
	padding-bottom: 0;
	height: 90%;
}

#email-btn {
	width: 50%;
}

.pf-input input {
	width: 200px;
}

td#pf-public, td#pf-company {
	width: 20%;
}

td#pf-photo {
	width: 20%;
}

input#id_company_name {
	width: 50%;
}

select#id_public_profile.browser-default {
	width: 30%;
}

input#id_zipcode, input#id_emergency_name, input#id_emergency_relationship, input#id_emergency_email {
	width: 70%;
}

input#id_phone, input#id_phone2 {
	width: 70%;
}

#passInput-error {
	width: 50%;;
}

input#id_city {
	width: 85%;
}

#state-select{
	vertical-align: text-top;
	padding: 0;
}

select#id_state {
	width: 85%;
	font-size: .9em;
	box-sizing: border-box;
}

#email-table input {
	width:75%;
}

input#id_address1, input#id_address2 {
	width: 90%;
}

input#id_url_twitter, input#id_url_facebook, input#id_url_github, input#id_url_linkedin,input#id_url_professional, input#id_url_personal {
	width: 400px;
}

input#id_emergency_phone {
	width: 200px;
}

textarea#id_bio {
	width: 100%;
}

.verify-email, #add-email {
	background: RGBA(63, 146, 161, 1);
}

#email-input {
	width: 50%;
}

.tags {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.tag-table {
	margin-right: 20%;
}

.tag-chip, .chip {
	color: RGBA(92, 92, 92, 1);
	background-color: RGBA(228, 228, 228, 1);
}

.tag-btn {
	background-color: RGBA(79, 134, 135, 1);
}

/*Registration form styling*/
#registration input#id_first_name, #registration input#id_last_name {
	width: 300px;
}

#registration #id_email {
	width: 400px;
}

#registration .pwd-input {
	width: 300px;
}

#login-btn {
	margin-left: 20%;
	margin-right: 10%;
	width: 35%;
	background-color: RGBA(79, 134, 135, 1);
}

#loginonly-btn {
	margin-left: 30%;
	width: 40%;
	background-color: RGBA(79, 134, 135, 1);
}

#site-search-form input {
	width: 60%;
}

#site-search-form input.search-btn {
	background: RGBA(79, 134, 135, 1);
	width: 30%;
	padding: 0;
	margin-left: 5%;
}

#event_cal {
	margin-left: 10%;
}

.card {
	text-align: center;
	background-color: RGBA(43, 84, 118, 1);
}

#chat_icon {
	content: url(../img/chat_icon.png);
	height: 25%;
	width: 25%;
}

#group_icon {
	content: url(../img/people_icon.png);
	height: 50%;
	width: 50%;
}

.card a {
	color: RGBA(213, 159, 68, 1);
}

.event-card {
	width: 330px;
}

.tabs {
	color: RGBA(44, 148, 231, 1);
	width: 50%;
}

.tabs .tab {
	text-transform: none;
}

.tabs .tab a {
	color: RGBA(44, 148, 231, 1)
}

.tabs .tab a:hover, .tabs .tab a:focus {
	color: RGBA(30, 52, 64, 1);
}

.tabs .indicator {
	background-color: RGBA(30, 52, 64, 1);
}

.mem-tabs .indicator {
	background-color: RGBA(30, 52, 64, 1);
}

.prof-tabs .indicator {
	width: 15%;
	background-color: RGBA(44, 148, 231, 1);
}

.triptic {
	text-align: justify;
}

.triptic > div {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	/* IE fix. */
	display: inline;
	zoom: 1;
}

.triptic:after {
	content: "";
	width: 100%;
	display: inline-block;
}

.lightbg {
	margin-top: 5%;
	margin-bottom: 140px;
	min-height: 500px;
	padding-top: 10px;
	overflow: auto;
}

.user-card {
	width: 190px;
	border: solid 3px #EEE;
	margin: 10px;
	text-align: center;
	display: inline-block;
	padding-top: 2%;
}

.user-card a {
	padding: 10px 10px;
	display: block;
	background:#FFFFFF;
}

.user-card a.photo {
	background-color: #FFF;
	font-size: 120px;
	color: #DDD;
	text-decoration: none;
	overflow:hidden;
	height: 150px;
	width: 150px;
	position: relative;
	margin-left: 10%;
}

.user-card a.photo .user-img {
	position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.user-card a.photo .user-img.portrait {
	width: 100%;
  height: auto;
}

.oswald {
	font-family: 'Oswald', sans-serif;
	color: RGBA(79, 134, 135, 1);
}

.frag {
	text-spacing: 1px;
}

.tags-box {
	margin-top: 20%;
}

.editable-photo {
	float: left;
	margin: 0px 1em 1em 0px;
	position: absolute;
}

.member-photo {
	float: left;
	margin: 0px 1em 1em 0px;
}

img#mem-photo {
	margin-top: 10%;
}

#img-edit {
	content: url(../img/ic_camera_alt_black_24dp_2x.png);
	display: none;
}

.profile-img-box:hover #mem-photo {
	opacity: 0.5;
}

.profile-img-box:hover #edit-img {
	color: RGBA(0, 0, 0, 1);
}

.profile-img-box:hover #img-edit {
	display: block;
}

#edit-img {
	color: RGBA(0, 0, 0, 0);
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 20%;
	padding-left: 10%;
}

#edit-img h3 {
	font-size: 1.7em;
}

h2#prof-name {
	text-align: left;
	font-size: 2.4em;
}

#img-preview, #upload-preview {
	display: block;
  overflow: hidden;
  height: 200px;
  width: 200px;
	position: relative;
}

#prof-img, #edit-img {
	margin-left: 2%;
	display: block;
  overflow: hidden;
  height: 300px;
  width: 300px;
	margin-bottom: 10%;
}

#img-preview img, #prof-img img {
	display: block;
  min-width: 100%;
  min-height: 100%;
	max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

.prof-img, .upload-input {
  /*position: relative;*/
  width: 300px;
  height: 300px;
  overflow: hidden;
	margin: 2%;
}

.upload-input {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

#upload-preview img {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.prof-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.prof-img img.portrait, #upload-preview img.portrait {
  width: 100%;
  height: auto;
}

#edit {
	content: url(../img/noun_687044_cc.png);
	height: 25px;
}

#manage {
	content: url(../img/noun_683434_cc.png);
	height: 30px;
}

.pic-upload {
	height: 200px;
	padding-top: 100px;
	width: 180px;
}

.picModal-content h4 {
	text-align: center;
	padding-top: 2%;
}

#upload-preview {
	margin-left: 5%;
}

#blank-photo {
	background-color: RGBA(143, 143, 139, 1);
	content: url(../img/ic_face_white_48dp_2X.png);
}

.pic-btn {
	background-color: RGBA(79, 134, 135, 1);
	margin-left: 40%;
}

.basic-info, .left-profile {
	background-color: white;
	margin-bottom: 2%;
	padding: 2%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.right-profile, .left-profile {
	margin-top: 2%;
}

.left-profile {
	min-width: 375px;
	max-width: 400px;
}

.right-profile {
	min-width: 700px;
}

.collapsible-header {
	font-weight: bold;
}

.collapsible-body {
	background-color: RGBA(254, 254, 254, 1);
	padding: 5%;

}

.collapsible-body h3 {
	font-size: 1.3em;
	margin-top: 0;
	padding-top: 2%;
}

#tabs-6 p {
	padding: 1%;
}

dt, dd {
	display: inline-block;
	margin: 0.25em;
}

dt {
	font-weight: bold;
}

dd:after {
	margin-left: 0.5em;
	font-size: 1.2em;
}

dl dd:last-child:after {
	content: "";
}
/*booking_create styling*/
	#thumbnail-box {
		padding-top: 4%;
		height: 130px;
	}

	.room-thumbnail {
		max-height: 70px;
		max-width: 70px;
	}

	#booking-reqs {
		padding-left: 4%;
		border-bottom: 1px solid grey;
		margin-bottom: 4%;
	}

	#booking-date, #start-time, #end-time {
		width: 75%;
	}

	.book-btn, .device-btn {
		background: RGBA(79, 134, 135, 1);
	}

	#booking-reqs select.browser-default {
		background: white;
		border-radius: 1px;
		margin-top: 0;
	}

	[type="checkbox"].filled-in:not(:checked)+label:after {
		background-color: white;
	}

	[type="checkbox"]+label {
		color: black;
		height: 43.5px;

	}

	td.booking-td {
		width: 30%;
	}

	#av-btn, #phone-btn {
		vertical-align: bottom;
		padding: 0;
		width: 15%;
	}

	#av-btn {
		padding-left: 1%;
	}

	#time-row {
		text-align: center;
	}

	#floor-select, #seat-select {
		vertical-align: text-top;
		margin-top: 0;
	}

	select#floor {
		min-width: 150px;
	}

	#room-search {
		padding-top: 1%;
	}

	#room-criteria {
		padding-top: 2%;
		padding-bottom: 5%;
	}

	.book-room {
		margin-top: 5%;
	}

	.book-btn, .room-show, .room-close {
		background-color: RGBA(79, 134, 135, 1);
	}

	.room-show, .room-close {
		font-size: .7em;
		min-width: 70px;
		padding: 0% 5%;
	}

	.book-btn {
		margin-left: 15%;
	}

	.cal-table, .booking-bar {
		margin-top: 10px;
	}

	.booking-bar {
		min-width: 670px;
	}

	.cal-table thead, .booking-bar thead {
		border: none;
	}

	.cal-table th, .booking-bar th{
		font-size: .8em;
		text-align: left;
		height: 10px;
		width: 2%;
	}

	th.rotate{
	  height: 40px;
	  width: 2%;
	  min-width: 2%;
	  max-width: 2%;
	  position: relative;
	  vertical-align: bottom;
	  padding: 0;
	  font-size: 12px;
	  line-height: 0.8;
	}

	th.rotate > div {
		position: relative;
		top: 0px;
		left: 20px;
		height: 100%;
		-ms-transform:skew(-45deg,0deg);
		-moz-transform:skew(-45deg,0deg);
		-webkit-transform:skew(-45deg,0deg);
		-o-transform:skew(-45deg,0deg);
		transform:skew(-45deg,0deg);
	}

	th.rotate span {
		-ms-transform:skew(45deg,0deg) rotate(315deg);
		-moz-transform:skew(45deg,0deg) rotate(315deg);
		-webkit-transform:skew(45deg,0deg) rotate(315deg);
		-o-transform:skew(45deg,0deg) rotate(315deg);
		transform:skew(45deg,0deg) rotate(315deg);
		position: absolute;
		bottom: 30px;
		left: -44px;
		display: inline-block;
		width: 100%;
		width: 85px;
		text-align: left;
		white-space: nowrap;
	}

	.cal-table th:first-child, .booking-bar th:first-child {
		width: 2%;
	}

	.booking-bar {
		margin-bottom: 2%;
	}

	.cal-box {
		border-bottom: none;
		border-top: none;
		width: 2%;
		height: 65px;
		border-right: 1px solid white;
		box-sizing: border-box;
		padding: 0;
		border-radius: 0px 0px 0px 0px;
		background-color: RGBA(178, 225, 203, .6);
	}

	.cal-table td:last-child, .booking-bar td:last-child {
		border-right: none;
	}

	.cal-table .reserved, .booking-bar .reserved {
		background-color: RGBA(217, 95, 73, .4);
	}

	.cal-table .searched, .booking-bar .searched {
		background-color: RGBA(49, 39, 50, .7);
	}

	.cal-table td:first-child, .booking-bar td:first-child {
		border-radius: 4px 0px 0px 4px;
	}

	.cal-table td:last-child, .booking-bar td:last-child {
		border-radius: 0px 4px 4px 0px;
	}

	#start-forw, #start-back, #end-forw, #end-back {
		border-radius: 100px;
		width: 30px;
		height: 30px;
		background: RGBA(63, 146, 161, 1);
		color: white;
		box-shadow: none;
		border: none;
	}

	#start-forw {
		margin-left: 10%;
	}

	#end-forw {
		margin-left: 15%;
	}

	.time-btns {
		min-width: 300px;
		overflow: auto;
	}

	#cal-error td {
		text-align: center;
		color: red;
	}

	.slider {
		overflow-y: hidden;
		max-height: 300px; /* approximate max height */
		transition-property: all;
		transition-duration: .7s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		background-color: white;
		padding-top: 1%;
		border-radius: 2px;
	}

	.slider.closed {
		max-height: 0;
		padding-top: 0;
	}

	div#time-range {
		max-height: 60px;
	}

	div#slider-range {
		/*position: absolute;*/
		max-height: 50px;
		min-width: 50px;
		margin-bottom: 5%;
	}

/*calendar and making event styling*/

#calendar {
	max-width: 900px;
	margin-top: 2%;
}

#make-event {
	margin-top: 5%;
	margin-left: 2%;
	border-radius: 100px;
	width: 90px;
	height: 90px;
	font-size: 1em;
	line-height: 100%;
	overflow: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  max-height: 100%;
}

.modal-content, .picModal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
	margin-top: 10%;
  padding: 0;
  border: 1px solid #888;
	border-radius: 3px;
	height: 50%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.picModal-content {
	height: 55%;
	width: 40%;
	min-width: 600px;
}

.eModal-content {
	position: relative;
  background-color: #fefefe;
  margin: auto;
	margin-top: 5%;
  padding: 0;
  border: 1px solid #888;
	border-radius: 4px;
	height: 85%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal .modal-content {
	padding:0;
}

.modal-content p {
	margin: 0;
}

.modal-content .modal-body{
	padding-top: 5%;
	background-color: RGBA(229, 238, 215, .5);
	height: 100%;
	padding: 3%;
}

.modal-body tr {
	margin: 4%;
}

#host-img {
	height: 120px;
	width: 100px;
	border-radius: 100px;
}

.eModal-content .eModal-body {
	padding-top: 5%;
	background-color: RGBA(229, 238, 215, .5);
	height: 100%;
	padding: 5%;
	font-size: 1.1em;
}

.eModal-body input, .modal-body span {
	background: white;
	border-bottom: none;
}

.modal-body span {
	padding: 1% 15%;
}

.modal-body td {
	font-size: 1.1em;
}

.eModal-body td, .modal-body td {
	border: none;
}

.eModal-body #event-desc{
	padding: 2% 0%;
}

.modal-content .modal-body p {
	font-size: 1.2em;
}

.modal-btn {
	margin-top: 2%;
	margin-left: 40%;
	background-color: RGBA(79, 134, 135, 1);
}

#event-btn-row {
	margin-top: 5%;
	padding-bottom: 3%;
	border-bottom: 1px solid grey;
}

#event-btn {
	margin-left: 30%;
	background-color: RGBA(63, 146, 161, 1);
	display: inline;
}

#cancel-event {
	margin-left: 30px;
	cursor: pointer;
	background-color: RGBA(63, 146, 161, 0);
}

#goto-booking {
	font-weight: bold;
	font-size: 1.3em;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
	z-index: 0;
}

div.ui-timepicker-container.ui-timepicker-standard {
	z-index: 20 !important;
}

.ui-widget-content, .ui-widget.ui-widget-content {
	border: none !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
	border: none;
}

/* Footer */

footer.home-footer {
	padding: 1px;
	padding-top: 10px;
	height: 50px;
	background: RGBA(61, 61, 61, .9);
	margin: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

footer.main-footer {
	background: RGBA(61, 61, 61, .9);
	padding: 1px;
}

footer.sticky-footer {
	background: RGBA(61, 61, 61, .9);
	clear: both;
	width: 100%;
	padding: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
}

#copyright {
	width: 360px;
	margin: 0;
	display: inline;
}

.footer-copyright {
	color: white;
	font-weight: 400;
}

#social {
	float: left;
	margin-left: 130px;
	/*width: 132px;*/
}

.main-footer div #social {
	margin-top: 10px;
	margin-left: 130px;
}

#nadine-link {
	color: RGBA(245, 245, 245, 1);
	font-weight: bold;
	letter-spacing: .5px;
}

#fb {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/facebook_32.png);
	text-indent: -9999px;
	border-radius: 4px;
}

#tw {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/twitter_32.png);
	text-indent: -9999px;
	border-radius: 4px;
}

#ye {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/yelp_32.png);
	text-indent: -9999px;
}

#inst {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image: url(../img/instagram_32.png);
	text-indent: -9999px;
}

@media only screen and (max-width: 700px) {
	footer.main-footer {
		background: RGBA(61, 61, 61, .9);
		clear: both;
		width: 100%;
		padding: 10px;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
	}
}

@media only screen and (max-width: 990px) {

	 .event-card {
		 width: 250px;
	 }

	 #home_cal {
		 width: 200px;
	 }

	 #profile_form {
		 margin-right: 1%;
	 }

	 img.sec-logo {
		 max-height: 60px;
		 max-width: 60px;
	 }

	 .lightbg {
		 margin-top: 8%;
	 }

	 .modal-content {
		 height: 40%;
		 width: 60%;
	 }

	 .eModal-content {
		 margin-top: 10%;
		 height: 100%;
	 }
}

@media only screen and (max-width: 1100px) {
	.row .col.offset-s1.s10 {
		margin-left: 0;
	}

	.row .col.s10 {
		width: 100%;
	}

	#profile_form, #registration_form {
		margin-left: 2%;
		min-width: 900px;
	}

	#profile_form input {
		margin-right: 1%;
	}

	#booking_form {
		width: 100%;
		min-width: 700px;
		margin-left: 0;
	}

	img.logo-img {
		height: 80%;
		width: 27%;
	}

	.btn {
		font-size: .7em;
	}

	.eModal-content {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 1300px) {
	.prof-img, #edit-img {
		width: 200px;
		height: 200px;
	}

	.right-profile {
		min-width: 600px;
	}
}

@media only screen and (max-width: 1390px) {
	.prof-img, #edit-img {
		width: 250px;
		height: 250px;
		margin-left: 1%;
	}

	.left-profile {
		min-width: 250px;
	}
}

@media only screen and (max-width: 1500px) {

	#profile_form, #registration_form {
		margin-left: 7%;
		min-width: 900px;
	}

}
