<table class='sub-table responsive-table'>
  <thead>
    <tr>
      {% if member %}
        <th class="sub-th">Member</th>
      {% endif %}
      {% if description %}
        <th class="sub-th">Description</th>
      {% endif %}
      <th class="sub-th" id='assigned-th'>Assigned To</th>
      <th class="sub-th" id='note-th'>Note</th>
      <th class="sub-th" id='action-th'>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for alert in alerts %}
    <tr class="{% cycle 'row-even' 'row-odd' %}">
      <form action="{% url 'staff:tasks:detail' alert.key %}" method="POST">
        <input type="hidden" name="alert_id" value="{{ alert.id }}"/>
          {% if member %}
            <td style='padding-top: 2%;' nowrap>
              <a href="{% url 'staff:members:detail' alert.user.username %}">{{ alert.user.get_full_name }}</a>
            </td>
          {% endif %}
          {% if description %}
            <td style='padding-top: 2%;' nowrap>{{ alert.description }}</td>
          {% endif %}
          <td>
            <select class='browser-default' name="assigned_to">
            <option></option>
              {% for s in staff_members %}
                <option value="{{ s.username }}" {% if s == alert.assigned_to %} SELECTED {% endif %}>
                  {{ s.get_full_name}}
                </option>
              {% endfor %}
          </select>
          </td>
          <td><input name="note" value="{{ alert.note|default:'' }}" /></td>
          <td style="text-align: center;">
              <button name="action" value="save" type="submit" >Save</button>
              <button name="action" value="resolve" type="submit" {% if is_system_alert %} disabled{% endif %}>Resolve</button>
              <button name="action" value="mute" type="submit" >Mute</button>
          </td>
        {% csrf_token %}
      </form>
    </tr>
  {% endfor %}
  </tbody>
</table>

<!--
<form action="." method="POST">
  <input name="Mark All" type="Submit" Value="Mark All Members Completed" onclick="return confirm('Are you sure?');">
  {% csrf_token %}
</form>
-->
