<!-- Invalid Billing Form -->
<form id="toggle_valid_billing{{ bill.user.username }}"
      method="POST"
      style="display:inline-block;"
      action="{% url 'staff:billing:billing_flag' bill.user.username %}"
      onSubmit="return confirm('Are you sure you want to toggle the billing flag for {{ bill.user.get_full_name }}?');">
  {% csrf_token %}

  {% if next %}
    <input type="hidden" name="next" value="{{ next }}"/>
  {% endif %}

  {% if bill.user.profile.has_valid_billing %}
    <input type="submit" value="Flag Invalid Billing"/>
  {% else %}
    <input type="submit" value="Clear Invalid Billing"/>
  {% endif %}
</form>
