<div style="margin-left: 2em; margin-top:1%">
  {% if settings.STRIPE_SECRET_KEY %}
    <form action="{% url 'staff:members:stripe-checkout' user.username %}" method="POST">
      {% csrf_token %}
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ settings.STRIPE_PUBLISHABLE_KEY }}"
        data-name="312 Main Community Co-op"
        data-description="Billing for 312 Main Community Co-op"
        data-label="Create New Billing Profile"
        data-panelLabel="Save Billing Profile"
        data-allowRememberMe="false"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-currency="cad">
      </script>
    </form>
  {% elif settings.USA_EPAY_FORM_KEY %}
    <form action="{{ settings.USA_EPAY_FORM }}">
      <input type="hidden" name="UMkey" value="{{ settings.USA_EPAY_FORM_KEY }}">
      <input type="hidden" name="UMdescription" value="Office Nomads Billing Authorization">
      <input type="hidden" name="UMcustid" value="{{ user.username }}">
      <input type="hidden" name="UMcommand" value="AuthOnly">
      <input type="hidden" name="UMamount" value="1.00">
      <input type="hidden" name="UMinvoice" value="1617">
      <input type="hidden" name="UMaddcustomer" value="yes">
      <input type="hidden" name="UMschedule" value="disabled">
      <input type="hidden" name="UMsoftware" value="nadine">
      <input type="hidden" name="UMcustreceipt" value="yes">
      <input type="hidden" name="UMcardpresent" value="true">
      <input type="hidden" name="UMname" value="{{ user.get_full_name }}">
      <input type="hidden" name="UMstreet" value="{{ user.profile.address1 }}">
      <input type="hidden" name="UMzip" value="{{ user.profile.zipcode }}">
      <input type="hidden" name="UMbillfname" value="{{ user.first_name }}">
      <input type="hidden" name="UMbilllname" value="{{ user.last_name }}">
      <input type="hidden" name="UMbillcompany" value="{{ user.profile.organization }}">
      <input type="hidden" name="UMbillphone" value="{{ user.profile.phone }}">
      <input type="hidden" name="UMemail" value="{{ user.email }}">
      <!--<input type="hidden" name="UMtestmode" value="true">-->
      <input type="hidden" name="username" value="{{user.username}}">
      <input class='billing-btn btn' type="submit" value="Create New Billing Profile">
    </form>
  {% endif %}
</div>