{% extends "staff/base.html" %}
{% load static %}

{% block pagestyle %}
  <link rel='stylesheet' href="{% static 'staff/css/billing.css' %}" />
{% endblock %}

{% block sub-head %}
<script>
  $(function () {
    {% for message in messages %}
      {% if message.tags == 'error' %}
        Materialize.toast('{{ message }}', 60000, 'error-msg msg');
      {% else %}
        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
      {% endif %}
    {% endfor %}

    $(document).on('click', '#toast-container .toast', function() {
      $(this).fadeOut(function(){
        $(this).remove();
      });
    });
  });
</script>
{% endblock %}
