{% extends "staff/base.html" %}
{% load list_tags %}

{% block sub-title %}Bill | {{ bill.bill_date }} | {{ bill.member.first_name }} {{ bill.member.last_name }} | {% endblock %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}

<h4><a href="{% url 'staff:user:detail' bill.user.username %}">{{ bill.user.get_full_name }}</a>'s Bill:</h4>
{% include "staff/billing/bill_table.frag" %}


[<a href="{{ bill.get_admin_url }}">edit this bill</a>]
{% endblock %}


{% block navcss %}
  <style>
    #billing-tab {
      background-color: RGBA(90, 122, 189, 1.00) !important;
    }
  </style>
{% endblock %}
