<!-- {% extends "staff/billing/base.html" %} -->
{% load list_tags %}

{% block sub-title %}Bill | {{ bill.user.get_full_name }}{% endblock %}

{% block content %}

<h4>Bill {{ bill.id }}: <a href="{% url 'staff:members:detail' bill.user.username %}">{{ bill.user.get_full_name }}</a></h4>

<span>[
  <a href="{% url 'staff:billing:user_bills' bill.user.username %}">bill list </a> |
  {% if bill.total_paid == 0 %}
    <a href="{{ bill.get_regenerate_url }}">regenerate</a> |
  {% endif %}
  <a href="{{ bill.get_absolute_url }}">view receipt </a> |
  <a href="{{ bill.get_admin_url }}">admin</a>
]</span>

<h5>Detail</h5>
<table class='bill-id-table'>
  <tr>
    <th>Created:</th>
    <td style="width: 30%;">{{ bill.created_ts|date:"m/d/y P" }}</td>
    {% if bill.created_by %}
      <th style="width: 15%;">Created By:</th>
      <td>{{ bill.created_by.get_full_name }}</td>
    {% else %}
      <th style='width: 15%;'></th>
      <td style='border-bottom: none;'></td>
    {% endif %}
  </tr>
</table>
<table class='bill-id-table'>
  <tr>
    <th>Due Date:</th>
    <td>{{ bill.due_date|date:"m/d/y"  }}</td>
    <th>Period:</th>
    <td>
      {{ bill.period_start|date:"m/d/y" }} to {{ bill.period_end|date:"m/d/y" }}
    </td>
  </tr>
</table>
<table class='bill-id-table bill-id-table-2'>
  <tr>
    <th>Membership</th>
    <td>
      {% if bill.membership %}
        <a href="{% url 'staff:members:membership' bill.user.username %}">{{ bill.membership.package_name }}</a>
      {% else %}
        None
      {% endif %}
    </td>
    <th>Amount:</th>
    <td>${{ bill.amount }}</td>
    {% if bill.is_paid %}
      <th id='paid-th'>Paid:</th>
      <td>${{ bill.total_paid }}</td>
    {% else %}
      <th style='color:red;' id='paid-th'>Paid:</th>
      <td style='color:red;' >${{ bill.total_paid }} {% if diff %}({{ diff.days }} Days Past Due){% endif %}</td>
    {% endif %}
  </tr>
</table>

<h5>Line Items</h5>
<table class='item-table'>
  <tr>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  {% for line_item in line_items %}
      <tr class='{% cycle "row-odd" "row-even" %}'>
          <td>{{ line_item.description }} {% if benefactor %} - For {{ benefactor.get_full_name }}{% endif %}</td>
          <td style="text-align: right;">${{ line_item.amount|floatformat:2 }}</td>
      </tr>
  {% endfor %}
</table>

{% endblock %}
