{% load billing_tags %}
{% load list_tags %}
{% for bill_date, users in bills.items %}
  <h6>{{ bill_date }}</h6>
  <ul id="bill-list">
  {% for u in users %}
    <li style="color:{% valid_billing_color u %};"><span style="color:black">
      <form class="pay-bill-form" action="." method="post">
        <div>
          <div class='row bill-row'>
            <div class='bill-deets'>
              <a class="bill-detail-toggle" id="bill-details-toggle-{{u.id}}" href="." onclick="toggleBillDetails('{{u.id}}'); return false;">[+]</a>&nbsp;
              <strong><a href="{% url 'staff:user:detail' u.username %}">{{ u.get_full_name }}</a></strong>:
              {% for field in u.profile.pay_bills_form %}
                {% ifequal field.name 'amount' %}${{ field }}{% endifequal %}
                {% ifequal field.name 'username' %}{{ field }}{% endifequal %}
              {% endfor %}
            </div>
            <button id='set_paid' name="action" value="set_paid">Set Paid</button>
          </div>
        </div>

        <div class="bill-details" id="bill-details-{{u.id}}">

          {% for bill in u.profile.open_bills %}
            <h5>
              <input name="bill_id" value="{{ bill.id }}" type="checkbox" checked="checked" />
              <a href="{% url 'staff:billing:bill' bill.id %}">Bill on {{ bill.bill_date|date:"m/d" }}</a>
              {% if bill.paid_by %}for <a href="{% url 'staff:user:detail' bill.user.username %}">{{ bill.user.get_full_name }}</a>{% endif %}
              / Amount: ${{ bill.amount }}
            </h5>

            {% if bill.membership %}
            <div class="bill-info">
              Monthly: <a href="{{ bill.membership.get_admin_url }}">${{ bill.membership.monthly_rate }}</a>
            </div>
            {% endif %}
            {% if bill.new_member_deposit %}
            <div class="bill-info">
              Deposit: ${{ bill.new_member_deposit }}
            </div>
            {% endif %}
            {% if bill.overage_days %}
            <div class="bill-info">
              Overage: {{ bill.overage_days }} day{{ bill.overage_days|pluralize }}
            </div>
            {% endif %}
            {% if bill.dropins.all %}
            <div class="bill-info">Dropins ({{ bill.dropins.count }}):
              {% for dropin in bill.dropins.all %}
                <a href="{{ dropin.get_admin_url }}">{{ dropin.visit_date|date:"m/d" }}</a>{% loop_comma %}
              {% endfor %}
            </div>
            {% endif %}
            {% if bill.guest_dropins.all %}
            <div class="bill-info">Guest Dropins ({{ bill.guest_dropins.count }}):
              {% for dropin in bill.guest_dropins.all %}
                <a href="{% url 'staff:user:detail' dropin.user.username %}">{{ dropin.user.get_full_name }}</a>
                on <a href="{{ dropin.get_admin_url }}">{{ dropin.visit_date|date:"m/d" }}</a>{% loop_comma %}
              {% endfor %}
            </div>
            {% endif %}
          {% endfor %}

          {% if u.membernote_set.all %}
            <br /><strong>Member notes:</strong>
            <ul>
            {% for note in u.membernote_set.all %}
              <li>{{ note.created|date:"m/d/y" }} - {{ note.note }}</li>
            {% endfor %}
            </ul>
          {% else %}
            <br />
          {% endif %}

          <strong>Transaction note:</strong><br />
          {% for field in u.profile.pay_bills_form %}
            {% ifequal field.name 'transaction_note' %}{{ field }}{% endifequal %}
          {% endfor %}

          <div>
            {% if in_progress %}
              <button name="action" value="clear_in_progress">Clear In Progress</button>
            {% else %}
              <button name="action" value="mark_in_progress">Mark Bill In Progress</button>
            {% endif %}
            <button onclick="$('#toggle_{{ u.username}}').submit(); return false;">
              {% if u.profile.has_valid_billing %}
                Flag Invalid Billing Profile
              {% else %}
                Clear Invalid Billing Flag
              {% endif %}
            </button>
          </div>
        </form>
        {% csrf_token %}

        <form id="toggle_{{ u.username }}" action="{% url 'staff:billing:toggle_bill' u.username %}" onSubmit="return confirm('Are you sure?');">
          {% csrf_token %}
        </form>

        </div>
    </span></li>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
