<!-- {% extends "staff/billing/base.html" %} -->
{% load list_tags %}

{% block sub-title %}Bill | {{ bill.user.get_full_name }}{% endblock %}

{% block content %}

<h4>Bill {{ bill.id }}: <a href="{% url 'staff:members:detail' bill.user.username %}">{{ bill.user.get_full_name }}</a></h4>

<span>[
  <a href="{% url 'staff:billing:user_bills' bill.user.username %}">bill list </a> |
  {% if bill.total_paid == 0 %}
    <a href="{{ bill.get_regenerate_url }}">regenerate</a> |
  {% endif %}
  <a href="{{ bill.get_absolute_url }}">view receipt </a> |
  <a href="{{ bill.get_admin_url }}">admin</a>
]</span>

<h5>Detail</h5>

<table class='bill-id-table'>
  <tr>
    <th>Due Date:</th>
    <td>
      {{ bill.due_date|date:"m/d/y"  }}
      {% if overdue %}
        <span style='color:red;'>({{ overdue }} Days Past Due)</span>
      {% endif %}
    </td>
    <th>Period:</th>
    <td>
      {{ bill.period_start|date:"m/d/y" }} to {{ bill.period_end|date:"m/d/y" }}
    </td>
  </tr>
</table>
<table class='bill-id-table bill-id-table-2'>
  <tr>
    <th>Membership</th>
    <td>
      {% if bill.membership %}
        <a href="{% url 'staff:members:membership' bill.user.username %}">{{ bill.membership.package_name }}</a>
      {% else %}
        None
      {% endif %}
    </td>
    <th>Amount:</th>
    <td>${{ bill.amount }}</td>
    <th id='paid-th'>Paid:</th>
    <td>${{ bill.total_paid }}</td>
    {% if not bill.is_paid and bill.total_paid > 0 %}
      <th>Owed:</th>
      <td>${{ bill.total_owed }}</td>
    {% endif %}
  </tr>
</table>
{% if bill.created_by %}
  <table class='bill-id-table'>
    <tr>
      <th style="width:15%;">Bill Created:</th>
      <td style="width:20%;">{{ bill.created_ts|date:"m/d/y P" }}</td>
      <th style="width:5%;">By:</th>
      <td>{{ bill.created_by.get_full_name }}</td>
    </tr>
  </table>
{% endif %}

<h5>Line Items</h5>
<table class='item-table'>
  <tr>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  {% for line_item in line_items %}
      <tr class='{% cycle "row-odd" "row-even" %}'>
          <td>{{ line_item.description }} {% if benefactor %} - For {{ benefactor.get_full_name }}{% endif %}</td>
          <td style="text-align: right;">${{ line_item.amount|floatformat:2 }}</td>
      </tr>
  {% endfor %}
</table>

<h5>Payments</h5>
<table class="payment-table">
  <tr>
    <th class="left">Recorded</th>
    <th>Note</th>
    <th class="right">Amount</th>
    <th></th>
  </tr>
  {% for payment in bill.payment_set.all %}
    <tr class='payment-tr' style='border-bottom: none;'>
      <td style='border-bottom: none;'>
        {{ payment.created_ts|date:"m/d/y" }}
        {% if payment.created_by %}
          by {{ payment.created_by }}
        {% endif %}
      </td>
      <td style='border-bottom: none;'>{{ payment.note|default:'' }}</td>
      <td style="text-align:right; border-bottom: none;">${{ payment.amount }}</td>
      <td style='border-bottom: none;'>
        <form action="." method="POST" onSubmit="return confirm('Are you sure you want to delete this payment of ${{ payment.amount }}?'); return false;">
          <input type="hidden" name="delete_payment_id" value="{{ payment.id}}"/>
          <input type="submit" class='btn' value="Delete Payment" >
          {% csrf_token %}
        </form>
      </td>
    </tr>
  {% endfor %}

  {% if not bill.is_paid %}
    <form method='POST' action="{% url 'staff:billing:record_payment' %}">
      {{ payment_form.bill_id }}
      {{ payment_form.username }}
      {% csrf_token %}
      <tr class='payment-tr'>
        <td>{{ payment_form.payment_date }}</td>
        <td>{{ payment_form.note }}</td>
        <td class='payment-amount'>{{ payment_form.amount }}</td>
        <td>
          <input type="submit" class='btn' value="Record Payment"/>
        </td>
      </tr>
    </form>
  {% endif %}
</table>

{% endblock %}

{% block extrajs %}
<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();

    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
    });
  })
</script>
{% endblock %}
