{% load integrated_systems %}

<h5>{{ name }}</h5>
<table class='charges-table responsive-table'>
    <tr class='item-table'>
        <th>Member</th>
        <th id='desc-th'>Description</th>
        <th>Type</th>
        <th id='status-th'>Status</th>
        <th id='charge-th'>Charge</th>
        <th>Bill</th>
        {% if integrations.xero %}
          <th id='invoice-th'>Invoice</th>
        {% endif %}
        <th id='links-th'>Links</th>
        <th id='action-th'>Action</th>
    </tr>

    {% for t in transactions %}
        <!-- transaction_id: {{ t.transaction_id }} -->
        <tr class="{% cycle 'row-odd' 'row-even' %}">
            <td><a href="{% url 'staff:members:detail' t.username %}">{{ t.username }}</a></td>
            <td style="text-align:left;">
              {{ t.description|truncatechars:60 }}
            </td>
            <td>{{ t.card_type }}</td>
            <td {% if t.status == "Authorized" %} class='authorized'{% endif %}>{{ t.status }}</td>
            <td {% if t.outstanding_bills and not t.bill_match %} class='open-bill' {% endif %}>
                {{ t.amount|floatformat:2 }}
            </td>
            <td>
              {% for bill in t.outstanding_bills %}
                {% if not forloop.first %} <br/> {% endif %}
                <a href="{{ bill.get_staff_url }}">{{ bill.id }}</a>
                {% if not t.bill_match %}
                  : ${{ bill.amount }}
                {% endif %}
              {% endfor %}
            </td>
            {% if integrations.xero %}
              <td>
                  {% for i in t.xero_invoices %}
                      {% if not forloop.first %} <br/> {% endif %}
                      <a href="https://go.xero.com/AccountsReceivable/View.aspx?InvoiceID={{ i.InvoiceID }}" target="_new">{{ i.InvoiceNumber }}</a><br>
                  {% endfor %}
              </td>
            {% endif %}
            <td>
              <a href="{% url 'staff:billing:user_payment' t.username %}"><input type="button" value="U"></a>
              {% if integrations.xero %}
                <a href="{% url 'staff:billing:xero' t.username %}"><input type="button" value="X"></a>
              {% endif %}
            </td>
            <td class='centered'>
                {% ifequal "Authorized" t.status %}
                    <form class='inline-form' action="{% url 'staff:billing:payment_void' %}" method="POST">
                        <input type="hidden" name="transaction_id" value="{{ t.transaction_id }}" />
                        <input type="submit" value="Void"/>
                        {% csrf_token %}
                    </form>
                {% endifequal %}
                {% if t.bill_count == 1 %}
                  {% with t.outstanding_bills.first as bill and date.isoformat as payment_date and t.amount as amount %}
                    {% include "staff/billing/action_bill_paid.html" %}
                  {% endwith %}
                {% endif %}
            </td>
        </tr>

        {% if forloop.last %}
          <tr>
              <td><strong>{{ transactions|length }} Transactions</strong></td>
              <td colspan="2"></td>
              <td><strong>Total</strong></td>
              <td>${{total|floatformat:2}}</td>
              <td colspan="4"></td>
          </tr>
        {% endif %}
    {% endfor %}
</table>
