{% extends "staff/billing/base.html" %}
<!-- TODO finish the CSS styling review of this page -->
{% block style %}
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}Daily Charges{% endblock %}

{% block content %}
<div class='day-header'>
	<h5>
		Daily Charges <span id='dis-date'>- {{ date|date:"l, M dS" }}</span></h5>
		<span id='activity-dates'>
			<a href="{% url 'staff:billing:charges' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
			<!-- <a href="{% url 'staff:billing:charges_today' %}">&bull;</a> -->
			<input type='date' name='date' class='datepicker' value="{{ date|date:'Y-m-d' }}"/>
			<a href="{% url 'staff:billing:charges' next_date.year next_date.month next_date.day %}">&rarr;</a>
		</span>
</div>


{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<p>
    <div style="float:right;">
        <a href="https://go.xero.com/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS%2fAUTHORISED" target="new">Xero Invoices</a> |
        <a href="https://secure.usaepay.com/console/batch" target="new">USAePay</a>
        {% if open_batch %}
          | <a href="?close_batch" onClick="return confirm('Are you sure?');">Close Batch</a>
        {% endif %}
    </div>
    Total {{totals.total_count}} Transactions: ${{totals.total|floatformat:2}}
</p>

{% if credit_cards %}
	{% with "Credit Cards" as name and credit_cards as transactions and totals.cc_total as total %}
		{% include "staff/billing/charges_table_frag.html" %}
	{% endwith %}
{% endif %}

{% if ach %}
	{% with "ACH" as name and ach as transactions and totals.ach_total as total %}
		{% include "staff/billing/charges_table_frag.html" %}
	{% endwith %}
{% endif %}

{% if settled_checks %}
	{% with "Cleared ACH" as name and settled_checks as transactions and totals.settled_checks as total %}
		{% include "staff/billing/charges_table_frag.html" %}
	{% endwith %}
{% endif %}

{% if other_transactions %}
<h5>Other Transactions</h5>
<table class='other-table responsive-table item-table'>
	<tr>
		<th>Member</th>
		<th>Description</th>
		<th>Card</th>
		<th>Type</th>
		<th>Status</th>
		<th>Note</th>
		<th>Amount</th>
		<th>Links</th>
	</tr>

	{% for t in other_transactions %}
	  <!-- transaction_id: {{ t.transaction_id }} -->
		<tr class="{% cycle 'row-odd' 'row-even' %}">
			<td><a href="{% url 'staff:members:detail' t.username %}">{{ t.username }}</a></td>
			<td>{{ t.description|truncatechars:60 }}</td>
			<td>{{ t.card_type }}</td>
			<td>{{ t.transaction_type }}</td>
			<td>
				{% if t.status == "Authorized" %}
					<font color="green">Authorized</font>
				{% elif t.status == "Declined" or t.status == "Error" or t.status == "Voided"%}
					<font color="red">{{ t.status}}</font>
				{% else %}
					{{ t.status}}
				{% endif %}
			</td>
			<td>{{ t.note }}</td>
			<td>${{ t.amount|floatformat:2 }}</td>
			<td style="text-align:center;">
				<a href="{% url 'staff:billing:user_payment' t.username %}"><input type="button" value="U"></a>
				<a href="{% url 'staff:billing:xero' t.username %}"><input type="button" value="X"></a>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% endblock %}

{% block extrajs %}
<script>
	function changeDate(input) {
		var date = input.split('-');
		var url = "{% url 'staff:billing:charges' 2016 12 14 %}".replace(/14/, date[2]).replace(/12/, date[1]).replace(/2016/, date[0]);

		window.location.href = url;
	}

	$(document).ready(function(){
		$('.button-collapse').sideNav();
		$('.collapsible').collapsible();

		$('.datepicker').datepicker({
			dateFormat: 'yy-mm-dd',
			onSelect: function(ui, e) {
				changeDate(ui)
			}
		});

		if($('#content').width() < 700) {
			$('.datepicker').focusout(function(e) {
				e.preventDefault();
				var input = $('.datepicker').val();
				changeDate(input);
			})
		}
	})
</script>
{% endblock %}
