{% extends "staff/billing/base.html" %}

{% block sub-title %}Daily Billing{% endblock %}

{% block content %}

<div class='day-header'>
  <h5>Billing For <span id='dis-date'>- {{ date|date:"l, M dS" }}</span></h5>
  <span id='activity-dates'>
  <a href="{% url 'staff:billing:daily_billing' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
  <input type='date' name='date' class='datepicker' value="{{ date|date:'Y-m-d' }}"/>
  <a href="{% url 'staff:billing:daily_billing' next_date.year next_date.month next_date.day %}">&rarr;</a>
  </span>
</div>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<table class='billing-today-tb'>
  {% for row in memberships %}
    {% if forloop.first %}
      <tr>
        <th>Who</th>
        <th class='rate'>Package</th>
        <th class='rate'>Monthly Rate</th>
        <th>Bills</th>
        <th>Paid</th>
        <th></th>
      </tr>
    {% endif %}
    <tr class="{% cycle 'row-even' 'row-odd' %}">
      <td><a href="{{ row.membership.who_url }}">{{ row.membership.who }}</a></td>
      <td>
        {% if date > row.membership.last_change.date %}
          {{ row.membership.package }}
        {% else %}
          {{ row.matching_package|default:'' }}
        {% endif %}
      </td>
      <td class='rate'>${{ row.monthly_rate }}</td>
      <td>
        {% for bill in row.bills %}
          <a href="{{ bill.get_staff_url }}">${{ bill.amount }}</a>
          {% if not forloop.last %}, {% endif %}
        {% empty %}
          -
        {% endfor %}
      </td>
      <td>
        {% if row.payment_totals > 0 %}
          ${{ row.payment_totals }}
        {% else %}
          -
        {% endif %}
      </td>
      <td>
        <form method="POST" action=".">
          <input type="hidden" name="action" value="generate">
          {% if not row.bills %}
            <input type="submit" value="Generate Bill" />
          {% elif row.payment_totals == 0 %}
            <input type="submit" value="Regenerate Bill" />
          {% endif %}
        </form>
      </td>
    </tr>
  {% empty %}
    <tr><th>No billing today</th></tr>
  {% endfor %}
</table>

{% endblock %}

{% block extrajs %}
<script>
  function changeDate(input) {
    var date = input.split('-');
    var url = "{% url 'staff:billing:daily_billing' 2016 12 14 %}".replace(/14/, date[2]).replace(/12/, date[1]).replace(/2016/, date[0]);
    window.location.href = url;
  }

  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();

    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      onSelect: function(ui, e) {
        changeDate(ui)
      }
    });

    if($('#content').width() < 700) {
      $('.datepicker').focusout(function(e) {
        e.preventDefault();
        var input = $('.datepicker').val();
        changeDate(input);
      })
    }
  })
</script>
{% endblock %}
