{% extends "staff/billing/base.html" %}

{% block sub-title %}Bills{% endblock %}

{% block content %}

<h4>Outstanding Bills ({{ outstanding|length }})</h4>
{% if outstanding %}
  {% with outstanding as bills %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% else %}
  <p>There are no outstanding bills!</p>
{% endif %}

{% if open_bills %}
  <br/>
  <h4>Open Bills ({{ open_bills|length }})</h4>
  {% with open_bills as bills %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if in_progress %}
  <br/>
  <h4>In Progress ({{ in_progress|length }})</h4>
  {% with in_progress as bills and True as in_progress %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

<br/>

<h4>Invalid Billing Profiles ({{ invalid_members.count }})</h4>
<table>
  {% for u in invalid_members %}
    <tr class="{% cycle 'row-odd' 'row-even' %}">
      <td nowrap class='left'><a href="{% url 'staff:members:detail' u.username %}">{{ u.get_full_name }}</a></td>
      <td></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
