{% extends "staff/billing/base.html" %}
{% load billing_tags %}

{% block sub-title %}Bills{% endblock %}

{% block style %}
    .help_text {
        background:white;
        padding: 2em;
        display: none;
    }
{% endblock %}

{% block content %}

<h4>Outstanding Bills ({{ bill_count }})</h4>
<p style="padding: 1% 2% 2% 2%; font-size: 1.2em;">
A bill is outstanding if there is an amount owed on the bill.
</p>

{% if bill_count == 0 %}
  <p>There are no bills!</p>
{% endif %}

{% if subscriptions_due %}
  <h6>Subscriptions Due (<a onclick="$('#open_help').toggle();">?</a>)</h6>
  <table>
    <tr id="open_help" class="help_text">
      <td style='font-size: 1.2em;'>
        Subscriptions are due at the beginning of a bill period. Bills will appear in this list if they are<br/>
        open, outstanding, and the amount paid is less than the total montly rate for all subscriptions.
      </td>
    </tr>
  </table>
  {% with subscriptions_due as bills and subscriptions_due_total as total  %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if closed_bills %}
<h6>Overages Due (<a onclick="$('#closed_help').toggle();">?</a>)</h6>
  <table>
    <tr id="closed_help" class="help_text">
      <td style='font-size: 1.2em;'>
        If a bill is closed and outstanding it means the bill period has passed and there is an outstanding balance due.<br/>
        This generally indicates someone went over their subscription allowances and needs to be charged overages.
      </td>
    </tr>
  </table>
  {% with closed_bills as bills and closed_bills_total as total %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if dropins %}
  <h6>Drop-ins</h6>
  {% with dropins as bills and dropin_total as total  %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if other_bills %}
  <h6>Other Open Bills</h6>
  {% with other_bills as bills and other_bills_totals as total  %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if in_progress %}
  <h6>In Progress</h6>
  {% with in_progress as bills and True as in_progress and in_progress_total as total  %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}


<br/>

<div>
  * Color Code:
  <span style="color:{% valid_billing_color %};">Valid Billing Profile</span>,
  <span style="color:{% invalid_billing_color %};">No Billing Profile</span>,
  <span style="color:{% has_profile_color %};">Invalid Billing Profile</span>
</div>

{% endblock %}
