{% extends "staff/billing/base.html" %}
{% load billing_tags %}

{% block sub-title %}Bills{% endblock %}

{% block style %}
    .help_text {
        background:white;
        padding: 2em;
        display: none;
    }
{% endblock %}

{% block content %}

<h4>Outstanding Bills ({{ bill_count }})</h4>
<p style="padding: 1% 2% 2% 2%; font-size: 1.2em;">
A bill is outstanding if there is an amount owed on the bill.  Subscriptions are due at the start of the bill period,
and overages are due at the end of the bill period.
</p>

{% if closed_bills %}
<h6>Closed (<a onclick="$('#closed_help').toggle();">?</a>)</h6>
  <table>
    <tr id="closed_help" class="help_text">
      <td style='font-size: 1.2em;'>
        If a bill is closed and outstanding it means the bill period has passed and there is an outstanding balance due.<br/>
        This generally indicates someone went over their subscription allowances and needs to be charged overages.
      </td>
    </tr>
  </table>
  {% with closed_bills as bills and closed_bills_total.amount as total %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if open_bills %}
  <h6>Open (<a onclick="$('#open_help').toggle();">?</a>)</h6>
  <table>
    <tr id="open_help" class="help_text">
      <td style='font-size: 1.2em;'>
        If a bill is open and outstanding it most likely indicates the start of a new bill period when subscriptions are due.<br/>
        This also includes non-member activity where a bill remains open until it is paid.
      </td>
    </tr>
  </table>
  {% with open_bills as bills and open_bills_total.amount as total  %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

{% if not outstanding and not open_bills %}
  <p>There are no bills!</p>
{% endif %}

{% if in_progress %}
  <h6>In Progress ({{ in_progress|length }})</h6>
  {% with in_progress as bills and True as in_progress and in_progress_total.amount as total  %}
    {% include "staff/billing/outstanding_table.html" %}
  {% endwith %}
{% endif %}

<br/>

<div>
  * Color Code:
  <span style="color:{% valid_billing_color %};">Valid Billing Profile</span>,
  <span style="color:{% invalid_billing_color %};">No Billing Profile</span>,
  <span style="color:{% has_profile_color %};">Invalid Billing Profile</span>
</div>

{% endblock %}
