{% extends "staff/billing/base.html" %}

{% block sub-title %}Ready For Billing{% endblock %}

{% block content %}

<div class='day-header'>
  <h5>
  Ready for Billing <span id='dis-date'>- {{ date|date:"l, M dS" }}</span></h5>
  <span id='activity-dates'>
  <a href="{% url 'staff:billing:ready' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
  <input type='date' name='date' class='datepicker' value="{{ date|date:'Y-m-d' }}"/>
  <a href="{% url 'staff:billing:ready' next_date.year next_date.month next_date.day %}">&rarr;</a>
  </span>
</div>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<table>
  {% for row in memberships %}
    {% if forloop.first %}
      <tr>
        <th>Who</th>
        <th>Package</th>
        <th>Monthly Rate</th>
        <th>Bill Amount</th>
      </tr>
    {% endif %}
    <tr class="{% cycle 'row-even' 'row-odd' %}">
      <td>{{ row.membership.who }}</td>
      <td>{{ row.matching_package }}</td>
      <td>${{ row.monthly_rate }}</td>
      <td>
        {% if row.bill_count > 0 %}
          ${{ row.bill_amount }}
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <tr><th>No memberships are ready for billing</th></tr>
  {% endfor %}
</table>

{% endblock %}

{% block extrajs %}
<script>
  function changeDate(input) {
    var date = input.split('-');
    var url = "{% url 'staff:billing:ready' 2016 12 14 %}".replace(/14/, date[2]).replace(/12/, date[1]).replace(/2016/, date[0]);
    window.location.href = url;
  }

  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();

    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      onSelect: function(ui, e) {
        changeDate(ui)
      }
    });

    if($('#content').width() < 700) {
      $('.datepicker').focusout(function(e) {
        e.preventDefault();
        var input = $('.datepicker').val();
        changeDate(input);
      })
    }
  })
</script>
{% endblock %}
