{% extends "staff/billing/base.html" %}
{% load list_tags %}

{% block sub-title %}Run Billing{% endblock %}

{% block content %}

<h4>Run Billing:</h4>

<form action="." method="post">
	{{ run_billing_form }}
	<input style='margin-top:2%;' type="submit" value="Run Billing " />
	{% csrf_token %}
</form>

<h5>Billing Logs:</h5>
<table id="billing-logs-table">
   <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Note</th>
   </tr>
{% for billing_log in billing_logs %}
   <tr class="{% if billing_log.successful %}bl-success{% else %}bl-failure{% endif %}">
      <td class="bl-date">{{ billing_log.started }}</td>
      <td class="bl-date">{% if billing_log.ended %}{{ billing_log.ended }}{% endif %}</td>
      <td>
         {% if billing_log.note %}{{ billing_log.note }}{% endif %}
      </td>
   </tr>
{% endfor %}
</table>
</ul>
{% if not billing_logs %}
   <p>There are no billing logs!<br />Weird.</p>
{% endif %}

{% endblock %}

{% block extrajs %}
<script>
	$(document).ready(function() {
		$('.button-collapse').sideNav();
		$('.collapsible').collapsible();
		$('div .error').hide();

		{% for message in messages %}
      {% if message.tags == 'error' %}
        Materialize.toast('{{ message }}', 60000, 'error-msg msg');
      {% else %}
        Materialize.toast('{{ message }}', 3000, '{{ message.tags }}-msg msg');
      {% endif %}
    {% endfor %}

    $(document).on('click', '#toast-container .toast', function() {
      $(this).fadeOut(function(){
        $(this).remove();
      });
    });
	})
</script>
{% endblock %}
