{% extends "staff/base.html" %}

{% block sub-title %}Transaction | {% endblock %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}

<h4><a href="{% url 'staff:user:transactions' transaction.user.username %}">{{ transaction.user.get_full_name }}</a>'s Transaction:</h4>

<dl id="transaction-metadata">
		<dt>Created:</dt><dd>{{ transaction.transaction_date }}</dd>
		<dt>Amount:</dt><td>${{ transaction.amount }}</td>
	{% if transaction.note %}
  <th>Note:</th><td>{{ transaction.note }}</td>
	{% endif %}
</table>

<h4>Bills covered by this transaction:</h4>
<ul>
{% for bill in transaction.bills.all %}
<li><a href="{% url 'staff:billing:bill' bill.id %}">Bill on {{ bill.bill_date }}</a> for ${{ bill.amount }}</li>
{% endfor %}
</ul>

[<a href="{{ transaction.get_admin_url }}">edit this transaction</a>]

{% endblock %}

{% block navcss %}
  <style>
    #billing-tab {
      background-color: RGBA(90, 122, 189, 1.00) !important;
    }
  </style>
{% endblock %}
