{% extends "staff/billing/base.html" %}
{% load static %}

<!-- TODO finish review of this page for CSS redesign -->
{% block style %}
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}USAePay | {{ user }}{% endblock %}

{% block content %}

<h4>USAePay - <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h4>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<form id="customer_form">
<table>
  <tr>
    <th></th>
    <th>Created</th>
    <th nowrap>Customer #</th>
    <th>Company</th>
    <th style="width:80%;">Description</th>
    <th>Last4</th>
    <th nowrap>Next Bill</th>
    <th>Amount</th>
    <th>Auto</th>
  </tr>

  {% for cust in history.keys %}
    <tr class="{% cycle 'row-even' 'row-odd' %}">
      <td style="width:2px;"><input class="customer" name="customer" type="radio" onChange="selectCustomer('{{ cust.CustNum }}', this); return false;"/></td>
      <td>{{ cust.Created | slice:":10"}}</td>
      <td><a href="https://secure.usaepay.com/console/billing_edit?id={{ cust.CustNum }}" target="new">{{ cust.CustNum }}</a></td>
      <td>{{ cust.BillingAddress.Company }}</td>
      <td>{{ cust.Description }}</td>
      <td>
        {% with cust.PaymentMethods|first|first as method %}
          {{ method.CardNumber|slice:"12:" }}
        {% endwith %}
      </td>

      {% if cust.Enabled %}
          <td>{{ cust.Next | slice:":10"}}</td>
          <td>${{ cust.Amount|floatformat:2 }}</td>
          <td class='centered'>
              <img src="{% static 'green_check.png' %}" height="16px" />
          </td>
      {% else %}
          <td colspan="4"></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
</form>

<div style="padding: 12px;">
  <h5 style="display:inline; margin-right: 3%;">Actions:</h5>

  <input type="button" value="Create New Profile" onclick="addBillingProfile(); return false;">

  <form id="disable_auto_button"  method="POST" action="." style="display:inline;">
    <input type="submit" name="disable_all" value="Disable Automatic Billing">
    {% csrf_token %}
  </form>

  <input type="button" id="edit_profile_button" value="Edit Automatic Billing" onclick="editProfile()">

  <!-- <form id="delete_profile_form" method="POST" action="." style="display:inline;" onSubmit="return confirm('Are you sure?');">
      <input type="hidden" name="action" value="delete_profile">
      <input type="hidden" name="customer_id" value="">
      <input type="submit" name="delete_profile" value="Delete Profile">
      {% csrf_token %}
  </form> -->

  <input type="button" id="manual_charge_button" value="Manually Charge" onclick="manualCharge();">

  <form id="verify_profile_button" method="POST" action="." style="display:inline;" onSubmit="return confirm('Run an AUTH?');">
    <input type="hidden" name="customer_id" value="">
    <input type="hidden" name="action" value="verify_profile">
    <input type="submit" value="Run Authorization">
    {% csrf_token %}
  </form>

   <input id="clear_button" type="button" value="Clear Selection" onclick="clearCustomerSelect(); return false;">
</div>

{% for customer, transactions in history.items %}
    <div id="billing_detail_{{ customer.CustNum }}">
      <h5>Billing Detail ({{ customer.CustNum }})</h5>
      <div style="padding: 12px;">
        <form action="." method="POST">
          <input type="hidden" name="customer_id" value="">
          <input type="hidden" name="action" value="edit_billing_details">
          <table>
            <tr>
              <th>Billing Address</th>
              <th>Zipcode</th>
              <th>Email for Receipts</th>
              <th></th>
            </tr>
            <tr>
              <td>
                <input name="address" size="60" value="{{ customer.BillingAddress.Street }}"/>
              </td>
              <td>
                <input name="zipcode" size="10" value="{{ customer.BillingAddress.Zip }}"/>
              </td>
              <td>
                <input name="email" size="60" value="{{ customer.BillingAddress.Email }}"/>
              </td>
              <td>
                <input style='margin-top: 50%;' type="submit" value="Save">
              </td>
            </tr>
          </table>
          {% csrf_token %}
        </form>
      </div>

      <h5>Billing History</h5>
      <table>
      <tr>
        <th>Date</th>
        <th>Description</th>

        <th>Status</th>
        <th>Type</th>
        <th style="text-align:right;">Amount</th>
        <th>Action</th>
      </tr>
      {% for t in transactions|dictsortreversed:"date_time"|slice:":100" %}
        <tr>
          <td>{{ t.date_time|date:'Y-m-d' }}</td>
          <td>{{ t.description }}</td>
          <td>{{ t.status }}</td>
          <td>{{ t.card_type }}</td>
          <td style="text-align:right;">${{ t.amount|floatformat:2 }}</td>
          <td style="text-align:center;"><form method="POST" action=".">
            <input type="hidden" name="transaction_id" value="{{ t.transaction_id }}"/>
            <input type="hidden" name="action" value="email_receipt">
            <input type="submit" value="Email Receipt"/>
            {% csrf_token %}
          </form>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <div id="manual_charge_{{ customer.CustNum }}">
      <h5>Manually Run Charges</h5>
      <form action="." method="POST">
        <input type="hidden" name="customer_id" value="">
        <input type="hidden" name="action" value="manual_charge">
        <table>
          <tr>
            <th>Invoice</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Amount</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input name="invoice" size="10"/>
            </td>
            <td>
              <input name="description" size="60" value="{{ customer.Description }}"/>
            </td>
            <td>
              <input name="comment" size="30" value="Thank you!"/>
            </td>
            <td>
              <input name="amount" size="5" />
            </td>
            <td>
              <input type="submit" value="Run Charges">
            </td>
          </tr>
        </table>
        {% csrf_token %}
      </form>
    </div>

    <div id="edit_recurring_{{ customer.CustNum }}">
      <h5>Edit Automatic Billing</h5>
      <form action="." method="POST">
        <input type="hidden" name="customer_id" value="">
        <input type="hidden" name="action" value="edit_recurring">
        <table>
          <tr>
            <th style="width:12px;">Enabled</th>
            <th style="">Next Date</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Amount</th>
            <th></th>
          </tr>
          <tr>
            <td style="text-align:center; padding-top: 2%;">
              <input class='enable-cb' name="enabled" type="checkbox" {% if customer.Enabled %} CHECKED {% endif %} />
            </td>
            <td>
              <input id="next_date_{{ customer.CustNum }}" name="next_date" size="10"/>
            </td>
            <td>
              <input name="description" size="60" value="{{ customer.Description }}"/>
            </td>
            <td>
              <input name="comment" size="30" value="{{ customer.ReceiptNote }}"/>
            </td>
            <td>
              <input name="amount" size="5" />
            </td>
            <td style='padding-top: 2%;'>
              <input type="submit" value="Save Changes">
            </td>
          </tr>
        </table>
        {% csrf_token %}
      </form>
    </div>

    <script>
      $(function() {
        $('#next_date_{{ customer.CustNum }}').datepicker({ dateFormat: "yy-mm-dd" });
      });
    </script>
{% endfor %}

<div id="add_profile_div">
  <h5>Create New Billing Profile</h5>

  <form name="ccform" action="{{ settings.USA_EPAY_GATE }}" method="POST"
  onSubmit="return validateForm()">

    <input type="hidden" name="UMkey" value="{{ settings.USA_EPAY_FORM_KEY }}">
    <input type="hidden" name="UMredir" value="http://{{ site.domain }}{% url 'staff:billing:user_payment' user.username %}">
    <input type="hidden" name="UMdescription" value="Office Nomads Billing Authorization">
    <input type="hidden" name="UMcustid" value="{{ user.username }}">
    <input type="hidden" name="UMcommand" value="AuthOnly">
    <input type="hidden" name="UMamount" value="1.00">
    <input type="hidden" name="UMinvoice" value="1617">
    <input type="hidden" name="UMaddcustomer" value="yes">
    <input type="hidden" name="UMschedule" value="disabled">
    <input type="hidden" name="UMsoftware" value="nadine">
    <input type="hidden" name="UMcustreceipt" value="yes">
    <input type="hidden" name="UMcardpresent" value="true">
    <input type="hidden" name="UMbillphone" value="{{ user.profile.phone }}">
    <input type="hidden" name="UMname" value="{{ user.get_full_name }}">
    <input type="hidden" name="UMemail" value="{{ user.email }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <input type="hidden" name="auth" value="{{ user.profile.usaepay_auth }}">
    <!--<input type="hidden" name="UMtestmode" value="true">-->

    <table class='useapay_create' border=1 width="80%">
      <tr>
        <td class='input-title'><strong>First Name:</strong></td>
        <td><input type="text" name="UMbillfname" size="40" value="{{ user.first_name }}"></td>
      </tr>
      <tr>
        <td class='input-title'><strong>Last Name:</strong></td>
        <td><input type="text" name="UMbilllname" size="40" value="{{ user.last_name }}"></td>
      </tr>
      <tr>
        <td class='input-title'><strong>Company:</strong></td>
        <td><input type="text" name="UMbillcompany" size="40" value=""></td>
      </tr>
      <tr>
        <td class='input-title'><strong>Address:</strong> (<i>blank for international</a>)</td>
        <td><input type="text" name="UMstreet" size="40" value="{{ user.profile.address1 }}"></td>
      </tr>
      <tr>
        <td class='input-title'><strong>Zip:</strong></td>
        <td><input type="text" name="UMzip" size="9" maxlength="5" value="{{ user.profile.zipcode }}"></td>
      </tr>

      <tr>
        <td class='input-title'><strong>Card Number:</strong></td>
        <td><input type="text" name="UMcard" size="40"></td>
      </tr>
    </table>
    <table id='useapay2_create'>
      <tr>
        <td class='input-title'><strong>Expiration:</strong> (<i>MM/YY</i>)</td>
        <td id='exp_td'>
          <input id='exp_input' type="text" name="UMexpirM" size="2" maxlength="2">/
          <input id='exp_input' type="text" name="UMexpirY" size="2" maxlength="2">
          <input type="hidden" name="UMexpir" value="">
        </td>
        <td class='cvv-title'><strong>CVV:</strong></td>
        <td class='input-td'><input class='cvv' type="text" name="UMcvv" size="4"></td>
      </tr>
    </table>
    <table class='useapay3_create'>
      <tr>
        <td class='input-title'><strong>ACH</strong> - Routing Number:</td>
        <td><input type="text" name="UMrouting" size="30"></td>
      </tr>
      <tr>
        <td class='input-title'><strong>ACH</strong> - Account Number:</td>
        <td><input type="text" name="UMaccount" size="30"></td>
      </tr>
    </table>
    <div style="text-align: center;">
      <input class='btn' type="submit" value="Create New Billing Profile">
    </div>
  </form>
</div>

{% endblock %}

{%block sub-head %}
<link rel="stylesheet" href="{% static 'staff/c3/c3.min.css' %}" />
<script src="{% static 'staff/c3/date.min.js' %}"></script>
<script src="{% static 'staff/c3/d3.min.js' %}" charset="utf-8"></script>
<script src="{% static 'staff/c3/c3.min.js' %}"></script>

<script>
    function hideAll(){
        $("#add_profile_div").hide();
        hide_buttons();
        hide_detail();
    }
    $(document).ready(function() { hideAll(); });

    function hide_buttons() {
        $("#disable_auto_button").show();
        $("#delete_profile_form").hide();
        $("#manual_charge_button").hide();
        $("#edit_profile_button").hide();
        $("#verify_profile_button").hide();
        $("#clear_button").hide();
    }

    function show_buttons() {
        $("#disable_auto_button").hide();
        $("#edit_profile_button").show();
        $("#delete_profile_form").show();
        $("#manual_charge_button").show();
        $("#verify_profile_button").show();
        $("#clear_button").show();
    }

    function hide_detail() {
        {% for customer in history.keys %}
            $("#billing_detail_{{ customer.CustNum }}").hide();
            $("#manual_charge_{{ customer.CustNum }}").hide();
            $("#edit_recurring_{{ customer.CustNum }}").hide();
        {% endfor %}
    }

    function selectCustomer(custID) {
        $("#add_profile_div").hide();
        hide_detail();
        show_buttons();

        div_selector = '#billing_detail_' + custID
        $(div_selector).show();

        // Set all the customer_id values to this ID
        $('[name="customer_id"]').val(custID)

    }

    function clearCustomerSelect() {
        $('.customer').each(function(i, obj) {
            obj.checked = false;
        });
        hideAll();
    }

    function addBillingProfile(){
        clearCustomerSelect();
        $("#add_profile_div").show();
    }

    function manualCharge() {
        hide_detail();
        custID = $('[name="customer_id"]').first().val();
        div_selector = '#manual_charge_' + custID
        $(div_selector).show();
    }

    function editProfile() {
        hide_detail();
        custID = $('[name="customer_id"]').first().val();
        div_selector = '#edit_recurring_' + custID
        $(div_selector).show();
    }

    function validateForm() {
        var CCN = trimBetweenSpaces(trimBegEndSpaces(stripOffNonDigit(document.ccform.UMcard.value)));
        var expireDate = trimBetweenSpaces(trimBegEndSpaces(stripOffNonDigit(document.ccform.UMexpirM.value + document.ccform.UMexpirY.value)));
        var bankRouting = trimBetweenSpaces(trimBegEndSpaces(document.ccform.UMrouting.value));
        var bankAccount = trimBetweenSpaces(trimBegEndSpaces(document.ccform.UMaccount.value));
        var name = document.ccform.UMname.value;
        var street = document.ccform.UMstreet.value;
        var zip = trimBetweenSpaces(trimBegEndSpaces(stripOffNonDigit(document.ccform.UMzip.value)));

        if (CCN.length == 0 || expireDate.Length == 0) {
            if (bankRouting.length == 0 ||
                bankAccount.length == 0 ||
                SSN.length == 0 ||
                dlNum.length == 0 ||
                dlState.length == 0) {
                alert("Error: missing values.\nYou have not included any Credit Card or Check information.");
                document.ccform.UMcard.focus == true;
                return false;
            }
        } else {
            if (expireDate.length !=     4) {
                alert("Error: Incorrect expire date.\nThere should be 4 digits in the expire date idicating mm/yy.");
                document.ccform.UMexpirM.focus == true;
                return false;
            }
            document.ccform.UMexpir.value = expireDate;
        }

        if (name.length == 0 || !isAlphaSymbols(name, ".,' ")) {
            alert("Please fill out the name field.\nThe name field can only have Alpha Characters!");
            document.ccform.UMname.focus == true;
            return false;
        }

        /*
        if (street.length == 0) {
            alert("Please fill out the street field.");
            document.ccform.UMstreet.focus == true;
            return false;
        }

        if (zip.length == 0 || zip.length < 5) {
            alert("Please fill out the zip field which should be 5 digits.");
            document.ccform.UMzip.focus == true;
            return false;
        }
        */

        return true;
    }

    // Return true if a string is combination of alpha and given symbols.
    function isAlphaSymbols(objValue, symbols) {
        var ch

        for (var i = 0; i < objValue.length; i++) {
            ch = objValue.charAt(i)
            if (isAlphaChar(ch) == false) {
                if (symbols.indexOf(ch) < 0)
                    return false
            }
        }
        return true
    }

    // Return true of a character is an alphabet.
    function isAlphaChar(ch) {
        return ((ch >= "A" && ch <= "Z") || (ch >= "a" && ch <= "z"))
    }

    // Stiff off any non digit char
    function stripOffNonDigit(objValue) {
        var ch
        var tempStr = new String()

        for (var i = 0; i < objValue.length; i++) {
            if (isDigitChar(objValue.charAt(i)) == true)
                tempStr = tempStr + objValue.charAt(i)
        }

        return tempStr
    }

    // Return true if a character is a digit.
    function isDigitChar(ch) {
        return (ch >= "0" && ch <= "9")
    }

    // Removes leading and trailing blanks from a value
    function trimBegEndSpaces(object_value) {
        var leading_blanks = 0
        var string_end = (object_value.length) - 1
        if (string_end < 0) string_end = 0

        // find first nonblank: start with first character and scan forwards
        while (leading_blanks <= string_end && object_value.charAt(leading_blanks) == " ") {
            leading_blanks++
        }

        // find last nonblank: start with last character and scan backwards
        while (string_end > leading_blanks && object_value.charAt(string_end) == " ") {
            string_end--
        }

        return object_value = object_value.substring(leading_blanks, string_end + 1)
    }

    // Remove any additional spaces
    function trimBetweenSpaces(objValue) {
        var blankExists = false
        var newValue = new String()
        var ch

        for (var i = 0; i < objValue.length; i++) {
            ch = objValue.charAt(i)
            if (ch == " ") {
                if (blankExists == false) {
                    blankExists = true
                    newValue = newValue + ch
                }
            } else {
                newValue = newValue + ch
                blankExists = false
            }
        }
        if (newValue == null)
            return objValue
        else
            return newValue
    }
</script>
{% endblock %}
