{% extends "staff/billing/base.html" %}

{% block sub-title %}Bills for {{ user.get_full_name }}{% endblock %}

{% block style %}
.bill-fees { margin-bottom: 40px; }
{% endblock %}

{% block content %}
<h4>Bills for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h4>
{% if bills %}
  <table style='margin: 2%; width: 96%;' class='responsive-table'>
    <tr>
      <th class='sub-th'>ID</th>
      <th class='sub-th'>Created</th>
      <th class='sub-th'>Due</th>
      <th class='sub-th'>Period Start</th>
      <th class='sub-th'>Period End</th>
      <th class='sub-th'>Closed</th>
      <th class='sub-th'>Lines</th>
      <th class="sub-th amount">Amount</th>
      <th class="sub-th amount">Paid</th>
    </tr>

    {% for bill in bills %}
      <tr class="{% cycle 'row-odd' 'row-even' %}">
        <td><a href="{% url 'staff:billing:bill' bill.id %}">{{ bill.id }}</a></td>
        <td>{{ bill.created_ts|date:"m/d/y" }}</a></td>
        <td>{{ bill.due_date|date:"m/d/y" }}</a></td>
        <td>{{ bill.period_start }}</td>
        <td>{{ bill.period_end }}</td>
        <td>{{ bill.closed_ts|default:'Open' }}</td>
        <td>{{ bill.line_items.all | length }}</td>
        <td class="amount">${{ bill.amount }}</td>
        <td class="amount">
          {% if bill.is_paid %}
            ${{ bill.total_paid }}
          {% else %}
            <span style='color:red;'>${{ bill.total_paid }}</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <h5 style='text-align: center; margin-top: 5%;'>There are no bills for this user</h5>
{% endif %}

{% endblock %}
