{% extends 'member/base.html' %}
{% load settings_value %}
{% load static %}

{% block style %}
@media only screen and (min-width: 844px) {
	a.button-collapse {
		display: none !important;
	}
}
{% endblock %}

{% block topdiv %}{% endblock %}

{% block top_nav %}
	<div id='jumbotron'>
		<img id='jumbo-img' src="{% static 'img/jumbo.png' %}"/>
		<div id='logo'>
			<a href="#"><img class='logo-img' src='{% static "img/logo.png" %}'/></a>
		</div>
	</div>
	<nav class='row' id='home-nav'>
		<div class="nav-wrapper" id=''>
			<a href='#' data-activates="mobile" class="button-collapse"><img class='menu-img' src="{% static 'img/hamburger.png' %}"/></a>
			<ul class="right hide-on-small-only">
{% endblock %}

{% block lower_nav %}{% endblock %}

{% block main_body %}
	<div id="content_container">
	<div id="content">
		{% block content %}
		<div class='row'>
			<h3 style="text-align:center;">{{ title }}</h3>
			<p class='col s6 offset-s3' id='welcome-p'>
				And welcome to <a href='https://nadineproject.org/'>Nadine</a>, the software we use to run our space. Nadine is your go-to place for membership information and other helpful tidbits. Take a look at the tabs above, or get started right here:
			</p>
		</div>
		<div class="row">
			<div class="card col s6 m3 l3 offset-s3 offset-m2 offset-l1">
				<div class="card-content white-text">
					<img id='chat_icon' src="{% static 'img/chat_icon.png' %}"/>
					<p>Printing, billing, or general questions about the space?</p>
				</div>
				<div class="card-action">
					<a class='card-a' href="{% url 'member:help' %}">Frequently Asked Questions</a>
				</div>
			</div>
			<div class="card col s6 m3 l2 offset-s3 offset-m1 offset-l1">
				<div class="card-content white-text">
					<img id='group_icon' src="{% static 'img/people_icon.png' %}"/>
					<p>See who is here & learn people's names</p>
				</div>
				<div class="card-action">
					<a class='card-a' href="{% url 'member:members' %}">View All Members</a>
				</div>
			</div>
			<div class="card event-card col offset-s3 offset-m4 offset-l1">
				<div class="card-content white-text">
					<iframe id='home_cal' src="https://calendar.google.com/calendar/embed?
					mode=AGENDA&amp;
					showPrint=0&amp;
					showTitle=0&amp;
					showTabs=0&amp;
					showDate=0&amp;
					showNav=0&amp;
					showCalendars=0&amp;
					showTz=0&amp;
					wkst=1&amp;
					bgcolor=%23FFFFFF&amp;
					src=ji34r7qou7vk2k2kuo40fhije8%40group.calendar.google.com&amp;
					color=%23B1365F&amp;
					ctz=America%2FLos_Angeles" style=" border-width:0 " width="250" height="150" frameborder="0" scrolling="no"></iframe>
				</div>
				<div class="card-action">
					<a class='card-a' href="{% url 'member:event:calendar' %}">See all Events</a>
				</div>
			</div>
		</div>
		<div class='row'>

		</div>

		{% endblock %}
			</div>
		</div>
{% endblock %}

{% block footer-class %}
	<footer class="home-footer" id="footer">
{% endblock %}

{% block extrajs %}
<script>
	$(document).ready(function() {
		$('.button-collapse').sideNav();

		$(window).on('change', function() {
			if ($(window).width() < 601) {
				$('.event-card').addClass('s6');
			} else {
				$('.event-card').removeClass('s6');
			}
		})
	});
</script>
{% endblock %}
