{% extends "staff/activity/base.html" %}

{% block sub-title %}Activity for {{ user }}{% endblock %}

{% block content %}

<h4>Activity for <a href="{% url 'staff:members:detail' user.username %}">{{ user.get_full_name }}</a></h4>
<div style="float:right;">
	<form action="." method="POST">
		<input type="hidden" name="start" value="{{ user.profile.first_visit|date:"Y-m-d" }}" />
		<input type="hidden" name="end" value="{{ user.profile.last_visit|date:"Y-m-d" }}" />
	 	<input style='margin-top: 2%;' type="Submit" value="View All Activity ({{ user.profile.first_visit|date:"Y-m-d" }} to {{ user.profile.last_visit|date:"Y-m-d" }})" />
		{% csrf_token %}
	</form>
	<i>* This can take some time!</i>
</div>

{% url 'staff:activity:user' user.username as date_range_form_action %}
<div class="columns clearfix date-range">
	{% include "staff/date_range_form.html"%}
</div>

{% if messages %}
<div class="messages">
	{% for message in messages %}
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	{% endfor %}
</div>
{% endif %}

{% if not daily_logs and not arp_logs and not door_logs %}
	<div><i>No activity for this time period!</i></div>
{% endif %}

{% if daily_logs %}
<h4>Sign-ins</h4>
<table>
	 <tr>
			<th>Date</th>
			<th>Payment</th>
			<th>Paid by</th>
			<th>Note</th>
			<th></th>
	 </tr>
	{% for log in daily_logs reversed %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td><a href="{% url 'admin:nadine_coworkingday_change' log.id %}">{{ log.visit_date|date:"M d, Y" }}</a></td>
			<td>{{ log.payment }}</td>
			<td>{% if log.paid_by %}<a href="{% url 'staff:members:detail' log.paid_by.username %}">{{ log.paid_by.get_full_name }}</a>{% endif %}</td>
			<td class="log-note">{{ log.note }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% if arp_logs %}
<h4>Network Usage</h4>
<table>
	 <tr>
			<th>From</th>
			<th>To</th>
			<th>Duration</th>
			<th></th>
		</tr>
	{% for log in arp_logs reversed %}
	<tr class="{% cycle 'row-even' 'row-odd' %}">
		<td nowrap>{{ log.start|date:"M d, Y h:i A" }}</td>
		<td>{{ log.end|date:"h:m A" }}</td>
		<td>{{ log.diff }}</td>
		<td></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% if door_logs %}
<h4>Doors</h4>
<table>
	 <tr>
			<th>Date</th>
			<th>Door</th>
			<th>Description</th>
			<th></th>

		</tr>
	{% for log in door_logs reversed %}
	<tr class="{% cycle 'row-even' 'row-odd' %}">
		<td nowrap>{{ log.timestamp|date:"M d, Y h:i A" }}</td>
		<td>{{ log.door }}</td>
		<td>{{ log.event_description }}</td>
		<td></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% endblock %}

{% block extrajs %}
<script>
	$(document).ready(function() {
		$('.button-collapse').sideNav();
		$('.collapsible').collapsible();
		$('#id_start').attr('class', 'datepicker');
		$('#id_end').attr('class', 'datepicker');

		$('.datepicker').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
{% endblock %}
