{% extends "staff/activity/base.html" %}
{% load static %}

{% block sub-title %}Activity on {{ activity_date|date:"M d, Y" }}{% endblock %}

{% block content %}

<div class='day-header'>
	<h5> Daily Activity <span id='dis-date'>- {{ activity_date|date:"l, M dS" }}</span></h5>
	<span id='activity-dates'>
		<a href="{% url 'staff:activity:date' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
		<!-- <a href="{% url 'staff:activity:today' %}">&bull;</a> -->
		<input type='date' name='date' class='datepicker' value="{{ activity_date|date:'Y-m-d' }}"/>
		<a href="{% url 'staff:activity:date' next_date.year next_date.month next_date.day %}">&rarr;</a>
	</span>
</div>
{% if activity_date == today %}
	<span id='waiver'>
		<form class='waiver-form' action='.' method='POST' onSubmit="return confirm('Waive all visits for this date?');">
			<input type='submit' class='chip' value="Waive Today's Visits"/>
			{% csrf_token %}
		</form>
	</span>
{% endif %}
<div id="activity_list">
   <table>
      <tr>
         <th class='sub-th'>Member</th>
         <th class='sub-th'>Payment</th>
         <th class='sub-th'>Bill</th>
         <th class='sub-th'>Paid by</th>
         <th class='sub-th'>Note</th>
         <th class='sub-th'></th>
      </tr>
      {% for day in activity %}
         <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td><a href="{% url 'staff:members:detail' day.user.username %}">{{ day.user.get_full_name }}</a></td>
            <td>{{ day.payment }}</td>
            <td>{% if day.bill %}<a href="{% url 'staff:billing:bill' day.bill.id %}">{{ day.bill.id }}</a>{% endif %}</td>
            <td>{% if day.paid_by %}<a href="{% url 'staff:members:detail' day.paid_by.username %}">{{ day.paid_by.get_full_name }}</a>{% endif %}</td>
            <td>{{ day.note }}</td>
            <td class='centered'>
                <a href="{% url 'staff:activity:user' day.user.username %}">user activity</a> |
                <a href="{% url 'admin:nadine_coworkingday_change' day.id %}">edit data </a>
            </td>
         </tr>
      {% endfor %}
  </table>

  {% if can_waive %}
    <span id='waiver'>
      <form class='waiver-form' action='.' method='POST' onSubmit="return confirm('Waive all visits for this date?');">
        <input type='submit' name="mark_waived" class='chip' value="Waive These Visits"/>
        {% csrf_token %}
      </form>
    </span>
  {% endif %}

  <div class='records-count'>{{ activity | length }} records found</div>
</div>

{% endblock %}

{% block extrajs %}
	<script>
		function changeDate(input) {
			var date = input.split('-');
			var url = "{% url 'staff:activity:date' 2016 12 14 %}".replace(/14/, date[2]).replace(/12/, date[1]).replace(/2016/, date[0]);

			window.location.href = url;
		}

		(function() {
			$('.button-collapse').sideNav();
			$('.collapsible').collapsible();

			$('.datepicker').datepicker({
				dateFormat: 'yy-mm-dd',
				onSelect: function(ui, e) {
					changeDate(ui);
				}
			});

			if($('#content').width() < 700) {
				$('.datepicker').focusout(function(e) {
					e.preventDefault();
					var input = $('.datepicker').val();
					changeDate(input);
				})
			}
		})();
	</script>
{% endblock %}
