{% extends "staff/base.html" %}

{% block sub-title %}Stats{% endblock %}

{% block nav-style%}
nav #stats-tab { background: #FBD850; color: black; }
{% endblock %}

{% block submenu %}
<a href="{% url 'staff:stats:daily' %}">daily logs</a> |
<a href="{% url 'staff:stats:neighborhood' %}">neighborhoods</a> |
<a href="{% url 'staff:stats:monthly' %}">monthly members</a> |
<a href="{% url 'staff:stats:memberships' %}">memberships</a>
<br/>
<a href="{% url 'staff:stats:gender' %}">gender balance</a> |
<a href="{% url 'staff:stats:longevity' %}">longevity</a> |
<a href="{% url 'staff:stats:history' %}">member history</a> |
<a href="{% url 'staff:stats:graph' %}">graphs</a>
{% endblock %}
