{% extends "staff/stats/base.html" %}

{% block sub-title %}Daily Logs{% endblock %}

{% block content %}

<h4>Stats - Daily logs by month</h4>

<!-- Daily Logs By Month -->
<div id="daily-logs-by-month">
  <table border="1" width="100%" style='margin-top: 3%;'>
    <tr>
      <th class='sub-th'>Month</th>
      <th class='sub-th'>Trial</th>
      <th class='sub-th'>Waived</th>
      <th class='sub-th'>Billable</th>
      <th class='sub-th'>Total</th>
    </tr>

    {% for numbers in daily_logs_by_month %}
      <tr class="{% cycle 'row-odd' 'row-even' %}">
        <td align="center">{{ numbers.month }}</td>
        <td align="center">{{ numbers.Trial }}</td>
        <td align="center">{{ numbers.Waive }}</td>
        <td align="center">{{ numbers.Bill }}</td>
        <td align="center">{{ numbers.total }}</td>
      </tr>
    {% endfor %}
  </table>
  {{ daily_logs_by_month.length }}
</div>


</div>
{% endblock %}
