{% extends "staff/stats/base.html" %}

{% block sub-title %}Stats | History{% endblock %}

{% block style %}
.monthly-stats { width: 70%; }
.monthly-stats td { border-bottom: none; }
.monthly-stats th, .monthly-stats td { text-align: left; }
.monthly-stat th {font-weight: normal; width: 100px; }
.year-heading th {  padding: 1.5em 0; font-size: 1.2em; }
.total-bar { padding: 0 1em; background-color: #99F; }
.started-bar { padding: 0 1em; background-color: #9F9; }
.ended-bar { padding: 0 1em; background-color: #F99; }
{% endblock %}

{% block content %}

<h4>Stats - Monthly Member History:</h4>

<div class="columns clearfix date-range">
  <div class="c1">
    {% include "staff/date_range_form.html"%}
  </div>
</div>

<table class="monthly-stats">
  <tr>
    <th></th>
    <th>Plans Started</th>
    <th>Plans Ended</th>
    <th>Plans at Month's End</th>
  </tr>
{% for stat in monthly_stats %}
   {% ifchanged stat.start_date.year %}
      <tr class="year-heading"><th colspan=4>{{ stat.start_date|date:"Y" }}</th></tr>{% endifchanged %}
  <tr class="monthly-stat">
    <th>{{ stat.start_date|date:"M" }}</th>
    <td><div class="started-bar" style="width: {{ stat.started }}px;">{{ stat.started }}</div></td>
    <td><div class="ended-bar" style="width: {{ stat.ended }}px;">{{ stat.ended }}</div></td>
    <td>
       <div class="total-bar" style="width: {{ stat.monthly_total }}px;">{{ stat.monthly_total }}</div>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
