{% extends "staff/ml_base.html" %}

{% block sub-title %}Activity on {{ activity_date|date:"M d, Y" }} | {% endblock %}

{% block style%}
nav #activity-tab { background: #FBD850; color: black; }
#content table { width: 100%; }
.log-note { width: 100px; } 
#date-controls { text-align: center; margin-bottom: 20px; font-size: 1.4em; font-weight: bold; }
#date-controls a { text-decoration: none; }
{% endblock %}

{% block content %}

<div id="date-controls">
   <a href="{% url staff.views.activity_date previous_date.year previous_date.month previous_date.day %}">&laquo;</a>
   <strong>Daily Activity for {{ activity_date|date:"M d, Y" }}</strong>
   <a href="{% url staff.views.activity_date next_date.year next_date.month next_date.day %}">&raquo;</a>
</div>

   <table>
      <!-- Display all the daily logs first -->
      <tr>
         <th>Member</th>
         <th>Payment</th>
         <th>Guest of</th>
         <th>Notes</th> 
      </tr>
      {% for log in daily_logs %}
         <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td><a href="{% url staff.views.member_activity log.member.id %}">{{ log.member }}</a></td>
            <td>{{ log.payment }}</td>
            <td>{% if log.guest_of %}<a href="{% url staff.views.member_detail log.guest_of.id %}">{{ log.guest_of }}</a>{% endif %}</td>
            <td class="log-note">{{ log.note }}</td>
            <td></td>
         </tr>
      {% endfor %}

      <!-- The form to add a new daily log -->
      <form enctype="multipart/form-data" action='.' method='post'>
      {{ daily_log_form.visit_date }}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td>{{ daily_log_form.member }}</td>
         <td>{{ daily_log_form.payment }}</td>
         <td>{{ daily_log_form.guest_of }}</td>
         <td>{{ daily_log_form.notes }}</td>
         <td><input type="submit" value="Add" /></td>
      </tr>
      {% csrf_token %}
      </form>
  </table>

   <!-- Display form errors if there are some -->
   <div id="form_errors">
   {% for field in daily_log_form %}
      {% if field.errors %}
         {{ field.label_tag }}: {{ field.errors }}
      {% endif %}
   {% endfor %}
   </div>

{% endblock %}
