{% extends "staff/staff_base.html" %}

{% block sub-title %}Activity on {{ activity_date|date:"M d, Y" }} | {% endblock %}

{% block style%}
nav #activity-tab { background: #FBD850; color: black; }
#content table { width: 100%; }
.log-note { width: 100px; } 
#quick-links { text-align: right; margin-bottom: 20px;}

{% endblock %}

{% block content %}
{% include "staff/activity_menu.frag" %}  

<h2>
	Daily Activity - {{ activity_date|date:"l, M dS" }}
	<span style="float:right;">
	<a href="{% url 'staff.views.activity_date' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
	<a href="{% url 'staff.views.activity_today' %}">&bull;</a>
	<a href="{% url 'staff.views.activity_date' next_date.year next_date.month next_date.day %}">&rarr;</a>
	</span>
</h2>

<div id="activity_list">
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
			<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
		{% endfor %}
	</div>
	{% endif %}

   <table>
      <tr>
         <th>Member</th>
         <th>Payment</th>
         <th>Guest of</th>
         <th>Note</th> 
      </tr>
      {% for log in daily_logs %}
         <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td><a href="{% url 'staff.views.member_activity' log.member.id %}">{{ log.member }}</a></td>
            <td>{{ log.payment }}</td>
            <td>{% if log.guest_of %}<a href="{% url 'staff.views.member_detail' log.guest_of.id %}">{{ log.guest_of }}</a>{% endif %}</td>
            <td class="log-note">{{ log.note }}</td>
            <td></td>
         </tr>
      {% endfor %}

      <!-- The form to add a new daily log -->
      <form enctype="multipart/form-data" action='.' method='post'>
      {{ daily_log_form.visit_date }}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td>{{ daily_log_form.member }}</td>
         <td>{{ daily_log_form.payment }}</td>
         <td>{{ daily_log_form.guest_of }}</td>
         <td>{{ daily_log_form.note }}</td>
         <td><input type="submit" value="Add" /></td>
      </tr>
      {% csrf_token %}
      </form>
  </table>
  <div style="font-weight:bold; text-align:right;">{{ daily_logs | length }} records found</div>
</div>

{% if not_signed_in %}
<h2>Forgot to sign in?</h2>
<div id="activity_list">
	<table>
		<tr>
			<th>Member</th>
			<th>Payment</th>
			<th>Guest of</th>
			<th>Notes</th> 
		</tr>
		{% for member in not_signed_in %}
			<form enctype="multipart/form-data" action='.' method='post'>
			{{ daily_log_form.visit_date }}
			<input type="hidden" id="id_member" name="member" value="{{member.id}}">
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td style="text-align:left;"><a href="{% url 'staff.views.member_activity' member.id %}">{{ member }}</a></td>
				<td>{{ daily_log_form.payment }}</td>
				<td>{{ daily_log_form.guest_of }}</td>
				<td>{{ daily_log_form.note }}</td>
	         <td><input type="submit" value="Add" /></td>
				<td></td>
			</tr>
			{% csrf_token %}
			</form>
		{% endfor %}
	</table>
	<div style="font-weight:bold; text-align:right;">{{ not_signed_in | length }} records found</div>
{% endif %}
</div>

<!-- Display form errors if there are some -->
<div id="form_errors">
{% for field in daily_log_form %}
   {% if field.errors %}
      {{ field.label_tag }}: {{ field.errors }}
   {% endif %}
{% endfor %}
</div>

{% endblock %}
