{% extends "staff/staff_base.html" %}

{% block sub-title %}Activity List | {% endblock %}

{% block style%}
nav #activity-tab { background: #FBD850; color: black; }
#content table { width: 100%; }
.log-note { width: 100px; }
{% endblock %}

{% block content %}
{% include "staff/activity_menu.frag" %}

<h2>Activity List</h2>
{% url 'staff.views.activity.list' as date_range_form_action %}
<div class="columns clearfix date-range">
	{% include "staff/date_range_form.frag"%}
</div>

{% if daily_logs %}
   <table>
      <tr>
         <th>Member</th>
         <th>Date</th>
         <th>Payment</th>
         <th>Guest of</th>
         <th>Note</th>
      </tr>
      {% for log in daily_logs %}
         <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td><a href="{% url 'staff.views.member.signins' log.member.id %}">{{ log.member }}</a></td>
            <td><a href="{% url 'staff.views.activity.for_date' log.visit_date.year log.visit_date.month log.visit_date.day %}">{{ log.visit_date|date:"M d, Y" }}</td>
            <td>{{ log.payment }}</td>
            <td>{% if log.guest_of %}<a href="{% url 'staff.views.member.detail' log.guest_of.id %}">{{ log.guest_of }}</a>{% endif %}</td>
            <td class="log-note">{{ log.note }}</td>
         </tr>
      {% endfor %}
   </table>
{% else %}
   <p>There are no recorded activity for this period.</p>
{% endif %}

{% endblock %}
