{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="DC.title" content="{{ site.name }}" />
	<title>{% block title %}{% block sub-title %}{% endblock %} | {{ site.name }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
	<!--[if IE]>
		<script src="{{ STATIC_URL }}html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{% static 'jquery-custom.css' %}" />
	<link rel="stylesheet" href="{% static 'themes/custom-staff/jquery-ui-1.10.4.custom.min.css' %}" />
	<link rel='stylesheet' href="{% static 'materialize.min.css' %}" />

	<script src="{% static 'jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'jquery-ui-1.10.4.custom.min.js' %}"></script>
	<script src="{% static 'materialize.min.js' %}"></script>

	{%block sub-head %}{% endblock %}

	<link rel="stylesheet" type="text/css" href= "{% static 'staff/css/base.css'%}" />

	<style>
	{% block style %}{% endblock %}
	</style>
</head>

<body>{% block body %}

	<div id="branding">
		<div style="float:right;">
			{% if request.user.is_authenticated %}
				<!-- <span style="color:#e1e1e1">App:</span> -->
				<a href="/member">Member</a> |
				<span style="color:#e1e1e1">Staff</span> |
				<a href="/admin">Admin</a> |
				<a href="/tablet">Tablet</a>
			{% else %}
				<a href="http://nadineproject.org" target="_new">The Nadine Project</a>
			{% endif %}
		</div>
		<a href="/">{{ site.name}}</a>: <span style="color:#e1e1e1">Nadine Membership Console</span>
	</div>

	<!-- Header -->
	{% block header %}
	<header>
		<nav id="navcontainer">
			<ul class='left'>
				<li>
					<a id="todo-tab" href="{% url 'staff:tasks:todo' %}">Tasks</a>
				</li>
				<li>
					<a id='member-tab' href="{% url 'staff:user:members' %}">Member List</a>
				</li>
				<li>
					<a id='activity-tab' href="{% url 'staff:activity:graph' %}">Activity</a>
				</li>
				<li>
					<a id='billing-tab' href="{% url 'staff:billing:bills' %}">Billing</a>
				</li>
				<li>
					<a id='stats-tab' href="{% url 'staff:stats:daily' %}">Stats</a>
				</li>
				<li>
					<a id='logs-tab' href="{% url 'arp_user' %}">Logs</a>
				</li>
				<li>
					<a id='lists-tab' href="{% url 'interlink_index' %}">Lists</a>
				</li>
				<li>
					<a id='doors-tab' href="{% url 'doors_index' %}">Doors</a>
				</li>
				<li>
					<a id='settings-tab' href="{% url 'staff:settings:index' %}">Settings</a>
				</li>
				<li>
					<a id='logout-tab' href="{% url 'logout' %}">Logout</a>
				</li>
			</ul>
		</nav>

		{% block header-title %}{% endblock %}
	</header>
	{% endblock %}

	<!-- Content -->
	<div id="content" style="margin-bottom: 5%;">
		{% if request.user.is_authenticated %}
		<form class='col s6' id="site-search-form" action="{% url 'staff:user:search' %}" method="post">
			{% for field in site_search_form %}{{ field }}{% endfor %}
			<input type="submit" value="search" />
			{% csrf_token %}
		</form>
		{% endif %}

		<div id="submenu">{% block submenu %}{% endblock %}</div>
		{% block content %}{% endblock %}
	</div>

	<!-- Footer -->
	<div id="footer" style="bottom:0; right:0; left:0; position:fixed;">
		{% block footer %}
		&copy;2008-2017 <a href="http://nadineproject.org" target="_new">The Nadine Project</a>
		by <a href="http://officenomads.com">Office Nomads</a>
		{% endblock %}
	</div>
	{% endblock %}

</body>

{% block extrajs %}
{% endblock %}

{% block navcss %}
{% endblock %}

</html>
