{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="DC.title" content="{{ site.name }}" />
	<title>{% block title %}{% block sub-title %}{% endblock %} | {{ site.name }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
	<!--[if IE]>
		<script src="{{ STATIC_URL }}html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{% static 'jquery-custom.css' %}" />
	<link rel="stylesheet" href="{% static 'themes/custom-staff/jquery-ui-1.10.4.custom.min.css' %}" />
	<link rel='stylesheet' href="{% static 'materialize.min.css' %}" />

	<script src="{% static 'jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'jquery-ui-1.10.4.custom.min.js' %}"></script>
	<script src="{% static 'materialize.min.js' %}"></script>

	{%block sub-head %}{% endblock %}

	<link rel="stylesheet" type="text/css" href= "{% static 'staff/css/base.css'%}" />

	<style>
	{% block style %}{% endblock %}
	</style>
</head>

<body>{% block body %}

	<div id="branding">
		<div style="float:right;">
			{% if request.user.is_authenticated %}
				<!-- <span style="color:#e1e1e1">App:</span> -->
				<a href="/member">Member</a> |
				<span style="color:#e1e1e1">Staff</span> |
				<a href="/admin">Admin</a> |
				<a href="/tablet">Tablet</a>
			{% else %}
				<a href="http://nadineproject.org" target="_new">The Nadine Project</a>
			{% endif %}
		</div>
		<a href="/">{{ site.name}}</a>: <span style="color:#e1e1e1">Nadine Membership Console</span>
	</div>

	<!-- Header -->
	{% block header %}
	<header>
		<nav id="navcontainer">
			<ul class='left'>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown1' id="todo-tab" href="{% url 'staff:tasks:todo' %}">Tasks</a>
					<ul id='dropdown1' class='dropdown-content'>
						<li>
							<a href="{% url 'staff:activity:today' %}">Record Activity</a>
						</li>
						<li>
							<a href="{% url 'staff:user:deposits' %}">Security Deposits</a>
						</li>
						<li>
							<a href="{% url 'staff:billing:charges_today' %}">Daily Charges</a>
						</li>
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown2' id='member-tab' href="{% url 'staff:user:members' %}">Member List</a>
					<ul id='dropdown2' class='dropdown-content'>
						<li>
							<a href="{% url 'staff:user:deposits' %}">Security Deposits</a>
						</li>
						<li>
							<a style='width: 100%;' href="{% url 'staff:user:bcc_tool' %}">BCC  Tool</a>
						</li>
						<li>
							<a href="{% url 'staff:user:user_reports' %}">User Reports</a>
						</li>
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown3'  id='activity-tab' href="{% url 'staff:activity:graph' %}">Activity</a>
					<ul id='dropdown3' class='dropdown-content'>
						<li>
							<a href="{% url 'staff:activity:today' %}">Record Activity</a>
						</li>
						<li>
							<a href="{% url 'staff:activity:graph' %}">Activity Graph</a>
						</li>
						<li>
							<a href="{% url 'staff:activity:list' %}">Activity List</a>
						</li>
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown4' id='billing-tab' href="{% url 'staff:billing:bills' %}">Billing</a>
					<ul id='dropdown4' class='dropdown-content'>
						<li>
							<a href="{% url 'staff:billing:bills' %}">Outstanding Bills</a>
						</li>
						<li>
							<a href="{% url 'staff:billing:charges_today' %}">Daily Charges</a>
						</li>
						<li>
							<a href="{% url 'staff:billing:payments_members' %}">Auto-Billing</a>
						</li>
						<li>
							<a style='width: 100%;' href="{% url 'staff:billing:run' %}">Run Billing</a>
						</li>
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown5' id='stats-tab' href="{% url 'staff:stats:daily' %}">Stats</a>
					<ul id='dropdown5' class='dropdown-content'>
						<li>
					    <a href="{% url 'staff:stats:daily' %}">Daily Logs</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:neighborhood' %}">Neighborhoods</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:monthly' %}">Monthly Members</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:memberships' %}">Memberships</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:gender' %}">Gender Balance</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:longevity' %}">Longevity</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:history' %}">Member History</a>
					  </li>
					  <li>
					    <a href="{% url 'staff:stats:graph' %}">Graphs</a>
					  </li>
					</ul>
				</li>
				<li>
					<a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown6' id='logs-tab' href="{% url 'arp_user' %}">Logs</a>
					<ul class='dropdown-content' id='dropdown6'>
						<li>
							<a href="{% url 'arp_devices_today' %}">Device Logs</a>
						</li>
						<li>
							<a href="{% url 'arp_user' %}">User Logins</a>
						</li>
					</ul>
				</li>
				<li>
					<a id='lists-tab' href="{% url 'interlink_index' %}">Lists</a>
				</li>
				<li>
					<a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown7' id='doors-tab' href="{% url 'doors_index' %}">Doors</a>
					<ul class='dropdown-content' id='dropdown7'>
						<li>
							<a href="{% url 'doors_logs' %}">Logs</a>
						</li>
						<li>
							<a href="{% url 'doors_users' %}">Users</a>
						</li>
						<li>
							<a href="{% url 'doors_add_key' %}">Add Key</a>
						</li>
					</ul>
				</li>
				<li>
					<a id='settings-tab' href="{% url 'staff:settings:index' %}">Settings</a>
				</li>
				<li>
					<a id='logout-tab' href="{% url 'logout' %}">Logout</a>
				</li>
			</ul>
		</nav>

		{% block header-title %}{% endblock %}
	</header>
	{% endblock %}

	<!-- Content -->
	<div id="content" style="margin-bottom: 5%;">
		{% if request.user.is_authenticated %}
		<form id="site-search-form" action="{% url 'staff:user:search' %}" method="post">
			<div>
				{% for field in site_search_form %}{{ field }}{% endfor %}
				<input type="submit" value="search" style="display: inline-block;"/>
				{% csrf_token %}
			</div>
		</form>
		{% endif %}

		<div id="submenu">{% block submenu %}{% endblock %}</div>
		{% block content %}{% endblock %}
	</div>

	<!-- Footer -->
	<div id="footer" style="bottom:0; right:0; left:0; position:fixed;">
		{% block footer %}
		&copy;2008-2017 <a href="http://nadineproject.org" target="_new">The Nadine Project</a>
		by <a href="http://officenomads.com">Office Nomads</a>
		{% endblock %}
	</div>
	{% endblock %}

</body>

{% block extrajs %}
{% endblock %}

{% block navcss %}
{% endblock %}

</html>
