{% load integrated_systems %}
{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="DC.title" content="{{ site.name }}" />
	<title>{% block title %}{% block sub-title %}{% endblock %} | {{ site.name }}{% endblock %}</title>
	<!--[if IE]>
		<script src="{{ STATIC_URL }}html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{% static 'css/jquery-custom.css' %}" />
	<link rel="stylesheet" href="{% static 'themes/custom-staff/jquery-ui-1.10.4.custom.min.css' %}" />
	<link rel='stylesheet' href= "{% static 'staff/css/materialize.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'staff/css/base.css' %}" />

	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui-1.12.1.min.js' %}"></script>
	<script src="{% static 'js/materialize.min.js' %}"></script>
	<script src="{% static 'staff/js/jquery.formset.js' %}"></script>
	<script src="{% static 'staff/ckeditor/ckeditor.js' %}"></script>

	{%block sub-head %}{% endblock %}

	{% block pagestyle %}{% endblock %}

	<style>
	{% block style %}{% endblock %}
	</style>
</head>

<body>
	{% block body %}
	<nav id="branding">
		<div class='right nav-wrapper'>
			{% if request.user.is_authenticated %}
				<a href="{% url 'member:home' %}">Member</a> |
				<a href="{% url 'staff:home' %}" style="color:#e1e1e1">Staff</a> |
				<a href="{% url 'tablet:home' %}">Tablet</a> |
				<a href="{% url 'admin:index' %}">Admin</a>
			{% else %}
				<a href="https://nadineproject.org" target="_new">The Nadine Project</a>
			{% endif %}
		</div>
		<div id='site-id'>
			<a href="/">{{ site.name }}</a>: <span style="color:#e1e1e1">Nadine Membership Console</span>
		</div>
	</nav>

	<!-- Header -->
	{% load_integrations as integrations %}
	{% block header %}
	<header>
		<nav id="navcontainer">
			<a href='#' data-activates="mobile" class="button-collapse"><img class='menu-img' src="{% static 'img/hamburger.png' %}"/></a>
			<ul id='nav-mobile' class='left hide-on-small-and-down'>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown1' id="todo-tab" href="{% url 'staff:tasks:todo' %}">Tasks</a>
					<ul id='dropdown1' class='dropdown-content'>
						{% include 'staff/tasks/nav.html' %}
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown2' id='member-tab' href="{% url 'staff:members:members' %}">Members</a>
					<ul id='dropdown2' class='dropdown-content'>
						{% include 'staff/members/nav.html' %}
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown3'  id='activity-tab' href="{% url 'staff:activity:graph' %}">Activity</a>
					<ul id='dropdown3' class='dropdown-content'>
						{% include 'staff/activity/nav.html' %}
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown4' id='billing-tab' href="{% url 'staff:billing:outstanding' %}">Billing</a>
					<ul id='dropdown4' class='dropdown-content'>
						{% include 'staff/billing/nav.html' %}
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown5' id='stats-tab' href="{% url 'staff:stats:daily' %}">Stats</a>
					<ul id='dropdown5' class='dropdown-content'>
						{% include 'staff/stats/nav.html' %}
					</ul>
				</li>
				<li>
					<a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown6' id='logs-tab' href="{% url 'arp:user' %}">Logs</a>
					<ul class='dropdown-content' id='dropdown6'>
						{% include 'arpwatch/nav.html' %}
					</ul>
				</li>
				<li><a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown7' id='lists-tab' href="{% url 'staff:mailing_lists:home' %}">Lists</a>
					<ul class='dropdown-content' id='dropdown7'>
						{% include 'staff/mailing_lists/nav.html' %}
					</ul>
				</li>
				{% if integrations.doors %}
				<li>
					<a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown8' id='doors-tab' href="{% url 'doors:home' %}">Doors</a>
					<ul class='dropdown-content' id='dropdown8'>
						{% include 'keymaster/nav.html' %}
					</ul>
				</li>
				{% endif %}
				<li>
					<a class='dropdown-button' data-hover="true" data-beloworigin="true" data-activates='dropdown9' id='settings-tab' href="{% url 'staff:settings:index' %}">Settings</a>
					<ul class='dropdown-content' id='dropdown9'>
						{% include 'staff/settings/nav.html' %}
					</ul>
				</li>
				<li>
					<a id='logout-tab' href="{% url 'logout' %}">Logout</a>
				</li>
			</ul>
			<ul class="side-nav" id="mobile">
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header'  id="todo-tab">Tasks</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/tasks/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header' id='member-tab'>Members</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/members/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header' id='activity-tab'>Activity</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/activity/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header' id='billing-tab'>Billing</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/billing/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header' id='stats-tab'>Stats</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/stats/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header'>Logs</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'arpwatch/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header'>Lists</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/mailing_lists/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				{% if integrations.doors %}
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header'>Doors</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'keymaster/nav.html' %}
								</ul>
							</div>
						</li>
					</ul>
				</li>
				{% endif %}
				<li class='no-padding'>
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class='collapsible-header'>Settings</a>
							<div class='collapsible-body'>
								<ul>
									{% include 'staff/settings/nav.html' %}
								</ul>
							</div>
						<li>
					</ul>
				</li>
				<li>
					<a id='logout-tab' href="{% url 'logout' %}">Logout</a>
				</li>
			</ul>
		</nav>

		{% block header-title %}{% endblock %}
	</header>
	{% endblock %}

	<!-- Content -->
	<div id="content">
		<div class='row' id='top-content'>
			<div id="submenu">
				{% block submenu %}{% endblock %}
			</div>
			{% if request.user.is_authenticated %}
			<form id="site-search-form" action="{% url 'staff:members:search' %}" method="post">
				<div>
					{% for field in site_search_form %}{{ field }}{% endfor %}
					<input type="submit" value="Search" style="display: inline-block;"/>
					{% csrf_token %}
				</div>
			</form>
			{% endif %}
		</div>

		{% block content %}{% endblock %}
	</div>

	<!-- Footer -->
	<div id="footer" style="bottom:0; right:0; left:0; position:fixed; z-index:1000;">
		{% block footer %}
		&copy;2007-2020 <a href="https://nadineproject.org" target="_new">The Nadine Project</a>
		by <a href="http://officenomads.com">Office Nomads</a>
		{% endblock %}
	</div>
	{% endblock %}

</body>

{% block extrajs %}
<script>
	$(document).ready(function() {
		$('.button-collapse').sideNav();
		$('.collapsible').collapsible();

		$('#id_terms').attr('placeholder', 'Search Here');
	});
</script>
{% endblock %}

{% block navcss %}
{% endblock %}

</html>
