{% extends "staff/staff_base.html" %}

{% block sub-title %}Activity List | {% endblock %}

{% block style%}
nav #billing-tab { background: #FBD850; color: black; }
#content table { width: 100%; }
.amount { text-align:right; } 
#content table td:last-child { text-align: center; }
{% endblock %}

{% block content %}
{% include "staff/billing_menu.frag" %}  

<h2>Bill List</h2>
{% url 'staff.views.bill_list' as date_range_form_action %}
<div class="columns clearfix date-range">
	{% include "staff/date_range_form.frag"%}
</div>

{% if bills %}
	<table>
		<tr>
			<th colspan="3"></th>
			<th colspan="2">Previous Month</th>
			<th colspan="2"></th>
		</tr>
		<tr>
			<th>Date</th>
			<th>Member</th>
			<th>Membership</th>
			<th>Drop-ins</th>
			<th>Guests</th> 
			<th class="amount">Amount</th>
			<th>&nbsp;</th>
		</tr>

		{% for bill in bills %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td><a href="{% url 'staff.views.bill' bill.id %}">{{ bill.created|date:"m/d/y" }}</a></td>
				<td><a href="{{ bill.member.get_absolute_url }}">{{ bill.member.first_name }} {{ bill.member.last_name }}</a></td>
				<td>{{ bill.membership.membership_plan }}</td>
				<td>{{ bill.dropins.all | length }}</td>
				<td>{{ bill.guest_dropins.all | length }}</td>
				<td class="amount">${{ bill.amount }}</td>
				<td><a href="{{ bill.get_admin_url }}">edit</a></td>
			</tr>
		{% endfor %}

		<tr>
			<th colspan="5">{{ bills|length}} Total Bills</th>
			<th class="amount">${{total_amount}}</th>
			<th>&nbsp;</th>
		</tr>
	</table>
{% else %}
	<p>There are no bills for this period.</p>
{% endif %}

{% endblock %}
