{% extends "staff/staff_base.html" %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}Daily Charges | {% endblock %}

{% block content %}
{% include "staff/billing_menu.frag" %}	 

<h2>
	Daily Charges - {{ date|date:"l, M dS" }}
	<span style="float:right;">	
	<a href="{% url 'staff.views.usaepay_transactions' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
	<a href="{% url 'staff.views.usaepay_transactions_today' %}">&bull;</a>
	<a href="{% url 'staff.views.usaepay_transactions' next_date.year next_date.month next_date.day %}">&rarr;</a>
	</span>
</h2>

{% if error %}
	<div style="text-align:center; font-size:150%; color:red">{{ error }}</div>
{% endif %}

<p>
    <div style="float:right;">
        <a href="https://go.xero.com/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS%2fAUTHORISED" target="new">Xero Invoices</a> |
        <a href="https://secure.usaepay.com/console/batch" target="new">USAePay Batch</a>
    </div>
    Total {{totals.total_count}} Transactions: ${{totals.total|floatformat:2}}
</p>

{% if amex %}
	{% with "AMEX" as name and amex as transactions and totals.amex_total as total %}
		{% include "staff/charges_table.frag" %}
	{% endwith %}
{% endif %}

{% if visamc %}
	{% with "VISA/MC" as name and visamc as transactions and totals.visamc_total as total %}
		{% include "staff/charges_table.frag" %}
	{% endwith %}
{% endif %}

{% if ACH %}
	{% with "ACH" as name and ach as transactions and totals.ach_total as total %}
		{% include "staff/charges_table.frag" %}
	{% endwith %}
{% endif %}

{% if settled_checks %}
<h3>Cleared ACH</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Processed</th>
		<th></th>
	</tr>

	{% for c in settled_checks %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td>{{ c.name }}</td>
			<td>${{ c.amount|floatformat:2 }}</td>
			<td>{{ c.status }}</td>
			<td>{{ c.processed }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% if other_transactions %}
<h3>Other Transactions</h3>
<table>
	<tr>
		<th>Member</th>
		<th>Description</th>
		<th>Card</th>
		<th>Type</th>
		<th>Status</th>
		<th>Note</th>
		<th>Amount</th>
		<th>Action</th>
	</tr>

	{% for t in other_transactions %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td><a href="{% url 'staff.views.member_detail_user' t.username %}">{{ t.username }}</a></td>
			<td>{{ t.description }}</td>
			<td>{{ t.card_type }}</td>
			<td>{{ t.transaction_type }}</td>
			<td>
				{% if t.status == "Authorized" %}
					<font color="green">Authorized</font>
				{% elif t.status == "Declined" or t.status == "Error" or t.status == "Voided"%}
					<font color="red">{{ t.status}}</font>
				{% else %}
					{{ t.status}}
				{% endif %}
			</td>
			<td>{{ t.note }}</td>
			<td>${{ t.amount|floatformat:2 }}</td>
			<td style="text-align:center;">
				<a href="{% url 'staff.views.usaepay_user' t.username %}"><input type="button" value="U"></a>
				<a href="{% url 'staff.views.xero_user' t.username %}"><input type="button" value="X"></a>
			</td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% endblock %}
