{% extends "staff/ml_base.html" %}

{% block sub-title %}Add Daily Log | {% endblock %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
#page-message { font-size: 1.5em; color: #933; margin: 20px 0px; }
{% endblock %}

{% block content %}
<h2>Add Daily Log:</h2>

{% if page_message %}
	<p id="page-message">{{ page_message|safe }}</p>
{% else %}
	<form enctype="multipart/form-data" action='.' method='post'>
	   <table id="dailylog">
	      {% for field in daily_log_form %}
	         <tr class="{% cycle 'row-even' 'row-odd' %}">
	            <td>{{ field.label_tag }}</td>
	            <td>
	               {{ field }}
	            </td>
	            {% if field.errors %}
	            <td>
	               {{ field.errors }}
	            </td>
	            {% endif %}
	         </tr>
	      {% endfor %}
	      <tr><td></td><td><input type="submit" value="Add Log!" /></td></tr>
	   </table>
	   {% csrf_token %}
	</form>
	<p>* this field is required</p>
{% endif %}
{% endblock %}
