{% extends "staff/ml_base.html" %}

{% block sub-title %}Activity for {{ member.first_name }} {{ member.last_name }} | {% endblock %}

{% block style%}
nav #activity-tab { background: #FBD850; color: black; }
.log-note { width: 160px; } 
{% endblock %}

{% block content %}
{% include "staff/activity_menu.frag" %}  

<h2>Activity for <a href="{% url 'staff.views.member_detail' member.id %}">{{ member }}</a>:</h2>

{% if member.daily_logs.all %}
	<table>
	   <tr>
	      <th>Date</th>
	      <th>Payment</th>
	      <th>Guest of</th>
	      <th>Notes</th> 
	   </tr>
	   {% for log in member.daily_logs.all %}
	      <tr class="{% cycle 'row-even' 'row-odd' %}">
	         <td><a href="{{ log.get_admin_url }}">{{ log.visit_date }}</a></td>
	         <td>{{ log.payment }}</td>
	         <td>{% if log.guest_of %}{{ log.guest_of }}{% endif %}</td>
	         <td class="log-note">{{ log.note }}</td>
	      </tr>
	   {% endfor %}
	</table>
{% endif %}
{% endblock %}
