{% extends "staff/ml_base.html" %}

{% block sub-title %}Member Search | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }
#member-search-form { font-weight: bold; font-size: 1.4em; margin-top: 1.4em;; }
#content table { width: 100%; }
{% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}  

	<form id="member-search-form" action="." method="post">
		<strong>Find Member</strong>:
		{% for field in member_search_form %}{{ field }}{% endfor %}
		<input type="submit" value="search" />
		{% csrf_token %}
	</form>

	<h2>Search results</h2>
	{% if search_results %}
		<table>
			<tr><th>Name</th><th>First visit</th><th>Duration</th><th align="left">Quicklinks</th></tr>
			{% for member in search_results %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td nowrap><a href="{% url staff.views.member_detail member.id %}">{{ member.first_name }} {{ member.last_name }}</a></td>
				<td>{{ member.first_visit|date:"M y" }}</td>
				<td>{{ member.first_visit|timesince }}</td>
				<td>	
					<a href="{% url staff.views.member_activity member.id %}">activity log</a> |
					<a href="{% url staff.views.member_transactions member.id %}">transaction log |</a>
					<a href="{% url staff.views.membership member.id %}">membership</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
	{% endif %}
{% endblock %}
