{% extends "staff/staff_base.html" %}

{% block sub-title %}Member Search | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }
#member-search-form { font-weight: bold; font-size: 1.4em; margin-top: 1.4em;; }
#content table { width: 100%; }
{% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}  

	<form id="member-search-form" action="." method="post">
		<strong>Find Member</strong>:
		{% for field in member_search_form %}{{ field }}{% endfor %}
		<input type="submit" value="search" />
		{% csrf_token %}
	</form>
	
	<h2>Search results</h2>
	{% if search_results %}
		{% with search_results as members %}
			{% include "staff/member_table.frag" %}
		{% endwith %}
	{% endif %}

{% endblock %}
