{% extends "staff/ml_base.html" %}

{% block sub-title %}Membership | {% endblock %}

{% block style %}
nav #members-tab { background: #FBD850; color: black; }
#page-message { font-size: 1.5em; color: #933; margin: 20px 0px; }
{% endblock %}


{% block content %}
{% include "staff/member_menu.frag" %}  

<script type="text/javascript">

$(document).ready(function() {
	 var formData = {
		 {% for plan in membership_plans %}
		  '{{plan.id}}':{ 'monthly_rate':{{plan.monthly_rate}}, 'dropin_allowance':{{plan.dropin_allowance}}, 'daily_rate':{{plan.daily_rate}}, 
								'deposit_amount':{{plan.deposit_amount}}, 'has_desk':'{{plan.has_desk}}' },
		 {% endfor %}
	 }

	 $('#id_membership_plan').change(function() {
		  var value = $(this).val();
		  var new_values = formData[value];
		  $('#id_monthly_rate').val(new_values['monthly_rate']);
		  $('#id_dropin_allowance').val(new_values['dropin_allowance']);
		  $('#id_daily_rate').val(new_values['daily_rate']);
		  $('#id_deposit_amount').val(new_values['deposit_amount']);
		  if (new_values['has_desk']=='True') {
			  $('#id_has_desk').attr('checked', 'checked');
		  } else {
			  $('#id_has_desk').removeAttr('checked');
		  }
	 });

	$('#end_today').click(function() {
		$('#id_end_date').val('{{today}}');
	});
	$('#end_last').click(function() {
		$('#id_end_date').val('{{ last }}');
	});

})
</script>

<h2>{% if membership %} Update {% else %} Add {% endif %} Membership for <a href="{% url 'staff.views.member_detail' member.id %}">{{ member }}</a></h2>

{% if page_message %}
	<p id="page-message">{{ page_message|safe }}</p>
{% endif %}

<div id="membership_form">
	<form name="membership_form" enctype="multipart/form-data" action='.' method='post'>
		{% if membership %}{{ membership_form.membership_id }}{% endif %}
		{{ membership_form.member }}
		<table id="membership">
			<tr class="row-odd">
				<td>Membership Plan</td>
				<td>
					{% if membership %}
						{{ membership.membership_plan }} 
						{{ membership_form.membership_plan.as_hidden }}
					{% else %}
						{{ membership_form.membership_plan }}
					{% endif %}
				</td>
			</tr>
			<tr class="row-even">
				<td>Start Date</td>
				<td>
					{% if membership %}
						{{ membership.start_date }}
						{{ membership_form.start_date.as_hidden }}
					{% else %}
						{{ membership_form.start_date }}
					{% endif %}
				</td>
			</tr>
			<tr class="row-odd">
				<td>End Date</td>
				<td>{{ membership_form.end_date }} [ <a id="end_last">last</a> | <a id="end_today">today</a> ]</td>
			</tr>
			<tr class="row-even">
				<td>Monthly Rate</td>
				<td>
					{% if membership %}
						{{ membership.monthly_rate }}
						{{ membership_form.monthly_rate.as_hidden }}
					{% else %}
						{{ membership_form.monthly_rate }} 
					{% endif %}
				</td>
			</tr>
			<tr class="row-odd">
				<td>Drop-in Allowance</td>
				<td>
					{% if membership %}
						{{ membership.dropin_allowance }}
						{{ membership_form.dropin_allowance.as_hidden }}
					{% else %}
						{{ membership_form.dropin_allowance }} 
					{% endif %}
				</td>
			</tr>
			<tr class="row-even">
				<td>Daily Rate</td>
				<td>
					{% if membership %}
						{{ membership.daily_rate }}
						{{ membership_form.daily_rate.as_hidden }}
					{% else %}
						{{ membership_form.daily_rate }} 
					{% endif %}
				</td>
			</tr>
			<tr class="row-odd">
				<td>Extras</td>
				<td>
					{% if membership %}
						{% if membership.has_desk %}<span style="margin-right:2em;">&check; Desk</span>{% endif %}
						{% if membership.has_key %}<span style="margin-right:2em;">&check; Key</span>{% endif %}
						{% if membership.has_mail %}<span style="margin-right:2em;">&check; Mail</span>{% endif %}
					{% else %}
						<span style="margin-right:2em;">{{ membership_form.has_desk }} Desk</span>
						<span style="margin-right:2em;">{{ membership_form.has_key }} Key</span>
						<span style="margin-right:2em;">{{ membership_form.has_mail }} Mail</span>
					{% endif %}
				</td>
			</tr>
			<tr class="row-even">
				<td>Deposit Amount</td>
				<td>{{ membership_form.deposit_amount }}</td>
			</tr>
			<tr class="row-odd">
				<td>Guest Of</td>
				<td>{{ membership_form.guest_of }}</td>
			</tr>
			<tr class="row-even">
				<td>Note</td>
				<td>{{ membership_form.note }}</td>
			</tr>
	      <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
	   </table>
	   {% csrf_token %}
	</form>
</div>

<div id="membership_list">
</div>

<!-- Display form errors if there are some -->
<div id="form_errors">
{% for field in membership_form %}
   {% if field.errors %}
      {{ field.label_tag }}: {{ field.errors }}
   {% endif %}
{% endfor %}
</div>

{% endblock %}
