{% extends "staff/ml_base.html" %}

{% block sub-title %}Members | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}  

<h2>Member List [<i>{{member_count}} total</i> ]</h2>

<div id="tabs">
  <ul> 
  {% for plan in plans %}
		{% ifnotequal plan.count 0 %}		  
	<li><a href="#tabs-{{forloop.counter}}">{{ plan.name }}</a></li>
	{% endifnotequal %}
  {% endfor%}
  </ul>
	{% for plan in plans %} 
		{% ifnotequal plan.count 0 %}
		<div id="tabs-{{forloop.counter}}" class="plan-section">		  
			<h3>{{ plan.name }}: <em>{{ plan.count }} member{{ plan.count|pluralize }}</em></h3>
		{% with plan.members as members %}
			{% include "staff/member_table.frag" %}
		{% endwith %}
		</div>
		{% endifnotequal %}
	{% endfor%}		
</div>

{% endblock %}
