{% extends "staff/staff_base.html" %}

{% block sub-title %}Files for {{ member.first_name }} {{ member.last_name }} | {% endblock %}

{% block style %}
nav #members-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}	 

<h2>Files for <a href="{% url 'staff.views.member_detail' member.id %}">{{ member }}</a>:</h2>

{% if messages %}
<div class="messages">
	{% for message in messages %}
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	{% endfor %}
</div>
{% endif %}

{% if files %}
	<table>
		<tr>
			<th>Uploaded</th>
			<th style="text-align:right;">File Name</th>
			<th>Content Type</th>
			<th>Size</th>
			<th>Uploaded By</th>
			<th></th>
		</tr>
		{% for f in files %}
			<tr class="{% cycle 'row-even' 'row-odd' %}">
				<td nowrap>{{ f.uploadTS }}</td>
				<td style="text-align:right;"><a href="{% url 'members.views.file_view' f.user f.name  %}">{{ f.name }}</a></td>
				<td>{{ f.content_type }}</td>
				<td>{{ f.file.size | filesizeformat }}</td>
				<td>{{ f.uploaded_by }}</td>
				<td>
					<form method="POST" action="." onSubmit="return confirm('Are you sure?');">
						<input type="hidden" name="file_id" value="{{ f.id }}"/>
						<input type="Submit" name="delete" value="Delete"/>
						{% csrf_token %}
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}



<h3>Upload File</h3>
<form role="form" method="POST" enctype="multipart/form-data" action=".">
	<input type="hidden" name="user" value="{{ member.user }}"/>
	<span class="btn btn-default btn-file"><input name="file" type="file"></span>
	<button class="btn btn-primary" type="submit">Upload</button>
	{% csrf_token %}
</form>
{% endblock %}
