{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="DC.title" content="{{ site.name }}" />
	<title>{% block title %}{% block sub-title %}{% endblock %}{{ site.name }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
	<!--[if IE]>
		<script src="{{ STATIC_URL }}html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{% static 'jquery-custom.css' %}">

	<link rel="stylesheet" href="{% static 'themes/custom-staff/jquery-ui-1.10.4.custom.min.css' %}">
	<script src="{% static 'jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'jquery-ui-1.10.4.custom.min.js' %}"></script>

	{%block sub-head %}{% endblock %}
	{% block feed-link %}{% endblock %}
	<style>
	{% block style %}{% endblock %}
	</style>
</head>

<body>{% block body %}

	<div id="branding">
		<div style="float:right;">
			{% if request.user.is_authenticated %}
				<span style="color:#e1e1e1">App:</span>
				<a href="/member">member</a> |
				<span style="color:#FBD850;">staff</span> |
				<a href="/admin">admin</a> |
				<a href="/tablet">tablet</a>
			{% else %}
				<a href="http://nadineproject.org" target="_new">The Nadine Project</a>
			{% endif %}
		</div>
		<a href="/">{{ site.name}}</a>: <span style="color:#e1e1e1">Nadine Membership Console</span>
	</div>

	<!-- Header -->
	{% block header %}<header>
		<nav>
		<a id="todo-tab" href="{% url 'staff.views.core.todo' %}">Todo</a>
		<a id="members-tab" href="{% url 'staff.views.core.members' %}">Member List</a>
		<a id="activity-tab" href="{% url 'staff.views.activity.activity' %}">Activity</a>
		<a id="billing-tab" href="{% url 'staff.views.billing.bills' %}">Billing</a>
		<a id="stats-tab" href="{% url 'staff.views.stats.stats' %}">Stats</a>
		<a id="logs-tab" href="{% url 'arpwatch.views.device_logs_today' %}">Logs</a>
		<a id="lists-tab" href="{% url 'interlink.views.index' %}">Lists</a>
		<a id="doors-tab" href="{% url 'doors.keymaster.views.index' %}">Doors</a>
		{% if request.user.is_authenticated %}
		<a id="log-tab" href="{% url 'django.contrib.auth.views.logout_then_login' %}">Logout</a>
		{% else %}
		<a id="log-tab" href="{% url 'django.contrib.auth.views.login' %}">Login</a>
		{% endif %}
		</nav>

		{% block header-title %}{% endblock %}
	</header>{% endblock %}

	<!-- Content -->
	<div id="content">
		{% if request.user.is_authenticated %}
		<form id="site-search-form" action="{% url 'staff.views.core.member_search' %}" method="post">
			{% for field in site_search_form %}{{ field }}{% endfor %}
			<input type="submit" value="search" />
			{% csrf_token %}
		</form>
		{% endif %}

		{% block content %}{% endblock %}
	</div>

	<!-- Footer -->
	<div id="footer">
		{% block footer %}
		&copy;2008-2016 <a href="http://nadineproject.org" target="_new">The Nadine Project</a>
		by <a href="http://officenomads.com">Office Nomads</a>
		{% endblock %}
	</div>
	{% endblock %}

</body>

{% block extrajs %}
{% endblock %}

</html>
