{% extends "staff/staff_base.html" %}
{% load stats_tags %}

{% block sub-title %}Stats | Membership History | {% endblock %}

{% block style %}
nav #stats-tab { background: #FBD850; color: black; }
#content table { width: auto; margin-bottom: 40px; }
#content td { border-bottom: none; width: 50px; }
#content th { width: 100px;}
#page-message { font-size: 1.5em; color: #933; margin: 20px 0px; }
#input-form { font-size:16px; margin-left: 2em; margin-bottom:2em; }
#input-form input { size:16px; }
{% endblock %}

{% block content %}
{% include "staff/stats_menu.frag" %}

<h2>Stats - Membership History:</h2>

<div id="input-form">
	<form action='.' method='POST'>
		Start: <input name="start_date" value="{{ start_date|date:'m-Y' }}"/>
		<input name="average_only" type="checkbox" {% if average_only %} CHECKED {% endif %} /> Average Only
		<input type="submit" value="Refresh">
		{% csrf_token %}
	</form>
</div>

{% if page_message %}
	<p id="page-message">{{ page_message|safe }}</p>
{% endif %}

{% for month_histories in year_histories %}
<table class="membership-history">
	<tr>
		<td></td>
	{% for month in month_histories %}
		<th>{{ month.start_date|date:"M 'y" }}</th>
	{% endfor %}
	</tr>
	{% for type in history_types %}
	<tr class="{% cycle 'row-even' 'row-odd' %}">
		<th>{{ type.title }}</th>
		{% for month in month_histories %}
			<td>{% month_history_datum %}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endfor %}

{% endblock %}
