{% extends "staff/ml_base.html" %}

{% block sub-title %}Stats | Monthly Members | {% endblock %}

{% block style %}
nav #stats-tab { background: #FBD850; color: black; }
.note-cell { width: 160px; }
{% endblock %}

{% block content %}
{% include "staff/stats_menu.frag" %}  

<h2>Stats - Monthly members:</h2>

<div style="margin: 10px 0;">
	<strong>Total Monthly Members:</strong> {{ memberships.count }} &nbsp;&nbsp; 
	<strong>Total Monthly Income:</strong>  ${{ total_income }}
</div>

<div id="monthly-members">
	<table border="1">
      <tr>
         <th>Member</th>
         <th>Start Date</th>
         <th>Plan</th>
         <th>Rate</th>
         <th>Note</th>
      </tr>
   
      {% for membership in memberships %}
	      <tr class="{% cycle 'row-even' 'row-odd' %}">
	         <td><a href="{{ log.member.get_absolute_url }}">{{ membership.member }}</a></td>
	         <td>{{ membership.start_date }}</td>
	         <td>{{ membership.membership_plan }}</td>
	         <td>${{ membership.monthly_rate }}</td>
	         <td class="note-cell">{{ membership.note }}</td>
	      </tr>
	   {% endfor %}
	   
	</table>
</div>
{% endblock %}
