{% extends "staff/staff_base.html" %}

{% block style %}
nav #todo-tab { background: #FBD850; color: black; }
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}TODO | {% endblock %}

{% block content %}
{% include "staff/todo_menu.frag" %}  

<h2>TODO:</h2>
<table>
	<tr>
		<th>Action Required</th>
		<th>Count</th>
		<th></th>
	</tr>
	{% for key, description, count in member_alerts %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td align="left">
				<a href="{% url 'staff.views.todo_detail' key %}">{{ description }}</a>
			</td>
			<td>{{ count }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
