{% extends "staff/staff_base.html" %}

{% block style %}
nav #todo-tab { background: #FBD850; color: black; }
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}Task List | {% endblock %}

{% block content %}
{% include "staff/todo_menu.frag" %}  

<h2>Onboard Tasks:</h2>
<table>
   {% for task, remaining in onboard_tasks %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td align="left">
            <a href="{% url 'staff.views.onboard_task' task.id %}">{{ task.name }}</a>
         </td>
         <td>{{ remaining }}</td>
         <td></td>
      </tr>
   {% endfor %}
</table>

<h2>Members Alerts:</h2>
<table>
   {% for key, description, remaining in member_alerts %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td align="left">
            <a href="{% url 'staff.views.members' key %}">{{ description }}</a>
         </td>
         <td>{{ remaining }}</td>
         <td></td>
      </tr>
   {% endfor %}
</table>

<h2>Exit Tasks:</h2>
<table>
   {% for task, remaining in exit_tasks %}
      <tr class="{% cycle 'row-even' 'row-odd' %}">
         <td align="left">
            <a href="{% url 'staff.views.exit_task' task.id %}">{{ task.name }}</a>
         </td>
         <td>{{ remaining }}</td>
         <td></td>
      </tr>
   {% endfor %}
</table>

{% endblock %}
