{% extends "staff/staff_base.html" %}

{% block sub-title %}Transactions | {% endblock %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
{% endblock %}

{% block content %}
{% include "staff/billing_menu.frag" %}

<h2>Transactions:</h2>

{% if page_message%}<p id="page-message">{{ page_message }}</p>{% endif %}

{% if not transactions %}
<p>There are no transactions!</p>
{% endif%}

<div class="columns">
{% include "staff/date_range_form.frag"%}
</div>

<table id="transaction-list">
	{% for transaction in transactions %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td><a href="{% url 'staff:transaction' transaction.id %}">{{ transaction.transaction_date | date:"Y-m-d" }}</a></td>
			<td><a href="{% url 'staff:user_detail' transaction.user.username %}">{{ transaction.user.get_full_name }}</a></td>
			<td>${{ transaction.amount }}</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
