{% extends "staff/staff_base.html" %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}USAePay Transactions | {% endblock %}

{% block content %}
{% include "staff/billing_menu.frag" %}	 

<h2>
	USAePay Transactions - {{ date|date:"M d, Y" }}
	<span style="float:right;">	
	<a href="{% url 'staff.views.usaepay_transactions' previous_date.year previous_date.month previous_date.day %}">&larr;</a>
	<a href="{% url 'staff.views.usaepay_transactions_today' %}">&bull;</a>
	<a href="{% url 'staff.views.usaepay_transactions' next_date.year next_date.month next_date.day %}">&rarr;</a>
	</span>
</h2>

{% if error %}
	<div style="text-align:center; font-size:150%; color:red">{{ error }}</div>
{% endif %}

<h3>Settled Transactions</h3>

{% if not transactions %}
	<i>No Transactions</i>
{% else %}

<table>
	<tr>
		<th>Member</th>
		<th>Description</th>
		<th>Type</th>
		<th>Status</th>
		<th>Amount</th>
		<th>Owed</th>
		<th>Action</th>
	</tr>

	{% for t in transactions %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td><a href="{% url 'staff.views.member_detail_user' t.username %}">{{ t.username }}</a></td>
			<td>{{ t.description }}</td>
			<td>{{ t.card_type }}</td>
			<td>{{ t.status}}</td>
			<td>${{ t.amount|floatformat:2 }}</td>
			<td>{% if t.open_bill_amount %} ${{ t.open_bill_amount|floatformat:2 }} {% endif %}</td>
			<td style="text-align:center;">
				{% if t.open_bill_amount %}
					{% if t.open_bill_amount != t.amount %}
						[ <font color="red">OVER</font> ]
					{% else %}
						<form action="{% url 'staff.views.bills_pay_all' t.username %}" method="POST">
							<input type="hidden" name="next" value="{{request.path}}" />
							<input type="submit" value="Paid" />
							{% csrf_token %}
						</form>
						{% endif %}
				{% endif %}
			<td>
		</tr>
	{% endfor %}
</table>

<h3>Totals</h3>
<table style="margin-left:32px; width:100px;">
	<tr>
		<td><strong>American Express</strong> ({{totals.amex_count}}):</td>
		<td style="text-align:right;">${{totals.amex_total|floatformat:2}}</td>
	</tr>
	<tr>
		<td><strong>Visa/MC</strong> ({{totals.visamc_count}}):</td>
		<td style="text-align:right;">${{totals.visamc_total|floatformat:2}}</td>
	</tr>
	<tr>
		<td><strong>ACH</strong> ({{totals.ach_count}}):</td>
		<td style="text-align:right;">${{totals.ach_total|floatformat:2}}</td>
	</tr>
	<tr>
		<td><strong>Total</strong> ({{totals.total_count}}):</td>
		<td style="text-align:right;"><strong>${{totals.total|floatformat:2}}</strong></td>
	</tr>
</table>

{% endif %}

{% if settled_checks %}
<h3>Cleared ACH</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Processed</th>
		<th></th>
	</tr>

	{% for c in settled_checks %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td>{{ c.name }}</td>
			<td>${{ c.amount|floatformat:2 }}</td>
			<td>{{ c.status }}</td>
			<td>{{ c.processed }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% if other_transactions %}
<h3>Other Transactions</h3>
<table>
	<tr>
		<th>Member</th>
		<th>Description</th>
		<th>Type</th>
		<th>Status</th>
		<th>Amount</th>
		<th></th>
	</tr>

	{% for t in other_transactions %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td><a href="{% url 'staff.views.member_detail_user' t.username %}">{{ t.username }}</a></td>
			<td>{{ t.description }}</td>
			<td>{{ t.card_type }}</td>
			<td>
				{% if t.status == "Authorized" %}
					<font color="green">Authorized</font>
				{% elif t.status == "Declined" or t.status == "Error"%}
					<font color="red">{{ t.status}}</font>
				{% else %}
					{{ t.status}}
				{% endif %}
			</td>
			<td>${{ t.amount|floatformat:2 }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>
{% endif %}

{% endblock %}
