{% extends "staff/ml_base.html" %}

{% block style %}
nav #members-tab { background: #FBD850; color: black; }
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}USAePay Customers | {% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}	 

<h2>USAePay Approve - {{ username }}</h2>

{% if error %}
	<div style="text-align:center; font-size:150%; color:red">{{ error }}</div>
{% else %}
	<div style="text-align:center; font-size:150%; color:green">Approved</div>
{% endif %}

{% endblock %}
