{% extends "staff/staff_base.html" %}
{% load staticfiles %}

{% block style %}
nav #billing-tab { background: #FBD850; color: black; }
#content td { white-space:nowrap; }
{% endblock %}

{% block sub-title %}USAePay | {{ user }} | {% endblock %}

{% block content %}
{% include "staff/billing_menu.frag" %}   

<h2>USAePay - <a href="{% url 'staff.views.member_detail_user' user.username %}">{{ user.get_full_name }}</a></h2>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<form id="customer_form">
<table>
    <tr>
        <th></th>
        <th>Created</th>
        <th nowrap>Customer #</th>
        <th nowrap>Next Bill</th>
        <th style="width:80%;">Description</th>
        <th>Amount</th>
        <th>Auto</th>
    </tr>

    {% for cust in history.keys %}
        <tr class="{% cycle 'row-even' 'row-odd' %}">
            <td style="width:2px;"><input class="customer" name="customer" type="radio" onChange="selectCustomer('{{ cust.getCustNum }}', this); return false;"/></td>
            <td>{{ cust.getCreated | slice:":10"}}</td>
            <td><a href="https://secure.usaepay.com/console/billing_edit?id={{ cust.getCustNum }}" target="new">{{ cust.getCustNum }}</a></td>
            {% if cust.isEnabled %}
                <td>{{ cust.getNext | slice:":10"}}</td>
                <td>{{ cust.getDescription }}</td>
                <td>${{ cust.getAmount|floatformat:2 }}</td>
                <td style="text-align:center;">
                    <img src="{% static 'green_check.png' %}" height="16px" />
                </td>
            {% else %}
                <td colspan="4"></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</form>

<div style="padding: 12px;">
    <h4 style="display:inline;">Actions:</h4>
    
    <input type="button" value="Create New Profile" onclick="addBillingProfile(); return false;">

    <form id="disable_auto_button"  method="POST" action="." style="display:inline;">
        <input type="submit" name="disable_all" value="Disable Automatic Billing">
        {% csrf_token %}
    </form>

    <input type="button" id="edit_profile_button" value="Edit Automatic Billing" onclick="editProfile()">

    <form id="delete_profile_form" method="POST" action="." style="display:inline;" onSubmit="return confirm('Are you sure?');">
        <input type="hidden" name="action" value="delete_profile">
        <input type="hidden" name="customer_id" value="">
        <input type="submit" name="delete_profile" value="Delete Profile">
        {% csrf_token %}
    </form>

    <input type="button" id="manual_charge_button" value="Manually Charge" onclick="manualCharge();">

    <form id="verify_profile_button" method="POST" action="." style="display:inline;">
        <input type="hidden" name="customer_id" value="">
        <input type="submit" name="verify_profile" value="Run Authorization">
        {% csrf_token %}
    </form>
    
     <input id="clear_button" type="button" value="Clear Selection" onclick="clearCustomerSelect(); return false;">
</div>

{% for customer, transactions in history.items %}
    <div id="billing_detail_{{ customer.getCustNum }}">
        <h3>Billing Detail ({{ customer.getCustNum }})</h3>
        <div style="padding: 12px;">
            <strong>Address: </strong>{{ customer.getBillingAddress.getStreet }}
            <strong>Zip: </strong>{{ customer.getBillingAddress.getZip }}
            <strong>Email: </strong>{{ customer.getBillingAddress.getEmail }}
        </div>
        <h3>Billing History</h3>
        <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Type</th>
            <th style="text-align:right;">Amount</th>
        </tr>
        {% for t in transactions|dictsortreversed:"date_time"|slice:":100" %}
            <tr>
                <td>{{ t.date_time|date:'Y-m-d' }}</td>
                <td>{{ t.description }}</td>
                <td>{{ t.status }}</td>
                <td>{{ t.card_type }}</td>
                <td style="text-align:right;">${{ t.amount|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    
    <div id="manual_charge_{{ customer.getCustNum }}">
        <h3>Manually Run Charges</h3>
        <form action="." method="POST">
            <input type="hidden" name="customer_id" value="">
            <input type="hidden" name="action" value="manual_charge">
            <table>
                <tr>
                    <th>Invoice</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <input name="invoice" size="10"/>
                    </td>
                    <td>
                        <input name="description" size="60" value="{{ customer.getDescription }}"/>
                    </td>
                    <td>
                        <input name="amount" size="5" value="{{ customer.getAmount|floatformat:2 }}" />
                    </td>
                    <td>
                        <input type="submit" value="Run Charges">
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </div>
    
    <div id="edit_recurring_{{ customer.getCustNum }}">
        <h3>Edit Automatic Billing</h3>
        <form action="." method="POST">
            <input type="hidden" name="customer_id" value="">
            <input type="hidden" name="action" value="edit_recurring">
            <table>
                <tr>
                    <th>Enabled</th>
                    <th>Next Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                <tr>
                    <td style="width:1%;">
                        <input name="enabled" type="checkbox" {% if customer.isEnabled %} CHECKED {% endif %} />
                    </td>
                    <td>
                        <input name="next_date" size="10" value="{{ customer.getNext|slice:":10" }}"/>
                    </td>
                    <td>
                        <input name="description" size="60" value="{{ customer.getDescription }}"/>
                    </td>
                    <td>
                        <input name="amount" size="5" value="{{ customer.getAmount|floatformat:2 }}" />
                    </td>
                    <td>
                        <input type="submit" value="Save Changes">
                    </td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </div>
{% endfor %}

<div id="add_profile_div">
    <h3>Create New Billing Profile</h3>

    <form name="ccform" action="https://www.usaepay.com/gate.php" method="POST" 
    onSubmit="return validateForm()">

    <input type="hidden" name="UMkey" value="{{ settings.USA_EPAY_KEY }}">
    <input type="hidden" name="UMredir" value="https://apps.officenomads.com{% url 'staff.views.usaepay_user' user.username %}">
    <input type="hidden" name="UMdescription" value="Office Nomads Billing Authorization">
    <input type="hidden" name="UMcustid" value="{{ user.username }}">
    <input type="hidden" name="UMcommand" value="AuthOnly">
    <input type="hidden" name="UMamount" value="1.00">
    <input type="hidden" name="UMinvoice" value="1617">
    <input type="hidden" name="UMaddcustomer" value="yes">
    <input type="hidden" name="UMschedule" value="disabled">
    <input type="hidden" name="UMsoftware" value="nadine">
    <input type="hidden" name="UMcustreceipt" value="yes">
    <input type="hidden" name="UMcardpresent" value="true">
    <input type="hidden" name="UMbillphone" value="{{ user.profile.phone }}">
    <input type="hidden" name="UMname" value="{{ user.profile.full_name }}">
    <input type="hidden" name="UMemail" value="{{ user.email }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <input type="hidden" name="auth" value="{{ user.profile.usaepay_auth }}">
    <!--<input type="hidden" name="UMtestmode" value="true">-->

    <table border=1 width="80%">

    <tr>
        <td>First Name:</td>
        <td><input type="text" name="UMbillfname" size="40" value="{{ user.first_name }}"></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td><input type="text" name="UMbilllname" size="40" value="{{ user.last_name }}"></td>
    </tr>
    <tr>
        <td>Company:</td>
        <td><input type="text" name="UMbillcompany" size="40" value=""></td>
    </tr>
    <tr>
        <td>Address: (<i>blank for international</a>)</td>
        <td><input type="text" name="UMstreet" size="40" value="{{ user.profile.address1 }}"></td>
    </tr>
    <tr>
        <td>Zip:</td>
        <td><input type="text" name="UMzip" size="9" maxlength="5" value="{{ user.profile.zipcode }}"></td>
    </tr>

    <tr>
        <td>Card Number:</td>
        <td><input type="text" name="UMcard" size="40"></td>
    </tr>
    <tr>
        <td>Expiration: (<i>MM/YY</i>)</td>
        <td>
            <input type="text" name="UMexpirM" size="2" maxlength="2">/
            <input type="text" name="UMexpirY" size="2" maxlength="2">
            <input type="hidden" name="UMexpir" value="">
        </td>
    </tr>
    <tr>
        <td>CVV:</td>
        <td><input type="text" name="UMcvv" size="4"></td>
    </tr>

    <tr>
        <td><strong>ACH</strong> - Routing Number:</td>
        <td><input type="text" name="UMrouting" size="30"></td>
    </tr>
    <tr>
        <td><strong>ACH</strong> - Account Number:</td>
        <td><input type="text" name="UMaccount" size="30"></td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: center;">
            <input type="submit" value="Create New Billing Profile">
        </td>
    </tr>

    </table>
    </form>
</div>

{% endblock %}

{%block sub-head %}

<script>
    function hideAll(){
        $("#add_profile_div").hide();
        hide_buttons();
        hide_detail();
    }
    $(document).ready(function() { hideAll(); });
    
    function hide_buttons() {
        $("#disable_auto_button").show();
        $("#delete_profile_form").hide();
        $("#manual_charge_button").hide();
        $("#edit_profile_button").hide();
        $("#verify_profile_button").hide();
        $("#clear_button").hide();
    }

    function show_buttons() {
        $("#disable_auto_button").hide();
        $("#edit_profile_button").show();
        $("#delete_profile_form").show();
        $("#manual_charge_button").show();
        $("#verify_profile_button").show();
        $("#clear_button").show();
    }

    function hide_detail() {
        {% for customer in history.keys %}
            $("#billing_detail_{{ customer.getCustNum }}").hide();
            $("#manual_charge_{{ customer.getCustNum }}").hide();
            $("#edit_recurring_{{ customer.getCustNum }}").hide();
        {% endfor %}
    }
    
    function selectCustomer(custID) {
        $("#add_profile_div").hide();
        hide_detail();
        show_buttons();
        
        div_selector = '#billing_detail_' + custID
        $(div_selector).show();
        
        // Set all the customer_id values to this ID
        $('[name="customer_id"]').val(custID)
        
    }
    
    function clearCustomerSelect() {
        $('.customer').each(function(i, obj) {
            obj.checked = false;
        });
        hideAll();
    }
    
    function addBillingProfile(){
        clearCustomerSelect();
        $("#add_profile_div").show();
    }

    function manualCharge() {
        hide_detail();
        custID = $('[name="customer_id"]').first().val();
        div_selector = '#manual_charge_' + custID
        $(div_selector).show();
    }

    function editProfile() {
        hide_detail();
        custID = $('[name="customer_id"]').first().val();
        div_selector = '#edit_recurring_' + custID
        $(div_selector).show();
    }

    function validateForm() {
        var CCN = trimBetweenSpaces(trimBegEndSpaces(stripOffNonDigit(document.ccform.UMcard.value)));
        var expireDate = trimBetweenSpaces(trimBegEndSpaces(stripOffNonDigit(document.ccform.UMexpirM.value + document.ccform.UMexpirY.value)));
        var bankRouting = trimBetweenSpaces(trimBegEndSpaces(document.ccform.UMrouting.value));
        var bankAccount = trimBetweenSpaces(trimBegEndSpaces(document.ccform.UMaccount.value));
        var name = document.ccform.UMname.value;
        var street = document.ccform.UMstreet.value;
        var zip = trimBetweenSpaces(trimBegEndSpaces(stripOffNonDigit(document.ccform.UMzip.value)));

        if (CCN.length == 0 || expireDate.Length == 0) {
            if (bankRouting.length == 0 ||
                bankAccount.length == 0 ||
                SSN.length == 0 ||
                dlNum.length == 0 ||
                dlState.length == 0) {
                alert("Error: missing values.\nYou have not included any Credit Card or Check information.");
                document.ccform.UMcard.focus == true;
                return false;
            }
        } else {
            if (expireDate.length !=     4) {
                alert("Error: Incorrect expire date.\nThere should be 4 digits in the expire date idicating mm/yy.");
                document.ccform.UMexpirM.focus == true;
                return false;
            }
            document.ccform.UMexpir.value = expireDate;
        }

        if (name.length == 0 || !isAlphaSymbols(name, ".,' ")) {
            alert("Please fill out the name field.\nThe name field can only have Alpha Characters!");
            document.ccform.UMname.focus == true;
            return false;
        }

        /*
        if (street.length == 0) {
            alert("Please fill out the street field.");
            document.ccform.UMstreet.focus == true;
            return false;
        }

        if (zip.length == 0 || zip.length < 5) {
            alert("Please fill out the zip field which should be 5 digits.");
            document.ccform.UMzip.focus == true;
            return false;
        }
        */

        return true;
    }

    // Return true if a string is combination of alpha and given symbols.
    function isAlphaSymbols(objValue, symbols) {
        var ch

        for (var i = 0; i < objValue.length; i++) {
            ch = objValue.charAt(i)
            if (isAlphaChar(ch) == false) {
                if (symbols.indexOf(ch) < 0)
                    return false
            }
        }
        return true
    }

    // Return true of a character is an alphabet.
    function isAlphaChar(ch) {
        return ((ch >= "A" && ch <= "Z") || (ch >= "a" && ch <= "z"))
    }

    // Stiff off any non digit char
    function stripOffNonDigit(objValue) {
        var ch
        var tempStr = new String()

        for (var i = 0; i < objValue.length; i++) {
            if (isDigitChar(objValue.charAt(i)) == true)
                tempStr = tempStr + objValue.charAt(i)
        }

        return tempStr
    }

    // Return true if a character is a digit.
    function isDigitChar(ch) {
        return (ch >= "0" && ch <= "9")
    }

    // Removes leading and trailing blanks from a value
    function trimBegEndSpaces(object_value) {
        var leading_blanks = 0
        var string_end = (object_value.length) - 1
        if (string_end < 0) string_end = 0

        // find first nonblank: start with first character and scan forwards
        while (leading_blanks <= string_end && object_value.charAt(leading_blanks) == " ") {
            leading_blanks++
        }

        // find last nonblank: start with last character and scan backwards
        while (string_end > leading_blanks && object_value.charAt(string_end) == " ") {
            string_end--
        }

        return object_value = object_value.substring(leading_blanks, string_end + 1)
    }

    // Remove any additional spaces
    function trimBetweenSpaces(objValue) {
        var blankExists = false
        var newValue = new String()
        var ch

        for (var i = 0; i < objValue.length; i++) {
            ch = objValue.charAt(i)
            if (ch == " ") {
                if (blankExists == false) {
                    blankExists = true
                    newValue = newValue + ch
                }
            } else {
                newValue = newValue + ch
                blankExists = false
            }
        }
        if (newValue == null)
            return objValue
        else
            return newValue
    }
</script>
{% endblock %}
