{% extends "staff/ml_base.html" %}

{% block sub-title %}User Reports | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }
table #user_report { padding: 2em;}
table th.bottom_line { border-bottom:1px solid; }
{% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}  

<h2>User Reports</h2>

<form action="." method="POST" style="margin:1em 20em 1em 1em;">
	<div style="padding:.5em;">
		<span><strong>Report: </strong>{{ form.report }}</span>
	</div>
	<div style="padding:.5em;">
		<span><strong>Start: </strong>{{ form.start_date }}</span>
		<span style="padding:.5em;"><strong>End: </strong>{{ form.end_date }}</span>
	</div>
	<div style="padding:.5em;">
		<span><strong>Active Only: </strong>{{ form.active_only }}</span>
		<span style="padding:.5em;"><strong>Order By: </strong>{{ form.order_by }}</span>
		<input type="submit" value="View Report" style="margin-left:1em;" />
	</div>
	{% csrf_token %}
</form>
<hr>

<strong>{{ users.count }} Users Found</strong>

<table class="member-table">
	<tr>
		<th colspan="2"></th>
		<th colspan="3" class="bottom_line">Last Membership</th>
		<th colspan="3"></th>
	</tr>
	<tr>
		<th>Name</th>
		<th>Joined</th>
		<th>Plan</th>
		<th>Start</th>
		<th>End</th>
		<th>Billing</th>
		<th>Last Visit</th>
		<th></th>
	</tr>
	
	{% for user in users %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td nowrap style="text-align:left;"><a href="{% url 'staff.views.member_detail' user.get_profile.id %}">{{ user.get_full_name }}</a></td>
			<td>{{ user.date_joined|date:"M d, Y" }}</td>
			<td>{{ user.get_profile.last_membership.membership_plan }}</td>
			<td>{{ user.get_profile.last_membership.start_date|date:"M d, Y" }}</td>
			<td>{{ user.get_profile.last_membership.end_date|date:"M d, Y" }}</td>
			{% if user.get_profile.has_valid_billing %}
				<td>Valid</td>
			{% else %}
				<td style="color: red;">Invalid</td>
			{% endif %}
			<td>{{ user.get_profile.last_visit }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}