{% extends "staff/ml_base.html" %}

{% block sub-title %}User Reports | {% endblock %}

{% block style%}
nav #members-tab { background: #FBD850; color: black; }

table #user_report { padding: 2em;}

{% endblock %}

{% block content %}
{% include "staff/member_menu.frag" %}  

<h2>User Reports</h2>

<form action="." method="POST" style="margin:1em 20em 1em 1em;">
	{% for field in form %}
		<span style="margin-left:1em;" nowrap>
			<strong>{{ field.label }}:</strong>
			{{ field }}
		</span>
	{% endfor %}
	<input type="submit" value="view report" style="margin-left:1em;" />
	{% csrf_token %}
</form>
<hr>

<strong>{{ users.count }} Users Found</strong>

<table class="member-table">
	<tr>
		<th>Name</th>
		<th>Joined</th>
		<th>Active</th>
		<th>Billing</th>
		<th>Type</th>
		<th>Last Visit</th>
		<th></th>
	</tr>
	
	{% for user in users %}
		<tr class="{% cycle 'row-even' 'row-odd' %}">
			<td nowrap style="text-align:left;"><a href="{% url staff.views.member_detail user.get_profile.id %}">{{ user.get_full_name }}</a></td>
			<td>{{ user.date_joined|date:"M d, Y" }}</td>
			{% if user.get_profile.is_active %}
				<td>Active</td>
			{% else %}
				<td>Inactive</td>
			{% endif %}
			{% if user.get_profile.valid_billing %}
				<td>Valid</td>
			{% else %}
				<td>Invalid</td>
			{% endif %}
			<td>{{ user.get_profile.membership_type }}</td>
			<td>{{ user.get_profile.last_visit }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}