{% load social_links %}

<h4>Nadine Configuration</h4>

<h5>Social URLS</h5>
{% load_social_urls as social %}
<ul>
    {% if social.facebook %}
        <li>FACEBOOK_URL = {{ social.facebook }}</li>
    {% endif %}
    {% if social.twitter %}
        <li>TWITTER_URL = {{ social.twitter }}</li>
    {% endif %}
    {% if social.yelp %}
        <li>YELP_URL = {{ social.yelp }}</li>
    {% endif %}
    {% if social.instagram %}
        <li>INSTAGRAM_URL = {{ social.instagram }}</li>
    {% endif %}
</ul>
