<h2>
	Logs for - {{ day|date:"M d, Y" }}
	<a href="{% url arpwatch.views.logs_by_day previous_day.year previous_day.month previous_day.day %}">&laquo;</a>
	<a href="{% url arpwatch.views.logs_by_day next_day.year next_day.month next_day.day %}">&raquo;</a>
</h2>

<table border=1>
	<tr>
		<th>Device</th>
		<th>Start</th>
		<th>End</th>
		<th>Duration</th>
	</tr>
	{% for l in device_logs %}
		<tr>
			<td><a href="{% url arpwatch.views.device l.device.id %}">{{ l.device }}</a></td>
			<td>{{ l.start|date:"h:i a" }}</td>
			<td>{{ l.end|date:"h:i a" }}</td>
			<td>{{ l.diff }}</td>
		</tr>
	{% endfor %}
</table>