{% extends "arpwatch/base.html" %}

{% block content %}

<div>
	<div style="size:large; float:right;"><strong>{{ device_logs|length }} Logs</strong></div>
	<h4>Device Logs - {{ day|date:"M d, Y" }}</h4>
</div>

<h5 align="center">
	<a href="{% url 'arp:device_logs' previous_day.year previous_day.month previous_day.day %}">&laquo; Prev</a>
	[ <a href="{% url 'arp:devices_today' %}">Today</a> ]
	<a href="{% url 'arp:device_logs' next_day.year next_day.month next_day.day %}">Next &raquo;</a>
</h5>

<table border=1>
	<tr>
		<th>Device</th>
		<th>Start</th>
		<th>End</th>
		<th>Duration</th>
		<th></th>
	</tr>
	{% for l in device_logs %}
		<tr>
			<td><a href="{% url 'arp:device' l.device.id %}">{{ l.device }}</a></td>
			<td>{{ l.start|date:"h:i a" }}</td>
			<td>{{ l.end|date:"h:i a" }}</td>
			<td>{{ l.diff }}</td>
			<td></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
